	<style>
		[contenteditable=true]:empty:not(:focus):before{
			  content: attr(data-placeholder);
			  display: block; /* For Firefox */
			}
			
			#POST_CLASSIFIED
			{
				margin-right: auto;
				margin-left: auto;
				
			}
			#img{
			    width: 50%;
			    height: 300px;
			    border: 1px solid grey;
			}
			#imagePreview
			{
				width: 50%;
			    height: 300px;
			    background-position: center center;
			    background-size: cover;
			    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
			    display: inline-block;
			}
			
			@media screen and (max-width: 767px) {
				 #CLASSIFIED_DETAIL_ATTRIBUTES {
				 	width: 100%;	 	 
				 	
				 	
				 }
				 #POST_CLASSIFIED
			{
				width: 100%;
			
			}	
			}
			
			
			/* ------- Larger Device Section*/
			@media screen and (min-width: 768px) {
				  #CLASSIFIED_DETAIL_ATTRIBUTES {
				  	width: 60%;
				  }
		   #POST_CLASSIFIED
			{
				width: 80%;
			
			}	
			
			}
			
			@media screen and (min-width: 992px) {
				  #CLASSIFIED_DETAIL_ATTRIBUTES {
				  	width: 30%;
				  }
				  #POST_CLASSIFIED
			{
				width: 80%;
			
			}	
			
			}
			@media screen and (min-width: 1280px) {
				  #CLASSIFIED_DETAIL_ATTRIBUTES {
				  	width: 35%;
				  }
				  #POST_CLASSIFIED
			{
				width: 80%;
			
			}	
			
			} 
	</style>


	<div id="POST_CLASSIFIED">

		<div id=POST_CLASSIFIED_TARGET_AUDIENCE style="width: 100%; border:1px solid; height: 30px; margin-bottom:10px; " contenteditable=true data-placeholder="Target Audience:"></div>

		<div id=POST_CLASSIFIED_TITLE style="width: 100%; border:1px solid; height: 30px; margin-bottom:10px;" contenteditable="true" data-placeholder="Classified Title:"></div>

		<div id=POST_DESCRIPTION style="width: 100%; border:1px solid; height: 100px; margin-bottom:10px;" contenteditable="true" data-placeholder="Description:"></div>
		
		<div id="CLASSIFIED_DETAIL_ATTRIBUTES">
			<div style="height: 30px; margin-top:15px; display:inline-block;">
				<input type="text" placeholder="Expected Price:" />
			</div>
			<div style="height: 30px; margin-bottom:15px; display:inline-block; margin-left:20px;">
					
				<label>Negotiable<input type="checkbox" style="margin-left:60px; display:inline-block;"/></label>
			</div>
			<div style="height: 30px; margin-bottom:15px; display:inline-block;">
				<input type="text" placeholder="Miles Run:" />
			</div>
			<div style="height: 30px; margin-bottom:15px; display:inline-block; margin-left:20px;">
				<label>Insurance<input type="checkbox" style="margin-left:66px; display:inline-block;"/></label>
			</div>
			<div style="height: 30px; margin-top:15px; display:inline-block;">
				<input type="text" placeholder="Ownership:" style="width:150px;"/>
			</div>
			<div style="height: 30px; margin-top:15px; display:inline-block; margin-left:20px;">
				<input type="text" placeholder="Year:" style="width:90px;"/>
			</div>
			<div style="height: 30px; margin-top:15px; display:inline-block;">
				<input type="text" placeholder="Model:" style="width:150px;"/>
			</div>
			<div style="height: 30px; margin-top:15px; display:inline-block; margin-left:20px;">
				<input type="text" placeholder="Make:" style="width:90px;" />
			</div>
		</div>
		<div class="img">
			<div id="imagePreview">
				
			</div>
			
			<br>
			<input id="uploadFile" type="file" name="image" class="img" />
			<input type="checkbox" value="checkbox">
		</div>
		
		
	</div>
	<script type="text/javascript">
			 $(function() {
    $("#uploadFile").on("change", function()
    {
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
 
        if (/^image/.test( files[0].type)){ // only image file
            var reader = new FileReader(); // instance of the FileReader
            reader.readAsDataURL(files[0]); // read the local file
 
            reader.onloadend = function(){ // set image data as background of div
                $("#imagePreview").css("background-image", "url("+this.result+")");

            }
        }
    });
});
		</script>