
<div id = UNI_COMPOSER_POST  class = "uni-composer-msg-category">
	<div style = "height: 20px; background-color: #fff;">
		Audience
	</div>
	
	<div style = "height: 20px; background-color: #fff;">
		Headline: Why you should be changing companies every often and regularly!
	</div>
	
	<div style = "height: 200px;">
		Add an Image to bring your post to life.
	</div>
	
	
	<div style = "height: 200px; background-color: #fff;">
		Write up:
	</div>
</div>