<!DOCTYPE html>

<html>  

	<head>
	    <meta name="viewport" content="width=device-width" />  
	    <title>View Profile</title>
	    <link href="" rel="stylesheet" />
	    <link href="" rel="stylesheet" />  
	</head>
	
	
	<body>
		
		<% include ../common/common-top-bar.ejs %>   
		
		<% include ../common/common-footer-bar.ejs %>  
		
		
		
		
	</body>


</html>