<div id= PEOPLE_FINDER_SRCH_BOX style="padding:0px 7px 0px 7px ;margin: 8px 0px 0px 0px;">    
					       <!--  <div class="input-group"> -->    
						            	<input type="text" style="height: 43px; border: 2px solid #91B535; border-radius: 3px;" class="form-control searchBox" placeholder="keywords" />
						            <!-- 	<span class="input-group-btn">
											<button class="btn" type="button" id="searchBtnId"><span class="glyphicon glyphicon-search searchIcon"></span></button>
										</span>
								   -->  
						 <!--   </div> --> <!-- input-group ends -->     
						
</div>



<div>
		<div id = PEOPLE_FINDER_DEMOGRAPHY class= "toggle-bar-menu" style="background: linear-gradient(#696969,#3f3f3f); color: #91B535 ; width: 100%; width: 100%; margin-top: 8px; padding-top:10px; padding-bottom: 10px; padding-left: 3px; ">
			<img style="" width="32" height="28" src="/media/images/icons/demographic-white.png"/>
			&nbsp;Demographic 
			
		</div> 
		<div id = PEOPLE_FINDER_DEMOGRAPHY_OPTIONS style = " display:none; width: 95%; margin-left: 5%; ">
			 
			<table  id = PEOPLE_FINDER_DEMOGRAPHY_FORM width="100%" style = "background-color55555: orange;">
				
				<tr>
					<td>Location: 
						<tr>
					 		 <td><input style="width: 98%;" type="text" placeholder = "City"></td> <td><input style="width: 100%;" type="text" placeholder = "Pincode"></td>
				   		 </tr>
					
					</td>
					
					
				</tr>
				
				
				<tr>
					<td width="70%">
						 <p>Age:</p>
						 <input type = "text" placeholder="Age"/>
						 <select>
						  <option value="volvo">18-24</option>
						  <option value="saab">24-30</option>
						  <option value="saab">31-35</option>
						  <option value="saab">35-45</option>
						  <option value="saab">45-50</option>
						  <option value="saab">50-60</option>
						  <option value="saab">60+</option>
						   
						</select>  
					</td>
					
					<td width = "30%">
						<p>Gender: </p>
						<select>
						  <option value="volvo">Male</option>
						  <option value="saab">Female</option>
						   
						</select>  
					</td>	
					
				</tr>		  
			 
		    </table>
		</div> 
		
</div>	 

   				 
<div id= PEOPLE_FINDER_ADD  style= "float: right; margin-top: 3px;"  onclick = "showHideSearchCriteriaPopUp();">
	<img style="margin-left: 10px;"  width="30" height="30" src="/media/images/icons/add-black.png" />
</div> 

<div id = PPL_SEARCH_CRITERIA_OPTIONS style = "display: none; width: 200px; height: 200px; position:absolute;  right : 60px; background-color: #f2f2f2; top: 10px;" >
	<div style = "cursor: pointer;" onclick = "appendSearchCriteria('/people/search/education')">Education</div>
	<div style = "cursor: pointer;" onclick = "appendSearchCriteria('/people/search/professional_occupational')">Professional</div>
	
	<div style = "cursor: pointer;" onclick = "appendSearchCriteria('/people/search/community')">Community</div> 
	<div style = "cursor: pointer;" onclick = "appendSearchCriteria('/people/search/lifestyle')">Lifestyle</div>  
	
</div>

 
 
					