<div>
	<div id="PEOPLE_FINDER_COMMUNITY111" class="toggle-bar-menu">
		<img style="" width="28" height="28" src="/media/images/icons/community-group-white.png">&nbsp;&nbsp;Community, Ethnicity, Faith
		
		<div style="display: inline-block; width: 50px; height: 100%;" class="peopleFinderOptionsCloseBtn"  onclick = "closeSearchCriteriaOptions($(this));">
			<img style="float: right; margin-top: 5px;" width="15" height="15" src="/media/images/icons/x-mark-white.png">
		</div>
   </div>
</div>