<div>
	<div id = PEOPLE_FINDER_OCCUPATION class="toggle-bar-menu">
		<img width="28" height="28" src="/media/images/icons/resume-circle-white.png">&nbsp;&nbsp;Professional, Occupational
		
		<div style="display: inline-block; width: 50px; height: 100%;" class="peopleFinderOptionsCloseBtn"  onclick = "closeSearchCriteriaOptions($(this));"> 
			<img style="float: right; margin-top: 5px;" width="15" height="15" src="/media/images/icons/x-mark-white.png">
		</div>
	</div>
</div>