 
	
<style>
		#SEARCH {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

	#saved-search-head {
		width: 100%;
	}
 .name-content {
 	width: 55%;
 	margin-top: 3px;
 	background-color: green;
 	display: inline-block;
 }

 .matches-content {
 	width: 30%;
 	margin-top: 3px;
 	display: inline-block;
 }

 .search-name{
 	width: 65%;
 	min-height: 35px;  
 	cursor: pointer;
 	display: inline-block;
 }

.search-matches {
	width: 20%; 
	min-height: 35px; 
	color: #696969; 
	text-align: center; 
	display: inline-block;
}

.buttons {
	width: 15%;
	display: inline-block;
}

.container {
	width: 100%;
	height: auto;
	margin-top: 3px;
}



.saved-search-head .container:nth-child(odd) {
	background: #ccc;
}

.saved-search-head .container:nth-child(even) {
	background: green;
}

@media screen and (max-width: 767px){
		#SEARCH {
			width: 100%;
		}
		
		.search-name{
 			width: 55%;
 		}

 		..search-matches{
			width: 20%;
		}

		.search-name-header  {
			width: 50%; 
			display: inline-block; 
			text-align: center;
		}

		.search-match-header {
			width: 30%; 
			display: inline-block; 
			text-align: center;
		}

		.buttons {
			width: 25%;
		}
}



/*------ for Larger Devices ------*/

@media screen and (min-width: 768px){
		.search-name-header {
			width: 50%; 
			display: inline-block; 
			text-align: center;
		}

	.search-match-header {
		width: 49%; 
		display: inline-block; 
		text-align: center;
	}
}
		
	
	</style>
 

 

	<div id = "SEARCH">
		<div  style = "border: 1px solid; display: inline-block; width: 100%; height:30px;">
			<div class = "search-name-header">
				<span>Name</span>
			</div>
			<div class = "search-match-header">
				<span>Matches</span>
			</div>
   		</div>

   		<div class = "saved-search-head" style = "width: 100%; margin-top: 5px;">
   			
   		</div>
   	</div>
   	
 
<script>
	
	var savedSearchesInfo= [
       {	
       	   	"id" : "123456789", 
           	"name": "Life partner, educated, working, smart, Bangaore, 23 - 29",
           	"Matches": "965"
           
       },
       {
       		"id" : "123456789",
           	"name": "Life partner, educated, working, smart, Bangaore, 23 - 29",
           	"Matches": "1235"
          
       },
       {
       		"id" : "123456789",
           	"name": "Life partner, educated, working, smart, Bangaore, 23 - 29",
           	"Matches": "796"
           
       },
       {
       		"id" : "123456789",
           	"name": "Life partner, educated, working, smart, Bangaore, 23 - 29",
           	"Matches": "796"
           
       },
       {
       		"id" : "123456789",
           	"name": "Life partner, educated, working, smart, Bangaore, 23 - 29",
           	"Matches": "796"
           
       },
       {
       		"id" : "123456789",
           	"name": "Life partner, educated, working, smart, Bangaore, 23 - 29",
           	"Matches": "796"
           
       }
   ];

   var reviewArr = savedSearchesInfo;
	
	for(var i = 0;i < reviewArr.length;i++)
			{
				var obj = reviewArr[i];

				var name = obj.name;
				var matches = obj.Matches;

				var search = $('<div class = "container"><div class = "search-name">'+ name +'</div><div class = "search-matches">'+ matches +'</div><div class = "buttons"><input type = "button" value = "Save"></div></div>');

				$('.saved-search-head').append(search);
			}

</script>  


 