<style>
  #SEARCH {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
  }

	#saved-search-head {
		width: 100%;
	} 
	
 .name-content {
 	width: 55%;
 	margin-top: 3px;
 	background-color: green;
 	display: inline-block;
 }

 .matches-content {
 	width: 30%;
 	margin-top: 3px;
 	display: inline-block;
 }

 .search-name{
 	width: 65%;
 	cursor: pointer;
 	display: inline-block;
 	color: #7D7A7A;
 	font-weight: bold;
 }

.search-matches {
	width: 20%; 	
	color: #696969; 
	text-align: center; 
	display: inline-block;
}

.buttons {
	width: 15%;
	display: inline-block;
}

.container {
	width: 100%;
	height: auto;
	margin-top: 3px;
}



.saved-search-head .container:nth-child(odd) {
	background: #e2e3dc;
}

.saved-search-head .container:nth-child(even) {
	background: #e9eae1;
}

@media screen and (max-width: 767px){
		#SEARCH {
			width: 100%;
		}
		
		.search-name{
 			width: 55%;
 			color: #3f3f3f;
 		}

 		..search-matches{
			width: 20%;
		}

		.search-name-header  {
			width: 50%; 
			display: inline-block; 
			text-align: center;
		}

		.search-match-header {
			width: 30%; 
			display: inline-block; 
			text-align: left;
		}

		.buttons {
			width: 25%;
		}
}



/*------ for Larger Devices ------*/

@media screen and (min-width: 768px){
		.search-name-header {
			width: 50%; 
			display: inline-block; 
			text-align: center;
		}

	.search-match-header {
		width: 49%; 
		display: inline-block; 
		text-align: center;
	}
}
		
	
	</style>
 



	<div id = "SEARCH" style = "padding-left: 5px; padding-right: 5px;">		
   		<div style = 'height: 5px;'></div>
   		
   		<div class = "container" style = "padding: 3px; font-weight: bold;"><div class = "search-name">Name</div><div class = "search-matches">Matches</div><input class = "" id="PEOPLE_SEARCH_SUBMIT_BUTTON" value = "  ...  " type = "button" style = "float: right; font-weight: bold; border-radius: 1px; background-color: ;"></div>

   		<div class = "saved-search-head" style = "width: 100%; margin-top: 5px;"></div>
   	</div>
   	
 
 
 <form class = "people-search-form" action = "http://ekpeople.herokuapp.com/p/search" method = "post">  	
   	 <input id = "HIDDEN_CHECKED_INPUT" type="hidden" name="savedSearchesChkBox" value="">

</form>
   	
   	
 
<script>
	
    	$('#PEOPLE_SEARCH_SUBMIT_BUTTON').on('click', function() {
    	  
    		var chkbox = document.getElementsByClassName("people-search-check-box");
				
			 
			        var checkedBoxString = "";
			         
				    for (var i = 0; i < chkbox.length; i++) {
				        if (chkbox[i].checked) {
				          checkedBoxString = checkedBoxString + chkbox[i].value + ",";
				          
				        }
				    }
				    
				 $("#HIDDEN_CHECKED_INPUT").val(checkedBoxString);
    	
    	
    	     if(checkedBoxString != ""){
    			$('.people-search-form').submit();
    		 }
    		 else {
    			alert("No check Box Selected");
    		 }
    		 
    	});


	
	var savedSearchesInfo= [
	       {	
	       	   	"id" : "123456789", 
	           	"name": "Life partner, educated, working, smart, Bangaore, 23 - 29",
	           	"matches": 965
	           
	       },
	       {	
	       	   	"id" : "123456789", 
	           	"name": "Fresher Java, 2016 passout, Bangalore",
	           	"matches": 5091
	           
	       },
	       {	
	       	   	"id" : "123456789", 
	           	"name": "Startup Cofounder, Big Data, NIT/IIT, Bangalore",
	           	"matches": 91
	           
	       },
	       {	
	       	   	"id" : "123456789", 
	           	"name": "Life partner, educated, working, smart, Bangaore, 23 - 29",
	           	"matches": 965
	           
	       },
	       {	
	       	   	"id" : "123456789", 
	           	"name": "Fresher Java, 2016 passout, Bangalore",
	           	"matches": 5091
	           
	       },
	       {	
	       	   	"id" : "123456789", 
	           	"name": "Startup Cofounder, Big Data, NIT/IIT, Bangalore",
	           	"matches": 91
	           
	       }
   ];

    var reviewArr = savedSearchesInfo;
	
	for(var i = 0;i < reviewArr.length;i++)
			{
				var obj = reviewArr[i];
				var id = obj.id;
				var name = obj.name;
				var matches = obj.matches;   

				var search = $('<div class = "container" style = "padding: 3px;"><div class = "search-name">'+ name +'</div><div class = "search-matches">(<b>'+ matches +'</b>)</div><input style = "float:right;" type="checkbox" class = "people-search-check-box" name = "peopleSearchCheckBox" value= "' + id + '"></div>');

				$('.saved-search-head').append(search);
			}
	$('.saved-search-head').append("<br/>");

	
	
	var button = document.getElementById("PEOPLE_SEARCH_SUBMIT_BUTTON");
		var chkbox = document.getElementsByClassName("people-search-check-box");

		function onChangeListener() {
		    button.style.backgroundColor = "";
		    for (var i = 0; i < chkbox.length; i++) {
		        if (chkbox[i].checked) {
		            button.style.backgroundColor = "lightgreen";
		        }
		    }
		}

		for (var i = 0; i < chkbox.length; i++) {
		    var checkbox = chkbox[i];
		    checkbox.addEventListener("change", onChangeListener);
	}

</script>  
