<%
	var contaxonomyGroups = [  
	                               {
	                            	   'id' : 'LEARNING',
	                            	   'name' : "Learning, Studies, Education"
	                            	 
	                            	   
	                               },	                               
	                               {
	                            	   'id' : 'PROFESSION',
	                            	   'name' : "Job, Profession, Career, Business"
	                               },
	                               
	                               {
	                            	   'id' : 'PERSONAL_DEVELOPMENT',
	                            	   'name' : "Personal Development, Attitude"
		                           },
		                           
		                           {
		                        	   'id' : 'MONEY_PARENT',
		                        	   'name' : "Money, Finances",
			                           'childs' : [
			                                {
			                            	 'id' : 'MONEY_LEVEL2',
			                            	 'name' : 'Money Level 2',
			                            	 'childs' : [{
				                            	 'id' : 'MONEY_LEVEL3_1',
				                            	 'name' : 'Money_Level3_1'
					                            },
					                            {
					                                'id' : 'MONEY_LEVEL3_2',
					                            	'name' : 'Money_Level3_2'
					                            }]
				                            },
				                            {
				                                'id' : 'MONEY_LEVEL2_2ND_NODE',
				                            	'name' : 'Money_Level2_2nd_Node'
				                            }
			                           ]
			                       },
			                       
			                       {
			                       	   'id' : 'FAMILY_RELATIONSHIPS',
			                    	   'name' : "Family, Relationships"
				                   },
				                   
				                   {
				                       'id' : 'LEGAL',
				                	   'name' : "Legal"
				                   },
				                   
				                   {
				                       'id' : 'HEALTH',
				                	   'name' : "Health"
				                   },
				                   
				                   {
				                       'id' : 'WELLNESS',
				                	   'name' : "Wellness, Welfare"
				                   },
				                   
				                   {
				                       'id' : 'COMMUNITY_FRIENDS',
				                	   'name' : "Community, Friends"
				                   },
				                   
				                   {
				                       'id' : 'GOOD_WORK',
				                	   'name' : "Spiritual, Karma"
				                   },
				                   
				                   {
				                       'id' : 'HOBBIES',
				                	   'name' : "Hobbies, Activities, Leisure"
				                   },
	                             
	                               {
	                                   'id' : 'LIFESTYLE',
				                	   'name' : "Lifestyle, Fashion"
				                   },
				                   {
				                       'id' : 'FOOD',
				                	   'name' : "Food"
				                   }
	                             
	                             ];
	
%>

<style>
	
	.grouponomy_cat_node_chkbox {
			 float: right;
		}
		
	 @media screen and (max-width: 767px) { 
		#CONTAXONOMY_GROUPS_TABLE{
			width:  100%;	 
		} 
  }
  
    @media screen and (min-width: 768px) { 
		#CONTAXONOMY_GROUPS_TABLE{
			width:  330px;	 
		} 
   
  
</style>
   

<div id = CONTAXONOMY_GROUPS>
	  	  

	 <div class = "text-green" style = "margin-left: 3px;  margin-bottom: 15px; ">
 		  <div style = "text-align: center; display: inline-block; width: 90px;">
	  		<img   width="24" height="20" src="/media/images/icons/crowd-black.png" />
	  		<span style = "display: block;  line-height:.5; font-size: 12px; margin-top: 2px;"><b>Groups</b></span>
	     </div> 
	 </div> 
	 
	 
	 <%	
		var tempElementString = "<table id = CONTAXONOMY_GROUPS_TABLE border = 0> <tr><td>";
		var tempChildElements = null;
		var catLooper = 0;
		contaxonomyGroups.forEach(function(element) {
		
		 
		tempElementString = tempElementString + "<div style = 'margin-left: 45px;'><div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'>";
		
		tempElementString = tempElementString + "<span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff;'><b>&nbsp;</b></span>";
		tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #696969;'>";
		tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b style = 'font-size: 12px;'>" + element.name;
		tempElementString = tempElementString + "</b></span> <input id =" + element.id + " type = 'checkbox'  value = " + element.id + " name = 'groups-chkbox' class = 'grouponomy_cat_node_chkbox' style = 'margin-left: 20px;' onclick = 'populateAudience($(this));'> </div>";
		
		if(element.childs) {			
			element.childs.forEach(function(level2Element) {
				//tempElementString = tempElementString + "LEVEL2-" + catLooper++;
				//tempElementString = tempElementString + "<div style = 'background-color: #A6C0E3; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>- -</b></span>";
				tempElementString = tempElementString + "<div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>";
				tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle; margin-bottom: 2px; height: 35px; color: #696969; '>";
				tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b style = 'font-size: 12px;'>" + level2Element.name;
				tempElementString = tempElementString + "</b></span> <input  id =" + level2Element.id + " type = 'checkbox'  value = " + level2Element.id + " name = 'groups-chkbox' class = 'grouponomy_cat_node_chkbox' style = 'margin-left: 20px;'  onclick = 'populateAudience($(this));'> </div>";
				
				if(level2Element.childs) {			  
					level2Element.childs.forEach(function(level3Element) {
						//tempElementString = tempElementString + "LEVEL3-" + catLooper++;
						//tempElementString = tempElementString + "<div style = 'background-color: #7C8DA3; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>- - - </b></span>";  
						tempElementString = tempElementString + "<div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>";
						tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #696969; '>";
						tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b style = 'font-size: 12px;'>" + level3Element.name;
						tempElementString = tempElementString + "</b></span> <input  id =" + level3Element.id + "  type = 'checkbox'  value = " + level3Element.id + " name = 'groups-chkbox' class = 'grouponomy_cat_node_chkbox' style = 'margin-left: 20px;' onclick = 'populateAudience($(this));'> </div>";
					});
				} 
			});
		} 
		 
		
		tempElementString = tempElementString + "</div>";
%>


 
<%	 
	});
	
	tempElementString = tempElementString + "</tr></td></table>";
			
%>
 
	 <%- tempElementString %>
	
</div>



<script>






	//$('.contagxonomy_cat_node_chkbox').

</script>