<%
		var contaxonomyTeams = [  	{
		                        	   'id'		 	: 'STARTUP_PROJECT_TEAM',
		                        	   'name' 	  	: "Startup Project Team",
		                        	   'profilePic' : "/media/images/icons/temp/Sample_Team_Profile_Pic_Startup.png", 
		                        	   
			                           'childs' 	: [
			                                {
			                            	 
				                            	 'id' : 'salvin',
				                            	 'name' : 'Salvin Stephen Thomas'
					                        },
					                        {
					                                'id' : 'melbin',
					                            	'name' : 'Melbin Mathai'
					                        },
					                     
				                            {
				                                'id' : 'unni',
				                            	'name' : 'Unnikrishnan C'
				                            },
				                            
				                            {
				                                'id' : 'amar',
				                            	'name' : 'Amar Chhetri'
				                            } 
			                           ]
			                       },
			                       
			                       
			                       
			                        {
		                        	   'id' : 'COMMUNITY_WELFARE_SUPERTEAM',
		                        	   'name' : "Community Welfare SupertTeam",
			                           'childs' : [
					                                {
					                            	 'id' : 'CULTURAL_ACTIVITIES',
					                            	 'name' : 'Cultural activities',
					                            	 'childs' : [{
					                            	 
									                            	 'id' : 'mihika',
									                            	 'name' : 'Mihika Mishra'  
										                        },
										                        {
										                                'id' : 'ajay',
										                            	'name' : 'Capt. Ajay'
										                        },
										                     
									                            {
									                                'id' : 'abhijit',
									                            	'name' : 'Abhijit Prusty'
									                            },
									                            {
										                                'id' : 'prabal',
										                            	'name' : 'Prabal Atreya'
										                        },
										                            
										                        {
										                                'id' : 'navin',
										                            	'name' : 'Navin Meshram'
										                        }
									                            ]
						                            },
						                            
						                            {
						                                'id' : 'EDUCATIONAL_ACTIVITIES',
						                            	'name' : 'Educational Activities',
						                            	'childs' : [ {
										                                'id' : 'abhijit',
										                            	'name' : 'Abhijit Prusty'
										                            },
										                            
										                            {
										                                'id' : 'prabal',
										                            	'name' : 'Prabal Atreya'
										                            },
										                            
										                            {
										                                'id' : 'navin',
										                            	'name' : 'Navin Meshram'
										                            }
									                           ]
						                            }
			                               ]
			                    
			                      }
			                       
			                    
			                     ];
 

%>

<style>
	
	.team_cat_node_chkbox {
			 float: right;
		}
		
	 @media screen and (max-width: 767px) { 
		#CONTAXONOMY_TEAMS_TABLE{
			width:  100%;	 
		}  
     }
     
    @media screen and (min-width: 768px) { 
		#CONTAXONOMY_TEAMS_TABLE{
			width:  330px;	
		}  
    }
   
  
</style>
 

<div id = CONTAXONOMY_TEAMS>
	<div class = "" style = "margin-left: 3px;  margin-bottom: 15px;">
 		  <div style = "text-align: center; display: inline-block; width: 90px;">
	  		<img   width="24" height="18" src="/media/images/icons/team/team-blk.png" />
	  		<span style = "display: block;  line-height:.5; font-size: 12px; margin-top: 5px;"><b>Teams</b></span>
	     </div> 
	</div> 
							    
	 <%	
		var tempElementString = "<table id = CONTAXONOMY_TEAMS_TABLE border = 0> <tr><td>";
		var tempChildElements = null;
		var catLooper = 0;
		contaxonomyTeams.forEach(function(element) {
		
		 
		tempElementString = tempElementString + "<div style = 'margin-left: 45px;'><div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'>";
		
		tempElementString = tempElementString + "<span style='display: inline-block; margin:0; color: #B8B4B4; height: 100%; background-color: #fff;'><b>&nbsp;</b></span>";
		tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block;  margin-bottom: 2px; height: 35px; color: #696969;'>";
		
		if(element.profilePic) {
			tempElementString = tempElementString + "<img  src='" + element.profilePic + "' width= '22' height= '22'>";  
		} 
		else {
			tempElementString = tempElementString + "<div style = 'display: inline-block; height: 22px; width: 22px; background-color: #95B3D7; border-radius: 50%; line-height: 22px; text-align: center;'><b>" +  element.name.charAt(0).toUpperCase() + "</b></div>"; 
		}
		tempElementString = tempElementString + "&nbsp;&nbsp;<b style = 'font-size: 12px;'>" + element.name;  
		tempElementString = tempElementString + "</b></span> <input id =" + element.id + " type = 'checkbox'  value = " + element.id + " name = 'teams-chkbox' class = 'team_cat_node_chkbox' style = 'margin-left: 20px;' onclick = 'populateAudience($(this));'> </div>";
		
		
		if(element.childs) {			
			element.childs.forEach(function(level2Element) {
				//tempElementString = tempElementString + "LEVEL2-" + catLooper++;
				//tempElementString = tempElementString + "<div style = 'background-color: #A6C0E3; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>- -</b></span>";
				tempElementString = tempElementString + "<div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>";
				tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle; margin-bottom: 2px; height: 35px; color: #696969; font-size: 12px;'>";
				tempElementString = tempElementString + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + level2Element.name;
				tempElementString = tempElementString + "</span> <input  id =" + level2Element.id + " type = 'checkbox'  value = " + level2Element.id + " name = 'teams-chkbox' class = 'team_cat_node_chkbox' style = 'margin-left: 20px;'  onclick = 'populateAudience($(this));'> </div>";
				
				if(level2Element.childs) {			  
					level2Element.childs.forEach(function(level3Element) {
						//tempElementString = tempElementString + "LEVEL3-" + catLooper++;
						//tempElementString = tempElementString + "<div style = 'background-color: #7C8DA3; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>- - - </b></span>";  
						tempElementString = tempElementString + "<div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>";
						tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #696969; font-size: 12px;'>";
						tempElementString = tempElementString + "&nbsp;&nbsp;&nbsp;&nbsp;" + level3Element.name;
						tempElementString = tempElementString + "</span> <input  id =" + level3Element.id + "  type = 'checkbox'  value = " + level3Element.id + " name = 'teams-chkbox' class = 'team_cat_node_chkbox' style = 'margin-left: 20px;' onclick = 'populateAudience($(this));'> </div>";
					});
				} 
			 
			});
		} 
		 
		
		tempElementString = tempElementString + "</div>";
%>


 
<%	 
	});
	
	tempElementString = tempElementString + "</tr></td></table>";
			
%>
 
	 <%- tempElementString %>
	
</div>



<script>






	//$('.contagxonomy_cat_node_chkbox').

</script>