		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
         
 <% include ../modal/mPopUp.ejs %> 
 <% include ../modal/aakComposer.ejs %>
 <% include ../modal/quickTool.ejs %>
 <% include ../modal/inboxPopUp.ejs %>          
<!-- <% include ../modal/mPopUp.ejs %> -->   

<div class="row footer menubar-footer navbar-fixed-bottom container-fluid" id="footerBarId">        
	  <div class="footer-container">
	        <div class="col-xs-5" id="left-block">     
	            
	            <img id=QUK_TOOL_ICON_ID width="28" height="28" src="/media/images/icons/wht_up_arrow.png"/>    
	            
	            <img id="" width="28" height="28" src="/media/images/icons/options_1.png"/> 
	              
	            <!-- <img width="28" height="28" src="/media/images/icons/wht_wllt.png"/> --> <!--   onclick1="javascript:displayPopUpMenu(event);"/> -->
	            	
	         </div>
	        <div class="col-xs-2 text-center" id="d360">  
	            <img id="sunIcon" width="30" height="30" src="/media/images/icons/whte-sun.png"/>
	        </div>
	        <div class="col-xs-5 text-right" id="right-block">
	           
	            <img id="plus" width="28" height="28" src="/media/images/icons/wht-plus.png" />
	           
	           <img width="28" height="28" src="/media/images/icons/wht_wllt.png"/>        
	        </div>  
	 	</div>
	 	
 </div> 
  
 <script src="/script/modal/mPopUp.js"></script>   




<!-- <div class="footer navbar-fixed-bottom">
 <div class="row menubar-footer"> 
        <div class="col-xs-5">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </div>
        <div class="col-xs-5">
            <img width="32" height="32" src="/media/images/icons/ib_org.png" />
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-plus-sign pull-right"></span>   
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-home pull-right"></span>
        </div>
    </div>
</div>
-->