<style>
 	.footer-bar-image-div-settings {
 		box-sizing: content-box;
 		display: inline-block;
 		height: 100%; 
 		padding-left: 7px; 
 		padding-right: 7px;
 		padding-top: 7px;
 	} 
     
 	.footer-bar-image-div-bg {
 		background-color: #525252;
 	}
 	
 .menubar-footer table, .menubar-footer th, .menubar-footer td {
    
    border-collapse: collapse;
}
 	
 </style>
    

<div class="menubar-footer" id="footerBarId" style="z-index: 1030; width : 100%; position: fixed; bottom: 0; height: 42px; padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px;">       
  		
  		<div class="website-screen-width_dt" style="padding-top: 0px; height: 100%;">
  		 	   
  			<table width = "100%"  height = "100%" border = 0>    
      			<tr>      				
      				<td width="16.66666667" align = left style = "padding: 0;" style = "padding: 0;">    
      					<div class = "footer-bar-image-div-settings" style = "height: 100%; background-color: #8C8585; ">     					
      						    <img id=AKK_OPTIONS_POPUP_ID width="28" height="28" src="/media/images/icons/3dots_vert_white.png" onClick = "javascript: iconsMenuLauncherClickHandler('FOOTER_CONTEXTUAL_PAGE_OPTIONS', testJONData);"/> 
      					</div>	 					
      				</td>
      				     
      				<td width="16.66666667" align = left style = "padding: 0;" style = "padding: 0;">  
      					 
      				</td>
      			 
      				<td width="16.66666667"  align = right style = "padding: 0;">     
      					<div class = "footer-bar-image-div-settings footer_bar_static_icon"> 	  
      						<img width="32" height="32" src="/media/images/icons/icon-question.png">
      					</div>	      					
      				</td>  
      				
      				<td width="16.66666667%" align = right style = "padding: 0;">      					
      					<div class = "footer-bar-image-div-settings footer_bar_static_icon"> 	 
      						<img id="plus"  width="30" height="30" src="/media/images/icons/operators-white/gen-content-plus-wht.png" /> 
      					</div>	      					
      				</td>
      				
      				<td width="16.66666667%"  align = right style = "padding: 0;"> 
      					<div class = "footer-bar-image-div-settings footer_bar_static_icon"> 
      						<img id=AAK_INBOX_POPUP_ID style = "margin-top : 1px;" width="28" height="24" src="/media/images/icons/aakbox.png"/>
      					</div>
      						    					
      				</td>
      				
      				<td width="16.66666667%"  align = right style = "padding: 0;">      					
   						<div class = "footer-bar-image-div-settings footer_bar_static_icon">   
   						  <img  id=QUK_TOOL_ICON_ID  style = "margin-top : 1px;" width="28" height="28" src="/media/images/icons/aak-services.png"/> 
   						</div>   					
      				</td>
      			 
      			</tr>
      		</table>
  			 
  		</div>
	 	 
 </div>
 
 <script>
 
 	$('.footer_bar_static_icon').on('click', function(){
 		
 		if($(this).hasClass('footer-bar-image-div-bg')) {
 			$('.footer_bar_static_icon').removeClass('footer-bar-image-div-bg');
 		}
 		else {
 			$('.footer_bar_static_icon').removeClass('footer-bar-image-div-bg');
 			$(this).addClass('footer-bar-image-div-bg');
 		}
 		 
 	}); 
 	   
 </script>    
 
 <% include ../modal/aakComposer.ejs %>
 <% include ../modal/quickTool.ejs %> 
 

 
 