<div class="row footer menubar-footer navbar-fixed-bottom container-fluid">
	  <div class="footer-container">
	        <div class="col-xs-5" id="left-block"> 
	            <img width="25" height="25" src="/media/images/icons/whte-bck.jpg" />
	            <a href="/"><img width="25" height="25" src="/media/images/icons/whte-hme.png" /></a>
	            <img width="25" height="25" src="/media/images/icons/wht_wllt.png" />
	         </div>
	        <div class="col-xs-2 text-center" id="d360" >
	            <img width="29" height="29" src="/media/images/icons/whte-sun.png"/>
	        </div>
	        <div class="col-xs-5 text-right" id="right-block">
	            <img width="25" height="25" src="/media/images/icons/grey_evnts.png"/>
	            <img width="25" height="25" src="/media/images/icons/wht_inbx.png" /> 
	            <img width="25" height="25" src="/media/images/icons/wht-plus.png" />
	        </div>
	 	</div>
 </div>


<!-- <div class="footer navbar-fixed-bottom">
 <div class="row menubar-footer">
        <div class="col-xs-5">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </div>
        <div class="col-xs-5">
            <img width="32" height="32" src="/media/images/icons/ib_org.png" />
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-plus-sign pull-right"></span>
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-home pull-right"></span>
        </div>
    </div>
</div>
-->