<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

<script>
var treeMenuDepth1Data = [ 
                          {
                     		"label": 'Deals, Promos',
                     		"id": '',
                     		"icon": '.png',
                     		"items": [{
                     			"label" : 'Groceries',
                     			"id" : '',
                     			"icon" : '.png'
                     		},
                     		{
                     			"label" : 'Electronics',
                     			"id" : '',
                     			"icon" : '.png'
                     		}
                     		]	 
                     	 },
                     	 {
                     		"label" : 'Alerts',
                     		"id" : '',
                     		"icon" : '.png',
                     		"items" : [{
                     			"label" : 'Banking',
                     			"id" : '',
                     			"icon" : '.png'
                     		},
                     		{
                     			"label" : 'Jobs',
                     			"id" : '',
                     			"icon" : '.png'
                     		}
                     		]	 
                     	 }
                     	 ];
</script>



       
 <% include ../modal/mPopUp.ejs %> 
 <% include ../modal/aakComposer.ejs %>
 <% include ../modal/quickTool.ejs %> 
 <% include ../modal/aakInboxPopUp.ejs %>   
 <% include ../aakBox/aakOptionsPopUp.ejs %>           
 <% include ../common/treeMenuDepth1.ejs %>
 
 <style>
 	.footer-bar-image-div-settings {
 		box-sizing: content-box;
 		display: inline-block;
 		height: 100%; 
 		padding-left: 7px; 
 		padding-right: 7px;
 		padding-top: 7px;
 	}
 	
 	.footer-bar-image-div-bg {
 		background-color: #525252;
 	}
 </style>
 

<div class="row footer menubar-footer navbar-fixed-bottom container-fluid" id="footerBarId" style="padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px;">       
  		
  		<div class="footer-container website-screen-width_dt" style="height: 42px; padding-top: 0px;">
  			 
  			<table width = "100%" height= "100%" border = 0>  
      			<tr>      				
      				<td width="16.66666667" valign = middle align = left>  
      					<div class = "footer-bar-image-div-settings ">     					
      						  <img id=AKK_OPTIONS_POPUP_ID width="28" height="28" src="/media/images/icons/3dots_vert_white.png" /> 
      						<!--   <img id=AKK_OPTIONS_TRIAL_ICON width="28" height="28" src="/media/images/icons/lifestyle_illustration.png" /> -->
      					</div>	 					
      				</td>
      				 
      				<td width="16.66666667" valign = middle align = left>  <!-- style="border: 2px dotted #fff;" -->     
      					<!-- 
      					<div id="d360 footer-bar-image-div-settings footer-bar-image-div">
      					 	<img  id="sunIcon" class="profileContext" width="30" height="30" src="/media/images/icons/folders-white.png"/>   
      					</div>
      					-->					      						
      				</td>
      			 
      				<td width="16.66666667" valign = middle align = right>      					
      						
      					<!-- 	<img id= "FOOTER_SEARCH" style="" width="30" height="30" src="/media/images/icons/search-gls-white.png" /> --> 
      					<img id="" width="32" height="32" src="/media/images/icons/icon-question.png">
      						      					
      				</td>
      				
      				<td width="16.66666667%" valign = middle align = right >      					
      					<div class = "footer-bar-image-div-settings" style = "margin-top: 0px;"> 	 
      						<img   id="plus" width="30" height="30" src="/media/images/icons/operators-white/gen-content-plus-wht.png" /> 
      					</div>	      					
      				</td>
      				
      				<td width="16.66666667%" valign = middle align = right>      					
      						
      					<div class = "footer-bar-image-div-settings"> 
      						<img id=AAK_INBOX_POPUP_ID style="" width="28" height="24" src="/media/images/icons/aakbox.png"/>
      					</div>
      						    					
      				</td>
      				
      				<td width="16.66666667%" valign = middle align = right>      					
   						<div class = "footer-bar-image-div-settings ">   
   						  <img  id=QUK_TOOL_ICON_ID width="28" height="28" src="/media/images/icons/aak-services.png"/> 
   						</div>   					
      				</td>
      			 
      			</tr>
      		</table>
  			 
  		</div>
	 	 
 </div>    
   
 
 <script src="/script/desktop/desktop.js"></script> 
 <script src="/script/modal/mPopUp.js"></script>       

 
 