		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
         
 <% include ../modal/mPopUp.ejs %> 
 <% include ../modal/aakComposer.ejs %>
 <% include ../modal/quickTool.ejs %> 
 <% include ../modal/aakInboxPopUp.ejs %>            
 

<div class="row footer menubar-footer navbar-fixed-bottom container-fluid" id="footerBarId">            
	   <div class="footer-container">
	        <div class="col-xs-5" id="left-block">     
	          
	            
	                 
	            <img width="28" height="28" src="/media/images/icons/3lines-menu.png" />  
	                  
	            	 <!--   onclick1="javascript:displayPopUpMenu(event);"/> -->
	            	
	         </div>
	        <div class="col-xs-2 text-center" id="d360" >
	            <img  id="sunIcon" class="profileContext" width="30" height="30" src="/media/images/icons/whte-sun.png"/>      
	        </div>
	        <div class="col-xs-5 text-right" id="right-block" style="padding-left:0px;">
	            <!-- <img width="25" height="25" src="/media/images/icons/grey_evnts.png"/> -->
	           <!--  <img width="28" height="28" src="/media/images/icons/wht_inbx.png" /> -->  
	            <img id=AAK_INBOX_POPUP_ID width="28" height="28" src="/media/images/icons/wht_wllt.png"/>
	            <img id="plus" width="28" height="28" src="/media/images/icons/wht-plus.png" />
	            <img id=QUK_TOOL_ICON_ID width="30" height="30" src="/media/images/icons/menu_3.png"/>	            
	        </div>  
	 	</div>  
	 	
 </div> 
    
 <script src="/script/modal/mPopUp.js"></script>       

    


<!-- <div class="footer navbar-fixed-bottom">  
 <div class="row menubar-footer"> 
        <div class="col-xs-5">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </div>
        <div class="col-xs-5">
            <img width="32" height="32" src="/media/images/icons/ib_org.png" />
        </div>
        <div class="col-xs-1">  
            <span class="glyphicon glyphicon-plus-sign pull-right"></span>   
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-home pull-right"></span>    
        </div>
    </div>
</div>  
-->