		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
         
 <% include ../modal/mPopUp.ejs %> 
 <% include ../modal/aakComposer.ejs %>
 <% include ../modal/quickTool.ejs %> 
 <% include ../modal/aakInboxPopUp.ejs %>   
 <% include ../aakBox/aakOptionsPopUp.ejs %>           
 

<div class="row footer menubar-footer navbar-fixed-bottom container-fluid" id="footerBarId" style="">       

  <!-- 	<div style= "width: 100%; background-color: blue; height: 42px;"> -->  
  		
  		<div class="footer-container" style="height: 42px; padding: 6px 5px 0px 0px ;">
  			 
  			<table width = 100% border = 0>  
      			<tr>      				
      				<td width="16.66666667" valign = middle align = left>      					
      						  <img id=AKK_OPTIONS_POPUP_ID width="28" height="28" src="/media/images/icons/3dots_vert_white.png" /> 
      						 					
      				</td>
      				 
      				<td width="16.66666667" valign = middle align = center>      
      					<div id="d360" >
      					 	<img style="border: 2px dotted #fff;" id="sunIcon" class="profileContext" width="30" height="30" src="/media/images/icons/folders-white.png"/>   
      					</div>					      						
      				</td>
      				
      				<td width="16.66666667" valign = middle align = center>      					
      						
      						<img  style="" width="30" height="30" src="/media/images/icons/search-gls-white.png" /> 
      						      					
      				</td>
      				
      				<td width="16.66666667%" valign = middle align = center>      					
      						
      						<img id=AAK_INBOX_POPUP_ID style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
      						      					
      				</td>
      				
      				<td width="16.66666667%" valign = middle align = center>      					
      						
      						 <img id="plus" width="28" height="28" src="/media/images/icons/wht-plus.png" />
      						    					
      				</td>
      				
      				<td width="16.66666667%" valign = middle align = right>      					
      						  
      						  <img id=QUK_TOOL_ICON_ID width="28" height="28" src="/media/images/icons/aak-services.png"/> 
      						   					
      				</td>
      				
      				 
      			</tr>
      		</table>
  			 
  		</div>
  		
  	<!--  </div> -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
     <!-- 
	   <div class="footer-container">
	        <div class="col-xs-5" id="left-block">     
	          
	            
	                 
	            <img id=AKK_OPTIONS_POPUP_ID width="28" height="28" src="/media/images/icons/3dots_vert_white.png" />  
	                  
	             
	            	
	         </div>  
	        <div class="col-xs-2 text-center" id="d360" >
	            <img  id="sunIcon" class="profileContext" width="30" height="30" src="/media/images/icons/whte-sun.png"/>      
	        </div>
	        <div class="col-xs-5 text-right" id="right-block" style="padding-left:0px;">
	          
	            <img id=AAK_INBOX_POPUP_ID style="margin-top: 4px;" width="28" height="28" src="/media/images/icons/aakbox.png"/>
	            <img id="plus" width="28" height="28" src="/media/images/icons/wht-plus.png" />
	            <img id=QUK_TOOL_ICON_ID width="28" height="28" src="/media/images/icons/aak-services.png"/> 
	        </div>    
	 	</div>   -->
	 	 
 </div>    
    
 <script src="/script/modal/mPopUp.js"></script>       

    


<!-- <div class="footer navbar-fixed-bottom">  
 <div class="row menubar-footer"> 
        <div class="col-xs-5">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </div>
        <div class="col-xs-5">
            <img width="32" height="32" src="/media/images/icons/ib_org.png" />
        </div>
        <div class="col-xs-1">  
            <span class="glyphicon glyphicon-plus-sign pull-right"></span>   
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-home pull-right"></span>    
        </div>
    </div>
</div>  
-->