<style>
 	.footer-bar-image-div-settings {
 		box-sizing: content-box;
 		display: inline-block;
 		height: 100%; 
 		padding-left: 7px; 
 		padding-right: 7px;
 		padding-top: 7px;
 	} 
     
 	.footer-bar-image-div-bg {
 		background-color: #525252;
 	}
 	
 .menubar-footer table, .menubar-footer th, .menubar-footer td {
    
    border-collapse: collapse;
}
 	
 </style>
    

<div class="menubar-footer" id="footerBarId" style="z-index: 1030; width : 100%; position: fixed; bottom: 0; height: 42px; padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px;">       
  		
  		<div class="website-screen-width_dt" style="padding-top: 0px; height: 100%;">
  		 	   
  			<table width = "100%"  height = "100%" border = 0>    
      			<tr>      				
      				<td width="16.66666667" align = left style = "padding: 0;" style = "padding: 0;">    
      					<div class = "footer-bar-image-div-settings" style = "height: 100%; background-color: #8C8585; ">     					
      						    
      					</div>	 					
      				</td>
      				     
      				<td width="16.66666667" align = left style = "padding: 0;" style = "padding: 0;">  
      					 
      				</td>
      			 
      				<td width="16.66666667"  align = right style = "padding: 0;">     
      					<div class = "footer-bar-image-div-settings footer_bar_static_icon"> 	  
      					 
      					</div>	      					
      				</td>  
      				
      				<td width="16.66666667%" align = right style = "padding: 0;">      					
      					<div class = "footer-bar-image-div-settings footer_bar_static_icon"> 	 
      					 
      					</div>	      					
      				</td>
      				
      				<td width="16.66666667%"  align = right style = "padding: 0;"> 
      					<div class = "footer-bar-image-div-settings footer_bar_static_icon"> 
      						 
      					</div>
      						    					
      				</td>
      				
      				<td width="16.66666667%"  align = right style = "padding: 0;">      					
   						<div class = "footer-bar-image-div-settings footer_bar_static_icon">   
   						   
   						</div>   					
      				</td>
      			 
      			</tr>
      		</table>
  			 
  		</div>
	 	 
 </div>
 
  <div id= PROGRESS_BAR style="display: none; position: absolute; top: 0;  z-index: 99999999999; height: 100%; width: 100%; background-color: #000; opacity: .5;">		            			
 	  <img style = "position: absolute; top: 50%; transform: translate(0, -50%);  left:0; right: 0; margin-left: auto; margin-right: auto;" src="/media/images/icons/loading.gif" width="50" max-height="50"/>
 </div>
 
 <script>
 
 	$('.footer_bar_static_icon').on('click', function(){
 		
 		if($(this).hasClass('footer-bar-image-div-bg')) {
 			$('.footer_bar_static_icon').removeClass('footer-bar-image-div-bg');
 		}
 		else {
 			$('.footer_bar_static_icon').removeClass('footer-bar-image-div-bg');
 			$(this).addClass('footer-bar-image-div-bg'); 
 		}  
 		 
 	}); 
 	
 	/* loads COMPOSER*/
 	$('#plus').on('click', function(){
 		  //alert(" Composer in Common.js ...");
 			uniComposeMsg();
 	});   
 	   
 </script>      
 
  
 
 

 
 