		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
         


<div class="row menubar-footer navbar-fixed-bottom container-fluid" id="footerBarId">
	  <div class="footer-container">
	        <div class="col-xs-5" id="left-block">    
	            <a href="/"><img width="28" height="28" src="/media/images/icons/whte-hme.png" /></a>
	            <img width="28" height="28" src="/media/images/icons/wht_wllt.png" />
	         </div>
	        <div class="col-xs-2 text-center" id="d360" >
	            <img width="30" height="30" src="/media/images/icons/whte-sun.png"/>
	        </div>
	        <div class="col-xs-5 text-right" id="right-block">	 
	            <img id="plus" width="28" height="28" src="/media/images/icons/wht-plus.png" />
	            <img  width="28" height="28" src="/media/images/icons/wht_up_arrow.png"/>	  
	        </div>  
	        	        
	 	</div>
	 	
	 	       	 	
 </div>
 
 
  
 <script src="/script/modal/mPopUp_old.js"></script>  