<div class="row top-menubar">
       <!--  <div class="col-xs-2  text-center">
            <span class="glyphicon glyphicon-menu-hamburger menubar-btn"></span>
        </div>
        
        <div class="col-xs-8 text-center">
            <input type="text" class="form-control" placeholder="Search" />
        </div>
        <div class="col-xs-2  text-center">
             <span class="glyphicon glyphicon glyphicon-user text-white"></span>
        </div>    -->
        &nbsp; <br>&nbsp;
 </div> 