<div class="row top-menubar navbar-fixed-top"> 
        <div class="col-xs-2  text-center">
            <span class="glyphicon glyphicon-menu-hamburger menubar-btn blue-on-top-of-earth-color"></span>
        </div>
        
        <div class="col-xs-8 text-center">
            <input type="text" class="form-control" placeholder="Search" />
        </div>
        <div class="col-xs-2  text-center" style="margin-top: 4px;">
            <!--  <span class="glyphicon glyphicon glyphicon-user text-white"></span> -->
            <img width="30" height="30" src="/media/images/icons/logged-in-user-micro-pic-top-right.jpg" />
        </div> 
            
 </div> 
 
 
   <div class="row top-push-zone" style="color:orange; background-color: red; text-align:center; font-size: 12px;">
 			Earn Rs. 3578.00 by referring deals.. <span class="blue-on-top-of-earth-color arrow-link">&gt;&gt;</span>
   </div>
   
 
 
 
 
 
 
       
 
 