
<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>  
<script src="/script/desktop/desktop.js"></script> 
<script src = "/script/common.js"></script>  
<link href="/styles/common.css" rel="stylesheet" /> 
 <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />  

<style>  

    .plain-text-box {
	border: 0px; 
	border-radius: 0px;
	padding: 0 1px 0 1px;
}
  
</style>   


<div id = PROJECT_TOP_MENU_BAR_ID class="top-menubar navbar-fixed-top" style = "position: fixed; z-index: 1030; top:0; left: 0; right: 0 ; padding: 0px; border1: 1px solid red;">  
        
       <div id = PROJECT_TOP_MENU_BAR_CNTNR_ID class="top-menu-container" style = " height: 42px; margin: 0; padding-left: 0; padding-right: 0; border1: 1px solid green;">
       		<div class="top-menu-content website-screen-width_dt" style = "height: 100%;"> 
       			<table width = "100%"  height = "100%"> 
       			 	 
       				   <tr>
       				   		<td valign = middle>
       				   		   				   		 
       				   		</td>   
       				   	    <td valign = top width = "66%" align = center> 	 
	       				   		 <table width = "100%" height = "100%" style = "border-collapse: collapse; padding: 0px;">
	       				   		 	<tr>
	       				   		 		<td valign = middle style = "padding: 0;">
	       				   		 			 
	       				   		 		</td>
	       				   		 		<td valign = middle style = "padding: 0;">	 
	       				   		 			 	    				    				   		 			  
	       				   		 		</td>   
	       				   		 	</tr>
	       				   		 </table>    
       				   		</td>   
       				   		<td align = right valing = middle>    
       				   			 <span class="menubar-btn blue-on-top-of-earth-color">
					         		<!-- <img  id= PEOPLE_FINDER_ICON width="30px" height="30px" src="/media/images/icons/white-portals.png" /> -->
					         		 <img  id= PEOPLE_APP_ICON width="30px" height="30px" src="/media/images/icons/white-portals.png" onclick = "loadPeopleApp($('#CONTENT_HEADER_BAR'))"/> 
					        	 </span>
       				   		</td> 
       				   </tr>
       				 
       				</table>  
	       	</div> 
       </div> 
       
       <div id = PROJECT_TOP_MENU_BAR_PUSH_ZONE_ID  class="row top-push-zone" style="color:#D7D7D7;font-size: 12px; margin: 0px;">         
       		 
   	   </div>  
        
 </div>     
   
 <div id = CONTENT_HEADER_BAR class = "common-page-header-bar website-screen-width_dt" style = "display: none; position: relative;">
 </div>
 
 
  
  
  
 
 
 
      
 
 
 
 
 
 
       
 
 