<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>  
 
<link href="/styles/common.css" rel="stylesheet" /> 


<div id = PROJECT_TOP_MENU_BAR_ID class="row top-menubar navbar-fixed-top" style = "margin: 0px; padding: 0px;"> 
       <div id = PROJECT_TOP_MENU_BAR_CNTNR_ID class="row top-menu-container" style = "margin: 0; padding-left: 0; padding-right: 0;">
       		<div class="top-menu-content website-screen-width_dt">
       		
		       		<div class="col-xs-2" style = "display: inline-block; padding-left: 0px;" >		  	        
			            <img  id= MASTER_MENU_ICON style="width: 30px; height: 30px;" src="/media/images/icons/3lines-menu.png" />
			        </div>  
	 
			        <div class="col-xs-8 text-center searchCol">
			        
			        	<div class="input-group">      
			            	<input type="text" class="form-control searchBox" placeholder="Search" />
			            	<span class="input-group-btn">
								<button class="btn" type="button" id="searchBtnId"><span class="glyphicon glyphicon-search searchIcon"></span></button>
							</span>
			            </div><!-- input-group ends -->    
			            
			        </div> <!-- col-xs-8 ends -->       
			        
			        <div class="col-xs-2" style = "padding-right: 0px; text-align: right;">   
			         <span class="menubar-btn blue-on-top-of-earth-color">
			         	<img  id= PEOPLE_FINDER_ICON width="30px" height="30px" src="/media/images/icons/white-portals.png" /> 
			         </span>
			           <!--  <span class="menubar-btn blue-on-top-of-earth-color"><img class="img-responsive center-block" id="settingsImage" width="30px" height="30px" src="/media/images/icons/settings.png" /></span> -->
			        </div>
	       	 </div><!-- top-menu-content Ends --> 
       </div><!-- top-menu-container ends -->   
       
       <div id = PROJECT_TOP_MENU_BAR_PUSH_ZONE_ID  class="row top-push-zone" style="color:#D7D7D7;font-size: 12px; margin: 0px;">         
       		<div class="pushContainer website-screen-width_dt" style="position: relative;">
       			<div id="leftBlock" style= "">   
	 				<!-- <img  height="15" width="17" class="pull-left" style="margin-right: 10px; margin-top: 3px" src="/media/images/icons/deals.png" /> -->
	 				<img id="offersIcon" height="17" width="17" class="pull-left" style="margin-right: 10px; margin-top: 5px" src="/media/images/icons/done.png" />
	 				<div style="display:inline-block;"> 3578/- of referrals, 29317/- of discounts.. <span class="blue-on-top-of-earth-color arrow-link">&gt;&gt;</span></div>
	 				
	 			<span id="no-of-notification" class="pull-right" style="position:absolute; top: 4px; color:white; font-family: 'Arial Narrow'">63</span>
	 			<img id="notificationIcon" height="20" width="20" class="pull-right" src="/media/images/icons/notifications-pushes-green.png"  style="margin-top: 2px" /> <!-- onclick="javascript:displayNotificationPopUpMenu(event);"/> -->	 
	 			</div>   
	 						
 			</div> 
   	   </div>  
            
 </div>    
 
 <div id = CONTENT_HEADER_BAR class = "common-page-header-bar website-screen-width_dt" style = "display: none; position: relative;">
 	<div id = "CONTENT_HEADER_BAR_RT_ICON" style = "display:none; height: 30px; top: 0; position: absolute; right: 0;"><img src = "/media/images/icons/plainblack/3lines-thin-menu-blk.png" width = 30px; height = 30px;" onClick = "javascript: iconsMenuLauncherClickHandler('CONTENT_HEADER_BAR_RT_ICON');"/></div>
 </div>
  
  
  <script src="/script/common.js"></script> 

  
   
<% include ../modal/notificationPopUp.ejs %>    
<% include ../modal/peopleFinder.ejs %>
<% include ../modal/masterMenu.ejs %> 
 
 
   
   
 
 
 
 
 
 
       
 
 