<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
      
    <title>Aak-Box</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />  
    <link href="/styles/viewAak/viewAak.css" rel="stylesheet"/>        
    

  </head>  
  <body>     
      <% include ../partials/top_menu_bar.ejs %>
    
    
      
      <div class="aak-view commonScreenSetting" style = "padding: 0px; position: relative;">       
       
      	<div class="grey-title-bar"  style=" width: 100%; font-size: 14px; font-weight: bold; border-top: 3px solid #558ED5;">  
      	
      		<table width = 100% border = 0>
      			<tr>      				
      				<td valign = middle align = left>      					
      						&nbsp;<img  style="" width="20" height="20" src="/media/images/icons/read-aak.png" />&nbsp;
      						<font>Alliance proposal - ref. shadhi.com ..</font>      					
      				</td>
      				<td width = 44>
      					<a href="/profile/view/mahika"><img  width="43" height="43" src="/media/images/aakBox/Katrina.jpg" /> </a>
      				</td>
      			</tr>
      		</table>
      	 
        </div>
         
        <div style = "padding: 0px 4px 44px 4px; ">
        
        	  <div id= ORG_ESTATE_SLIDING_MENU_BAR_CONTAINER>    
					<div id= ORG_ESTATE_SLIDING_MENU_BAR>  				 
						 <div class="ORG_ESTATE_SLIDER_ITEM" style="color: fff; width1: 30%;"><b>Reply</b> 
						</div>
						<div class="ORG_ESTATE_SLIDER_ITEM"  style= "width1: 30%;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reply All	</b>		
						</div>  
						<div class="ORG_ESTATE_SLIDER_ITEM" style= "width1: 40%;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forward	</b>				 
						</div>
					     
					</div>      
					
				<!-- 	<div id = ORG_ESTATE_SLIDING_MENU_ICON_CONTAINER style= "">
						<img id= ORG_ESTATE_SLIDING_MENU_ICON  class="leftArrow" style= "float: right;"  height="34px" src="/media/images/icons/arrow-left-xxl.png"/>
					</div>
			 	-->  
			  </div>    
        
	        	<div style="margin-top: 7px;  box-shadow: 0px 0px 5px #888888; padding: 3px 5px 2px 5px;">
	        	
		        		<p><font color=#000><b>Deb!</b></font></p>
						<p>Like i said before, i am ok with your passion for KARMA and PURPOSE.</p>
						<p>I wont come in the way as my research says you have been an extra-ordinary ROPE  WALKER </p>
						
								
						<br><font color=#000>
						<b>Lets talk tonight<br>
						<i>Kari :) </i></b></font>
		        		
		        	   </p>
	        	 
	       	    </div>
		       	 
		       	 
		       	 <div style="margin-top: 7px;  box-shadow: 0px 0px 5px #888888; padding: 3px 5px 5px 5px;">
		        	
		        		
		        	<div  class="common-dark-grey-btn" style=" width: 100%;  height: 23px;  margin-bottom: 2px;">
		       			Attachment(s)
		       		 </div>
		       	 </div>
       	 
		       	  <div style="margin-top: 7px;  box-shadow: 0px 0px 5px #888888; padding: 3px 5px 5px 5px;">
		        	
		        		
		        	<div  class="common-dark-grey-btn" style=" width: 100%;  height: 23px;  margin-bottom: 2px;">
		       			Full Conversation
		       		 </div>
		       	 </div>
          
        </div>
        
        
        
      </div>
      
     <% include ../partials/footer_bar.ejs %>   
     
     
     
     <script src="/script/common.js"></script>  
    <script src="/script/viewAak/viewAak.js"></script>  
  </body>
</html>