<style>
	#CONTAXONOMY_MODAL {
		display: block;
		position: fixed;
		top: 0;
		z-index: 99999;
		
		height : 100%;
		width: 100%;
		left: 0;
		right: 0;
		  
		margin-left: auto; 
		margin-right: auto;
		
		backround-color: #000;
	}
	
	.contagxonmy-title-bar {
		background: -webkit-linear-gradient(#696969,#3f3f3f);
		background: -o-linear-gradient(#696969,#3f3f3f);
		background: -moz-linear-gradient(#696969,#3f3f3f);
		background: linear-gradient(#696969,#3f3f3f); 
		height: 35px; 
		color: #FFF;
		border-top: 4px solid #95B3D7;
	}
	
	.arow-lft-tagxonmy-lvl1-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #4d4949; 
  
  
	}
	
	.arow-lft-tagxonmy-lvl2-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #696969;
	  
	}
	
	.arow-lft-tagxonmy-lvl3-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #8c8585;
	  
	}
	
	.float-left {
		float: left;
	}
	
	.float-right {
		float: right;
	}
		

   
</style>


<div id = CONTAXONOMY_MODAL style = "background-color: rgba(0,0,0,0.6);">	 	 
	<div id = CONTAXONOMY_CONTAINER  class = "website-screen-width_dt" style = "background-color: #f2f2f2; height: 100%;" >		 
		  <div  class="contagxonmy-title-bar">  
		      <div style = "display: inline-block; font-size: 22px; margin-top: 8px; padding-left: 2px; "><span style = "font-family: Arial; color: #95B3D7;"><b>my</b></span></div><div style = "display: inline-block; font-size: 22px; vertical-align: top; margin-top: 2px; font-family: Sans Serif; color: #dcdcdc;">Contagxonomy<img style = "margin-bottom: 8px;" id = CONTAXONOMY_MIN_ICON width="24" height="24" src="/media/images/icons/add-audience.png" /> </div>  				  
		  </div>	
		  
		  
		  
		  <div style = "background-color: #fff; height: 35px; position: relative; "> 		&nbsp;
		  	  <div id = CONTAXONOMY_CONNECTIONS class = "float-left" style = "vertical-align: top; display: inline-block; text-align: center; ">
		  		<img   width="24" height="24" src="/media/images/icons/add-2-contaxonomy-blk.png" />
		  		<span style = "display: block; color: #77933C; line-height:.5;">Connections</span> 
		  	  </div>  
		  	  
		  	  <div id = CONTAXONOMY_GROUPS class = "float-right" style = "vertical-align: top; display: inline-block; text-align: center;"> 
		  		<img   width="24" height="24" src="/media/images/icons/crowd-black.png" />
		  		<span style = "display: block; line-height:.5;">Groups</span>
		  	  </div>
		  	  
		  	  
	   
		  	  <div style = "position: absolute; left: 50%; transform: translateX(-50%); display: inline-block;  top: 2px;;   height: 50px; ">
				 
				   		 
						<div id= CONTAXONOMY_SEARCH_BOX class="input-group" style = "vertical-align: top; width: 180px;" >      
						       <input style="border: 1px solid green;" type="text" class="form-control searchBox" placeholder="Search for more than 18,000 products..." />
						           <span class="input-group-btn">
										<button class="btn" type="button" id="searchBtnId" style="background-color: green;"><span class="glyphicon glyphicon-search searchIcon"></span></button>
									</span>
						 </div><!-- input-group ends -->
					  
				
		   		
		  		 </div>
	  	 
		  	       
		   </div>
		   
		   
		   
		  
		  			
		  <div id = CONTAXONOMY  style = "background-color: #f2f2f2; border-left:  2px dashed #95B3D7 ; height: 100%; margin-left: 10px; ">
		  	 &nbsp;
		 	 <div id = CONTAXONOMY_OPTIONS style = "margin-top: 50px; width:100%; padding-right: 2px;">
		 	 	 
		 	 </div>
		  </div>
    </div>		 
    
 
    
</div> <!--  CONTAXONOMY_MODAL ends -->
 
 
 
 
 

<script>
/*	var contaxonomyTagOptions = [
			{
				"Acquaintances" : { "Interests" : ['Swimming'],
									"Causes"	: []
					
								 }
			}
			
		];

	*/
	
	/* var contaxonomyTagOptions = {
			"Acquaintances" : { 
								"Interests" : ["Swimming"],
								 "Causes"	: []
								 
							  },
							  
							  
			"Business"	:     {
				
							  }
			
	}
	*/
	
	
 function contaxonomyConnections() {	
	
	var contaxonomyTagOptions = [  
	                               {
	                            	   'id' : 'CLOSE_FRIENDS',
	                            	   'name' : "Close Friends"
	                            	 
	                            	   
	                               },	                               
	                               {
	                            	   'id' : 'FRIENDS',
	                            	   'name' : "Friends"
	                               },
	                               
	                               {
	                            	   'id' : 'COWORKERS',
	                            	   'name' : "Co-workers"
		                           },
		                           
		                           {
		                        	   'id' : 'ACQUINTANCES',
		                        	   'name' : "Acquaintances",
			                           'childs' : [
			                                {
			                            	 'id' : 'ACQUINTANCES_INTERESTS',
			                            	 'name' : 'Through Interests',
			                            	 'childs' : [{
				                            	 'id' : 'ACQUINTANCES_INTERESTS_SWIMMING',
				                            	 'name' : 'Swimming'
					                            },
					                            {
					                                'id' : 'ACQUINTANCES_INTERESTS_TREKKING',
					                            	'name' : 'Trekking'
					                            }]
				                            },
				                            {
				                                'id' : 'ACQUINTANCES_CAUSES',
				                            	'name' : 'Through Causes'
				                            }
			                           ]
			                       },
			                       
			                       {
			                    	   'name' : "Business"
				                   },
				                   
				                   {
				                	   'name' : "Service"
				                   },
	                             
	                             
	                             ];
	
	var tempElementString = "";
	var tempChildElements = null;
	var catLooper = 0;
	contaxonomyTagOptions.forEach(function(element) {
		
		tempElementString = "<div><div style = 'background-color: #4D4949; margin-bottom: 5px; height: 35px;'>";
		
		tempElementString = tempElementString + "<span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #f2f2f2'><b>- - </b></span>";
		tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #dcdcdc; '>";
		tempElementString = tempElementString + element.name;
		tempElementString = tempElementString + "</span></div>";
		
		if(element.childs) {			
			element.childs.forEach(function(level2Element) {
				//tempElementString = tempElementString + "LEVEL2-" + catLooper++;
				tempElementString = tempElementString + "<div style = 'background-color: #4D4949; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #f2f2f2'><b>- - -</b></span>;"  
				tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #dcdcdc; '>";
				tempElementString = tempElementString + level2Element.name;
				tempElementString = tempElementString + "</span></div>";
				
				if(level2Element.childs) {			
					level2Element.childs.forEach(function(level3Element) {
						//tempElementString = tempElementString + "LEVEL3-" + catLooper++;
						tempElementString = tempElementString + "<div style = 'background-color: #4D4949; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #f2f2f2'><b>- - - - - -</b></span>"  
						tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #dcdcdc; '>";
						tempElementString = tempElementString + level3Element.name;
						tempElementString = tempElementString + "</span></div>";
					});
				} 
			});
		} 
		

		
		//loop and append Child 
		
		//tempChildElements = element.childs.length
		
		tempElementString = tempElementString + "</div>";
		
		
		 
		
	/*	tempElementString = "<div>";
		tempElementString = "<span style='display: inline-block; color: #B8B4B4; width: 2%;'><b>- - </b></span>";
		tempElementString = tempElementString + "<span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 90%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		tempElementString = tempElementString + element.title ;
		tempElementString = tempElementString + "</span>"; 
		tempElementString = tempElementString + "</div>";
		 
	*/
		  
		
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		//$('#CONTAXONOMY_OPTIONS').append($("<br/>"));
		
		
		
		
		
		
		
//		tempElementString = tempElementString + "<table width=100%><tr>";
		//tempElementString = "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - </b></span></td>";
		//tempElementString = tempElementString + "<td width=620 valign=middle><span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc;'>";
		//tempElementString = tempElementString + element.title ;
		//tempElementString = tempElementString + "</span></td>";
		//tempElementString = tempElementString + "</tr></table>";
	});
	
}
	
	contaxonomyConnections();
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* ---------        Toogles between Connections and Groups ---------- */
	$('#CONTAXONOMY_CONNECTIONS').on('click', function() {
		toggleContaxonomyConsGroups();
		contaxonomyConnections();
		 
	});
	
	$('#CONTAXONOMY_GROUPS').on('click', function(){
		toggleContaxonomyConsGroups();
		$('#CONTAXONOMY_OPTIONS').html("");
		 
	});
	
	function toggleContaxonomyConsGroups() {
		//alert("Connections");
		$('#CONTAXONOMY_CONNECTIONS').toggleClass('float-right','float-left');
		$('#CONTAXONOMY_GROUPS').toggleClass('float-right','float-left');
	}
	/* ------------------------------------------------   */
	
	//
	$('#CONTAXONOMY_MIN_ICON').on('click', function() {
		$('#CONTAXONOMY_MODAL').hide();
		
	});
	
	 
	
	function firstWithDivAndTablePlusTriangle() {
		var tempElementString = "";
		//tempElementString = "<div>";
		
		tempElementString = tempElementString + "<table width=100%><tr>";
		
		//tempElementString = "<span style='color: #B8B4B4;'><b>- - </b></span>";
		tempElementString = "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - </b></span></td>";
		
		tempElementString = tempElementString + "<td valign=middle><div class='arow-lft-tagxonmy-lvl1-grey'></div></td>";
		
		//tempElementString = tempElementString + "<span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title ;
		//tempElementString = tempElementString + "</span>";
		
		tempElementString = tempElementString + "<td width=620 valign=middle><span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title ;
		tempElementString = tempElementString + "</span></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		$('#CONTAXONOMY_OPTIONS').append($("<br/>"));

		tempElementString = "";		
		tempElementString = tempElementString + "<table><tr>";
		
		//tempElementString = tempElementString + "<br/>";		
		//tempElementString = tempElementString + "<span style='color: #B8B4B4;'><b>- - - - </b></span>";
		
		tempElementString = tempElementString + "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - - - </b></span></td>";
		
		
		tempElementString = tempElementString + "<td valign=middle align=left><div class='arow-lft-tagxonmy-lvl2-grey'></div></td>";
		
		//tempElementString = tempElementString + "<div style = 'display: inline-block; vertical-align: middle; background-color: #696969; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title + " Child1";
		//tempElementString = tempElementString + "</div>";
		
		tempElementString = tempElementString + "<td valign=middle width=600><div style = 'display: inline-block; vertical-align: middle; background-color: #696969; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title + " Child1";
		tempElementString = tempElementString + "</div></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		$('#CONTAXONOMY_OPTIONS').append($("<br/>"));
		
		//tempElementString = tempElementString + "<br/>";
		
		tempElementString = "";		
		tempElementString = tempElementString + "<table><tr>";
		
		//tempElementString = tempElementString + "<span style='color: #B8B4B4;'><b>- - - - - - </b></span>";
		tempElementString = tempElementString + "<td><span style='color: #95B3D7; font-size: 15px;'><b>- - - - - - </b></span></td>";
		
		//tempElementString = tempElementString + "<div class='arow-lft-tagxonmy-lvl3-grey'></div>";
		tempElementString = tempElementString + "<td valign=middle align=left><div class='arow-lft-tagxonmy-lvl3-grey'></div></td>";
		
		//tempElementString = tempElementString + "<div style = 'display: inline-block; vertical-align: middle; background-color: #8C8585; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title + " Child1 Child1";
		//tempElementString = tempElementString + "</div>";
		
		tempElementString = tempElementString + "<td valign=middle width=570><div style = 'display: inline-block; vertical-align: middle; background-color: #8C8585; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title + " Child1 Child1";
		tempElementString = tempElementString + "</div></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		
		//tempElementString = tempElementString + "</div><br/>";
		
		$('#CONTAXONOMY_OPTIONS').append($("<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>"));
	}
  
	 
			
	
			
		
		
 
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
   
	


</script>