<style>
	#CONTAXONOMY_MODAL {
		display: none;
		position: fixed;
		top: 0;
		z-index: 99999;
		
		height : 100%;
		width: 100%;
		left: 0;
		right: 0;
		  
		margin-left: auto; 
		margin-right: auto;
		
		backround-color: #000;
	}
	
	.contagxonmy-title-bar {
		background: -webkit-linear-gradient(#696969,#3f3f3f);
		background: -o-linear-gradient(#696969,#3f3f3f);
		background: -moz-linear-gradient(#696969,#3f3f3f);
		background: linear-gradient(#696969,#3f3f3f); 
		height: 40px; 
		color: #FFF;
		
	}
	
	.arow-lft-tagxonmy-lvl1-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #4d4949; 
  
  
	}
	
	.arow-lft-tagxonmy-lvl2-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #696969;
	  
	}
	
	.arow-lft-tagxonmy-lvl3-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #8c8585;
	  
	}
	
	.float-left {
		float: left;
	}
	
	.float-right {
		float: right;
	}
	
	.text-green {
		color: #91CC18;
	}
	
	.text-blue {
		color: #008CC9;
	}	

   
</style>


<%
	var contaxonomyGroups = [  
	                               {
	                            	   'id' : 'CLOSE_FRIENDS',
	                            	   'name' : "Learning, Studies, Education"
	                            	 
	                            	   
	                               },	                               
	                               {
	                            	   'id' : 'FRIENDS',
	                            	   'name' : "Job, Profession, Career, Business"
	                               },
	                               
	                               {
	                            	   'id' : 'COWORKERS',
	                            	   'name' : "Personal Development, Attitude"
		                           },
		                           
		                           {
		                        	   'id' : 'ACQUINTANCES',
		                        	   'name' : "Money, Finances",
			                           'childs' : [
			                                {
			                            	 'id' : 'ACQUINTANCES_INTERESTS',
			                            	 'name' : 'Through Interests',
			                            	 'childs' : [{
				                            	 'id' : 'ACQUINTANCES_INTERESTS_SWIMMING',
				                            	 'name' : 'Swimming'
					                            },
					                            {
					                                'id' : 'ACQUINTANCES_INTERESTS_TREKKING',
					                            	'name' : 'Trekking'
					                            }]
				                            },
				                            {
				                                'id' : 'ACQUINTANCES_CAUSES',
				                            	'name' : 'Through Causes'
				                            }
			                           ]
			                       },
			                       
			                       {
			                    	   'name' : "Family, Relationships"
				                   },
				                   
				                   {
				                	   'name' : "Legal"
				                   },
				                   
				                   {
				                	   'name' : "Health"
				                   },
				                   
				                   {
				                	   'name' : "Wellness, Welfare"
				                   },
				                   
				                   {
				                	   'name' : "Community, Friends"
				                   },
				                   
				                   {
				                	   'name' : "Spiritual, Karma"
				                   },
				                   
				                   {
				                	   'name' : "Hobbies, Activities, Leisure"
				                   },
	                             
	                               {
				                	   'name' : "Lifestyle, Fashion"
				                   },
				                   {
				                	   'name' : "Food"
				                   }
	                             
	                             ];
	
%>





<div id = CONTAXONOMY_MODAL style = "background-color: rgba(0,0,0,0.6);"  tabindex="0">	 
 
	 
	<div id = CONTAXONOMY_CONTAINER  class = "website-screen-width_dt" style = "background-color: #fff; height: 100%; position: relative;" >	
				 
		  <div  id = AD_PERSON class="contagxonmy-title-bar" style = "display: none;">  
		       <div style = "display: inline-block; font-size: 22px; margin-top: 4px; padding-left: 2px; "><span style = "font-family: Arial; color: #98BF49;"><b>my</b></span></div><div style = "display: inline-block; font-size: 20px; vertical-align: top; margin-top: 2px; font-family: Sans Serif; color: #dcdcdc;">Contagxonomy<img style = "margin-bottom: 8px;" id = CONTAXONOMY_MIN_ICON width="24" height="24" src="/media/images/icons/add-audience.png" /> </div>  
		     <!--    
		      <div id = CONTAX_APPLIED_AUDIENCE style = "display: none; border: 2px solid #fff;"> Applied Audience</div>
	 		  <div id = CONTAX_CONT_CONS  style = "display: none; border: 2px solid #fff;">Contacts, Connections</div>
	 		  <div id = CONTAX_GROUPS style = "display: none; border: 2px solid #fff;">Groups</div>  
	 		 --> 
	 		  <div style = "float: right; margin-right: 3px; color: #95B3D7; margin-top: 5px; "><b>+ New</b></div>
		     		  
		  </div>	
		 
		 <!-- for AakComposer Context -->   
		  <div  id = CONTAGXONOMY_AK_COMPOSER class="contagxonmy-title-bar" style = "display: none;">  
		       <table width = "100%" height = "100%">  
		       	  <tr> 
		       	   <td tabindex="2" align = center valign = middle style = "background-color:#77933C; border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">    
				      <div id = CONTAX_APPLIED_AUDIENCE_BTN style = "cursor: pointer; font-size:11px; display: inline-block; font-weight: bold;">Audience</div>
				   </td >
			 	   <td tabindex="3" align = center valign = middle style = "border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">
			 		  <div id = CONTAX_CONT_CONS_BTN  style = "cursor: pointer; font-size:11px; display: inline-block; ">My Connections</div>
			 	   </td>
			 	   <td tabindex="4" align = center valign = middle style = "border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">
			 		  <div id = CONTAX_GROUPS_BTN style = "cursor: pointer; font-size:11px; display: inline-block; ">My Groups</div>
			 	   </td>  
			 	    <td tabindex="5" align = center valign = middle class = "contagxonomy-ak-composer-title-bar-tab">
			 		  <div id = CONTAX_PPL_FINDER_BTN style = "cursor: pointer; font-size:11px; display: inline-block; ">Rest of the world</div>
			 	   </td>  
		 		  </tr>
	 		  	</table>
		  </div>	
		  
		  
		  
		  
		  <div  id = CONTAX_SRCH_BAR style = "background-color: #fff; height: 50px; position: relative; padding-left: 3px; padding-right: 3px; border-bottom: 0px solid #f2f2f2;"> 		&nbsp;
		  	  <div id = CONTAXONOMY_CONNECTIONS class = "float-left text-green" style = "vertical-align: top; display: inline-block; text-align: center; margin-top: 9px; ">
		  		<img   width="24" height="24" src="/media/images/icons/add-2-contaxonomy-blk.png" />
		  		<span style = "display: block;  line-height:.5; font-size: 12px;"><b>Contacts</b></span> 
		  	  </div>  
		  	  
		  	  <div id = CONTAXONOMY_GROUPS class = "float-right text-blue" style = "vertical-align: top; display: inline-block; text-align: center; margin-top: 9px;"> 
		  		<img   width="24" height="24" src="/media/images/icons/crowd-black.png"/>
		  		<span style = "display: block; line-height:.5; font-size: 12px;"><b>Groups</b></span>
		  	  </div>
		  	  
		  	  
	   
		  	  <div style = "position: absolute; left: 50%; transform: translateX(-50%); display: inline-block;  top: 7px;   height: 50px; ">
				 
				   		 
						<div id= CONTAXONOMY_SEARCH_BOX class="input-group" style = "width: 160px;" >      
						       <input style="border: 1px solid #ADAAAA;" type="text" class="form-control searchBox" placeholder="" />
						           <span class="input-group-btn">
										<button class="btn" type="button" id="searchBtnId" style="background-color: #ADAAAA;"><span class="glyphicon glyphicon-search searchIcon"></span></button>
									</span>
						 </div><!-- input-group ends -->
		   		
		  	  </div>
	  	 
		  	       
		   </div>
		   
		   		   
		  
		  			
		  <div id = CONTAXONOMY  style = "background-color: #fff;  height: 100%; positon: relative;'">
		  
		  	 <!--  <div style = "background-color: #3f3f3f; color: #D1B4A5; font-size: 15px; text-align: center; padding: 4px 0px 0px 0px; border-radius: 3px; margin-top: 12px; height: 30px; width: 250px; margin-left: auto; margin-right: auto;">
				Select all in my Contagxonomy<b>!</b>
		   		  
		   	</div> -->
			 	 <div id = CONTAXONOMY_OPTIONS style = "margin-top: 20px; width:100%; padding-right: 5px;">
			 	 	
			 	 	<div id = CONTAXONOMY_OPTIONS_CONS_CNTNR style = "display: block;">
			 	 	
			 	 	</div>
			 	 	
			 	 	<div id = CONTAXONOMY_OPTIONS_GRPS_CNTNR style = "display: none;">
			 	 	
			 	 	</div>
			 	 	
			 	 	<div id = CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR style = "display: none;">
			 	 	
			 	 	</div>
			 	 	
			 	 	<div id = CONTAX_PPL_FINDER_CNTNR style = "display: block;">
			 	  
			 	 	</div>
			 	 	 
			 	 </div>
		 	
		  </div>
		  
		  
		   <div style = "position: absolute; font-size: 15px; bottom: 0px; height: 42px; width: 100%; background: linear-gradient(#344C15,#698A25);	 color: #fff; padding-top: 7px;">
		   				<center> 
		   						<div  style = "cursor: pointer; display: inline-block; height: 30px;  margin-right: 20px;" onclick = "populateAudience();">OK</div>  
		   						<div style = "cursor: pointer; display: inline-block;  height: 30px;"  onclick = "hideContaxonomyModal();">Cancel</div>
		   				</center>
		    </div>
		    
		   
		  
    </div>		 
    
    
    
 
    
</div> <!--  CONTAXONOMY_MODAL ends -->
 
 
<script>

	$('.contagxonomy-ak-composer-title-bar-tab').on('click', function() {
		$('.contagxonomy-ak-composer-title-bar-tab').css('background-color','');
		$(this).css('background-color','#77933C');
		
	}); 


/*	--		Hiding PopUp on esc						-- */	
	$('#CONTAXONOMY_MODAL').focus();
	
	
	
	
	
	
 
 	var contaxGroupsCalled = false;
	function getContaxonomyGroups() { 
		 
	   if(!contaxGroupsCalled) {
				var xhr = new XMLHttpRequest();
				
				xhr.onload = function() {  
					if(xhr.status === 200) { 
						console.log("Status  == 200");
						//$('#PROFILE_ASPECT_CONTAINER').html(xhr.responseText);
						$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').append(xhr.responseText);
						
						contaxGroupsCalled = true;
					}
					else {
						console.log("Status == " + xhr.status);  
					}
				}
				
				 xhr.open('GET','/contaxonomyGroups', true);         
				 xhr.send(null); 
		 }
	
	};
	
	
	
 function contaxonomyConnections() {	
	
	var contaxonomyTagOptions = [  
	                               {
	                            	   'id' : 'CLOSE_FRIENDS',
	                            	   'name' : "Close Friends"
	                            	 
	                            	   
	                               },	                               
	                               {
	                            	   'id' : 'FRIENDS',
	                            	   'name' : "Friends"
	                               },
	                               
	                               {
	                            	   'id' : 'COWORKERS',
	                            	   'name' : "Co-workers"
		                           },
		                           
		                           {
		                        	   'id' : 'ACQUINTANCES',
		                        	   'name' : "Acquaintances",
			                           'childs' : [
			                                {
			                            	 'id' : 'ACQUINTANCES_INTERESTS',
			                            	 'name' : 'Through Interests',
			                            	 'childs' : [{
				                            	 'id' : 'ACQUINTANCES_INTERESTS_SWIMMING',
				                            	 'name' : 'Swimming'
					                            },
					                            {
					                                'id' : 'ACQUINTANCES_INTERESTS_TREKKING',
					                            	'name' : 'Trekking'
					                            }]
				                            },
				                            {
				                                'id' : 'ACQUINTANCES_CAUSES',
				                            	'name' : 'Through Causes'
				                            }
			                           ]
			                       },
			                       
			                       {
			                    	   'name' : "Business"
				                   },
				                   
				                   {
				                	   'name' : "Service"
				                   },
	                             
	                             
	                             ];
	
	var tempElementString = "";
	var tempChildElements = null;
	var catLooper = 0;
	contaxonomyTagOptions.forEach(function(element) {
		
		//tempElementString = "<div><div style = 'background-color: #80A2CF; margin-bottom: 5px; height: 35px;'>";
		tempElementString = "<div><div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'>";
		
		tempElementString = tempElementString + "<span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff;'><b>&nbsp;</b></span>";
		tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #696969;'>";
		tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b>" + element.name;
		tempElementString = tempElementString + "</b></span></div>";
		
		if(element.childs) {			
			element.childs.forEach(function(level2Element) {
				//tempElementString = tempElementString + "LEVEL2-" + catLooper++;
				//tempElementString = tempElementString + "<div style = 'background-color: #A6C0E3; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>- -</b></span>";
				tempElementString = tempElementString + "<div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>";
				tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle; margin-bottom: 2px; height: 35px; color: #696969; '>";
				tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b>" + level2Element.name;
				tempElementString = tempElementString + "</b></span></div>";
				
				if(level2Element.childs) {			
					level2Element.childs.forEach(function(level3Element) {
						//tempElementString = tempElementString + "LEVEL3-" + catLooper++;
						//tempElementString = tempElementString + "<div style = 'background-color: #7C8DA3; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>- - - </b></span>";  
						tempElementString = tempElementString + "<div style = 'background-color: #fff; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>";
						tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #696969; '>";
						tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b>" + level3Element.name;
						tempElementString = tempElementString + "</b></span></div>";
					});
				} 
			});
		} 
		

		
		//loop and append Child 
		
		//tempChildElements = element.childs.length
		
		tempElementString = tempElementString + "</div>";
		
		
		 
		
	/*	tempElementString = "<div>";
		tempElementString = "<span style='display: inline-block; color: #B8B4B4; width: 2%;'><b>- - </b></span>";
		tempElementString = tempElementString + "<span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 90%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		tempElementString = tempElementString + element.title ;
		tempElementString = tempElementString + "</span>"; 
		tempElementString = tempElementString + "</div>";
		 
	*/
		  
		
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').append($(tempElementString));
		//$('#CONTAXONOMY_OPTIONS').append($("<br/>"));
		
		
		
		
		
		
		
//		tempElementString = tempElementString + "<table width=100%><tr>";
		//tempElementString = "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - </b></span></td>";
		//tempElementString = tempElementString + "<td width=620 valign=middle><span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc;'>";
		//tempElementString = tempElementString + element.title ;
		//tempElementString = tempElementString + "</span></td>";
		//tempElementString = tempElementString + "</tr></table>";
	});
	
}
	
	contaxonomyConnections();
	
	 
	
	
	/* ---------        Toogles between Connections and Groups ---------- */
	$('#CONTAXONOMY_CONNECTIONS').on('click', function() {
		toggleContaxonomyConsGroups();
		//manageContaxOptionsDisplay($(this));
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').show();
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
		 
		contaxonomyConnections();
		 
	});  
	
	
	$('#CONTAXONOMY_GROUPS').on('click', function(){
		toggleContaxonomyConsGroups();
		//$('#CONTAXONOMY_OPTIONS').html("");
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').show();
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();		
		$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
		
		getContaxonomyGroups();
		 
	});
	
	$('#CONTAX_APPLIED_AUDIENCE_BTN').on('click', function(){
		toggleContaxonomyConsGroups();
		//$('#CONTAXONOMY_OPTIONS').html("");
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();		
		$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
		$('#CONTAX_SRCH_BAR').hide(); 
		
		//getContaxonomyGroups();
		 
	});
	
	

	$('#CONTAX_CONT_CONS_BTN').on('click', function(){
		$('#CONTAXONOMY_CONNECTIONS').trigger('click');
	});
	
	$('#CONTAX_GROUPS_BTN').on('click', function(){
		$('#CONTAXONOMY_GROUPS').trigger('click');
	});
	
	$('#CONTAX_PPL_FINDER_BTN').on('click', function() {
		//alert("ppp");
		$('#CONTAX_PPL_FINDER_CNTNR').append($('#PEOPLE_FINDER_CONTENT'));
	});
	
	
	
	
	function toggleContaxonomyConsGroups() {
		 
		var contaxonomyConnections = $('#CONTAXONOMY_CONNECTIONS');
		var contaxonomyGroups = $('#CONTAXONOMY_GROUPS');
		
		contaxonomyConnections.toggleClass('float-right float-left');
		contaxonomyGroups.toggleClass('float-right float-left');  
		
		if(contaxonomyConnections.hasClass('float-left')) {
			contaxonomyConnections.prop('disabled', true);
		}
		
		contaxonomyConnections.toggleClass('text-green text-blue');
		contaxonomyGroups.toggleClass('text-green text-blue');
		//$('#CONTAXONOMY_CONNECTIONS').toggleClass('float-right','float-left');
		//text-green
	}
	/*
	*
	*/
	function firstWithDivAndTablePlusTriangle() {
		var tempElementString = "";
		//tempElementString = "<div>";
		
		tempElementString = tempElementString + "<table width=100%><tr>";
		
		//tempElementString = "<span style='color: #B8B4B4;'><b>- - </b></span>";
		tempElementString = "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - </b></span></td>";
		
		tempElementString = tempElementString + "<td valign=middle><div class='arow-lft-tagxonmy-lvl1-grey'></div></td>";
		
		//tempElementString = tempElementString + "<span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title ;
		//tempElementString = tempElementString + "</span>";
		
		tempElementString = tempElementString + "<td width=620 valign=middle><span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title ;
		tempElementString = tempElementString + "</span></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		$('#CONTAXONOMY_OPTIONS').append($("<br/>"));

		tempElementString = "";		
		tempElementString = tempElementString + "<table><tr>";
		
		//tempElementString = tempElementString + "<br/>";		
		//tempElementString = tempElementString + "<span style='color: #B8B4B4;'><b>- - - - </b></span>";
		
		tempElementString = tempElementString + "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - - - </b></span></td>";
		
		
		tempElementString = tempElementString + "<td valign=middle align=left><div class='arow-lft-tagxonmy-lvl2-grey'></div></td>";
		
		//tempElementString = tempElementString + "<div style = 'display: inline-block; vertical-align: middle; background-color: #696969; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title + " Child1";
		//tempElementString = tempElementString + "</div>";
		
		tempElementString = tempElementString + "<td valign=middle width=600><div style = 'display: inline-block; vertical-align: middle; background-color: #696969; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title + " Child1";
		tempElementString = tempElementString + "</div></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		$('#CONTAXONOMY_OPTIONS').append($("<br/>"));
		
		//tempElementString = tempElementString + "<br/>";
		
		tempElementString = "";		
		tempElementString = tempElementString + "<table><tr>";
		
		//tempElementString = tempElementString + "<span style='color: #B8B4B4;'><b>- - - - - - </b></span>";
		tempElementString = tempElementString + "<td><span style='color: #95B3D7; font-size: 15px;'><b>- - - - - - </b></span></td>";
		
		//tempElementString = tempElementString + "<div class='arow-lft-tagxonmy-lvl3-grey'></div>";
		tempElementString = tempElementString + "<td valign=middle align=left><div class='arow-lft-tagxonmy-lvl3-grey'></div></td>";
		
		//tempElementString = tempElementString + "<div style = 'display: inline-block; vertical-align: middle; background-color: #8C8585; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title + " Child1 Child1";
		//tempElementString = tempElementString + "</div>";
		
		tempElementString = tempElementString + "<td valign=middle width=570><div style = 'display: inline-block; vertical-align: middle; background-color: #8C8585; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title + " Child1 Child1";
		tempElementString = tempElementString + "</div></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		
		//tempElementString = tempElementString + "</div><br/>";
		
		$('#CONTAXONOMY_OPTIONS').append($("<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>"));
	}
	
	
	
	
	
	function showContaxonomyModal(whereFrom) { 
		//alert("aaaaa11111111111");
	 	var $contaxonomyModal = $('#CONTAXONOMY_MODAL');
	 	
	 	$contaxonomyModal.show();
	 	  
	 	
	 	if(whereFrom == 'AK_COMPOSER') {  
	 		
	 		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
			$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();		
			$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
			  
	 		$('#AD_PERSON').hide();
	 		$('#CONTAX_SRCH_BAR').hide();  
		 	$('#CONTAGXONOMY_AK_COMPOSER').show();
		   
	 	}
	 	

	 	if(whereFrom == 'AD_PERSON') {  
	 		$('#AD_PERSON').show();
		 	$('#CONTAGXONOMY_AK_COMPOSER').hide();
	 	 
	 	}
	 	
	 }
  
	function hideContaxonomyModal() {
		
		$('#CONTAXONOMY_MODAL').hide();
	}
	
	
	function populateAudience() {
		
		grouponomyChkboxSelected  =  $('.grouponomy_cat_node_chkbox');
		
		//alert("Length == " + grouponomyChkboxSelected.length);
		var chkdLength = 0;
		$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').html('');
		
		for(var i=0; i < grouponomyChkboxSelected.length; i++) {
			if($(grouponomyChkboxSelected[i]).prop("checked") == true) {
				//chkdLength++;
				//alert('dfdfdfdfdfdfd');
				$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').append($(grouponomyChkboxSelected[i]).val() + "<br/>");  
				
			}
		 
			
		}
		//alert("Chkd L =  " +  chkdLength);
		$('#CONTAX_APPLIED_AUDIENCE_BTN').trigger('click');
		
		 
		
	}
			
 
	 		
	 		
	 		
 	


</script>