<style>
	#CONTAXONOMY_MODAL {
		display: none;
		position: fixed;
		top: 0;
		z-index: 99999;
		
		height : 100%;
		width: 100%;
		left: 0;
		right: 0;
		  
		margin-left: auto; 
		margin-right: auto;  
		
		backround-color: #000; 
	}
	
	.contagxonmy-title-bar {
		background: -webkit-linear-gradient(#696969,#3f3f3f);
		background: -o-linear-gradient(#696969,#3f3f3f);
		background: -moz-linear-gradient(#696969,#3f3f3f);
		background: linear-gradient(#696969,#3f3f3f); 
		height: 40px; 
		color: #FFF;
		
	}
	
	.arow-lft-tagxonmy-lvl1-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #4d4949; 
  
  
	}
	
	.arow-lft-tagxonmy-lvl2-grey {
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;    
	  border-right:18px solid #696969;
	  
	}
	
	.arow-lft-tagxonmy-lvl3-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #8c8585;
	  
	}
	
	.float-left {
		float: left;
	}
	
	
	
	.text-green {
		color: #91CC18;
	}
	
	.text-blue {
		color: #008CC9;
	}	
	
    .contax-audience-table-items {
    	background-color: #f2f2f2;
    	padding: 3px;
    	margin-bottom: 10px;
    }
    
 .connections_cat_node_chkbox {
			 float: right;
  }
  
  .msg-category11 {
  	color: #008CC9;
  }
	
 .float-right {
		float: right;
		 
	}
	
.common-label-container:hover {
		background-color: grey;		
	}
	
/* MEDIA SCREEN (mobile) */  
   @media screen and (max-width: 767px) { 
 		.audience-container-div-sections {
 			 width: 100%;
 			 display: none; 
 			 padding-right: 5px;
 			 
 		}
 		
 		#CONTAXONOMY_CONNECTIONS_TABLE {
			width:  100%;	 
		} 
		
		.float-right11 {
		float: right;
		position: fixed;
		top: 40px;
		right: 0;
	}
  }
  
  /* MEDIA SCREEN (desktop) */  
   @media screen and (min-width: 768px) { 
 		.audience-container-div-sections {
 			width: 25%;
 		    display: none; 
 		    padding-right: 5px;
 		}
 		
 		#CONTAXONOMY_CONNECTIONS_TABLE {
			width:  380px;	 
		} 
		
	   .float-right11 {
		float: right;
		position: fixed;
		top: 40px;
		right: 15%;
	}
		
  }
  
  
	
  
</style>


<%             /* Not Used... */
	var contaxonomyGroups = [    
	                               {
	                            	   'id' : 'CLOSE_FRIENDS',
	                            	   'name' : "Learning, Studies, Education"
	                            	 
	                            	   
	                               },	                               
	                               {
	                            	   'id' : 'FRIENDS',
	                            	   'name' : "Job, Profession, Career, Business"
	                               },
	                               
	                               {
	                            	   'id' : 'COWORKERS',
	                            	   'name' : "Personal Development, Attitude"
		                           },
		                           
		                           {
		                        	   'id' : 'ACQUINTANCES',
		                        	   'name' : "Money, Finances",
			                           'childs' : [
			                                {
			                            	 'id' : 'ACQUINTANCES_INTERESTS',
			                            	 'name' : 'Through Interests',
			                            	 'childs' : [{
				                            	 'id' : 'ACQUINTANCES_INTERESTS_SWIMMING',
				                            	 'name' : 'Swimming'
					                            },
					                            {
					                                'id' : 'ACQUINTANCES_INTERESTS_TREKKING',
					                            	'name' : 'Trekking'
					                            }]
				                            },
				                            {
				                                'id' : 'ACQUINTANCES_CAUSES',
				                            	'name' : 'Through Causes'
				                            }
			                           ]
			                       },
			                       
			                       {
			                       	   'id'	  : "FAMILY_RELATIONSHIP",
			                    	   'name' : "Family, Relationships"
				                   },
				                   
				                   {	'id'	  : "LEGAL",
				                	   'name' : "Legal"
				                   },
				                   
				                   {	'id'	  : "HEALTH",
				                	   'name' : "Health"
				                   },
				                   
				                   {	'id'	  : "WELLNESS_WELFARE",
				                	   'name' : "Wellness, Welfare"
				                   },
				                   
				                   {	'id'	  : "COMMUNITY_FRIENDS",
				                	   'name' : "Community, Friends"
				                   },
				                   
				                   {	'id'	  : "SPIRITUAL_KARMA",
				                	   'name' : "Spiritual, Karma"
				                   },
				                   
				                   {	'id'	  : "HOBBIES",
				                	   'name' : "Hobbies, Activities, Leisure"
				                   },
	                             
	                               {	'id'	  : "LIFESTYLE",
				                	   'name' : "Lifestyle, Fashion"
				                   },
				                   {	'id'	  : "FOOD",
				                	   'name' : "Food"
				                   }
	                             
	                             ];
	
%>

<%
	var contaxAudienceTabOptions = [{
									'id' : "CONNECTIONS",
									'name' : 'Connections'
							   },
							   
							   {
							   		'id' : "TEAMS",
									'name' : 'Teams'
							   },
							   
							   {
							   		'id' : "GROUPS",
									'name' : 'Groups'
							   },
							   
							    {
							   		'id' : "PEOPLE",
									'name' : 'Others, Search'
							   }
							   
	 ];
%>




<div id = CONTAXONOMY_MODAL style = "background-color: rgba(0,0,0,0.6);"  tabindex="0">	 
 
	 
    <div id = CONTAXONOMY_CONTAINER  class = "website-screen-width_dt" style = "background-color: #fff; height: 100%; position: relative; padding-bottom: 42px;" >	
		 
		 	<div id = CONTAXONOMY_CONTAINER_TOP  style = "height: 100%;">	 
				  <div  id = AD_PERSON class="contagxonmy-title-bar" style = "display: none;">  
				      <div style = "display: inline-block; font-size: 22px; margin-top: 4px; padding-left: 2px; "><span style = "font-family: Arial; color: #98BF49;"><b>my</b></span></div><div style = "display: inline-block; font-size: 20px; vertical-align: top; margin-top: 2px; font-family: Sans Serif; color: #dcdcdc;">Contagxonomy<img style = "margin-bottom: 8px;" id = CONTAXONOMY_MIN_ICON width="24" height="24" src="/media/images/icons/add-audience.png" /> </div>  
				     <!--    
				      <div id = CONTAX_APPLIED_AUDIENCE style = "display: none; border: 2px solid #fff;"> Applied Audience</div>
			 		  <div id = CONTAX_CONT_CONS  style = "display: none; border: 2px solid #fff;">Contacts, Connections</div>
			 		  <div id = CONTAX_GROUPS style = "display: none; border: 2px solid #fff;">Groups</div>  
			 		 --> 
			 		  <div style = "float: right; margin-right: 3px; color: #95B3D7; margin-top: 5px; "><b>+ New</b></div>
				     		  
				  </div>	
				 
				 <!-- for AakComposer Context -->   
				  <div  id = CONTAGXONOMY_AK_COMPOSER class="contagxonmy-title-bar" style = "display: none;">  
				       <table  width = "100%" height = "100%">  
				       	  <tr> 
				       	  <!--  <td tabindex="2" align = center valign = middle style = "background-color:#77933C; border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">    
						      <div id = CONTAX_APPLIED_AUDIENCE_BTN style = "cursor: pointer; font-size:11px; display: inline-block; font-weight: bold;">Audience</div>
						   </td >
						  -->
					 	   <td tabindex="3" align = center valign = middle style = "border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">
					 		  <div id = CONTAX_CONT_CONS_BTN  style = "cursor: pointer; display: inline-block; ">Connections</div>
					 	   </td>
					 	   <td tabindex="4" align = center valign = middle style = "border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">
					 		  <div id = CONTAX_TEAMS_BTN style = "cursor: pointer; display: inline-block; ">Teams</div>
					 	   </td>  
					 	   <td tabindex="4" align = center valign = middle style = "border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">
					 		  <div id = CONTAX_GROUPS_BTN style = "cursor: pointer;  display: inline-block; ">Groups</div>
					 	   </td>  
					 	    <td tabindex="5" align = center valign = middle class = "contagxonomy-ak-composer-title-bar-tab" style = "display: hidden;">
					 		   <div id = CONTAX_PPL_FINDER_BTN style = "cursor: pointer;  display: inline-block; ">Others</div>  
					 	   </td>  
				 		  </tr>
			 		  	</table>
				  </div>	
				 
				  
				  <!-- 
				      <div  id = CONTAX_SRCH_BAR style = "height: 0px; background-color: #fff; position: relative; padding-left: 3px; padding-right: 3px; border-bottom: 0px solid #f2f2f2;"> 		&nbsp;
				  	  <div id = CONTAXONOMY_CONNECTIONS class =  "float-right text-blue" style = "vertical-align: top; display: none; text-align: center; margin-top: 9px; margin-right: 5px; ">
				  		<img   width="24" height="24" src="/media/images/icons/add-2-contaxonomy-blk.png" />
				  		<span style = "display: block;  line-height:.5; font-size: 12px;"><b>Connections</b></span> 
				  	  </div>  
				  	    
				  	  <div id = CONTAXONOMY_TEAMS class = "float-right text-blue" style = "vertical-align: top; display: inline-block; text-align: center; margin-top: 9px; margin-right: 5px;"> 
				  		<img   width="24" height="24" src="/media/images/icons/crowd-black.png"/>
				  		<span style = "display: block; line-height:.5; font-size: 12px;"><b>Teams</b></span>
				  	  </div>
				  	  
				  	  <div id = CONTAXONOMY_GROUPS class = "float-right text-blue" style = "vertical-align: top; display: inline-block; text-align: center; margin-top: 9px; margin-right: 5px;"> 
				  		<img   width="24" height="24" src="/media/images/icons/crowd-black.png"/>
				  		<span style = "display: block; line-height:.5; font-size: 12px;"><b>Groups</b></span>
				  	  </div>
				   
				  	  
			   
				  	  <div style = "display: none; position: absolute; left: 50%; transform: translateX(-50%); top: 7px;   height: 50px; ">
						 
						   	 	 
						 	    <div id= CONTAXONOMY_SEARCH_BOX class="input-group" style = "width: 160px;" >      
								       <input style="border: 1px solid #ADAAAA;" type="text" class="form-control searchBox" placeholder="" />
								           <span class="input-group-btn">
												<button class="btn" type="button" id="searchBtnId" style="background-color: #ADAAAA;"><span class="glyphicon glyphicon-search searchIcon"></span></button>
											</span>
								</div>
				   		 
				  	  </div>
			  	 
				  	       
				   </div>  
				   -->
				    <div id = CONTAXONOMY_USR_GUIDANCE_MSG style = "font-size: 14px; font-weight: 700; color: #3F3F3F;  margin-left: 8px; margin-top: 5px;">
				   		User Guidance message here..  
				     </div>	   
				  
				  			
				  <div id = CONTAXONOMY  style = "background-color: #fff;  height: calc(100% - 84px);   overflow: auto;" >
				  
				  	 <!--  <div style = "background-color: #3f3f3f; color: #D1B4A5; font-size: 15px; text-align: center; padding: 4px 0px 0px 0px; border-radius: 3px; margin-top: 12px; height: 30px; width: 250px; margin-left: auto; margin-right: auto;">
						Select all in my Contagxonomy<b>!</b>
				   		  
				   	</div> -->
					 	 <div id = CONTAXONOMY_OPTIONS style = "margin-top: 7px; width:100%; padding-right: 5px;">
					 	 	
					 	 	<div id = CONTAXONOMY_OPTIONS_CONS_CNTNR style = "display: block;">
					 	 	
					 	 		 <div id = CONTAXONOMY_OPTIONS_CONS_CNTNR_HEADING class = "aakComposerContext  text-green" style = "margin-left: 0px;  margin-bottom: 15px;">
					 	 		  	<div style = "text-align: center; display: inline-block; width: 80px; BORDER11: 1Px solid black;">
								  		<img   width="28" height="24" src="/media/images/icons/add-2-contaxonomy-blk.png" />
								  		<span style = "display: block;  line-height:.5; font-size: 12px;"><b>Connections</b></span>
								     </div> 
							    </div> 
							    
							    
					 	 	
					 	 	</div>
					 	 	
					 	 	<div id = CONTAXONOMY_OPTIONS_TEAMS_CNTNR style = "display: none;">
					 	  	 
					 	 	</div>
					 	 	
					 	 	<div id = CONTAXONOMY_OPTIONS_GRPS_CNTNR style = "display: none;">
					 	 	
					 	 	</div> 
					 	 	
					 	 	<div id = CONTAX_PPL_FINDER_CNTNR style = "display: none;">
					 	  		   
					 	 	</div>
					 	 	 
					 	 </div>
				 	
				  </div>
				  
		 </div><!-- CONTAXONOMY_CONTAINER_TOP Ends -->
		 
 	
		 <div id = CONTAXONOMY_CONTAINER_BOTTOM style = " display: none; height: 0%; margin-bottom: 10px;  padding-left: 3px; padding-right: 3px;">
		 		<div  class="common_section_title_bar" style = "margin-top: 0px; display: block; text-align: center; margin-bottom: 10px;">  
				      <!--  <table width = "100%" height = "100%">  
				       	  <tr> 
					       	   <td tabindex="2" align = center valign = middle style = "background-color:#77933C; border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">    
							      <div id = CONTAX_APPLIED_AUDIENCE_BTN style = "cursor: pointer; font-size:11px; display: inline-block; font-weight: bold;">Audience</div>
							   </td >
						  </tr>
					</table>
				     -->
				     <img id = CONTAXONOMY_AUDIENCE_MAX_ICON style = "float: left;  margin-top: -5px;" src = "/media/images/icons/plainblack/arro-up-vanilla-blk.png" width = "30px" height = "30px">  
				     <div  style = "display: inline-block; text-align: center;"><span class = "msg-category"></span> Audience (<span class = "hpy-usr-green-text" id = TOTAL_COUNT>0</span>)	</div>	
				     <img  id = CONTAXONOMY_AUDIENCE_MIN_ICON style = "float: right; margin-top: -5px;" src = "/media/images/icons/plainblack/arro-dwn-vanilla-blk.png" width = "30px" height = "30px">  	  
				</div>	
				
				
				<div id = CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR style = "padding-bottom: 40px; display: block;  overflow-y: auto; height: calc(100% - 40px); width: 100%;"> 
				  	<div id = NEG-STATE-USER-MSG-ID class = "neg-state-usr-msg" style = "display: none; margin-left: 8px; margin-bottom: 5px;"> No audience applied yet.</div>
				  	 
				    <div id = AUDIENCE_TABLE style = "display: none;">   
				    	
					  	<div id = AUDIENCE_CNTNR_CONNECTIONS class = "audience-container-div-sections" style = "text-align: right; vertical-align: top; background-color1111: #F2F2F2;">
					  	   <div class= "audience-table-heading" style = "padding-left: 5px; text-align: left; background-color: #ddebf0; margin-bottom: 10px;"> <b> <%= contaxAudienceTabOptions[0].name %> (<span class = "hpy-usr-green-text" id = CONNECTIONS_COUNT>0</span>)</b></div>
					  	   
					  	</div><!-- 
					  	
					  --><div id = AUDIENCE_CNTNR_TEAMS  class = "audience-container-div-sections" style = "text-align: right; vertical-align: top;  background-color1111: #e6e3e3;">
					 		 <div class= "audience-table-heading" style = "padding-left: 5px; text-align: left; background-color: #ddebf0; margin-bottom: 10px;"> <b> <%= contaxAudienceTabOptions[1].name %> (<span class = "hpy-usr-green-text" id = TEAMS_COUNT>0</span>)</b></div>
					  	</div><!-- 
					  	
					  	--><div id = AUDIENCE_CNTNR_GROUPS  class = "audience-container-div-sections" style = "text-align: right; vertical-align: top; background-color1111: #F2F2F2;">
					  		 <div class= "audience-table-heading" style = "padding-left: 5px; text-align: left; background-color: #ddebf0; margin-bottom: 10px;">  <b> <%= contaxAudienceTabOptions[2].name %> (<span class = "hpy-usr-green-text" id = GROUPS_COUNT>0</span>)</b></div>
					  	</div><!-- 
					  	
					  	--><div id = AUDIENCE_CNTNR_PEOPLE  class = "audience-container-div-sections" style = "text-align: right; vertical-align: top; background-color1111: #e6e3e3;">
							 <div class= "audience-table-heading" style = "padding-left: 5px; text-align: left; background-color: #ddebf0; margin-bottom: 10px;">  <b> <%= contaxAudienceTabOptions[3].name %> (<span class = "hpy-usr-green-text" id = PEOPLES_COUNT>0</span>)</b></div>
					  	</div>
				   	</div>
			    </div>
		 	 
		 	
		 </div> <!-- CONTAXONOMY_CONTAINER_BOTTOM Ends -->
				  
				 
		
		  
	    <div style = "position: absolute; font-size: 15px; bottom: 0px; height: 42px; width: 100%; background: linear-gradient(#344C15,#698A25);	 color: #fff; padding-top: 7px;">
	   				<center> 
	   						<div id = CONTAXONOMY_DONE_BOTTON style = "display: none; cursor: pointer;  height: 30px;  margin-right: 30px;"><b>Done</b></div>  
	   						<div id = CONTAXONOMY_CANCEL_BOTTON style = "cursor: pointer; display: inline-block;  height: 30px;">Cancel</div>
	   				</center>
	     </div>
		    
		   
		  
    </div> <!-- CONTAXONOMY CONTAINER Ends -->		 
    
    
    
 
    
</div> <!--  CONTAXONOMY_MODAL ends -->
 
 
<script>

	$('.contagxonomy-ak-composer-title-bar-tab').on('click', function() {
		$('.contagxonomy-ak-composer-title-bar-tab').css('background-color','');
		$(this).css('background-color','#77933C');
		$('#CONTAXONOMY_USR_GUIDANCE_MSG').hide();
		
		
	}); 


/*	--		Hiding PopUp on esc						-- */	
	$('#CONTAXONOMY_MODAL').focus();
	
 
 	var contaxGroupsCalled = false;
	function getContaxonomyGroups() { 
		 
	   if(!contaxGroupsCalled) {
		   
		   if(!contaxGroupsCalled) {
			    contaxGroupsCalled = true;
				var xhr = new XMLHttpRequest();
				
				xhr.onload = function() {  
					if(xhr.status === 200) { 
						console.log("Status  == 200");
						//$('#PROFILE_ASPECT_CONTAINER').html(xhr.responseText);
						$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').append(xhr.responseText);
						
						contaxGroupsCalled = true;
					}
					else {
						console.log("Status == " + xhr.status);  
					}
				}
				
				 xhr.open('GET','/contaxonomyGroups', true);         
				 xhr.send(null); 
		 }
	   }
	}; //
	
	
	var contaxTeamCalled = false;
	function getContaxonomyTeams() { 
	  
	   if(!contaxTeamCalled) {
		  		contaxTeamCalled = true;
				var xhr = new XMLHttpRequest();
				
				xhr.onload = function() {  
					if(xhr.status === 200) { 
						console.log("Status  == 200");
						//$('#PROFILE_ASPECT_CONTAINER').html(xhr.responseText);
						$('#CONTAXONOMY_OPTIONS_TEAMS_CNTNR').append(xhr.responseText);
						
					
					}
					else {
						console.log("Status == " + xhr.status);  
					}
				}
				
				 xhr.open('GET','/teams', true);         
				 xhr.send(null); 
		 }
	
	};
	
	
	
	
	
	
 var connectionsPopulated = false;  /* Not to call the function if its already called and populated */

 function contaxonomyConnections() {	
	
	 if(!connectionsPopulated) {
		 
		var contaxonomyTagOptions = [  
	                               {
	                            	   'id' : 'CLOSE_FRIENDS',
	                            	   'name' : "Close Friends",
	                            	   'count' : "101"
	                            	 
	                            	   
	                               },	                               
	                               {
	                            	   'id' : 'FRIENDS',
	                            	   'name' : "Friends",
	                            	   'count' : "300"
	                               },
	                               
	                               {
	                            	   'id' : 'COWORKERS',
	                            	   'name' : "Co-workers",
	                            	   'count' : "50"
		                           },
		                           
		                           {
		                        	   'id' : 'ACQUINTANCES',
		                        	   'name' : "Acquaintances",
	                            	   'count' : "10",
			                           'childs' : [
			                                {
			                            	 
				                            	 'id' : 'ACQUINTANCES_INTERESTS_SWIMMING',
				                            	 'name' : 'Swimming',
				                            	  'count' : "95"
					                        },
					                        {
					                                'id' : 'ACQUINTANCES_INTERESTS_TREKKING',
					                            	'name' : 'Trekking',
					                            	 'count' : "300"
					                        },
					                     
				                            {
				                                'id' : 'ACQUINTANCES_CAUSES',
				                            	'name' : 'Through Causes',
				                            	 'count' : "75"
				                            }
			                           ]
			                       },
			                       
			                       {
			                    	   'name' : "Business",
	                            	   'count' : "10"
				                   },
				                   
				                   {
				                	   'name' : "Service",  
	                            	   'count' : "50"
				                   },
	                             
	                             
	                             ];
	
	var tempElementString = "<table id = CONTAXONOMY_CONNECTIONS_TABLE border = 0> <tr><td>";
	var tempChildElements = null;
	var catLooper = 0;
	contaxonomyTagOptions.forEach(function(element) {
		
		//tempElementString = "<div><div style = 'background-color: #80A2CF; margin-bottom: 5px; height: 35px;'>";
		tempElementString = tempElementString +  "<div style = 'margin-left: 45px;'><div class = 'common-label-container' style = 'margin-bottom: 5px; height: 35px;'>";
		
		tempElementString = tempElementString + "<span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff;'><b>&nbsp;</b></span>"; 
		tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #696969;'>";
		tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b style = 'font-size: 12px;'><span style = 'inline-block' class = 'common-contax-label'>" + element.name + " (<span class = 'contax-count hpy-usr-green-text'>" + element.count + "</span>)</span>";
		tempElementString = tempElementString + "</b></span><input id =" + element.id + " type = 'checkbox'  value = " + element.id + " name = 'connections-chkbox' class = 'connections_cat_node_chkbox' style = 'margin-left: 20px; margin-right: 3px;' onclick = 'populateAudience($(this));'></div>";
		
		if(element.childs) {			
			element.childs.forEach(function(level2Element) {
				//tempElementString = tempElementString + "LEVEL2-" + catLooper++;
				//tempElementString = tempElementString + "<div style = 'background-color: #A6C0E3; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>- -</b></span>";
				tempElementString = tempElementString + "<div class = 'common-label-container' style = 'margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>";
				tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle; margin-bottom: 2px; height: 35px; color: #696969; '>";
				tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b style = 'font-size: 12px;'><span style = 'inline-block' class = 'common-contax-label'>" + level2Element.name  + " (<span class = 'contax-count hpy-usr-green-text'>" + level2Element.count + "</span>)</span>";
				tempElementString = tempElementString + "</b></span><input id =" + level2Element.id + " type = 'checkbox'  value = " + level2Element.id + " name = 'connections-chkbox' class = 'connections_cat_node_chkbox' style = 'margin-left: 20px;  margin-right: 3px;' onclick = 'populateAudience($(this));'></div>";
				
				if(level2Element.childs) {			
					level2Element.childs.forEach(function(level3Element) {
						//tempElementString = tempElementString + "LEVEL3-" + catLooper++;
						//tempElementString = tempElementString + "<div style = 'background-color: #7C8DA3; margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>- - - </b></span>";  
						tempElementString = tempElementString + "<div class = 'common-label-container' style = 'margin-bottom: 5px; height: 35px;'><span style='display: inline-block; margin:0; vertical-align: top;  color: #B8B4B4; height: 100%; background-color: #fff'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>";
						tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle;   margin-bottom: 2px; height: 35px; color: #696969; '>";
						tempElementString = tempElementString + "<img  src=/media/images/icons/tag-black.png width= 22 height= 22>&nbsp;&nbsp;<b style = 'font-size: 12px;'><span style = 'inline-block' class = 'common-contax-label'>" + level3Element.name  + " (<span class = 'contax-count hpy-usr-green-text'>" + level3Element.count + "</span>)</span>";
						tempElementString = tempElementString + "</b></span><input id =" + level3Element.id + " type = 'checkbox'  value = " + level3Element.id + " name = 'connections-chkbox' class = 'connections_cat_node_chkbox' style = 'margin-left: 20px;  margin-right: 3px;' onclick = 'populateAudience($(this));'></div>";
					});
				} 
			});
		} 
		  
		//loop and append Child 
		
		//tempChildElements = element.childs.length
		
		tempElementString = tempElementString + "</div>";
		 
		 
		
		//$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').append($(tempElementString));//////
		//$('#CONTAXONOMY_OPTIONS').append($("<br/>"));
		
 
	});
	
 // tempElementString = tempElementString + "</tr></td></table>";
	
 	$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').append($(tempElementString));
 	
 	
 	connectionsPopulated = true;
	
  }
}	 /* contaxonomyConnections() fn Ends */
	
	contaxonomyConnections();
	
	 
	
	
	/* ---------        Toogles between Connections and Groups ---------- */
	$('#CONTAXONOMY_CONNECTIONS').on('click', function() {
		toggleContaxonomyConsGroups($(this));
		//manageContaxOptionsDisplay($(this));
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').show();
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_TEAMS_CNTNR').hide();
		
		//$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
		 
		contaxonomyConnections();
		 
	});  
	
	
	$('#CONTAXONOMY_GROUPS').on('click', function(){
		toggleContaxonomyConsGroups($(this));
		//$('#CONTAXONOMY_OPTIONS').html("");
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').show();
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_TEAMS_CNTNR').hide();
		//$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
		
		getContaxonomyGroups();
		 
	});
	
	$('#CONTAXONOMY_TEAMS').on('click', function(){
		toggleContaxonomyConsGroups($(this));
		//$('#CONTAXONOMY_OPTIONS').html("");
		console.log("Teams");
		$('#CONTAXONOMY_OPTIONS_TEAMS_CNTNR').show();
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide(); 
		//$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
		
		getContaxonomyTeams();
		 
	});
	

	
	
	$('#CONTAX_APPLIED_AUDIENCE_BTN').on('click', function(){
		toggleContaxonomyConsGroups($(this));
		//$('#CONTAXONOMY_OPTIONS').html("");
		//$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
		//$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();		
		$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
		$('#CONTAX_SRCH_BAR').hide(); 
		
		//getContaxonomyGroups();
		 
	});
	
	  

	$('#CONTAX_CONT_CONS_BTN').on('click', function(){
		//$('#CONTAXONOMY_CONNECTIONS').trigger('click');
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').show();
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_TEAMS_CNTNR').hide();
		
		//$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
		 
		contaxonomyConnections();
	});
	
	$('#CONTAX_GROUPS_BTN').on('click', function(){
		//$('#CONTAXONOMY_GROUPS').trigger('click');
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').show();
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_TEAMS_CNTNR').hide();
		getContaxonomyGroups();
	});
	
	$('#CONTAX_TEAMS_BTN').on('click', function(){
		$('#CONTAXONOMY_OPTIONS_TEAMS_CNTNR').show();
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();		
		$('#CONTAX_SRCH_BAR').hide(); 
		
		$('#CONTAX_PPL_FINDER_CNTNR').show();
		
		getContaxonomyTeams();
		 
	});  
	
	$('#CONTAX_PPL_FINDER_BTN').on('click', function() {
		//alert("ppph");
		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
		$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();		
		//$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
		$('#CONTAX_SRCH_BAR').hide(); 
		
		$('#CONTAX_PPL_FINDER_CNTNR').show();
		
		appendSearchCriteria('/people/search/basic');
		//$('#CONTAX_PPL_FINDER_CNTNR').append($('#PEOPLE_FINDER_CONTENT'));
	});
	
	
	$('#CONTAXONOMY_AUDIENCE_MAX_ICON').on('click', function() { 
		maxMinAudienceSection('max');
		//maxMinAudienceSection('leftIcon');
	});
	
	$('#CONTAXONOMY_AUDIENCE_MIN_ICON').on('click', function() { 
		maxMinAudienceSection('min');
		//maxMinAudienceSection('rightIcon');
	});
	
	
	$('#CONTAXONOMY_CANCEL_BOTTON').on('click', function() { 
		exitContagxonomy();
	});
	
	$('#CONTAXONOMY_DONE_BOTTON').on('click', function() { 
		exitContagxonomy();
	});
	
	
	/* Ajax call for appending People Search Criteria */
	/*
	* 	Add each div element to Map after ajax call.  If element to be added is already on Map, avoid ajax call and make that div visible if its invisible, else do nothing.
	*/
	//var searchAdded = "";
	var PPL_SRCH_CRITERIA_MAP_OBJ = {}; 
 
	  
	function appendSearchCriteria(url) { 
			 
			 /*check if map obj contains the key(url) */
			 if(! (url in PPL_SRCH_CRITERIA_MAP_OBJ) )  {
			 
				var xhr = new XMLHttpRequest();
				
				xhr.onload = function() {  
					if(xhr.status === 200) { 
						console.log("Status  == 200");
					 
					//	 if(url == '/people/search/basic') {
							 
							 PPL_SRCH_CRITERIA_MAP_OBJ[url] = {}; 
							 var searchElement1 = $(xhr.responseText);
							 
							 if( url == '/people/search/basic') {
								 $('#CONTAX_PPL_FINDER_CNTNR').append(searchElement1);
								 basci_criteria_search_done = true;
							 }
							 else {
								 searchElement1.insertBefore($('#CONTAX_PPL_FINDER_CNTNR #PEOPLE_FINDER_ADD'));
							 }
							
							 PPL_SRCH_CRITERIA_MAP_OBJ[url].htmlString = xhr.responseText;
							 
							 PPL_SRCH_CRITERIA_MAP_OBJ[url].id = searchElement1.children().attr('id'); 
						 
							 }
				  
					
					else {
						console.log("Status == " + xhr.status);  
					}
				}
				
				 xhr.open('GET',url, true);         
				 xhr.send(null);
			 }	  
			 
			 else {   
					 var id = PPL_SRCH_CRITERIA_MAP_OBJ[url].id;
			 		// $('#CONTAX_PPL_FINDER_CNTNR').find("#"+id).show();
			 }
			 
			
				
	 
	};
/*	
	 var peopleFinderOptionsCloseBtn = $('.peopleFinderOptionsCloseBtn');
	 peopleFinderOptionsCloseBtn. on('click', function() {
			//closeOptions($(this));
			alert("Closed btn");
		});
	*/
	 function  closeSearchCriteriaOptions(closeBtn) {
		 // var parentId = closeBtn.parent().attr('id');
		 // closeBtn.parent().css('display','none');
		  closeBtn.parent().hide();
		
	 }
	
	function showHideSearchCriteriaPopUp() {
		$('#PPL_SEARCH_CRITERIA_OPTIONS').toggle();
	}
	
	/*
	*
	*
	*/
	
/*	function toggleContaxonomyConsGroups() {
		 
		var contaxonomyConnections = $('#CONTAXONOMY_CONNECTIONS');
		var contaxonomyGroups = $('#CONTAXONOMY_GROUPS');
		
		contaxonomyConnections.toggleClass('float-right float-left');
		contaxonomyGroups.toggleClass('float-right float-left');  
		
		if(contaxonomyConnections.hasClass('float-left')) {
			contaxonomyConnections.prop('disabled', true);
		}
		
		contaxonomyConnections.toggleClass('text-green text-blue');
		contaxonomyGroups.toggleClass('text-green text-blue');
		//$('#CONTAXONOMY_CONNECTIONS').toggleClass('float-right','float-left');
		//text-green
	}
  
*/
function toggleContaxonomyConsGroups(clickedContaxIcon) {
	 
	//var contaxonomyConnections = $('#CONTAXONOMY_CONNECTIONS');
	//var contaxonomyGroups = $('#CONTAXONOMY_GROUPS');
	
	$('.float-right').css('display', 'inline-block');
	clickedContaxIcon.css('display','none');
	  
	 
	//$('#CONTAXONOMY_CONNECTIONS').toggleClass('float-right','float-left');
	//text-green
}
	
	/* on click of TAB options, audience section should be displayed */
	
	
/*	$('.contagxonomy-ak-composer-title-bar-tab').on('click', function() {
		if(!audienceSectionVisible) {
			$('#CONTAXONOMY_CONTAINER_BOTTOM').show();
			$('#CONTAXONOMY_USR_GUIDANCE_MSG').hide();
			audienceSectionVisible = true;
		}
	});
*/	
	
	/*
		POPULATES THE AUDIENCE SECTION WHEN CHECK BOXES ARE CLICKED
	*/
	
	var totalConnectionsCount = 0;
	var totalTeamsCount = 0;
	var totalGroupsCount = 0;
		
	var totalAudienceCount = 0;    
	//var audienceTableVisible = false;
	var audienceSectionVisible = false;
	
	
	function populateAudience(checkBox) { 
		
		if(!audienceSectionVisible) {
			$('#CONTAXONOMY_CONTAINER_BOTTOM').show();
			console.log("dfdsfdsfsdfsdf peopelee e  e e");
			$('#CONTAXONOMY_DONE_BOTTON').css('display','inline-block'); 
			$('#CONTAXONOMY_USR_GUIDANCE_MSG').hide();			
			$('#AUDIENCE_TABLE').show();
			$('#NEG-STATE-USER-MSG-ID').hide();
			
			$('#CONTAXONOMY_CONTAINER_TOP').css('height','55%');
			$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height','45%');
			audienceSectionVisible = true;
			//audienceTableVisible = true;
		}
		
		var checkBoxId = checkBox.attr('id');
		//alert(checkBox.prop("name"));
		//alert("id == " + checkBoxId);
		if( (checkBox.prop("checked") == true)) {  
			
			var appendString = "<div class = 'contax-audience-table-items' id = " + checkBoxId + ">" + checkBox.parent().find('.common-contax-label').html() + "<img style = 'float: right; margin-left: 5px;' width = 20 height = 20 src = '/media/images/icons/operators/black/x-ncircled-blk.png' onclick = 'deleteAudienceEntry($(this))'><div>";
			
			if( (checkBox.prop("name") == "connections-chkbox") ) {  
				$('#AUDIENCE_CNTNR_CONNECTIONS').css('display','inline-block');
			
				$('#AUDIENCE_CNTNR_CONNECTIONS').append(appendString);
			 	
				updateSectionAudienceCount("C", checkBox, "add" );       //updates count for each section 
			    updateTotalAudienceCount(checkBox, "add"); //updates total count 
			   
			
			 
			}
			
			if( (checkBox.prop("name") == "groups-chkbox") ) {  
				$('#AUDIENCE_CNTNR_GROUPS').css('display','inline-block');
				 $('#AUDIENCE_CNTNR_GROUPS').append(appendString);
				 
				 updateSectionAudienceCount("G", checkBox, "add" );       //updates count for each section 
				 updateTotalAudienceCount(checkBox, "add");
			}
			
			if( (checkBox.prop("name") == "teams-chkbox") ) {  
				$('#AUDIENCE_CNTNR_TEAMS').css('display','inline-block');
				 $('#AUDIENCE_CNTNR_TEAMS').append(appendString);
				 
				 updateSectionAudienceCount("T", checkBox, "add" );       //updates count for each section 
				 updateTotalAudienceCount(checkBox, "add");
			}
		}
		
		
		if( (checkBox.prop("checked") == false)) { 
		
			if( (checkBox.prop("name") == "connections-chkbox") ) {  	 
				
				$('#AUDIENCE_CNTNR_CONNECTIONS #' + checkBoxId ).remove();
				
				updateSectionAudienceCount("C", checkBox, "substract" );
				updateTotalAudienceCount(checkBox, "substract");
							 
			}
			
			if( (checkBox.prop("name") == "groups-chkbox") ) {  	 
				$('#AUDIENCE_CNTNR_GROUPS #' + checkBoxId ).remove();
				
				updateSectionAudienceCount("G", checkBox, "substract" );
				updateTotalAudienceCount(checkBox, "substract");
			}
			
			if( (checkBox.prop("name") == "teams-chkbox") ) {  	 
				$('#AUDIENCE_CNTNR_TEAMS #' + checkBoxId ).remove();
				
				updateSectionAudienceCount("T", checkBox, "substract" );
				updateTotalAudienceCount(checkBox, "substract");
			}
		
		} 
	} 
	
	
	function updateSectionAudienceCount(section,checkBox,operation) {
		console.log("updating section");
		if(section == "C") {
			if(operation == "add") {
				totalConnectionsCount = totalConnectionsCount  + parseInt(checkBox.parent().find('.common-contax-label').find('.contax-count').text());	
			}
			else  if(operation == "substract") {
				totalConnectionsCount = totalConnectionsCount  - parseInt(checkBox.parent().find('.common-contax-label').find('.contax-count').text());	
			}
			
			
			 console.log( "Value == " + $('#CONNECTIONS_COUNT').text());
			$('#CONNECTIONS_COUNT').text(totalConnectionsCount);
		 }
		
		if(section == "G") {
			if(operation == "add") {
				totalGroupsCount = totalGroupsCount  + parseInt(checkBox.parent().find('.common-contax-label').find('.contax-count').text());	
			}
			else  if(operation == "substract") {
				totalGroupsCount = totalGroupsCount  - parseInt(checkBox.parent().find('.common-contax-label').find('.contax-count').text());	
			}
			
			
			 console.log( "Value == " + $('#GROUPS_COUNT').text());
			$('#GROUPS_COUNT').text(totalGroupsCount);
		 }
		
		if(section == "T") {
			if(operation == "add") {
				totalTeamsCount = totalTeamsCount  + parseInt(checkBox.parent().find('.common-contax-label').find('.contax-count').text());	
			}
			else  if(operation == "substract") {
				totalTeamsCount = totalTeamsCount  - parseInt(checkBox.parent().find('.common-contax-label').find('.contax-count').text());	
			}
			
			
			 console.log( "Value == " + $('#TEAMS_COUNT').text());
			$('#TEAMS_COUNT').text(totalTeamsCount);
		 }
	}
	
	
	/*Adds or Substracts audience count on Audience title bar  when checkbox is checked or unchecked */
	function  updateTotalAudienceCount(checkBox, operation) {

		//alert(checkBox.parent().find('.common-contax-label').find('.contax-count').text());
		
		if(operation == "add") {
			totalAudienceCount = totalAudienceCount + parseInt(checkBox.parent().find('.common-contax-label').find('.contax-count').text());
		 }
		 if(operation == "substract") {
			 totalAudienceCount = totalAudienceCount - parseInt(checkBox.parent().find('.common-contax-label').find('.contax-count').text());
		 }
				 
		  //alert(totalAudience);
		 $('#TOTAL_COUNT').text(totalAudienceCount);
	 }		
 
	//CONNECTIONS_COUNT
	  
	function deleteAudienceEntry(closeIcon) {
		//console.log("delete Audience");
		closeIcon.parent('div').remove();
	}
	
	
	
	
 /*  ---    DIRECTION BASED (TWO STEP)  -----------  FOR MAXINIMING AND MINIMIZING CONTAXONOMY'S TOP AND BOTTOM SECTION */
	var audienceSectionState = "normal"; //maximized, minimized, normal.
	function maxMinAudienceSection(maxMin) {
			
		var leftArrow = $('#CONTAXONOMY_AUDIENCE_MAX_ICON');
		var rightArrow =  $('#CONTAXONOMY_AUDIENCE_MIN_ICON');
		
		if(maxMin === 'max') {
			//$('#CONTAXONOMY_CONTAINER_TOP').hide();
			//$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '100%');
			
			if( audienceSectionState == "normal") {
				$('#CONTAXONOMY_CONTAINER_TOP').hide();
				$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '100%');
				audienceSectionState = "maximized";
				leftArrow.hide();
				rightArrow.show();
				
			}
			else if(audienceSectionState == "minimized") {
				$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
				$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '35%');
				$('#CONTAXONOMY_CONTAINER_TOP').css('height', '65%');
				audienceSectionState = "normal";
				leftArrow.show();
				rightArrow.show();
			}
			
		}
		
		else if(maxMin === 'min') {
			//alert("minnnn");
			
			if( audienceSectionState == "normal") {
				$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
				$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '42px');
				$('#CONTAXONOMY_CONTAINER_TOP').css('height', 'calc(100% - 40px)');
				audienceSectionState = "minimized";
				leftArrow.show();
				rightArrow.hide();
			}
			
			else if(audienceSectionState == "maximized") {
				 
				$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '35%');
				$('#CONTAXONOMY_CONTAINER_TOP').css('height', '65%');
				$('#CONTAXONOMY_CONTAINER_TOP').show();
				audienceSectionState = "normal";
				leftArrow.show();
				rightArrow.show();
			}
			
			//$('#CONTAXONOMY_CONTAINER_BOTTOM').hide();
			//$('#CONTAXONOMY_CONTAINER_TOP').show();
			//$('#CONTAXONOMY_CONTAINER_TOP').css('height', '100%');
			 
			
		}
		
	}
			 		
  		

/*  ---    ORIENTATION BASED (TWO STEP)  -----------  
	var audienceSectionState = "normal"; //maximized, minimized, normal.
	var audienceSectionRightArrow = "atNormal"; //atBottom, atTop, normal
	  
	function maxMinAudienceSection(maxMin) {  
			
		if(maxMin === 'leftIcon') {
			//$('#CONTAXONOMY_CONTAINER_TOP').hide();
			//$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '100%');
			
			if( audienceSectionState == "normal") {
				$('#CONTAXONOMY_CONTAINER_TOP').hide();
				$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '100%');
				audienceSectionState = "maximized";
			}
			else if(audienceSectionState == "minimized") {
				$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
				$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '35%');
				$('#CONTAXONOMY_CONTAINER_TOP').css('height', '65%');
				audienceSectionState = "normal";
			}
			
		}
		
		else if(maxMin === 'rightIcon') {
			  
			 if(audienceSectionState != "minimized") {
				$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').hide();
				$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '42px');
				$('#CONTAXONOMY_CONTAINER_TOP').css('height', 'calc(100% - 40px)');
				$('#CONTAXONOMY_CONTAINER_TOP').show();
				
				$('#CONTAXONOMY_AUDIENCE_MIN_ICON').attr('src', '/media/images/icons/plainblack/arro-up-vanilla-blk.png');
				audienceSectionState = "minimized";
			 }
			 
			 if(audienceSectionState == "minimized") {
			    $('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
				$('#CONTAXONOMY_CONTAINER_BOTTOM').css('height', '100%');
				$('#CONTAXONOMY_CONTAINER_TOP').hide();
				audienceSectionState = "normal";
			 }
		   
		}
		
	}
	*/	 		
 	
	
	function showContaxonomyModal(whereFrom, msgCategory) { 
		    
	 	var $contaxonomyModal = $('#CONTAXONOMY_MODAL');
	 	
	 	$contaxonomyModal.show();
	 	  
	 	
	 	if(whereFrom == 'AK_COMPOSER') {  
	 		 
	 		$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
			$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();	  	
			$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
			    
	 		$('#AD_PERSON').hide();
	 		$('#CONTAX_SRCH_BAR').hide();  
		 	$('#CONTAGXONOMY_AK_COMPOSER').show(); 
		 	
		 	$('.msg-category').text("'"+ msgCategory + "'");  
		   
	 	}
	 	

	 	if(whereFrom == 'AD_PERSON') {  
	 		//$('#AD_PERSON').show();
		 	//$('#CONTAGXONOMY_AK_COMPOSER').hide();
		 	//$('#CONTAX_SRCH_BAR').show();  
		    $('#CONTAX_SRCH_BAR').hide(); 
		 	$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
			$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();	
		 	$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
			$('#CONTAGXONOMY_AK_COMPOSER').show();
			
			//$('#CONTAX_CONT_CONS_BTN').trigger('click');
		 	 
	 	}
	 	
	 	if(whereFrom == 'PEOPLE_APP') {  
	 		//$('#AD_PERSON').show();
		 	//$('#CONTAGXONOMY_AK_COMPOSER').hide(); 
		 	//$('#CONTAX_SRCH_BAR').show(); 
		 	var $contaxonomyModal =  $('#CONTAXONOMY_MODAL');
		    $('#CONTAX_SRCH_BAR').hide(); 
		 	$('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').hide();
			$('#CONTAXONOMY_OPTIONS_CONS_CNTNR').hide();	
		 	$('#CONTAXONOMY_OPTIONS_AUDIENCE_CNTNR').show();
			$('#CONTAGXONOMY_AK_COMPOSER').show(); 
			
			$contaxonomyModal.css('position', 'absolute');
			$contaxonomyModal.css('top', '43px');
			$contaxonomyModal.css('height', 'calc(100% - 43px)');
			$contaxonomyModal.css('width', '100%');
			$contaxonomyModal.appendTo('#PEOPLE_HOME_CONNECTIONS');    
			$('#CONTAXONOMY_CONTAINER').css('width', '100%');
			
			
			//$('#CONTAX_CONT_CONS_BTN').trigger('click'); 
	 	}
	 	
	 }
     
			
	/* EXITS THE CONTAINER AND RESETS THE CONTAXONOMY CONTAINER */
 	function exitContagxonomy() {
 		 audienceSectionVisible = false;
 		 connectionsPopulated = false; 
 		 contaxGroupsCalled = false;
 		 contaxTeamCalled = false;
 		 totalConnectionsCount = 0;
 		 totalTeamsCount = 0;
 		 totalGroupsCount = 0;
 			
 		 totalAudienceCount = 0;   
 		
 		// $('#CONTAXONOMY_OPTIONS_CONS_CNTNR div:not(:first-child)').empty(); 
 		 $('#CONTAXONOMY_OPTIONS_CONS_CNTNR_HEADING').siblings().remove(); 
 		 $('#CONTAXONOMY_OPTIONS_GRPS_CNTNR').empty(); 
 		 $('#CONTAXONOMY_OPTIONS_TEAMS_CNTNR').empty(); 
 		 $('#CONTAX_PPL_FINDER_CNTNR').empty();
 		// contaxGroupsCalled = false;
 		
 		$('#CONTAXONOMY_CONTAINER_BOTTOM').hide();
 		
 		$('#CONTAXONOMY_CONTAINER_TOP').css('height', '100%');
 		$('#TOTAL_COUNT').text('0');
 		
 		$('#AUDIENCE_CNTNR_CONNECTIONS').hide();
 		$('#AUDIENCE_CNTNR_GROUPS').hide();
 		$('#AUDIENCE_CNTNR_TEAMS').hide();
 		$('#AUDIENCE_CNTNR_PEOPLE').hide();
 		
 		$('.audience-table-heading').siblings().remove();
 		
 		$('#CONTAXONOMY_USR_GUIDANCE_MSG').show();
 		$('#CONTAXONOMY_DONE_BOTTON').hide(); 
 		
 		$('.contagxonomy-ak-composer-title-bar-tab').css('background-color','');
 		 //div:not(.awesome)
 		//var audienceTableVisible = false;
 		$('#CONTAXONOMY_MODAL').hide();
 	}
 	

</script>