<style>
	#CONTAXONOMY_MODAL {
		display: none;
		position: fixed;
		top: 0;
		z-index: 99999;
		
		height : 100%;
		width: 100%;
		left: 0;
		right: 0;
		  
		margin-left: auto; 
		margin-right: auto;
		
		backround-color: #000;
	}
	
	.contagxonmy-title-bar {
		background: -webkit-linear-gradient(#696969,#3f3f3f);
		background: -o-linear-gradient(#696969,#3f3f3f);
		background: -moz-linear-gradient(#696969,#3f3f3f);
		background: linear-gradient(#696969,#3f3f3f); 
		height: 35px; 
		color: #FFF;
		border-top: 4px solid #95B3D7;
	}
	
	.arow-lft-tagxonmy-lvl1-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #4d4949; 
  
  
	}
	
	.arow-lft-tagxonmy-lvl2-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #696969;
	  
	}
	
	.arow-lft-tagxonmy-lvl3-grey{
	  width: 0; 
	  height: 0; 
	  border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;   
	  border-right:18px solid #8c8585;
	  
	}
		

   
</style>


<div id = CONTAXONOMY_MODAL style = "background-color: rgba(0,0,0,0.6);">	 	 
	<div id = CONTAXONOMY_CONTAINER  class = "website-screen-width_dt" style = "background-color: #f2f2f2; height: 100%;" >		 
		  <div  class="contagxonmy-title-bar">  
		      <div style = "display: inline-block; font-size: 22px; margin-top: 8px; padding-left: 2px; "><span style = "font-family: Arial; color: #95B3D7;"><b>my</b></span></div><div style = "display: inline-block; font-size: 22px; vertical-align: top; margin-top: 2px; font-family: Sans Serif; color: #dcdcdc;">Contagxonomy<img style = "margin-bottom: 8px;" id = CONTAXONOMY_MIN_ICON width="24" height="24" src="/media/images/icons/add-audience.png" /> </div>  				  
		  </div>				
		  <div id = CONTAXONOMY  style = "background-color: #f2f2f2; border-left:  2px dashed #95B3D7 ; height: 100%; margin-left: 10px; ">
		  	 &nbsp;
		 	 <div id = CONTAXONOMY_OPTIONS style = "margin-top: 50px; width:100%">
		 	 	 
		 	 </div>
		  </div>
    </div>		 
</div> <!--  CONTAXONOMY_MODAL ends -->
 
 
 
 
 

<script>
/*	var contaxonomyTagOptions = [
			{
				"Acquaintances" : { "Interests" : ['Swimming'],
									"Causes"	: []
					
								 }
			}
			
		];

	*/
	
	/* var contaxonomyTagOptions = {
			"Acquaintances" : { 
								"Interests" : ["Swimming"],
								 "Causes"	: []
								 
							  },
							  
							  
			"Business"	:     {
				
							  }
			
	}
	*/
	
	var contaxonomyTagOptions = [  
	                               {"title" : "Close Friends"
	                            	   
	                               },	                               
	                               {
	                            	     "title" : "Friends"
	                               },
	                               
	                               {
		                            	"title" : "Co-workers"
		                           },
		                           
		                           {
			                            "title" : "Acquaintances"
			                       },
			                       
			                       {
				                       "title" : "Business"
				                   },
				                   
				                   {
				                       "title" : "Service"
				                   },
	                             
	                             
	                             ];
	
	var tempElementString = "";
	//vat tempElementObj = null;
	contaxonomyTagOptions.forEach(function(element) {
		
		tempElementString = "<div width = '100%' >";
		
		tempElementString = "<span style='display: inline-block; color: #B8B4B4;'><b>- - </b></span>";
		tempElementString = tempElementString + "<span style = 'padding-left: 5px; padding-top: 7px; display: inline-block; vertical-align: middle; background-color: #4D4949; width: 98%; margin-bottom: 2px; height: 35px; color: #dcdcdc; '>";
		tempElementString = tempElementString + element.title ;
		tempElementString = tempElementString + "</span>"; 
		tempElementString = tempElementString + "</div>";
		
		//tempElementString = tempElementString + "</div>";
		
		
		 
		
	/*	tempElementString = "<div>";
		tempElementString = "<span style='display: inline-block; color: #B8B4B4; width: 2%;'><b>- - </b></span>";
		tempElementString = tempElementString + "<span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 90%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		tempElementString = tempElementString + element.title ;
		tempElementString = tempElementString + "</span>"; 
		tempElementString = tempElementString + "</div>";
		 
	*/
		  
		
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		$('#CONTAXONOMY_OPTIONS').append($("<br/>"));
		
		
		
		
		
		
		
//		tempElementString = tempElementString + "<table width=100%><tr>";
		//tempElementString = "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - </b></span></td>";
		//tempElementString = tempElementString + "<td width=620 valign=middle><span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc;'>";
		//tempElementString = tempElementString + element.title ;
		//tempElementString = tempElementString + "</span></td>";
		//tempElementString = tempElementString + "</tr></table>";
	});
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	//
	$('#CONTAXONOMY_MIN_ICON').on('click', function() {
		$('#CONTAXONOMY_MODAL').hide();
		
	});
	
	 
	
	function firstWithDivAndTablePlusTriangle() {
		var tempElementString = "";
		//tempElementString = "<div>";
		
		tempElementString = tempElementString + "<table width=100%><tr>";
		
		//tempElementString = "<span style='color: #B8B4B4;'><b>- - </b></span>";
		tempElementString = "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - </b></span></td>";
		
		tempElementString = tempElementString + "<td valign=middle><div class='arow-lft-tagxonmy-lvl1-grey'></div></td>";
		
		//tempElementString = tempElementString + "<span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title ;
		//tempElementString = tempElementString + "</span>";
		
		tempElementString = tempElementString + "<td width=620 valign=middle><span style = 'display: inline-block; vertical-align: middle; background-color: #4D4949; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title ;
		tempElementString = tempElementString + "</span></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		$('#CONTAXONOMY_OPTIONS').append($("<br/>"));

		tempElementString = "";		
		tempElementString = tempElementString + "<table><tr>";
		
		//tempElementString = tempElementString + "<br/>";		
		//tempElementString = tempElementString + "<span style='color: #B8B4B4;'><b>- - - - </b></span>";
		
		tempElementString = tempElementString + "<td valign=middle><span style='color: #95B3D7; font-size: 15px;'><b>- - - - </b></span></td>";
		
		
		tempElementString = tempElementString + "<td valign=middle align=left><div class='arow-lft-tagxonmy-lvl2-grey'></div></td>";
		
		//tempElementString = tempElementString + "<div style = 'display: inline-block; vertical-align: middle; background-color: #696969; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title + " Child1";
		//tempElementString = tempElementString + "</div>";
		
		tempElementString = tempElementString + "<td valign=middle width=600><div style = 'display: inline-block; vertical-align: middle; background-color: #696969; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title + " Child1";
		tempElementString = tempElementString + "</div></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		$('#CONTAXONOMY_OPTIONS').append($("<br/>"));
		
		//tempElementString = tempElementString + "<br/>";
		
		tempElementString = "";		
		tempElementString = tempElementString + "<table><tr>";
		
		//tempElementString = tempElementString + "<span style='color: #B8B4B4;'><b>- - - - - - </b></span>";
		tempElementString = tempElementString + "<td><span style='color: #95B3D7; font-size: 15px;'><b>- - - - - - </b></span></td>";
		
		//tempElementString = tempElementString + "<div class='arow-lft-tagxonmy-lvl3-grey'></div>";
		tempElementString = tempElementString + "<td valign=middle align=left><div class='arow-lft-tagxonmy-lvl3-grey'></div></td>";
		
		//tempElementString = tempElementString + "<div style = 'display: inline-block; vertical-align: middle; background-color: #8C8585; width: 60%; height: 35px; color: #dcdcdc; margin-top:  3px; margin-bottom: 10px;'>";
		//tempElementString = tempElementString + element.title + " Child1 Child1";
		//tempElementString = tempElementString + "</div>";
		
		tempElementString = tempElementString + "<td valign=middle width=570><div style = 'display: inline-block; vertical-align: middle; background-color: #8C8585; width: 60%; height: 35px; color: #dcdcdc;'>";
		tempElementString = tempElementString + element.title + " Child1 Child1";
		tempElementString = tempElementString + "</div></td>";
		
		tempElementString = tempElementString + "</tr></table>";
		$('#CONTAXONOMY_OPTIONS').append($(tempElementString));
		
		//tempElementString = tempElementString + "</div><br/>";
		
		$('#CONTAXONOMY_OPTIONS').append($("<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>"));
	}
  
	 
			
	
			
		
		
 
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
	 		
   
	


</script>