<style>
	#CONTAXONOMY {
		display: block;
		position: fixed;
		top: 30%;
		z-index: 9999999999999999;
		background-color: blue;
		height : 50%;
		
		width: 50%;
		margin-left: auto; 
		margin-right: auto;
		 
		
	}

   
</style>

<div id = CONTAXONOMY>
	
	
</div>