<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital - Reimagined</title>
    
     <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--  <link href="/styles/profiles/profile.css" rel="stylesheet" /> -->
     <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
    <!--<link href="/styles/profiles/green-top-grey-push-grey-buttom.css" rel="stylesheet" /> -->
  
     
      <style type="text/css">
        
        .img-preview{
        	margin-left: -8px;
   			margin-right: -15px;
        }
        
       .thumbnail {
        	border: 1px solid #77933c;
        }
        .caption {
        	font-size: 10px;
        	padding: 0px;
        	 
        }
        
        img123 {
			/* max-height: 80%; */
			width: 100%;
			height: 100%;
			 
			
		}
          
        .thumbnail123{
         	width: 200px;
         	height: 200px;
         	margin-bottom: 5px;
        }
        
        .col1, .thumbnail {  
        	padding: 0;
        	margin:0;
        }
        .col123 {
        	height: 20%;
        }
         .thumbnail{
         	 
         	margin-bottom: 5px;
         	margin-right: 5px;
        }     
        
        #heading {
        	margin-top: 70px;
        	margin-bottom: 12px;
        	text-align: center;
        }
        
      </style>
      
</head>

<body> 
		
		
		 <div id="divReimaginers" class="container-fluid"> <!-- People with Pic  -->
		 
		       <% include ../partials/top_menu_bar.ejs %> 		
		             <div id="heading"><h4>Fuellers</h4></div>       
		            <div class="row img-preview">
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<div class="thumbnail">
		                        	<a href="#">
		                        		<img class="img-responsive center-block" src="media/images/profile_images/AbhijitPrusty.jpg" />
		                        	</a>
		                        	<div class="caption">
								        <b>Abhijit Prusty</b>
								        <p>Senior Software Engineer at Samsung</p>
    								</div>
		                        	
		                        </div>
		                        
		                    </div> <!-- col-ends -->
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<div class="thumbnail">
		                       	 	<a href="/profile/view/mahika"><img class="img-responsive center-block" src="media/images/profile_images/Mihika_JustDial.jpg" /></a>
		                       	 	<div class="caption">
								        <b>Abhijit Prusty</b>
								        <p>Senior Software Engineer at Samsung</p>
    								</div>
		                       	</div>
		                       	 
		                    </div><!-- col-ends -->
		                    
		                    <div class="clearfix visible-xs-block"></div>
		                    	 
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3  col1">
		                       <div class="thumbnail">
		                      	 	<a href="#">
		                       			 <img class="img-responsive center-block" src="media/images/profile_images/monty_2012.jpg" />
		                       		</a>
		                       	<div class="caption">
								        <b>Abhijit Prusty</b>
								        <p>Senior Software Engineer at Samsung</p>
    								</div>
		                       </div>
		                       	                        
		                    </div><!-- col-ends -->
		                    
		              		
		             
		             
		             
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<div class="thumbnail">
		                    		<a href="#">
		                        		<img class="img-responsive center-block" src="media/images/profile_images/amar.jpg" />
		                        	</a>
		                        	<div class="caption">
								        <b>Abhijit Prusty</b>
								        <p>Senior Software Engineer at Samsung</p>
    								</div>
		                        </div>
		                        
		                    </div> <!-- col-ends -->
							
							<div class="clearfix visible-xs-block"></div>
							<div class="clearfix visible-sm-block"></div>
							<div class="clearfix visible-md-block"></div>
							<div class="clearfix visible-lg-block"></div>
							
		                    
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<div class="thumbnail">
		                    		 <a href="#">
		                       		 	<img class="img-responsive center-block" src="media/images/profile_images/Anjali_Arora_gurgaon_VLSI.jpg" />
		                       		 </a>
		                       		 <div class="caption">
								        <b>Abhijit Prusty</b>
								        <p>Senior Software Engineer at Samsung</p>
    								</div>
		                    	</div>
		                    	 
		                    </div><!-- col-ends -->
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<div class="thumbnail">
		                    		<a href="#">
		                        		<img class="img-responsive center-block" src="media/images/profile_images/Capt_Ajay.jpg" />
		                        	</a>
		                        	<div class="caption">
								        <b>Abhijit Prusty</b>
								        <p>Senior Software Engineer at Samsung</p>
    								</div>
		                        </div>
		                        
		                    </div><!-- col-ends -->
		              
		             	    <div class="clearfix visible-xs-block"></div>    		
		               
		             
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<div class="thumbnail">
		                        	<a href="#">
		                        		<img class="img-responsive center-block"  src="media/images/profile_images/Navin_Meshram.jpg" />
		                        	</a>
		                        	<div class="caption">
								        <b>Abhijit Prusty</b>
								        <p>Senior Software Engineer at Samsung<p>
    								</div>
		                        </div>
		                        
		                    </div><!-- col-ends -->
		                    
		                    
		                    
		                    <div class="clearfix visible-xs-block"></div>		                    
		                     <div class="clearfix visible-md-block"></div>
							 <div class="clearfix visible-lg-block"></div>
		                     <div class="clearfix visible-sm-block"></div>
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1"> 
		                    	<div class="thumbnail">
		                        	<a href="#">
		                        		<img class="img-responsive center-block" src="media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" />
		                        	</a>
		                        	<div class="caption">
								        <b>Abhijit Prusty<b>
								        <p>Senior Software Engineer at Samsung<p>
    								</div>
		                    	</div>
		                    	<!-- <div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div> -->
		                    </div><!-- col-ends -->
		                   
		       </div><!-- row ends -->        
		
		<!-- footer file included  here -->
			
			<%	include ../partials/footer_bar.ejs	%>
		</div> <!-- container ends -->
		
		
		
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>