<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Digital - Reimagined</title>
	    
	    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />  
	    <!--  <link href="/styles/profiles/profile.css" rel="stylesheet" /> -->
	     <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
	    <!--<link href="/styles/profiles/green-top-grey-push-grey-buttom.css" rel="stylesheet" /> -->
	    
	    
	    <style>
	    	
	    </style>
	       
	</head>  

<body> 		
		
		 <div id="divReimaginers" class="container-fluid"> <!-- People with Pic  -->
		    
		     <% include ../partials/top_menu_bar.ejs %>		
		                     
		            <div class="row title-bar"><b>Found <font color=#91B535>12, 057, 6589</font> people..</b><br/>&nbsp;
		            </div>
		            <div class="row img-preview">
		            		
		            		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		            			<div class="profilePic center-block">
		            				<a href="#"> 
		            					<img class="img-responsive center-block pic" src="media/images/profile_images/AbhijitPrusty.jpg" />		            						
							        </a>							        
							        <div class="profileCaption center-block">
		            					<b>Abhijit Prusty</b>
								 		<p>Senior Software Engineer at Samsung</p>
									</div>						         
							   	</div>
							   	
							   	<img  class="btn-profile-options" src="/media/images/icons/options.png" width="30" height="30" />
		            			
		            		
		            		</div> <!-- col ends -->
		            		
		            		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		            			<div class="profilePic center-block">
		            				<a href="/profile/view/mahika"> 
		            					<img class="img-responsive center-block pic" src="media/images/profile_images/Mihika_JustDial.jpg" />
		            					<img  class="btn-profile-options" src="/media/images/icons/options.png" width="30" height="30" />
		            				</a>
						        </div>
		            			<div class="profileCaption center-block">
		            				<b>Mihika</b>
								 	<p>Senior Software Engineer at Samsung</p>
								</div>		            			
		            		</div> <!--  col ends -->
		 
		                 
		                    <div class="clearfix visible-xs-block"></div>
		                    
		                      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		            			<div class="profilePic center-block">
		            				<a href="#"> 
		            					<img class="img-responsive center-block pic" 
         									src="media/images/profile_images/monty_2012.jpg" />
         								<img  class="btn-profile-options" src="/media/images/icons/options.png" width="30" height="30" />
							        </a>						         
							   	</div>
		            			<div class="profileCaption center-block">
		            				<b>Abhijit Prusty</b>
								 	<p>Senior Software Engineer at Samsung</p>  
								</div> 
		            		
		            		</div> <!-- col ends -->
		            		
		            		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		            			<div class="profilePic center-block">
		            				<a href="#"> 
		            					<img class="img-responsive center-block pic" 
						         			 src="media/images/profile_images/amar.jpg" />
						         		<img  class="btn-profile-options" src="/media/images/icons/options.png" width="30" height="30" />
							        </a>						         
							   	</div>
		            			<div class="profileCaption center-block">
		            				<b>Amar Chhetri</b>
								 	<p>Senior Software Engineer at Samsung</p>
								</div>
		            		
		            		</div> <!-- col ends -->
		            		 
		                    
							<div class="clearfix visible-xs-block"></div>
							<div class="clearfix visible-sm-block"></div>
							<div class="clearfix visible-md-block"></div>
							<div class="clearfix visible-lg-block"></div>
							
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		            			<div class="profilePic center-block">
		            				<a href="#"> 
		            					<img class="img-responsive center-block pic" 
		            					src="media/images/profile_images/Anjali_Arora_gurgaon_VLSI.jpg" />
		            					<img  class="btn-profile-options" src="/media/images/icons/options.png" width="30" height="30" />
		            				</a>
						        </div>
		            			<div class="profileCaption center-block">
		            				<b>Mihika</b>
								 	<p>Senior Software Engineer at Samsung</p>
								</div>		            			
		            		</div> <!--  col ends -->
		            		
		            		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		            			<div class="profilePic center-block">
		            				<a href="#"> 
		            					<img class="img-responsive center-block pic" 
						          src="media/images/profile_images/Capt_Ajay.jpg" />
						          		<img  class="btn-profile-options" src="/media/images/icons/options.png" width="30" height="30" />
		            				</a>
						        </div>
		            			<div class="profileCaption center-block">
		            				<b>Mihika</b>
								 	<p>Senior Software Engineer at Samsung</p>
								</div>		            			
		            		</div> <!--  col ends -->
		               
		              
		             	    <div class="clearfix visible-xs-block"></div> 		
		               
		               		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		            			<div class="profilePic center-block">
		            				<a href="#"> 
		            					<img class="img-responsive center-block pic" 
						         			 src="media/images/profile_images/Navin_Meshram.jpg" />
						         		 <img  class="btn-profile-options" src="/media/images/icons/options.png" width="30" height="30" />	
							       	</a>						         
							   	</div>
		            			<div class="profileCaption center-block">
		            				<b>Abhijit Prusty</b>
								 	<p>Senior Software Engineer at Samsung</p>
								</div>
		            		
		            		</div> <!-- col ends -->
		            		
		            		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		            			<div class="profilePic center-block">
		            				<a href="#"> <img class="img-responsive center-block pic" 
							          src="media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg"/>	
							        <img  class="btn-profile-options" src="/media/images/icons/options.png" width="30" height="30" />
							        </a>						         
							   	</div>
		            			<div class="profileCaption center-block">
		            				<b>Prabal Atreya</b>
								 	<p>Senior Software Engineer at Samsung</p>
								</div>
		            		
		            		</div> <!-- col ends -->
		                   
		                   
		       </div><!-- row ends -->        
		
		<!-- footer file included  here -->
			
			<%	include ../partials/footer_bar.ejs	%>
		</div> <!-- container ends -->
		
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/script/common.js"></script>
        <script>
         $(function(){
        	var d360 = false;
        	showHideD360Icon(d360);
         });
        </script>
</body>
</html>