<!DOCTYPE html>

<html>

	<head>
		<link rel="stylesheet" href="/styles/profiles/peopleSearchResults.css"/>
		<title></title>
	</head>
	<body>


        <!--action bar -->
	    <div id="PEOPLE_CONTENT_CONTAINER">
	        <div id="PEOPLE_TOP_ACTIONBAR">
    			<table id="PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER">
    			  <td>
    			 	<div  style = "display:inline-block; text-align:left;"><a id="list-view" href="#">  <img src="/media/images/icons/list-view.png" width="28px" height="28px" align="right"/></a></div>
    			 </td>
    			  <td> 	
    			  	<div  style = "display: inline-block;"><a id="ppl-list-view-bigger-rows" href="#"><img src="/media/images/icons/ppl-list-view-bigger-rows.png" width="28px" height="28px" align="right"/></a></div>
    			  </td>
    			  <td>	
    			  	<div style = "display: inline-block; text-align: center;"><a id="grid-view" href="#"><img src="/media/images/icons/grid-view.png"  width="28px" height="28px" align="right" /></a></div>
    			  </td>
    			  <td>
                    <div style = "display: inline-block; text-align: right;"><a id="single_column_one_row_mobile" href="#"><img src="/media/images/icons/single_column_one_row_mobile.png" width="28px" height="28px" align="right"/></a></div>
                  </td>
                   
                </table>
            </div>




            <!--list view -->
            
        <div id="PEOPLE_LIST_VIEW">
            <div id="PEOPLE_FACES1">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/DebojitSaikia.jpg" width="80" height="80" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT1">
                    <table>
                        <tr><td><font color="blue">Anurag Tiwari</font></td></tr>
                        <tr><td>COO & Co-Founder at wedealnow.com</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka,India</font></td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES2">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/Mihika_JustDial.jpg" width="80" height="80" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT2">
                    <table>
                        <tr><td><font color="blue">Vipin Chand</font></td></tr>
                        <tr><td>Software Engineer at Langoor</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka,India</font></td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES3">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/Mihika_JustDial.jpg" width="80" height="80" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT3">
                    <table> 
                        <tr><td><font color="blue">Sanat Jain</font></td></tr>
                        <tr><td>Business Analyst at Axtria-Ingenious Insights</font></td></tr>                        
                        <tr><td><font color="grey">India</td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES4">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg"  width="80" height="80" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT4">
                    <table> 
                        <tr><td><font color="blue">Deepak Dubey</font></td></tr>
                        <tr><td>Software Development Engineer at Voonik</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka,India</font></td></tr>
                    </table>
                </div>
            </div>

        </div>

  
          <!--people list view -->

         <div id="PEOPLE_LIST_VIEW_BIGGER_ROWS">
            <div id="PEOPLE_FACES5">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/DebojitSaikia.jpg" width="130" height="130" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT5">
                    <table>
                        <tr><td><font color="blue">Anurag Tiwari</font></td></tr>
                        <tr><td>COO & Co-Founder at wedealnow.com</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka,India</font></td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES6">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/Mihika_JustDial.jpg" width="130" height="130" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT6">
                    <table>
                        <tr><td><font color="blue">Vipin Chand</font></td></tr>
                        <tr><td>Software Engineer at Langoor</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka,India</font></td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES7">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/Mihika_JustDial.jpg" width="130" height="130" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT7">
                    <table> 
                        <tr><td><font color="blue">Sanat Jain</font></td></tr>
                        <tr><td>Business Analyst at Axtria-Ingenious Insights</font></td></tr>                        
                        <tr><td><font color="grey">India</td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES8">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="130" height="130" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT8">
                    <table> 
                        <tr><td><font color="blue">Deepak Dubey</font></td></tr>
                        <tr><td>Software Development Engineer at Voonik</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka,India</font></td></tr>
                    </table>
                </div>
            </div>

        </div>


        <!-- grid view -->
        <div id="PEOPLE_GRID_VIEW">
                <table>
                <tr><td>
                    <div id="PEOPLE_FACES5">
                        <div style="display:inline-block;">
                            <table>
                                <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="200" height="200" style="margin-left:5px;">
                            </table>    
                        </div>
                    <div id="PAGE_TEXT5">
                        <table>
                            <tr><td>Anurag Tiwari</td></tr>
                            <tr><td>COO & Co-Founder at wedealnow.com</td></tr>
                            <tr><td>Bengaluru,Karnataka,India</td></tr>
                        </table>
                    </div>
                </div></td>

            <td><div id="PEOPLE_FACES6">
                
                 <div id="PAGE_TEXT6" style="float:right; margin-left:50px;">
                    <table>
                        <tr><td>Vipin Chand</td></tr>
                        <tr><td>Software Engineer at Langoor</td></tr>
                        <tr><td>Bengaluru,Karnataka,India</td></tr>
                    </table>
                </div>

                <div style="display:inline-block; float:right; bottom:0px; margin-left:50px;">
                    <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="200" height="200" style="margin-left:5px;">
                </div>
               
                </div></td></tr>
            </table>


            <table>
            <tr><td>
            <div id="PEOPLE_FACES7">
                <div style="display:inline-block;">
                    <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="200" height="200" style="margin-left:5px;">
                </div>
                <div id="PAGE_TEXT7">
                    <table> 
                        <tr><td>Sanat Jain</td></tr>
                        <tr><td>Business Analyst at Axtria-Ingenious Insights</td></tr>                        
                        <tr><td>India</td></tr>
                    </table>
                </div>
            </div></td>
            <td>
            <div id="PEOPLE_FACES8">
               
               
                 <div id="PAGE_TEXT8" style="float:right; top:0; margin-left:50px;">
                    <table> 
                        <tr><td>Deepak Dubey</td></tr>
                        <tr><td>Software Development Engineer at Voonik</td></tr>
                        <tr><td>Bengaluru,Karnataka,India</td></tr>
                    </table>
                </div>
                   <div style="float:right;">
                    <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="200" height="200" style="margin-left:5px;">
                </div>
            </div>
               
            </td>
             </tr>
            </table>
            
       </div>



        <div id="PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE">
        
            <div id="PEOPLE_FACES13">
                <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" style="width:100%; height:65%">
            </div>
            
            <div id="PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE_ICON">
                
            </div>
            
        </div> 
       
</div> <!-- PEOPLE_CONTENT_CONTAINER ends -->
        <!-- javascript-->
      <!--   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->
		    <script type="text/javascript">

            /*list-view icon*/
                $(function() 
                {
                       
                     $("#list-view").on('click', peopleListView);
                                               
                     $("#ppl-list-view-bigger-rows").on('click',peopleListViewBigger);
                            
                     $("#grid-view").on('click',peopleGridView);
                          
                     $("#single_column_one_row_mobile").on('click',peopleSingleColumnMobileView);
                            
                });    
                

                function peopleListView() {
                	
                   $("#PEOPLE_LIST_VIEW").show();  
                   $("#PEOPLE_LIST_VIEW_BIGGER_ROWS").hide();
                   $("#PEOPLE_GRID_VIEW").hide();
                   $("#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE").hide();
                     
                }

 
                function peopleListViewBigger() { 
                	
                   $("#PEOPLE_LIST_VIEW_BIGGER_ROWS").show();
                   $("#PEOPLE_LIST_VIEW").hide();
                   $("#PEOPLE_GRID_VIEW").hide();
                   $("#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE").hide();
                                         
                }

            
 
                function peopleGridView() {
                
                   $("#PEOPLE_GRID_VIEW").show();
                   $("#PEOPLE_LIST_VIEW").hide();
                   $("#PEOPLE_LIST_VIEW_BIGGER_ROWS").hide();
                   $("#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE").hide();
                      
                }

             
                function peopleSingleColumnMobileView() {
             
                  $("#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE").show();
                  $("#PEOPLE_LIST_VIEW").hide();
                  $("#PEOPLE_GRID_VIEW").hide();
                  $("#PEOPLE_LIST_VIEW_BIGGER_ROWS").hide();
                     
                }

            </script>

	</body>
</html>