<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital - Reimagined</title>
    
     <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--  <link href="/styles/profiles/profile.css" rel="stylesheet" /> -->
     <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
    <!--<link href="/styles/profiles/green-top-grey-push-grey-buttom.css" rel="stylesheet" /> -->
    
    <style>
    	
    </style>
       
</head>

<body> 
		
		
		
		 <div id="divReimaginers" class="container-fluid"> <!-- People with Pic  -->
		    
		     <% include ../partials/top_menu_bar.ejs %>		
		        
		             <div id="heading"></div>     
		             
		             
		                
		            <div class="row img-preview">
		            		
		            		 <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	 <a href="#" class="thumbnail"> <img class="img-responsive center-block" 
							          src="media/images/profile_images/AbhijitPrusty.jpg" />
								          <div class="caption">
												<b>Abhijit Prusty</b>
												<p>Senior Software Engineer at Samsung</p>
								    	 </div>
							      </a> 
		                        
		                    </div> <!-- col-ends -->
		            		
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<a href="/profile/view/mahika" class="thumbnail"> <img class="img-responsive center-block" 
						           	src="media/images/profile_images/Mihika_JustDial.jpg" />
						          <div class="caption">
										<b>Abhijit Prusty</b>
										<p>Senior Software Engineer at Samsung</p>
						    	 </div> 
        						</a>
		                        
		                    </div> <!-- col-ends -->
		                    
		                    <div class="clearfix visible-xs-block"></div>
		                      
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<a href="#" class="thumbnail"> <img class="img-responsive center-block" 
         							src="media/images/profile_images/monty_2012.jpg" />
	          						<div class="caption">
										<b>Abhijit Prusty</b>
										<p>Senior Software Engineer at Samsung</p>
	    							</div>
        						</a>
		                       	 
		                    </div><!-- col-ends -->
		                    
		                    
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3  col1">
		                       <a href="#" class="thumbnail"> <img class="img-responsive center-block" 
						          src="media/images/profile_images/amar.jpg" />
							          <div class="caption">
										<b>Abhijit Prusty</b>
										<p>Senior Software Engineer at Samsung</p>
							    	 </div>
						        </a>
		                       	                        
		                    </div><!-- col-ends --> 		                    
		          
							
							<div class="clearfix visible-xs-block"></div>
							<div class="clearfix visible-sm-block"></div>
							<div class="clearfix visible-md-block"></div>
							<div class="clearfix visible-lg-block"></div>
							
		                    
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
								  <a href="#" class="thumbnail"> <img class="img-responsive center-block" 
							          src="media/images/profile_images/Anjali_Arora_gurgaon_VLSI.jpg" />
							          <div class="caption">
											<b>Abhijit Prusty</b>
											<p>Senior Software Engineer at Samsung</p>
							    	 </div>
       							 </a>
		                    	 
		                    </div><!-- col-ends -->
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	 <a href="#" class="thumbnail"> <img class="img-responsive center-block" 
						          src="media/images/profile_images/Capt_Ajay.jpg" />
							          <div class="caption">
											<b>Abhijit Prusty</b>
											<p>Senior Software Engineer at Samsung</p>
							    	 </div>
						        </a>
		                        
		                    </div><!-- col-ends -->
		              
		             	    <div class="clearfix visible-xs-block"></div> 		
		               
		             
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1">
		                    	<a href="#" class="thumbnail"> <img class="img-responsive center-block" 
						          src="media/images/profile_images/Navin_Meshram.jpg" />
						          	<div class="caption">
										<b>Abhijit Prusty</b>
										<p>Senior Software Engineer at Samsung</p>
						    	 	</div>
						        </a>
		                        
		                    </div><!-- col-ends -->
		                 
		                    
		                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col1"> 
		                    	<a href="#" class="thumbnail"> <img class="img-responsive center-block" 
							          src="media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg"/>
							          <div class="caption">
										<b>Abhijit Prusty</b>
										<p>Senior Software Engineer at Samsung</p>
							    	 </div>
						        </a>
		                    </div><!-- col-ends -->
		                   
		       </div><!-- row ends -->        
		
		<!-- footer file included  here -->
			
			<%	include ../partials/footer_bar.ejs	%>
		</div> <!-- container ends -->
		
		
		
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>