<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital - Reimagined</title>
    
     <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
     
      <style type="text/css">
        #divReimaginers{
        	background-color: #e0e0eb;
        	padding: 15px;
        	
        }
       
        img {
			height: 50px;
			widthll: 50px;
			border: 0px;
		}
        .panel,.panel-body,.panel-footer  {
        	border: 0px;
        	padding: 0px;
        	font-size: 0.9em;
        	
        }
        .panel {
        	padding: 10px;
        	background-color: #e0e0eb;
        	height999: 200px;
        }
              
      </style>
      
</head>

<body> 
		 <div id="divReimaginers" class="container"> <!-- People with Pic  -->
		        		             
		            <div class="row img-preview">
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default">
		                    	<div class="panel-body">
		                        	<img class="img-responsive center-block" src="media/images/profile_images/AbhijitPrusty.jpg" />
		                        </div>
		                        <div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>
		                    </div> <!-- col-ends -->
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default">
		                    	<div class="panel-body">
		                       	 	<a href="/profile/view/mahika"><img class="img-responsive center-block" src="media/images/profile_images/Mihika_JustDial.jpg" /></a>
		                       	</div>
		                       	<div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>
		                    </div><!-- col-ends -->
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default">
		                       <div class="panel-body">
		                       	 <img class="img-responsive center-block" src="media/images/profile_images/monty_2012.jpg" />
		                       </div>
		                       <div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>		                        
		                    </div><!-- col-ends -->
		                    
		              		 <div class="clearfix visible-xs-block"></div>
		             
		             
		             
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default">
		                    	<div class="panel-body">
		                        	<img class="img-responsive center-block" src="media/images/profile_images/amar.jpg" />
		                        </div>
		                        <div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>
		                    </div> <!-- col-ends -->

		                    <div class="clearfix visible-sm-block"></div>
		                    
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default">
		                    	<div class="panel-body">
		                       		 <img class="img-responsive center-block" src="media/images/profile_images/Anjali_Arora_gurgaon_VLSI.jpg" />
		                    	</div>
		                    	<div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>
		                    </div><!-- col-ends -->
		                    
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default">
		                    	<div class="panel-body">
		                        	<img class="img-responsive center-block" src="media/images/profile_images/Capt_Ajay.jpg" />
		                        </div>
		                        <div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>
		                    </div><!-- col-ends -->
		              
		             		 <div class="clearfix visible-xs-block"></div>
		             		 <div class="clearfix visible-md-block"></div>
							 <div class="clearfix visible-lg-block"></div>
		               
		             
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default">
		                    	<div class="panel-body">
		                        	<img class="img-responsive center-block" height="100" src="media/images/profile_images/Navin_Meshram.jpg" />
		                        </div>
		                        <div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>
		                    </div><!-- col-ends -->
		                    
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default">
		                  	  <div class="panel-body">
		                        	<img class="img-responsive center-block" src="media/images/profile_images/santosh.jpg" />
		                      </div>
		                      <div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>
		                    </div><!-- col-ends -->
		                    
		                    <div class="clearfix visible-sm-block"></div>
		                    
		                    <div class="col-xs-4 col-sm-3 col-md-2 panel panel-default"> 
		                    	<div class="panel-body">
		                        	<img class="img-responsive center-block" src="media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" />
		                    	</div>
		                    	<div class="panel-footer">
							        <b>Abhijit Prusty</b><br>
							        Senior Software Engineer at Samsung
    							</div>
		                    </div><!-- col-ends -->
		                   
		       </div><!-- row ends -->        
		
		
		</div> <!-- container ends -->
		
				
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>