
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Profile</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/profiles/peopleWithPic_grey.css" rel="stylesheet" /> 
    
    <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" /> 
    <!-- <link href="/styles/profiles/green-top-grey-push-grey-buttom.css" rel="stylesheet" />-->
</head>
<body>
 
	 
 
    <div class="container-fluid"> 
        
        <% include ../partials/top_menu_bar.ejs %>
 
			<div class="profile-page">
			<!-- include top_menu_bar.ejs here -->
			   
			    
			    <div class="row profile-header">
			        <div class="col-xs-8">
			            <span id="spnProfileText">Worrying is misuse of imagination..</span>
			        </div>
			        <div class="col-xs-4">
			            <img id="imgProfilePhoto" class="img-responsive img-rounded pull-right" width="100" src="/media/images/profile_images/Mihika_JustDial.jpg" />
			            <img id="imgProfileEdit" data-toggle="modal" data-target="#divProfileEdit" class="btn-profile-edit" src="/media/images/icons/options.png" width="30" height="30" />
			        </div>
			
			    </div>
			    <div class="row">
			        <div class="col-xs-12">
			            
			            <div class="profile-content">
			                <h4>Mihi [Mihika Mishra]</h4>
			                Software Developer at Ajooba Tech Ltd, Bangalore
			                <h4>Summary</h4>
			                Software Developer with a zeal to solve challenging problems that makes a difference in Life. TDD advocate!
			                <h4>Key Skills</h4>
			                <ul class="list">
			                    <li>Large Scale Computing</li>
			                    <li>Java</li>
			                    <li>Spark</li>
			                </ul>
			            </div>
			            <div class="profile-footer"></div>
			        </div>
			    </div>
			   
			</div>
			
			<div id="divProfileEdit" class="modal fade" role="dialog">
			    <div class="modal-dialog modal-lg">
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal">&times;</button>
			                <h4 class="modal-title">Edit Profile</h4>
			            </div>
			            <div class="modal-body">
			               <div class="row profile-header">
			        <div class="col-xs-8">
			            <span id="spnProfileEditText" contenteditable>Worrying is misuse of imagination..</span>
			        </div>
			        <div class="col-xs-4">
			            <img id="imgPreview" class="img-responsive img-rounded pull-right" width="100" src="/media/images/profile_images/Mihika_JustDial.jpg" />
			        </div>
			
			    </div>
			               
			            </div>
			            <div class="modal-footer">
			                <button type="button" id="btnSaveProfile" class="btn btn-success">Save</button> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			            </div>
			        </div>
			
			    </div>
			</div>
			
						
			
			
			
			<!-- footer file included  here -->
			<%	include ../partials/footer_bar.ejs	%>


    </div>
    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/script/profile.js"></script>
</body>
</html>



