<!DOCTYPE html>
<html>
<head>
<script type='text/javascript'
  src='http://code.jquery.com/jquery-1.9.1.js'></script>
<link rel="stylesheet" type="text/css"
  href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script type='text/javascript'
  src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head><!--   w w w.  j a  v  a2s  .c  om-->
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <a href="#" class="thumbnail"> <img
          src="media/images/profile_images/AbhijitPrusty.jpg" />
          <div class="caption">
			<b>Abhijit Prusty</b>
			<p>Senior Software Engineer at Samsung</p>
    	 </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="#" class="thumbnail"> <img
           src="media/images/profile_images/Mihika_JustDial.jpg" />
          <div class="caption">
			<b>Abhijit Prusty</b>
			<p>Senior Software Engineer at Samsung</p>
    	 </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="#" class="thumbnail"> <img
         src="media/images/profile_images/monty_2012.jpg" />
          <div class="caption">
			<b>Abhijit Prusty</b>
			<p>Senior Software Engineer at Samsung</p>
    	 </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="#" class="thumbnail"> <img
          src="http://placehold.it/400x200" />
          <div class="caption">
			<b>Abhijit Prusty</b>
			<p>Senior Software Engineer at Samsung</p>
    	 </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="#" class="thumbnail"> <img
          src="http://placehold.it/400x200" />
          <div class="caption">
			<b>Abhijit Prusty</b>
			<p>Senior Software Engineer at Samsung</p>
    	 </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="#" class="thumbnail"> <img
          src="http://placehold.it/300x150" />
          <div class="caption">
			<b>Abhijit Prusty</b>
			<p>Senior Software Engineer at Samsung</p>
    	 </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="#" class="thumbnail"> <img
          src="http://placehold.it/300x150" />
          <div class="caption">
			<b>Abhijit Prusty</b>
			<p>Senior Software Engineer at Samsung</p>
    	 </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="#" class="thumbnail"> <img
          src="http://placehold.it/300x150" />
          <div class="caption">
			<b>Abhijit Prusty</b>
			<p>Senior Software Engineer at Samsung</p>
    	 </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Post Info -->
  
</body>
</html>