  <link href="/styles/profiles/uniProfile.css" rel="stylesheet" />  
        
  <div id = PROFILE_HEADER>  
		<div id = PROFILE_HEADER_TXT style ="display: inline-block;"> Worrying is misuse of imagination...</div>
		
		<div style ="display: inline-block; float: right; ">
			 <img style= " border-radius: 50%;" id=""  width="100" src="/media/images/profile_images/Mihika_JustDial.jpg" />
		</div>
			    	
  </div>
  
  <div id = >
  
  </div>
  
  <div id = PROFILE_ACTION_BAR>
  	<span>Item 1</span> <span>Item 2</span> <span>Item 3</span> <span>Item 4</span>
  </div>
  
  <div id = PROFILE_TITLE>
  		Senior System Engineer at IBM India Pvt Ltd
  </div>
  
  <div id = PROFILE_SUMMARY>
  	I have more than 5 years of experience in development of enterprise level web applications.
  </div>
  
  <div id = PROFILE_SECTION>
  
  	<div class="section" style = "margin-top: 15px;">
  		SECTION 1
  	</div>
  	
  	<div class="section">
  		SECTION 2
  	</div>
  
  	
  </div>
        
     
        
        
<!--     <div class="profile-header-content">   
			    	
				        <div class="col-xs-8">
				            <span id="spnProfileText">Worrying is misuse of imagination..</span>  
				        </div>
				        
				        <div class="col-xs-4" style="position:relative;">
				            <img id="imgProfilePhoto" class="img-responsive img-rounded pull-right" width="100" src="/media/images/profile_images/Mihika_JustDial.jpg" /> -->
				          <!--  <img id="imgProfileEdit" data-toggle="modal" data-target="#divProfileEdit" class="btn-profile-edit" src="/media/images/icons/options.png" width="30" height="30" /> --> 
					           
					      <!--      <div class="btn-profile-edit" style="position: absolute;">   
					            	<img id="imgProfileEdit"  class="" src="/media/images/icons/options.png" width="30" height="30" onclick="javascript:displayPopUpMenu(event);"/> --> <!-- onmouseout="javascript:hidePopUpMenu(event);" /> -->				
  						<!-- 		 	
					           </div> 	
				        </div>
			
	</div>
	
	-->
	
	<script>
		
		/* var profileJsonData = [
		                       "profile_header": [ "text" : "Worrying is misuse of imagination...",
		                                           "font-size" : "20px",
		                                           "background-color" : "",
		                                           "img" : "",
		                                           "img_position" : "left"  		//left, center or right
		                                          	
		                                          ],
		                       
		                       "profile_title": "A Software Geek.... :) ",
		                       
		                       "profile_summary": "SummarySummary Summary Summary Summary Summary Summary Summary Summary Summary Summary Summary Summary" ,
		                       
		                       "profile_sections": [{
		                    	   	
		                    	   
		                       					}]
		                      ];
		
		*/
	</script>     