

<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Digital - Reimagined</title>
	    
	    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />  
	    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
	  	  
	    <link href="/styles/profiles/uniProfileCommon.css" rel="stylesheet" />  
	    <link href="/styles/profiles/uni_profile_social_fun_lnf.css" rel="stylesheet" />   
	    
	  
	    <style>
	     	
	     	html, body {
	     		min-height: 100%;
	     		min-width: 100%;
	     		background-color8888888: silver; /* #fff */
	     	}
	      
	    	
	    	 @media screen and (max-width: 760px) { 
  	 			 
  	 			 #SOCIAL_FUN_MAIN_CONTNT_CONTNR{
  	 				width : 100%;
  	 				height: 100%;
  	 				 
  	 				background-color: #fff;
  	 				 
  	 				position: relative;
  	 				 
  	 			 }
  	 			 
  	 		/*	#SOCIAL_FUN_PRFL_BG_CNTNR {
  	 			 	display: none;
  	 			 }
  			*/
  			
  			}
  			
  			@media screen and (min-width: 761px) { 
	  			 #SOCIAL_FUN_MAIN_CONTNT_CONTNR {  
		    	 	height: 100%; 	 	
		    	    background-color: #fff;
		    	    position: relative;
		    	    margin-top: -20px;
		    	    /* WIDTH provided in Class*/
	    	  }
  	  	}
  	  	
	    </style>
	    
	    
	   
	    <style>
			  
			  	h4 {
			  			margin: 0px;
			  	}
			  	
		</style>
			
			
	       
	</head>  
	
	

	<body> 
		
	  <% include ../partials/top_menu_bar.ejs %> 
		  
		  
		 <!--  Background Image  -->
		<div id = SOCIAL_FUN_PRFL_BG_CNTNR   style = "position: relative; font-family: Bradley Hand ITC; color: #95B3D7; font-size: 25px; text-align:center; padding-top: 15px; margin-top: 70px; width: 100%;   ">
  			<span class = "profile-tagline" ><b>Worrying is misuse of Imagination...</b><span>
  			
  			
  			<div class = "website-screen-width_dt  social_profile_pic_container" style = "z-index: 1; position: absolute; left: 0; right: 0; padding-right: 10px;" >
  				 <div style = " text-align: right;    background-color111: rgb(0,0,0,0)">
		  			<div style = "position: relative;" >   
	  				 	<div class = "social-fun-profile-name" style = " border-radius: 2px;    background-color: rgba(63,63,63,.5);  border111: 1px solid red; display: inline-block; text-align: center;">
							<span style = " font-size: 20px; font-family: Sans serif; color: #dcdcdc; "><b>Sanju Baba</b></span><br/>   
						</div>
					</div>		 
					  
			 	 	 <img  class = "social_profile_pic" style = "float: right;  border: 2px solid #000;  border-radius: 50%;"   width = "190" height = "190"  src="/media/images/profile_images/socialfun/profile_pic/sanju-baba-profile-pic-baby.jpg" />
		 	 	</div> 
		   </div>
  				  	
  		</div>
  		
  		
  		
		 
		   		
		<div id = SOCIAL_FUN_MAIN_CONTNT_CONTNR class = "website-screen-width_dt"> 
				
			   
		 	 
			  <div>	
				  <div id = SOCIAL_FUN_PROFILE_ACTION_BAR class="menubar-footer" style = "border-top: 2px solid #000;">  	
				  	
				  </div><!--  SOCIAL_FUN_PROFILE_ACTION_BAR  ends -->   
				  
							  
				  <div>	  <!-- CONTAINER(STACK) -->
						<!--  Activities -->
						<table width = "100%" border = 0>
							<tr>
								<td align = left> 
									<img  class = "social_profile_big_icon" style = "margin-top: 15px; margin-left: 5px;" width = "50" height = "50"  src="/media/images/big_icons/interests/activities/tenis-blk.png" />	<br/>
									 
									<span class = "icon-text">Tennis</span>
									     
										
								</td>
								
								<td align = center>
									<img class = "social_profile_big_icon"  style = "margin-top: 15px;" width = "50" height = "50"  src="/media/images/big_icons/interests/activities/fishing-blk.png" />	<br/>
									<span class = "icon-text" style = "text-align: center;">Fishing</span>
								</td>
								
								<td align = center>
									<img  class = "social_profile_big_icon" style = "margin-top: 15px;" width = "60" height = "60"  src="/media/images/big_icons/interests/activities/yoga-blk.png" />	<br/>
									<span class = "icon-text">Yoga</span>
								</td>
								
								<td align = center>
									<img  class = "social_profile_big_icon" style = "margin-top: 15px;" width = "60" height = "60"  src="/media/images/big_icons/interests/activities/kayaking-blk.png" />	<br/>
									<span class = "icon-text">Kayaking</span> 
								 <!-- 	<span class = "icon-text" style = "display: block; color: blue;">More..</span> <br/> --> 
									
								</td>
									
								 
								
								<td width = 10></td>
								
								<td width = 30 valign: top;>
									 <div class = "social_profile_tag_icon" style = "width : 30px; float: right; margin-right: 5px;">
								 	 	 <img   width = "30" height = "30"  src="/media/images/icons/tag-black.png" />	<br/>		 	 	  
								 	 	 <img  style = "margin-top: 15px;" width = "30" height = "30"  src="/media/images/icons/add-2-contaxonomy-blk.png" />
							 	      </div>
								</td>
								
							</tr>  
						</table>
						
						
						
			<!-- Salvin's CODE  -->
	<div class="person-likes">
			
		<div>	
		
				<div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
					  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/tag-black.png" />
					  		Travel
					   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
			   </div> 
		
			   <div style="display:none;">
			
					<div style="display:inline-block;" class="icon_position1" align="center">
													
						<div>
							<img src="/media/images/big_icons/interests/travel-dest/beach-grey.png" width="70" height="70">
						</div>
						<div>
							<table border="0" align="center" class="icon-text">
								<tr>
									<td>
										<b>Beaches</b>
									</td>
								</tr>
							</table>
						</div>
						</br>							
					</div>
					<div style="display:inline-block;" class="icon_position2" align="center">
													
						<div>
							<img src="/media/images/big_icons/interests/travel-dest/getway-blk-on-wht.png" width="70" height="70">
						</div>
						<div>
							<table border="0" align="center" class="icon-text">
								<tr>
									<td>
										<b>Getaways</b>
									</td>
								</tr>
							</table>
						</div>
						</br>					
					</div>
					<div class="icon_position3" style="display:inline-block;" align="center">
						<div>
							<img src="/media/images/big_icons/interests/travel-dest/hill-station-icon.png" width="70" height="70">
						</div>
						<div>
							<table border="0" align="center" class="icon-text">
								<tr>
									<td>
										<b>Hill Stations</b>
									</td>
								</tr>
							</table>
						</div>
						</br>
					</div>
					<div style="display:inline-block;" class="icon_position4" align="center">
													
						<div>
							<img src="/media/images/big_icons/interests/travel-dest/pilgrim-blk.png" width="70" height="70">
						</div>
						<div>
							<table border="0" align="center" class="icon-text">
								<tr>
									<td>
										<b>Pilgrim Centres</b>
									</td>
								</tr>
							</table>
						</div>
						</br>							
					</div>

				</div>

		</div>



		<div>

	       <div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
				  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/tag-black.png" />
				  		Food
				   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
		   </div> 
		   <div style="display:none;">
				  
				<div style="display:inline-block;" class="icon_position1" align="center">
												
					<div>
						<img src="/media/images/big_icons/interests/food/north-indian.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>North Indian</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2" align="center">
												
					<div>
						<img src="/media/images/big_icons/interests/food/chinese-food.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Chinese</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;" align="center">
					<div>
						<img src="/media/images/big_icons/interests/food/grilled-food.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>From the Grill</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				<div style="display:inline-block;" class="icon_position4" align="center">
												
					<div>
						<img src="/media/images/big_icons/interests/food/mexican-food.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Mexican</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position1" align="center">
												
					<div>
						<img src="/media/images/big_icons/interests/food/desserts.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Desserts, All!</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2" align="center">
												
					<div>
						<img src="/media/images/big_icons/interests/food/italian-food.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Italian</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;" align="center">
					<div>
						<img src="/media/images/big_icons/interests/food/sea-food.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Anything off the Sea!</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				
				
			</div>	
		
		</div>
		
		
		


		
		
		
		
		
		<div>

			<div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
				  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/tag-black.png" />
				  		Music
				   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
		    </div> 
			<div style="display:none;">
      		
			
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/music/melody-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Melody, anything!</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/music/headset-pop-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Pop, Indi <br/>International</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;">
					<div>
						<img src="/media/images/big_icons/interests/music/sufi-music.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Sufi music</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/music/hip-hop-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Hip-hop</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/music/gramophone-old-songs.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Old is Gold!</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/music/popular-music.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Anything popular!</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;">
					<div>
						<img src="/media/images/big_icons/interests/music/classic-music-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Classical, Indian</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/music/latest.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Latest - Albums, <br/> Movie Songs</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/music/devotional.jpg" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Devotional</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/music/folk-tribe.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Local, Folk</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
			</div>
		</div>
		
		
		
	
		<div>
		
		
			<div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
				  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/tag-black.png" />
				  		Reads
				   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
		    </div> 
		
			<div style="display:none;">
			
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/reading/biography.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Biographies</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/reading/philosophy-outlined.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Philosophy</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;">
					<div>
						<img src="/media/images/big_icons/interests/reading/poetry.jpg" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Poetry</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/reading/tools_grey.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Occupational,<br>Business</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/reading/spiritual-enlight-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Spiritual</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/reading/magzn-read-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Magazines</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/reading/self-help-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Self Help</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
			</div>
		</div>
		
		
		
		
		<div>		

			<div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
				  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/tag-black.png" />
				  		Movies
				   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
		    </div> 
		
			<div style="display:none;">
			
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/movies/action-movie-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Action</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/movies/comedy-movie-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Comedy</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;">
					<div>
						<img src="/media/images/big_icons/interests/movies/crime-movie-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Crime</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/movies/documentary-movie-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Documentary</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/movies/romance-movie-grey.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Romance</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/movies/war-movie-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>War</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				
				<div style="display:inline-block;" class="icon_position3">
												
					<div>
						<img src="/media/images/big_icons/interests/movies/thriller-movie-grey.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Thriller</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/movies/drama-movie-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Drama</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
		
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/movies/horror-movie-grey.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Horror</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div>			

			<div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
				  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/tag-black.png" />
				  		Fashion
				   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
		    </div> 
		
			<div style="display:none;">
			
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/fashion/turned-ok-hand-sign.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Tailored, Fine, Choosy</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/fashion/casual-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Casuals <br/> Indian, Western</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;">
					<div>
						<img src="/media/images/big_icons/interests/fashion/trend-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Trendy</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/fashion/experimental.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Experimental</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/fashion/formal.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Formals - Indian</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/fashion/occasion-wear-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Wear the occasion</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
			</div>
		</div>

		<div>

			<div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
				  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/tag-black.png" />
				  		Pastime
				   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
		   </div> 
		   <div style="display:none;">		
			
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/pastime/bowling-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Bowling</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/pastime/games.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Games</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;">
					<div>
						<img src="/media/images/big_icons/interests/pastime/music-grey.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Music</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/pastime/pub-drinks-blk.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Pubs, Drinks</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/pastime/tv-watching.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Watching TV</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position2">
												
					<div>
						<img src="/media/images/big_icons/interests/pastime/longdrives.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Drive around, Long drives</b>
								</td>
							</tr>
						</table>
					</div>
					</br>					
				</div>
				<div class="icon_position3" style="display:inline-block;">
					<div>
						<img src="/media/images/big_icons/interests/pastime/cards.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Play Cards</b>
								</td>
							</tr>
						</table>
					</div>
					</br>
				</div>
				<div style="display:inline-block;" class="icon_position4">
												
					<div>
						<img src="/media/images/big_icons/interests/pastime/movie-reel.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Cinema, Theatre</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
				<div style="display:inline-block;" class="icon_position1">
												
					<div>
						<img src="/media/images/big_icons/interests/pastime/browsing-net.png" width="70" height="70">
					</div>
					<div>
						<table border="0" align="center" class="icon-text">
							<tr>
								<td>
									<b>Net Surfing!</b>
								</td>
							</tr>
						</table>
					</div>
					</br>							
				</div>
			</div>
		</div>
		
		
		
		<div>			

				<div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
					  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/tag-black.png" />
					  		Activities
					   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
			    </div> 
		
				<div style="display:none;">
			
					<div style="display:inline-block;" class="icon_position1">
													
						<div>
							<img src="/media/images/big_icons/interests/activities/kayaking-blk.png" width="70" height="70">
						</div>
						<div>
							<table border="0" align="center" class="icon-text">
								<tr>
									<td>
										<b>Kayaking</b>
									</td>
								</tr>
							</table>
						</div>
						</br>							
					</div>
					<div style="display:inline-block;" class="icon_position2">
													
						<div>
							<img src="/media/images/big_icons/interests/activities/yoga-blk.png" width="70" height="70">
						</div>
						<div>
							<table border="0" align="center" class="icon-text">
								<tr>
									<td>
										<b>Yoga</b>
									</td>
								</tr>
							</table>
						</div>
						</br>					
					</div>
					<div class="icon_position3" style="display:inline-block;">
						<div>
							<img src="/media/images/big_icons/interests/activities/tenis-blk.png" width="70" height="70">
						</div>
						<div>
							<table border="0" align="center" class="icon-text">
								<tr>
									<td>
										<b>Tenis</b>
									</td>
								</tr>
							</table>
						</div>
						</br>
					</div>
					<div style="display:inline-block;" class="icon_position4">
													
						<div>
							<img src="/media/images/big_icons/interests/activities/fishing-blk.png" width="70" height="70">
						</div>
						<div>
							<table border="0" align="center" class="icon-text">
								<tr>
									<td>
										<b>Pilgrim Centres</b>
									</td>
								</tr>
							</table>
						</div>
						</br>							
					</div>
				</div>
		</div>
									
						
						<!--  eNDS SALVIN'S CODE -->
						
					</div>  <!-- CONTAINER(STACK) Ends-->
						  
				<!--   <div style = "width : 30px; float: right; margin-right: 5px;">
			 	 	 <img   width = "30" height = "30"  src="/media/images/icons/tag-black.png" />	<br/>		 	 	  
			 	 	 <img  style = "margin-top: 10px;" width = "30" height = "30"  src="/media/images/icons/add-2-contaxonomy-blk.png" />
		 	      </div>
		 	      -->
		 	      
		 	      
			   </div>
			   
			   <div>
			   		
			   </div>
			  
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			  
					 
			 <p>
			 	&nbsp;
			 </p>
			 <p>
			 	&nbsp;
			 </p>
		 
				
		</div>
		
		
		
		
		<script>  
				
						/* Setting background image*/ 
						//alert(getTopMenuBarHeight());
						
				        var backgroundImageUrl = "/media/images/profile_images/socialfun/background_image/sanju-baba-bg-img-beach.jpg";
				        $('#SOCIAL_FUN_PRFL_BG_CNTNR').css('margin-top', getTopMenuBarHeight());
						$('#SOCIAL_FUN_PRFL_BG_CNTNR').css('background-image',  'url(' + backgroundImageUrl + ')');
						$('#SOCIAL_FUN_PRFL_BG_CNTNR').css('background-repeat', 'no-repeat');
						$('#SOCIAL_FUN_PRFL_BG_CNTNR').css('background-size', '100% 100%');
						$('#SOCIAL_FUN_PRFL_BG_CNTNR .profile-tagline').css('color', 'yellow');
						
						
				
						$('#PROFILE_BACKGROUND_HIDE_ICON').on('click', function() {
							$('#PROFILE_HEADER').hide();
							$('#PROFILE_BACKGROUND_DISPLAY_ICON').show();
						});	
						
						
						$('#PROFILE_BACKGROUND_DISPLAY_ICON').on('click', function() {
							$('#PROFILE_HEADER').show();
							$('#PROFILE_BACKGROUND_DISPLAY_ICON').hide();
						});
						  
				  	  
						
						
						var aspectAdded = "";
						
						function getProfileAspectInfo(url) {
							//alert(url);  
							if(aspectAdded.indexOf(url) == -1) {
									var xhr = new XMLHttpRequest();
									
									xhr.onload = function() {  
										if(xhr.status === 200) { 
											console.log("Status  == 200");
											//$('#PROFILE_ASPECT_CONTAINER').html(xhr.responseText);
											$('#PROFILE_ASPECT_CONTAINER').append(xhr.responseText);
											
											
											
										}
										else {
											console.log("Status == " + xhr.status);  
										}
									}
									
									 xhr.open('GET',url, true);         
									 xhr.send(null);
									 
							 aspectAdded = 	aspectAdded + url; 	 
							}
							
						//	window.location.hash = '#PROFILE_EDUCATION';
						};
						
				 
						
					 
				</script>      
				
		
		
		
		
		
		
		
		  <% include ../partials/footer_bar.ejs %> 
		
		
		
		<script>
			$('#SOCIAL_FUN_PRFL_BG_CNTNR').height(screen.height * .35);
			//$('#SOCIAL_FUN_MAIN_CONTNT_CONTNR').css('margin-top', );
			

		</script>
		
		
		 
	</body>


</html>