  <script>
  	 
  
  </script>
  <style>
  	h4 {
  			margin: 0px;
  	}
  </style>
  
  <link href="/styles/profiles/uniProfile.css" rel="stylesheet" />  
        
  <div id = PROFILE_HEADER>  
  		<table width =100% border = 0 height = 100% cellpadding = 0 cellspacing = 0>
  			<tr>
  				<td width=6>
									&nbsp;
								</td>
  				<td>  
  											
						<table border = 0>						
							<tr>
								<td width=120>
									<font color=#C4C435>Practice Areas:</font></br>
									Patent</br>
									Licensing<br/>
									Copyright<br/>
									Trademark<br/>
									 
								</td>								
								<td valign = bottom align=right>
								
									<table>
				  						<tr>
				  							<td>
				  								<img id="" style = "padding: 0px 5px 10px 0px;"  width = "26" height = "28"  src="/media/location_white.png" />
				  							</td>
				  							<td valign=top>
				  								Koramangala, Bangalore
				  							</td>				  							
				  						</tr>
				  						<tr>
				  							<td>
				  								<img id="" style = "padding: 0px 5px 10px 0px;" width = "27" height = "30"  src="/media/certification_white.png" /> 
				  							</td>
				  							<td valign=top>
				  								Licensed for 20 years
				  							</td>				  							
				  						</tr>
				  					</table>
								</td>
							</tr>						
						</table>				
  				</td>
  				<td width = 121 height=130 valign=top>
						 <img id="" style = "padding: 15px 0px 0px 0px;" width = "120"  height= "120"  src="/media/images/profile_images/Anjali_Arora_gurgaon_VLSI.jpg" />
						 
  				</td>	
  			</tr>
  			<tr>
  				<td width=6>
					&nbsp;
				</td>
  				<td valign = top>
  					<table>
  						<tr>
  							<td valign=top width=28>
  								<img id="" style = "padding: 0px 0px 0px 0px;" width = "14" height = "14"  src="/media/org_white.png" /> &nbsp;
  							</td>
  							<td align=left><p>Family Court &amp; High Court, Bangalore. Supreme Court, India</p></td>
  						</tr>
  					</table>	
				</td>
				<td valign = top align=center width=130>
  					<table width=100%>
  						<tr>
  							<td  align=center><div style = "background-color: #1899C4; font-size: 20px; height: 22px;">***</div></td>
  							<td align=center><div style = "background-color: #000; color: #fff font-size: 20px; height: 22px;">7.0</div></td>
  						</tr>
  					</table>
  				</td>
			</tr>
  			
  		</table>
   		    	
  </div>
  
  <div id = PROFILE_ACTION_BAR>
  	
  	<div style = "text-align: center; display: inline-block; width: 33.333333%;">Experience</div><div style = "text-align: center; display: inline-block; width: 33.333333%;">Reviews</div><div style = "text-align: center;  display: inline-block; width: 33.333333%;">Fees, Payment</div>
  
  </div>
  
  <div id = PROFILE_TITLE>
  		<h4><b>Anjali Arora</b></h4>
  		Advocate, <b>High Court of Karnataka</b><br>
  		 
  </div>
  
  <div id = PROFILE_ASPECT_SUMMARY>
  	<h5><b>About</b></h5>
  	Anjali Arora focuses her practice on the procurement and enforcement of domestic and international patents, trademarks and copyrights. <br><br>
  	Her experience includes various technical areas such as aerospace, hybrid and electrical engines, architecture and construction, medical devices, agriculture, food, and energy systems.
  </div>
  
  <div id = PROFILE_ASPECT_ABC_SECTION  style = "padding-left: 5px; padding-right: 5px;">
  	<div class="profile_aspect_title_bar" style = "padding-left: 5px; padding-right: 5px; margin-top: 15px; background-color: #f2f2f2; height: 32px; ">
  		<img id=""  width = "24" height = "24"  src="/media/edit_black.png" />
  		<div  style = " margin-top: 7px; display: inline-block;"> Practice Areas </div>
  		<div style= "display: inline-block; float: right; font-size: 22px; margin-right: 3px; ">-</span>
  		</div>
  	</div>
  	<div>
  		<img id=""  width = "100%" height= "100%" src="/media/practice_areas.PNG" />
  	</div>
   
    
 </div>
 
  <div id = PROFILE_ASPECT_XYZ_SECTION style = "padding-left: 5px; padding-right: 5px;">
  	<div class="profile_aspect_title_bar" style = "padding-left: 5px; padding-right: 5px; margin-top: 15px; background-color: #f2f2f2; height: 32px; ">
  		<img id=""  width = "22" height = "22"  src="/media/schedule_black.png" />
  		<div  style = " margin-top: 7px; display: inline-block;"> Consultation Schedule </div>
  		<div style= "display: inline-block; float: right; font-size: 22px; margin-right: 3px; ">+</span>
  		</div>
  	</div>
  </div>
  
 <p>
 	&nbsp;
 </p>
 <p>
 	&nbsp;
 </p>
 
  
	  
	<script>
	
	/*$('#PROFILE_HEADER').height(screen.height * .45);*/
		/*
		  var profileJsonData = [{
				                       "profile_header" : [{ "text" : "Worrying is misuse of imagination...",
				                                           	"font-size" : "20px",
				                                           "background-color" : "333",
				                                           "pic" : "444",
				                                           "profile_pic_position" : "left"  		//left, center or right
				                       						}
				                                          ],
				                       
				                       "profile_title" : "Software Developer.... :) ",
				                       
				                       "profile_summary" : "SummarySummary Summary Summary Summary Summary Summary Summary Summary Summary Summary Summary Summary" ,
				                       
				                       "profile_sections" : [{
				                    	   	
				                    	   
				                       					}]
		 					 } ];
		
		 */
	</script>     