

<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Digital - Reimagined</title>
	    
	    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />  
	    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
	  	  
	    <link href="/styles/profiles/uniProfileCommon.css" rel="stylesheet" />  
	    <link href="/styles/profiles/uni_profile_social_fun_lnf.css" rel="stylesheet" />   
	    
	    
	  
	    <style>
	     	
	     	html, body {
	     		min-height: 100%;
	     		min-width: 100%;
	     		background-color8888888: silver; /* #fff */
	     	}
	      
	    	
	    	 @media screen and (max-width: 760px) { 
  	 			 
  	 			 #SOCIAL_FUN_MAIN_CONTNT_CONTNR{
  	 				width : 100%;
  	 				height: 100%;
  	 				 
  	 				background-color: #fff;
  	 				 
  	 				position: relative;
  	 				 
  	 			 }
  	 			 
  	 			 #SOCIAL_FUN_PRFL_BG_CNTNR {
  	 			 	padding-top: 7px;
  	 			 }
  	 			 
  	 		/*	#SOCIAL_FUN_PRFL_BG_CNTNR {
  	 			 	display: none;
  	 			 }
  			*/
  			
  			}
  			
  			@media screen and (min-width: 761px) { 
	  			 #SOCIAL_FUN_MAIN_CONTNT_CONTNR {  
		    	 	height: 100%; 	 	
		    	    background-color: #fff;
		    	    position: relative;
		    	    margin-top: -20px;
		    	    /* WIDTH provided in Class*/
	    	  		}
	    	  
	    	   #SOCIAL_FUN_PRFL_BG_CNTNR {
  	 			 	padding-top: 15px;
  	 			 }
  	  	}
  	  	
	    </style>
	    
	    
	   
	    <style>
			  
			  	h4 {
			  			margin: 0px;
			  	}
			  	
		</style>
			
			
	       
	</head>  
	
	

	<body> 
		
	  <% include ../partials/top_menu_bar.ejs %> 
		  
		  
		 <!--  Background Image  -->
		<div id = SOCIAL_FUN_PRFL_BG_CNTNR   style = "position: relative; font-family: Bradley Hand ITC; color: #95B3D7; font-size: 25px; text-align:center;   width: 100%;   ">
  			<span class = "profile-tagline" ><b>Worrying is misuse of imagination..</b><span>
  			
  			
  			<div class = "website-screen-width_dt  social_profile_pic_container" style = "z-index: 1; position: absolute; left: 0; right: 0;" >
  				 <div style = " text-align: right; ">
  				 <!-- 
		  			<div style = "position: relative;" >   
	  				 	<div class = "social-fun-profile-name" style = " border-radius: 2px;    background-color: rgba(63,63,63,.5);  border111: 1px solid red; display: inline-block; text-align: center;">
							<span style = " font-size: 20px; font-family: Sans serif; color: #dcdcdc; "><b>Sanju Baba</b></span><br/>   
						</div>
					</div>		 
					-->  
			 	 	 <img  class = "social_profile_pic" style = "float: right;  border: 2px solid #000;  border-radius: 50%;"   width = "190" height = "190"  src="/media/images/profile_images/socialfun/profile_pic/sanju-baba-profile-pic-baby.jpg" />
		 	 	</div> 
		   </div>
  				  	
  		</div>
  		
  		
  		
		 
		   		
		<div id = SOCIAL_FUN_MAIN_CONTNT_CONTNR class = "website-screen-width_dt"> 
				
			   
		 	 
			  <div>	
				  <div id = SOCIAL_FUN_PROFILE_ACTION_BAR class="menubar-footer" style = "border-top: 2px solid #000; color: #fff; padding-top: 8px;">  	
				  	<div style = "display: inline-block; margin-left: 3px; margin-right: 5px; color: #ECF7BE;"><b>Likes</b></div>	  <div style = "display: inline-block; margin-right: 5px;">Photos</div>	 <div style = "display: inline-block; margin-right: 5px;">Friends</div>	<div style = "color: #dcdcdc; display: inline-block; margin-right: 5px;">More</div>	
				  </div><!--  SOCIAL_FUN_PROFILE_ACTION_BAR  ends -->   
				  
							  
				  <div>	  <!-- CONTAINER(STACK) -->
				  		<table width = "100%" border = 0>
				  			<tr>
				  				<td align = right>
					  				  <div style = "padding-top: 20px;">
						  					<span style = "font-size: 20px; font-family: Sans serif; color: orange; "><b>Sanju Baba Sanju BabaSanju Baba</b></span><br>
						  					 <span style = "color: #8c8585; font-weight: bold;">Lives in:</span> Bangalore, India (from Kolkata)<br/>   				  					
						  					<span style = "color: #8c8585; font-weight: bold;">Works at:</span> Nowhere<br/>
						  					<span style = "color: #8c8585; font-weight: bold;">Studied at:</span> Lovely College<br/>
					  				  </div>
				  				</td>
				  				<td width = 10></td>
				  				<td width = 30 align = right valign= bottom;>
									 <div class = "social_profile_tag_icon" style = "width : 30px; float: right; margin-right: 5px;">
								 	 	 <img   width = "30" height = "30"  src="/media/images/icons/tag-black.png" />	<br/>		 	 	  
								 	 	 <img  style = "margin-top: 15px;" width = "30" height = "30"  src="/media/images/icons/add-2-contaxonomy-blk.png" />
							 	      </div>
								</td>
				  			</tr>
				  		</table>
				  
						<!--  Activities -->
						<!-- 
						<table width = "100%" border = 0>
							<tr>
								<td align = left> 
									<img  class = "social_profile_big_icon" style = "margin-top: 15px; margin-left: 5px;" width = "50" height = "50"  src="/media/images/big_icons/interests/activities/tenis-blk.png" />	<br/>
									 
									<span class = "icon-text">Tennis</span>
									     
										
								</td>
								
								<td align = center>
									<img class = "social_profile_big_icon"  style = "margin-top: 15px;" width = "50" height = "50"  src="/media/images/big_icons/interests/activities/fishing-blk.png" />	<br/>
									<span class = "icon-text" style = "text-align: center;">Fishing</span>
								</td>
								
								<td align = center>
									<img  class = "social_profile_big_icon" style = "margin-top: 15px;" width = "60" height = "60"  src="/media/images/big_icons/interests/activities/yoga-blk.png" />	<br/>
									<span class = "icon-text">Yoga</span>
								</td>
								
								<td align = center>
									<img  class = "social_profile_big_icon" style = "margin-top: 15px;" width = "60" height = "60"  src="/media/images/big_icons/interests/activities/kayaking-blk.png" />	<br/>
									<span class = "icon-text">Kayaking</span> 
							 
									
								</td>
									
								 
								
								<td width = 10></td>
								
								<td width = 30 valign: top;>
									 <div class = "social_profile_tag_icon" style = "width : 30px; float: right; margin-right: 5px;">
								 	 	 <img   width = "30" height = "30"  src="/media/images/icons/tag-black.png" />	<br/>		 	 	  
								 	 	 <img  style = "margin-top: 15px;" width = "30" height = "30"  src="/media/images/icons/add-2-contaxonomy-blk.png" />
							 	      </div>
								</td>
								
							</tr>  
						</table>
						-->
						
 
				<% include ./profileAspects/likes.ejs %>
						
 
</div> <!-- CONTAINER(STACK) Ends-->

						  
			<!--   <div style = "width : 30px; float: right; margin-right: 5px;">
			 	 	 <img   width = "30" height = "30"  src="/media/images/icons/tag-black.png" />	<br/>		 	 	  
			 	 	 <img  style = "margin-top: 10px;" width = "30" height = "30"  src="/media/images/icons/add-2-contaxonomy-blk.png" />
		 	      </div>
		 	      -->
		 	      
		 	      
			   </div>
			   
			   <div>
			   		
			   </div>
			  
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			  
					 
			 <p>
			 	&nbsp;
			 </p>
			 <p>
			 	&nbsp;
			 </p>
		 
				
		</div>
		
		
		
		
		<script>  
				
						/* Setting background image*/ 
						//alert(getTopMenuBarHeight());
						
				        var backgroundImageUrl = "/media/images/profile_images/socialfun/background_image/sanju-baba-bg-img-beach.jpg";
				        $('#SOCIAL_FUN_PRFL_BG_CNTNR').css('margin-top', getTopMenuBarHeight());
						$('#SOCIAL_FUN_PRFL_BG_CNTNR').css('background-image',  'url(' + backgroundImageUrl + ')');
						$('#SOCIAL_FUN_PRFL_BG_CNTNR').css('background-repeat', 'no-repeat');
						$('#SOCIAL_FUN_PRFL_BG_CNTNR').css('background-size', '100% 100%');
						$('#SOCIAL_FUN_PRFL_BG_CNTNR .profile-tagline').css('color', 'yellow');
						
						
				
						$('#PROFILE_BACKGROUND_HIDE_ICON').on('click', function() {
							$('#PROFILE_HEADER').hide();
							$('#PROFILE_BACKGROUND_DISPLAY_ICON').show();
						});	
						
						
						$('#PROFILE_BACKGROUND_DISPLAY_ICON').on('click', function() {
							$('#PROFILE_HEADER').show();
							$('#PROFILE_BACKGROUND_DISPLAY_ICON').hide();
						});
						  
				  	  
						
						
						var aspectAdded = "";
						
						function getProfileAspectInfo(url) {
							//alert(url);  
							if(aspectAdded.indexOf(url) == -1) {
									var xhr = new XMLHttpRequest();
									
									xhr.onload = function() {  
										if(xhr.status === 200) { 
											console.log("Status  == 200");
											//$('#PROFILE_ASPECT_CONTAINER').html(xhr.responseText);
											$('#PROFILE_ASPECT_CONTAINER').append(xhr.responseText);
											
											
											
										}
										else {
											console.log("Status == " + xhr.status);  
										}
									}
									
									 xhr.open('GET',url, true);         
									 xhr.send(null);
									 
							 aspectAdded = 	aspectAdded + url; 	 
							}
							
						//	window.location.hash = '#PROFILE_EDUCATION';
						};
						
				 
						
					 
				</script>      
				
		
		
		
		
		
		
		
		  <% include ../partials/footer_bar.ejs %> 
		
		
		
		<script>
			$('#SOCIAL_FUN_PRFL_BG_CNTNR').height(screen.height * .35);
			//$('#SOCIAL_FUN_MAIN_CONTNT_CONTNR').css('margin-top', );
			

		</script>
		
		
		 
	</body>


</html>