 
.competency100PctIndicator
{
  position: relative;
  width: 99%;
  height: 10px;
  background-color: #A3A7A8;
  margin-right: auto;
  margin-left: auto;

}


#barText1
{
  margin-top:10px; 
  background-color1:#F2F2F2;   
  width: 99%;
  margin-right: auto;
  margin-left: auto;
  color: #696969;  
}
.proficiency
{
  
  background-color: #A3A7A8;
  color: #000;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  
  
}
.experience
{
  
  background-color: #6CCEF5;
  color: #000;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  

}
.skill-endorsement
{
  
  background-color: #CCD674;
  color: #000;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
 
}
.recommendation
{
  
  background-color: #54A32F;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  
}
.skill_rating
{
  
  background-color: #E8B50C;
  color: #000;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
}
.tools_rating1
{
  border:2px solid #CCD674;
  background-color: #CCD674;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 15px;
  height: 15px;
}

.tools_rating2
{
  border:2px solid #CCD674;
  background-color:  #fff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 15px;
  height: 15px;
}

