<style>

/* common things */
.common-text-box-prop {
    border-radius: 0px;
}
.common-text-box-prop:focus {
    border: 2px solid #77933C;
    border-radius: 0px;
}
.common-text-box-prop:empty:not(:focus):before{
  content: attr(data-placeholder);
  display: block; /* For Firefox */
  border: 2px solid #77933C;
    border-radius: 0px;
}
/*main container*/
#POST_CLASSIFIED
{
	margin-right: auto;
	margin-left: auto;
	overflow-y: auto;
	height: calc(100%-80px);
	height: 500px;
}
/* image holder for multiple image selection*/
#IMAGE_MULTI_WRAPPER_HOLDER
{
	width: 50%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, .3);
    display: inline-block;
}

/*removes change of border color on focus*/
input:focus,select:focus,
textarea:focus
{
	outline:none;
    border-color:white;
    box-shadow:0 0 10px;
}

/* ------- smaller Device Section*/
@media screen and (max-width: 767px) {
	 #CLASSIFIED_DETAIL_ATTRIBUTES{
	 	width: 100%;	 	 
	 	
	 	
	 }
	 #POST_CLASSIFIED
{
	width: 100%;

}	
#IMAGE_MULTI_WRAPPER
{
	width:100%;
    height: 100%;
    display: inline-block;
}
#IMAGE_MULTI_WRAPPER_HOLDER
 {
     width: 100%;
     height: 100%;
     display: inline-block;
 }
#CLASSIFIED_DETAIL_ATTRIBUTES #LEFT_BLOCK
 {
 	display: block;
 	width: 170px;
 }	
 #CLASSIFIED_DETAIL_ATTRIBUTES #RIGHT_BLOCK
 {
 	display: block;
 	width: 170px;
 }	
}


/* ------- Larger Device Section*/
@media screen and (min-width: 768px) {
 #CLASSIFIED_DETAIL_ATTRIBUTES {
 	width: 100%;
 }
 #POST_CLASSIFIED
{
	width111: calc(80% - 80px);

}
 #CLASSIFIED_DETAIL_ATTRIBUTES #LEFT_BLOCK
 {
 	display: inline-block;
 }	

#CLASSIFIED_DETAIL_ATTRIBUTES #RIGHT_BLOCK
 {
 	display: inline-block;
 	margin-left:10px; 
 }	
 #IMAGE_MULTI_WRAPPER
 {
    width: 100%;
     height: 100%;

 }
 #IMAGE_MULTI_WRAPPER_HOLDER
 {
     width: 100%;
     height: 100%;

 }
}

	   
</style>

 <script src="/lib/JQuery/jquery.1.9.1-min.js"></script>

<div id="POST_CLASSIFIED">

		<div id=POST_CLASSIFIED_TARGET_AUDIENCE style="border:1px solid; height: 30px; margin-bottom:10px; " class="
		common-text-box-prop" contenteditable=true data-placeholder="Target Audience:"></div>

		<div id=POST_CLASSIFIED_TITLE style="border:1px solid; height: 30px; margin-bottom:10px;" class="common-text-box-prop" contenteditable="true" data-placeholder="Classified Title:"></div>

		<div id=POST_DESCRIPTION style="border:1px solid; height: 100px; margin-bottom:10px;" class="common-text-box-prop" contenteditable="true" data-placeholder="Description:"></div>
		
		<div id="CLASSIFIED_DETAIL_ATTRIBUTES">
			<div id="LEFT_BLOCK">
				<div class="common-text-box-prop"  style="height: 25px; margin-bottom:10px; border:0.1px outset; width:160px; background-color:white;">
					<label>Price :</label><input type="text" name="Price" style="border:0px; width:100px; ">
				</div>
				<div class="common-text-box-prop"  style="height: 25px; margin-bottom:10px; border:0.1px outset; width:160px; background-color:white;">
					<label>Km :</label><input type="text" name="km" style="border:0px; width:100px;" />
				</div>
				<div class="common-text-box-prop"  style="height: 25px; margin-bottom:10px; border:0.1px outset; width:160px; background-color:white;">
					<label>Owned :</label><input type="text" name="own" style="border:0px; width:90px;"/>
				</div>
				<div class="common-text-box-prop"  style="height: 25px; margin-bottom:10px; border:0.1px outset; width:160px; background-color:white;">
					<label>Model :</label><input type="text" name="model" style="border:0px; width:90px;"/>
				</div>
			</div>
				
				
			<div id="RIGHT_BLOCK">
				<div class="common-text-box-prop"  style="height: 25px; margin-bottom:10px; background-color:white;">
					<label for="Negotiable">Negotiable</label><input type="checkbox" id="Negotiable" style="margin-left:75px; display:inline-block;"/>
				</div>
				<div class="common-text-box-prop"  style="height: 25px; margin-bottom:10px;  background-color:white;">
					<label for="Insurance">Insurance</label><input type="checkbox" id="Insurance" style="margin-left:84px; display:inline-block;"/>
				</div>
				<div class="common-text-box-prop"  style="height: 25px; margin-bottom:10px; border:0.1px outset; width:160px; background-color:white;">
					<label>Year :</label><input type="text" name="buy" style="border:0px; width:100px;"/>
				</div>
				<div class="common-text-box-prop"  style="height: 25px; margin-bottom:10px; border:0.1px outset; width:160px; background-color:white;">
					<label>MfgBy :</label><input type="text" name="mfg" style="border:0px; width:100px;" />
				</div>
			</div>
		</div>

		<div id="IMAGE_MULTI_WRAPPER">
			<div id="IMAGE_MULTI_WRAPPER_HOLDER"></div> 
		</div>
		
		<br>
		<div>
		<input id="FILE_UPLOAD" type="file" multiple />
		</div>
		<br>
		<div>
		<input type="button" value="post">
		</div>
	</div>

	 <script type="text/javascript">
	 			/*$("#FILE_UPLOAD").on('change', function () {
 
        if (typeof (FileReader) != "undefined") {
 
            var image_holder = $("#IMAGE_MULTI_WRAPPER_HOLDER");
            image_holder.empty();
 
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image"
                }).appendTo(image_holder);
 
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("This browser does not support FileReader.");
        }
    });*/





				/* script for multiple image selection */



				 $("#FILE_UPLOAD").on('change', function () {



			 
			     //Get count of selected files
			     var countFiles = $(this)[0].files.length;
			 
			     var imgPath = $(this)[0].value;
			     var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
			     var image_holder = $("#IMAGE_MULTI_WRAPPER_HOLDER");
			     image_holder.empty();
			 
			     if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
			         if (typeof (FileReader) != "undefined") {
			 
			             //loop for each file selected for uploaded.
			             for (var i = 0; i < countFiles; i++) {
			 
			                 var reader = new FileReader();
			                 reader.onload = function (e) {
			                     $("<img />", {
			                         "src": e.target.result,
			                             "class": "thumb-image",
			                             "width" :"200"
			                             
			                     }).appendTo(image_holder);
			                 }
			 
			                 image_holder.show();
			                 reader.readAsDataURL($(this)[0].files[i]);
			             }
			 
			         } else {
			             alert("This browser does not support FileReader.");
			         }
			     } else {
			         alert("Pls select only images");
			     }
			 });
	 </script>


	