<style>
				select {
				   margin-top: 5px;
				   padding: 5px 8px;
				   width: 60px;
				   height: 30px;
				   border-radius: 4px;
				   border-color: #95B3D7;

				  /* box-shadow: none;
				   background: transparent;
				   background-image: none;
				   -webkit-appearance: none;*/
				}

				select:focus {
				   outline: none;
				}

				

				@media screen and (max-width: 760px) 
			 		{ 

						.lifestyle-options-form {
					 			width: 20%;
					 			height: 30px;
					 			margin-bottom: 10px;
					 			display: inline-block;
					 		}

					 	.lifestyle-select-options-form {
							margin-top: 6px;
						    padding: 5px 8px;
						    width: 120px;
						    height: 30px;
						    border-radius: 4px;
						    border-color: #95B3D7;
						    background-color: #ffffff;
						}

			 		}

				@media screen and (min-width: 761px) 
			 		{ 
			 			.lifestyle-options-form {
					 			width: 8%;
					 			height: 30px;
					 			margin-top: 5px;
					 			margin-bottom: 8px;
					 			display: inline-block;
					 		}

			 			.lifestyle-select-options-form {
							margin-top: 5px;
						    padding: 5px 8px;
						    width: 130px;
						    height: 30px;
						    border-radius: 4px;
						    border-color: #95B3D7;
						    background-color: #ffffff;
						}

			 		}

</style>

<div class = "family-lifestyle-form people-search-form-bg"> 
	<form>
		<div class = "lifestyle-options-form">
			<select class = "lifestyle-select-options-form">
				<option>Veg</option>
				<option>Non/Veg</option>
				<option>Egg</option>
			</select>
		</div>

		<div class = "lifestyle-options-form">
			<select class = "lifestyle-select-options-form" style = "margin-left: 70px;">
				<option>Drinks</option>
				<option>Yes</option>
				<option>No</option>
			</select>
		</div><br>

		<div class = "lifestyle-options-form">
			<select class = "lifestyle-select-options-form">
				<option>Smokes</option>
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>

		<div class = "lifestyle-options-form">
			<select class = "lifestyle-select-options-form" style = "margin-left: 70px;">
				<option>Work Out</option>
				<option>Gym</option>
				<option>Playing</option>
			</select>
		</div><br>

		<div class = "lifestyle-options-form">
			<select class = "lifestyle-select-options-form">
				<option>Easy Rise</option>
				<option>Night Owl</option>
			</select>
		</div>


	</form>
</div>

