<div class = "education-form people-search-form-bg">
	<form>
		<div style="margin-top:5px;">
			<input type="text" placeholder="Exp Frm" style="display:inline-block;" class="commoninput">
			<input type="text" placeholder="Exp To" style="display:inline-block;" class="commoninput">
		</div>
		<div style="margin-top:5px;">
			<input type="text" placeholder="Profession" style="width:100%;" class="commoninput">
		</div>
		<div style="margin-top:5px; margin-bottom:5px;">
			<input type="text" placeholder="Skills" style="width:100%;" class="commoninput">
		</div>
	</form>
</div>