
<style>
		
		.range-progress {
			width: 99%;
			margin-left: 3px;
		}

		.level {
			 width: 32.5%; 
			 display: inline-block;
			 font-size: 10px;
			 margin-left: 2px;
			}

		@media screen and (max-width: 760px) 
			{ 
			 	.level {
			 		width: 31.5%; 
			 		display: inline-block;
			 		font-size: 10px;
			 	}

			 	.range-progress {
					width: 98%;
					margin-left: 2px;
				}
			}



</style>




<div class = "people-search-form-bg" >
<form action="action_page.php " method="get">
	<div style = "margin-top: 10px;padding-top: 5px; margin-left: 3px;">
		<div class = "ppl-search-frmFildLabel" style = "width: 33%; display: inline-block; text-align: left;">Openess to Experience</div>
	</div>

		<input class = "range-progress" type="range" name="points" min="1" max="3">

		<div style = "">
			<div class =  "level" style = "margin-left: 3px;"><span>[Low]</span></div>
			<div class =  "level" style = "text-align: center;"><span>[Medium]</span></div>
			<div class =  "level" style = "text-align: right;"><span>[High]</span></div>
		</div>

	<div style = "margin-top: 10px; padding-top: 5px; margin-left: 3px;">
		<div class = "ppl-search-frmFildLabel" style = "width: 33%; display: inline-block; text-align: left;">Conscientiousness</div>
	</div>

		<input class = "range-progress" type="range" name="points" min="1" max="3">

		<div  style = "">
			<div class =  "level" style = "margin-left: 3px;"><span>[Low]</span></div>
			<div class =  "level" style = "text-align: center;"><span>[Medium]</span></div>
			<div class =  "level" style = "text-align: right;"><span>[High]</span></div>
		</div>

	<div style = "margin-top: 10px; padding-top: 5px; margin-left: 3px;">
		<div class = "ppl-search-frmFildLabel" style = "width: 33%; display: inline-block; text-align: left;">Extraversion</div>
	</div>

		<input class = "range-progress" type="range" name="points" min="1" max="3">

		<div style = "">
			<div class =  "level" style = "margin-left: 3px;"><span>[Low]</span></div>
			<div class =  "level" style = "text-align: center;"><span>[Medium]</span></div>
			<div class =  "level" style = "text-align: right;"><span>[High]</span></div>
		</div>

	<div style = "margin-top: 10px; padding-top: 5px; margin-left: 3px;">
		<div class = "ppl-search-frmFildLabel" style = "width: 33%; display: inline-block; text-align: left;">Agreeableness</div>
	</div>

		<input class = "range-progress" type="range" name="points" min="1" max="3">

		<div style = "">
			<div class =  "level" style = "margin-left: 3px;"><span>[Low]</span></div>
			<div class =  "level" style = "text-align: center;"><span>[Medium]</span></div>
			<div class =  "level" style = "text-align: right;"><span>[High]</span></div>
		</div>

	<div style = "margin-top: 10px; padding-top: 5px; margin-left: 3px;">
		<div class = "ppl-search-frmFildLabel" style = "width: 33%; display: inline-block; text-align: left;">Neuroticism</div>
	</div>

		<input class = "range-progress" type="range" name="points" min="1" max="3">

		<div style = "padding-bottom: 10px;">
			<div class =  "level" style = "margin-left: 3px;"><span>[Low]</span></div>
			<div class =  "level" style = "text-align: center;"><span>[Medium]</span></div>
			<div class =  "level" style = "text-align: right;"><span>[High]</span></div>
		</div>

</form>
</div>