<style> 
		
			 

			[contenteditable="true"]:empty:before
				{
					content:attr(data-placeholder);
	  				color:gray;
	  				display: inline-block;
	  				margin-top: 7px;
				}

			 
				@media screen and (min-width: 760px) 
			 		{ 

			 		}

</style>

<!-- </head>

<body> -->

	<div class = "education-form people-search-form-bg">
		<div style = "display: inline-block; width: 90%;">
			<form>

		  		<table width="100%">
		  		
		  			<tr height = "4px">
		  						
		  			</tr>
		  		
		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Education" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>

		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="College Name" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>

		  			<tr>
		  				<td width="55%">
		  					<input type="text" placeholder="Marks" style="width: 100%;" class="commoninput">
		  				</td>

		  				<td>
		  							
		  				</td>
		  						
		  				<td width="40%">
		  					<input type="text" placeholder="Year" style=" width: 100%;" class="commoninput"> 
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>
		  		</table>
		  	</form>
		</div>
		<div style = " display: inline-block; vertical-align: top;">
			<div class="popup" style=" margin-top: 2px; margin-right: 5px; float: right; width: 5%;">
			  	<span class = "close-education-form" style = "font-size: 22px;">x</span><br><br><br><br><br>
			  	<span class = "create-new-education-form" style = "font-size: 25px; font-weight: bold;">+</span>
			</div>
		</div>
					
</div>

<script>




	function createNewForm() {

		var presentOne = $('.education-form:last');

		var newForm = $('<div style ="padding-left: 5px;"><select><option>And</option><option>Or</option></select></ul></div><div class = "education-form" style ="padding-left: 5px; padding-right: 5px; background-color: #dcdcdc; margin-top: 10px;">		<div style = "display: inline-block; width: 90%;"><form><table width="100%"><tr height = "4px"></tr><tr><td colspan="3"><input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Education" class="commoninput"></td></tr><tr height="4px"></tr><tr><td colspan="3"><input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="College Name" class="commoninput"></td></tr><tr height="4px"></tr><tr><td width="55%"><input type="text" placeholder="Marks" style="width: 100%;" class="commoninput"></td>	<td></td><td width="40%"><input type="text" placeholder="Year" style=" width: 100%;" class="commoninput"> </td></tr><tr height="4px"></tr></table></form></div><div style = " display: inline-block; vertical-align: top;"><div class="popup" style=" margin-top: 2px; margin-right: 5px; float: right; width: 5%;"><span style = "font-size: 22px;" class = "close-education-form" onclick = \'closeEducationForm($(this))\'>x</span><br><br><br><br><br><span class = "create-new-education-form" onclick = \'buttonFunction($(this))\' style = "font-size: 25px; font-weight: bold;">+</span></div></div></div>');

		newForm.insertAfter(presentOne);

	}

	// For + Button

	function buttonFunction(eduDetails) {
		createNewForm();
		eduDetails.hide();
	}


	$('.create-new-education-form').on('click', function() {
			createNewForm();
			$(this).hide();
	});

	// For X BUtton

	function closeEducationForm(closeButton) {;
			closeButton.closest('.education-form').hide();
	}

	$('.close-education-form').on('click', function() {
			closeEducationForm($(this));
	});

	

</script>