 

<div class = "education-form people-search-form-bg">
		<div style = "display: inline-block; width: 100%;">
			<form>

		  		<table width="100%">
		  		
		  			<tr height = "4px">
		  						
		  			</tr>
		  		
		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Religion:" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>

		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Community:" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>

		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Cast:" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>

		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Ethnicity:" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>
		  			<tr>
		  				<td>
			  				<select>
			  					<option>Veg</option>
			  					<option>Non-Veg</option>
			  				</select>
			  			</td>
		  			</tr>
		  			<tr height="4px">
		  						
		  			</tr>

		  		</table>
		  	</form>
		</div>