<style>
		
	.commoninput
		{
			border: 1px solid #D7EEFC;
			height: 35px;
			border-radius:4px 4px 4px 4px;
			padding-left: 5px;
					
		}

	[contenteditable="true"]:empty:before
		{
			content:attr(data-placeholder);
	  		display: inline-block;
	  		margin-top: 7px;
		}

	select {
		    margin-top: 8px;
			padding: 5px 8px;
		   width: 250px;
		   height: 40px;
		   border-radius: 4px;
		   border-color: #95B3D7;
 
			}

	select:focus {
	   outline: none;
	}



</style>




<div class = "education-form" style ="padding-left: 5px; padding-right: 5px; background-color: #77933C;">
		<div style = "display: inline-block; width: 100%;">
			<form>

		  		<table width="100%">
		  		
		  			<tr height = "4px">
		  						
		  			</tr>
		  		
		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Religion:" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>

		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Community:" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>

		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Cast:" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>

		  			<tr>
		  				<td colspan="3">
		  					<input type="text" name="Qualification" id="keywords" list="json-datalist" placeholder="Ethnicity:" class="commoninput">
		  				</td>
		  			</tr>

		  			<tr height="4px">
		  						
		  			</tr>
		  			<tr>
		  				<td>
			  				<select>
			  					<option>Veg</option>
			  					<option>Non-Veg</option>
			  				</select>
			  			</td>
		  			</tr>
		  			<tr height="4px">
		  						
		  			</tr>

		  		</table>
		  	</form>
		</div>