
		<div class="experience">
			<div class="designation">Senior Software Engineer</div>
			<div class="companyName">Aricent</div>
			<div class="duration">December 2013 - July 2015 (1 year 8 months)</div>
			<div class="workDetails">Working as senior Tester in telecom OSS/BSS Domain</div>
		</div>
		 
		
		<div class="experience">
			<div class="designation">Analyst Programmer</div>
			<div class="companyName">Wipro Infotech Ltd</div>
			<div class="duration">January 2009 - October 2013 (4 years 10 months)Gurgaon, India</div>
			
			<div class="workDetails">	Monitoring and ensuring the Tuxedo/weblogic based application to be available 100%.
					Tuxedo API_TS integration support based on new requirement from business.
					Understand the System Requirements, analysis and designing of the Application Modules and Database.
					Creation and modification of database Tables, Indexes, Triggers, Views, Functions, Stored Procedure and Cursors.
					Writing Stored procedures and Trigger for modules according to requirements.
					Planning, Deployment of Application.  
	        </div> 
		</div>