
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuellers</title>
    
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    
    <style type="text/css">
        .col-centered{margin:0 auto;float:none}
        a:hover{text-decoration:none}
        .row{margin-top:15px;margin-bottom:15px}
    </style>
    
</head>
<body>
  <!--   <script src="/static/data/people.js"></script> -->
    <div class="container-fluid text-center">
        

<div class="row">
    <div class="col-xs-12">
        <h5><a>Join</a> the Movement, Wealth and Value Creation Opportunities, Projects...</h5>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <img class="img-responsive" src="media/images/brand_images/together-we-can.jpg" style="margin:auto" />
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5><a href="/people_with_pic" >Fuellers</a> - Enterprising and Beyond for Societal Good...</h5>
    </div>
</div>

<div class="row">
    <div class="col-xs-5 col-centered">
        <input type="text" class="form-control" placeholder="log in with your mobile/email/IBID" />
        <br />
        <a>Login issues?</a>
    </div>
</div>

  




<!--  <script src="/static/js/default.js"></script> --> <!-- Commented by Amar Chhetri -->
<script type="text/javascript">
//M.lazyimg($("lazyimg"))
    /*Angular*/
    /*
    function TestController($scope) {
        $scope.list = [{ value: 'value 1' }, { value: 'value 2' }, { value: 'value 3' }];
    }
  -- commented by Amar Chhetri*/
    //var app = angular.module('ngPeople', []);
    //app.controller('myCtrl', function($scope) {
    //    $scope.firstName= "John";
    //    $scope.lastName= "Doe";
    //});
</script>
        
    </div> <!-- container ends -->
    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    
    
</body>
</html>