
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />  
    <title>Cafe Coffe Day</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />  
</head>
<body>
  
 


 
<% include ../modal/popUpMenu.ejs %>                         
					  
         
    <% include ../partials/top_menu_bar.ejs %>              
	
	<div id="profileDescription" style="margin-top: 68px; height: 100%; border: 1px solid yellow; padding: 0px"> 
		<div id = ORG-ESTATE-BANNER style = "padding-top: 0px;" > 
			<img class="img-responsive" src="/media/images/business/banners/ola-banner.jpg"  style="height:100%; width:100%;">     
		</div>  
			
	</div>    
	<%	include ../partials/footer_bar.ejs	%>
  

  






















      
    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>    
    <script src="/script/common.js"></script>  
    <script src="/script/business/estate.js"></script>
    
    <script>
        	$(function(){
        		var d360 = true;
        		showHideD360Icon(d360);
         	});
    </script>
</body>
</html>



