
 <!-- for AakComposer Context -->   
				  <div  id = PEOPLE_UPDATES_TITLE class="people-update-title-bar" style = " padding-top: 5px;">  
				     
			 		  	<!-- people_app context -->
			 		  	<table id = PEOPLE_UPDATES_ICON_TAB_TABLE class = "aakPeopleContext111" width = "100%" height = "100%" border = 0>  
				       	  <tr>  
				       	 
					 	   <td tabindex="3" align = left valign = middle style = "border-right: 1px solid #fff" class = "connections-table-icon-con" >
					 		  <div style = "margin-left: 0px;" id = "contag-first-tab" >
					 	 		  	<div id = "PEOPLE_UPDTS_ALERT_BTN" class = "pplupdt_cont_cons_btn pplupdate-title-bar-tab" style = "cursor: pointer; text-align: center; display: inline-block; width: 80px;">
								  		<img   width="28" height="24" src="/media/images/icons/add-2-contaxonomy-blk.png" />
								  		<span style = "display: block;  line-height:.5; font-size: 12px;">Alert</span>
								     </div> 
							   </div> 
					 	   </td>
					 	   
					 	   <td tabindex="4" align = center valign = middle style = "border-right: 1px solid #fff" class = "connections-table-icon-team" >
					 		  	<div  style = "margin-left: 0px; ">
							 		 <div id="PEOPLE_UPDTS_FEED_BTN" class = "pplupdate-title-bar-tab" style = "cursor: pointer; text-align: center; display: inline-block; width: 80px;">
								  		<img   width="23" height="16" src="/media/images/icons/crowd-black.png" />
								  		<span style = "display: block;  line-height:.5; font-size: 12px; margin-top: 5px;">Feed</span>
								     </div> 
								</div> 
					 	   </td>  
					 	   
					 	  
					 	   
					 	   <td tabindex="4" width="" align = right valign = middle style = "border-right: 0px solid #000; margin:0;" class = "connections-table-icon-groups" >
					 		  <div  style = "margin-left: 0px;">
						 		  <div id="PEOPLE_UPDTS_GROUPS_BTN" class = "pplupdate-title-bar-tab" style = "cursor: pointer; text-align: center; display: inline-block; width: 80px;">
							  		<img   width="24" height="20" src="/media/images/icons/crowd-black.png" />
							  		<span style = "display: block;  line-height:.5; font-size: 12px; margin-top: 2px;">Groups</span>
							     </div> 
						 	 </div> 
					 	   </td>    
					 	    
				 		  </tr>
			 		  	</table>
				  </div> 	 
				 
				<div style = "padding: 5px 5px 0px 5px;">
					  <div style = "height: 3px; background-color: #dcdcdc;"> </div>
				</div>      


				   
				  			
				  <div id = PEOPLE_UPDATES  style = "background-color: #fff;  height: calc(100% - 84px);   overflow: auto;" >
				  
				  	 
					 	 <div id = PEOPLE_UPDATES_OPTIONS style = "margin-top: 7px; width:100%;">
					 	 	
					 	 	<div id = PEOPLE_UPDATES_OPTIONS_ALERTS_CNTNR style = "display: none"> 
							    
					 	 	</div>  
					 	 	
					 	 	<div id = PEOPLE_UPDATES_OPTIONS_FEED_CNTNR style = "display: none;">


					 	 	</div>
					 	 	
					 	 	<div id = PEOPLE_UPDATES_OPTIONS_GRPS_CNTNR style = "display: none;">
					 	 	
					 	 	</div> 
					 	 	
					 	 	<!-- <div id = PEOPLE_UPDATES_FINDER_CNTNR style = "display: none;">
					 	  		   
					 	 	</div> -->
					 	 	 
					 	 </div>
				 	
				  </div>
				  
		 </div><!-- CONTAXONOMY_CONTAINER_TOP Ends -->


		 <!--    People Updates Feed Container     -->

		 <div class = "people-update-container" style = "display: none;">


		</div>



	<script>
	
	$('#PEOPLE_UPDTS_FEED_BTN').on('click', function() {

		var peopleUpdates = $('.people-update-container');

			$('#PEOPLE_UPDATES_OPTIONS_FEED_CNTNR').append(peopleUpdates);

			$('#PEOPLE_UPDATES_OPTIONS_FEED_CNTNR').show();

			$('.people-update-container').show();
	});

	$('#PEOPLE_UPDATES_FEED_CONNECTIONS').on('click', function() {
		$('#PEOPLE_UPDATE_CONNECTION_JSON').toggle();
	});


   var feed_menu_json = [

	    {'id':'PEOPLE_UPDATES_FEED_TEAMS',
	     'name': 'Teams',
	     'count' : '0'
	    },
	    {'id':'PEOPLE_UPDATES_FEED_GROUPS',
	     'name': 'Groups',
	     'count' : '0'
	    },
	    {'id':'PEOPLE_UPDATES_FEED_CONNECTIONS',
	     'name': 'Connections',
	     'count' : '43'
	    }

	]

	var feed_json = [{  
		   
     'teams' : [    {"total_count": '32'},
     
                    { "id" : "id1",  
                      "name" : "Team 1",
                      "count" : "20",
                      "url"       : ""
                    },
                    
                    { "id" : "id2", 
                      "name" : "Team 2",
                      "count" : "12",
                      "url"       : ""
                    }        
     ],
     
     'groups' : [    {'total_count' : '65'},
     
                    { "id" : "id1",
                      "name" : "Group 1",
                      "count" : "10",
                      "url"       : ""
                    },
                    { "id" : "id2", 
                      "name" : "Group 2",
                      "count" : "55",
                      "url"       : ""
        }        
     
     ],
     
     'connections': [  {'total_count' : '110'},
                    
	                   { "id" : "id1",
	                      "name" : "Gossip Gang",
	                      "count" : "20",
	                      "url"       : ""
	                   },
	                   { "id" : "id2", 
	                      "name" : "JEC Folks",
	                      "count" : "90",
	                      "url"       : ""
	                   }                    
	                ]
                
}];

		

		for(var i = 0; i < feed_menu_json.length; i++) {
			var feed = feed_menu_json[i];

			var id = feed.id;
			var name = feed.name;
			var count = feed.count;

			var feeds = $('<div><div  id = '+ id +'  class= "toggle-bar-menu" style = "margin-top: 10px;"> <span class="expandIcon1" style="float: right;"> <img  width="28" height="28" src="/media/images/icons/arrow-Down-lines.png"/> </span> <span class="barTitle">'+ name + '<span>  (' + count + ')</span></span></div><div class = "json-data">hggFDDFDFD   </div><div>');

            
			$('.people-update-container').append(feeds);


			$('.expandIcon1').on('click', function() {
					showHideDownSibling($(this));
			})

		}

		// var feedJsonData = feed_json.connections;

		// for(var i = 0; )

</script>