
 <!-- for AakComposer Context -->   
				  <div  id = PEOPLE_UPDATES_TITLE class="people-update-title-bar" style = " padding-top: 5px; background-color: #ffffff;">  
				     
			 		  	<!-- people_app context -->
			 		  	<table id = PEOPLE_UPDATES_ICON_TAB_TABLE class = "aakPeopleContext111" width = "100%" height = "100%" border = 0>  
				       	  <tr>  
				       	 
					 	   <td tabindex="3" align = left valign = middle style = "border-right: 1px solid #fff" class = "connections-table-icon-con" >
					 		  <div style = "margin-left: 0px;" id = "contag-first-tab" >
					 	 		  	<div id = "PEOPLE_UPDTS_ALERT_BTN" class = "pplupdt_cont_cons_btn pplupdate-title-bar-tab" style = "cursor: pointer; text-align: center; display: inline-block; width: 80px;">
								  		<img   width="28" height="27" src="<%= hostUrl %>/media/images/icons/people-updates/notifications.png" />
								  		<span style = "display: block;  line-height:.5; font-size: 12px; margin-top: 5px;">Notifications</span>
								     </div> 
							   </div> 
					 	   </td>
					 	   
					 	   <td tabindex="4" align = center valign = middle style = "border-right: 1px solid #fff" class = "connections-table-icon-team" >
					 		  	<div  style = "margin-left: 0px; ">
							 		 <div id="PEOPLE_UPDTS_FEED_BTN" class = "pplupdate-title-bar-tab" style = "cursor: pointer; text-align: center; display: inline-block; width: 80px;">
								  		<img   width="25" height="24" src="<%= hostUrl %>/media/images/icons/people-updates/feed-blk.png" />
								  		<span style = "display: block;  line-height:.5; font-size: 12px; margin-top: 5px;">Feed</span>
								     </div> 
								</div> 
					 	   </td>  
					 	   
					 	  
					 	   
					 	   <td tabindex="4" width="" align = right valign = middle style = "border-right: 0px solid #000; margin:0;" class = "connections-table-icon-groups" >
					 		  <div  style = "margin-left: 0px;">
						 		  <div id="PEOPLE_UPDTS_GROUPS_BTN" class = "pplupdate-title-bar-tab" style = "cursor: pointer; text-align: center; display: inline-block; width: 80px;">
							  		<img   width="24" height="25" src="<%= hostUrl %>/media/images/icons/people-updates/news-postsblk.png" />
							  		<span style = "display: block;  line-height:.5; font-size: 12px; margin-top: 5px;">News, Posts</span>
							     </div> 
						 	 </div> 
					 	   </td>    
					 	    
				 		  </tr>
			 		  	</table>
				  </div> 	 
				 
				<div style = "padding: 5px 5px 0px 5px;">
					  <div style = "height: 3px; background-color: #dcdcdc;"> </div>
				</div>      


				   
				  			
				  <div id = PEOPLE_UPDATES  style = "background-color: #fff;  height: 100%;   overflow: auto;" >
				  
				  	 
					 	 <div id = PEOPLE_UPDATES_OPTIONS style = "margin-top: 7px; width:100%;">
					 	 	
					 	 	<div id = PEOPLE_UPDATES_OPTIONS_ALERTS_CNTNR style = "display: none"> 
							    
					 	 	</div>  
					 	 	
					 	 	<div id = PEOPLE_UPDATES_OPTIONS_FEED_CNTNR style = "display: none;">


					 	 	</div>
					 	 	
					 	 	<div id = PEOPLE_UPDATES_OPTIONS_GRPS_CNTNR style = "display: none;">
					 	 	
					 	 	</div> 
					 	 	
					 	 	<!-- <div id = PEOPLE_UPDATES_FINDER_CNTNR style = "display: none;">
					 	  		   
					 	 	</div> -->
					 	 	 
					 	 </div>
				 	
				  </div>
				  
		 </div><!-- CONTAXONOMY_CONTAINER_TOP Ends -->


		 <!--    People Updates Feed Container     -->

		 <div class = "people-update-container" style = "display: none;">


		</div>



	<script>

	//var hostUrl = "http://localhost:4000";

	//var hostUrl = "http://ekpeople.herokuapp.com";

	
	$('#PEOPLE_UPDTS_FEED_BTN').on('click', function() {

		var peopleUpdates = $('.people-update-container');

			$('#PEOPLE_UPDATES_OPTIONS_FEED_CNTNR').append(peopleUpdates);

			$('#PEOPLE_UPDATES_OPTIONS_FEED_CNTNR').show();

			$('.people-update-container').show();

			peopleFeedLoad();
	});





    //   Ajax call for PeopleFeed page

    	var ajaxCallPeopleLoad = false;

		function peopleFeedLoad() {
			if(!ajaxCallPeopleLoad) {
				showHideProgress();
				$.get('http://ekpeople.herokuapp.com/peopleFeed', function(data) {
				$('.people-update-container').append(data);
				ajaxCallPeopleLoad = true;
				showHideProgress();
			});
			}
			
		}


</script>