<%
	var experienceService = [
	 		{"deb" : {} },
	 		
	 		{"abhi" : {} }

		];
 
 
%>


<div>
	
	 <div>Value Adder, Inspirer (Engineer, Design & Development)</div>
	 
	 <div> 
	 	Contributed actively to 3 application development (Java, J2EE, Web Technologies, Perl, ASP, Linux) projects wearing different roles (Developer & Quality Controller, Module Lead) successfully meeting delivery quality & schedule targets. Did technical feasibility analysis for few prospective projects (in Salesforce Automation, Handheld/Mobile, eCommerce) and contributed in solution proposals (unusual of a resource of my cadre). 
	 	Presented on newly coming complex technology topics in company-wide technars receiving immense appreciation for the quality 
	 
	 </div>
	

</div>