	<link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/styles/common.css"> 
    <link rel="stylesheet" href="/styles/common2.css"> 
	
	
	<style>
	
		div, * {
			box-sizing: border-box;
		}
	
		#PEOPLE_HOME {
			position: fixed;
			top: 45px;
			border: 1px solid #558ED5;	
			height: calc(100% - 42px);
			margin-left: auto; 
			margin-right: auto;
			left: 0;
			right: 0;
			
		    z-index: 1;
		    			 
			background-color: #f6f8fa;
			
			height: calc(100% - 90px);
			
			 
		}
		
		#PEOPLE_HOME_HEADER_TABLE {
			border-collapse: collapse;
			 
			border-spacing: 0;
		}
		
			 td {
				padding: 0px;
				height: 100%;
			}

		.people-finder-child-div {
			display: none;
			height: calc(100% - 85px);
		}
		  
	   .people-home-tab-options {
	   	   cursor: pointer; display: inline-block; height: 100%; width: 100%; line-height: 100%; padding-top: 7px; border111111111: 1px solid red;"
	   }
	   
	    .people-home-tab-options { 
	    	padding-top111: 4px;
	    }
	   
	   
	   .tab-bottom-border {
	   		border-bottom: 2px solid #77933C;
	   }
		 
		  @media screen and (max-width: 767px) { 
			#PEOPLE_HOME {
				width: 99%;
		 }  
		 
		
	 
  }  
	</style> 


	<div id = PEOPLE_HOME class = "website-screen-width_dt"> 
				 
			  <div  id = PEOPLE_HOME_HEADER class = "earth-gradient-title-bar" style = "height: 43px; padding-top: 0px;" >  
			       <table  id = "PEOPLE_HOME_HEADER_TABLE" style = "height: 100%; width: 100%; border11: 1px solid red;" border = 0 >    
			       	  <tr style = "height: 100%; border1111: 1px solid blue;">
				       	    <td class = "people-home-tab-td" style = " padding: 0px; border111: 1px solid orange;" tabindex="3" align = center valign = middle>
					 		   <div id = PEOPLE_HOME_UPDATES  class = "people-home-tab-options" style = "height: 100%;">Updates</div>
					 	   </td>
					 	   
					 	   <td class = "people-home-tab-td" tabindex="4" align = center valign = middle>
				 		  		<div id = PEOPLE_HOME_FINDER_BTN class = "people-home-tab-options" >People Finder</div>  
				 	       </td> 
				 	       
				 	       <td class = "people-home-tab-td" tabindex="4" align = center valign = middle>
				 		  		<div id = PEOPLE_HOME_SAVED_FILTERS class = "people-home-tab-options">Saved Filters</div>
				 	   		</td>  
				 	       
				 	       <td class = "people-home-tab-td" tabindex="5" align = center valign = middle>
				 		     <div id = PEOPLE_HOME_CONNECTIONS_BTN class = "people-home-tab-options">Connections</div>  
				 	       </td>  
			       	  </tr>
		 		  	</table> 
			  </div>	
			  
			  
			  <!-- 
			  	<tr style = "height: 100%;">  				  
				 	   <td class = "people-home-tab-td" style = " border-bottom111111: 3px solid red;" tabindex="3" align = center valign = middle>
				 		  <div id = PEOPLE_HOME_UPDATES  class = "people-home-tab-options">Updates</div>
				 	   </td>
				 	   <td class = "people-home-tab-td" tabindex="4" align = center valign = middle>
				 		  <div id = PEOPLE_HOME_FINDER_BTN class = "people-home-tab-options" >People Finder</div>  
				 	   </td>  
				 	   <td class = "people-home-tab-td" tabindex="4" align = center valign = middle>
				 		  <div id = PEOPLE_HOME_SAVED_FILTERS class = "people-home-tab-options">Saved Filters</div>
				 	   </td>  
				 	    <td class = "people-home-tab-td" tabindex="5" align = center valign = middle style = "display12345: hidden;">
				 		   <div id = PEOPLE_HOME_CONNECTIONS_BTN class = "people-home-tab-options">Connections</div>  
				 	   </td>  
			 		  </tr>
			   -->  
				   
			<div id = PEOPLE_HOME_CONTENT_CONTAINER style = "padding-left: 5px; padding-right: 5px; height: calc(100% - 85px);">
			
				<div id = "PEOPLE_HOME_UPDATES" class = "people-finder-child-div">
					  
				</div> 
				
				<div id = "PEOPLE_HOME_FINDER" class = "people-finder-child-div" style = "height: 100%; width: 100%; ">  
					<div id = "PEOPLE_SEARCH_CRITERIAS" style = "position: relative; height: 100%;" >  
						 
					</div>
					 
				</div>
				
				<div id = "PEOPLE_HOME_SAVED_FILTERS" class = "people-finder-child-div">
					
				</div>
				
				<div id = "PEOPLE_HOME_CONNECTIONS" class = "people-finder-child-div">
					
				</div>
				   
			</div> 
			
			
			<div style = "position: absolute; font-size: 15px; bottom: 0px; height: 42px; width: 100%; color: #fff; padding-top: 7px;">
	   				 		<div id = PEOPLE_SUBMIT_BTN class = "earth-gradient-bg" style = "float: right; width: 100px; text-align: center; display: inline-block; cursor: pointer;   height: 30px;">Submit</div>
	   						<div id = PEOPLE_SAVE_BTN class = "earth-gradient-bg" style = "float: right; width: 100px; text-align: center;  display: inline-block; cursor: pointer;  height: 30px;  margin-right: 30px;"><b>Save</b></div>  
	     </div>
		     
	</div>
	  
	 
	<script>
	  
	    $('#PEOPLE_FINDER_ICON').on('click', function() {
			$('#PEOPLE_HOME').toggle();  
		});  
	      
	    
	    $('#PEOPLE_HOME_FINDER_BTN').on('click', function() {
			//hide containers of all other buttons, then make an AJAX call for people_finder and insert
			$('.people-finder-child-div').hide();
			$('#PEOPLE_HOME_FINDER').show();
			$('#PEOPLE_SEARCH_CRITERIAS').load('/peopleFinder');
			 
		});
	      
	    $('#PEOPLE_HOME_CONNECTIONS_BTN').on('click', function() {
	    	//alert("people home connections");
	    	loadContaxgonomy(function() {
		    		$('.people-finder-child-div').hide();  		
		    		$('#PEOPLE_HOME_CONNECTIONS').show();
		    		showContaxonomyModal("PEOPLE_APP" , "");
	    	}); //Ajax call  
	    	 
		});
	       
	   	 
	   $('.people-home-tab-options').on('click', function() {
		   
		   $('.people-home-tab-options').removeClass('tab-bottom-border');
		   $(this).addClass('tab-bottom-border');
	   });
	    
	
	</script>
	