 <!--	
 	<link href="<%=hostUrl%>/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
	<link rel="stylesheet" href="<%=hostUrl%>/styles/common.css"> 
    <link rel="stylesheet" href="<%=hostUrl%>/styles/common2.css"> 
 -->
	
	<style>
		
		#PEOPLE_HOME {
			position: fixed;
			top: 45px;
			border: 1px solid #9b9b9b;	
			height111: calc(100% - 42px);
			margin-left: auto; 
			margin-right: auto;
			left: 0;
			right: 0;
			
		    z-index: 1100;
		    			 
			background-color: #f6f8fa;
			
			height: calc(100% - 45px);
			 
		}
		
		.people-finder-child-div {
			display: none;
			height: calc(100% - 85px);
		}
		  
		 
		  @media screen and (max-width: 767px) { 
			#PEOPLE_HOME {
				width: 99.5%;
		 }  
	 
  }  
	</style> 


	<div id = PEOPLE_HOME class = "website-screen-width_dt"> 
				 
			  <div  id = PEOPLE_HOME_HEADER class = "earth-gradient-title-bar">  
			       <table  width = "100%" height = "100%">    
			       	  <tr>  				  
				 	   <td tabindex="3" width="33.3333333%" align = left valign = middle style = "border-right111: 1px solid #fff">
				 		  <div id = PEOPLE_UPDATES  style = "cursor: pointer; display: inline-block; line-height: 100%;">Updates</div>
				 	   </td>
				 	   <td tabindex="4" width="33.33333333%" align = center valign = middle style = "border-right111: 1px solid #fff">
				 		  <div id = PEOPLE_FINDER_BTN style = "text-align:center; cursor: pointer; display: inline-block; line-height: 100%; ">Search</div>
				 	   </td>  
				 	   
				 	    <td tabindex="5" width="33.33333333%" align = right valign = middle style = "display: hidden;">
				 		   <div id = PEOPLE_CONNECTIONS_BTN style = "cursor: pointer;  display: inline-block; line-height: 100%;">Contagxonomy</div>  
				 	   </td>  
			 		  </tr>
		 		  	</table>
			  </div>	
				   
			<div id = PEOPLE_HOME_CONTENT_CONTAINER style = "padding-left: 2px; padding-right: 2px; height:100%;">
			
				<div id = "PEOPLE_HOME_UPDATES" class = "people-finder-child-div">
					  
				</div> 
				
				<div id = "PEOPLE_HOME_FINDER" class = "people-finder-child-div" style = "height: 100%; width: 100%; ">  
					<div id = "PEOPLE_SEARCH_CRITERIAS" style = "position: relative; height: 100%; overflow: auto;" >  
						
					</div>
					
				</div>
				
				<div id = "PEOPLE_HOME_SAVED_FILTERS" class = "people-finder-child-div">
					
				</div>
				
				<div id = "PEOPLE_HOME_CONNECTIONS" class = "people-finder-child-div">
					
				</div>
				   
			</div> 
			
	 	
		     
	</div>
	  
	 
	<script>

		//var hostUrl = "http://localhost:4000";
		var hostUrl = "http://ekpeople.herokuapp.com";
	    
        var peopleUpdatesLoaded = false;

	    $('#PEOPLE_UPDATES').on('click', function() {
	    	$('.people-finder-child-div').hide();
	    	$('#PEOPLE_HOME_UPDATES').show();
			loadPeopleUpdates();
		});  
	      
	    function loadPeopleUpdates() {
	    	if (!peopleUpdatesLoaded) {
	    		showHideProgress();
	    		$.get(hostUrl + '/peopleUpdates', function(data) {
	    				$('#PEOPLE_HOME_UPDATES').append(data);
	    				peopleUpdatesLoaded = true;
	    				showHideProgress();
	    		});
	    	}

	    }



	     
	    $('#PEOPLE_FINDER_ICON').on('click', function() {
			$('#PEOPLE_HOME').toggle();  
		});  
	      
	    
	    $('#PEOPLE_FINDER_BTN').on('click', function() {
	       
			//hide containers of all other buttons, then make an AJAX call for people_finder and insert
			$('.people-finder-child-div').hide();
			$('#PEOPLE_HOME_FINDER').show();
			
			showHideProgress();
			$('#PEOPLE_SEARCH_CRITERIAS').load(hostUrl + '/peopleSearch', function(){
			     //alert("12345");
			     showHideProgress();
			   
			});
			
		});
	    
	    $('#PEOPLE_CONNECTIONS_BTN').on('click', function() {
	    
	    	loadContaxgonomy(function() {
		    		$('.people-finder-child-div').hide();  		
		    		$('#PEOPLE_HOME_CONNECTIONS').show();
		    		showContaxonomyModal("PEOPLE_APP" , "");
	    	}); //Ajax call  
	    	 
		});
	    
	
	</script>
	