
<div class = "common_section_title_bar">
	Quick Search 
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style= "float:right; width:50px;
	height:50px';
 <div class = "common_section_title_bar">
	Detailed Search
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style= "float:right">
</div>
 
 <div class = "common_section_title_bar">
	Saved Searches
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style= "float:right">
</div>
 