<div class = "common_section_title_bar">
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style="width:30px;
	height:30px;">
	Quick Search 
</div>	
 <div class = "common_section_title_bar">
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style="width:30px;
	height:30px;">
	Detailed Search
	
</div>
 
 <div class = "common_section_title_bar">
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style="width:30px;
	height:30px;">
	Saved Searches
	
</div>
 