    <%
    	var peopleSearchCriteria = [
    		{'id' : 'CHARACTERISTICS',
    		 'text' : 'Personality,Outlook,Character Attributes',
    		 'bg'	: ' #62818A',
    		 'col'	: '#fff'
    		},

    		{'id' : 'SKILLS',
    		 'text' : 'Occupation,Experience,Proffessional',
    		 'bg'	: '#97A1AD',
    		 'col'	: '#fff'
    		},

    		{'id' : 'EDUCATION',
    		 'text' : 'Education,School,Institute',
    		 'bg'	: '#737339',
    		 'col'	: '#fff'
    		},

    		{'id' : 'INTEREST2',
    		 'text' : 'Interests,Likes,Activities222',
    		 'bg'	: '#BFCFE3',
    		 'col'	: '#fff'
    		},
    		
    		{'id' : 'INTEREST3',
    		 'text' : 'Interests,Likes,Activities333',
    		 'bg'	: '#BFCFE3',
    		 'col'	: '#fff'
    		},
    		{'id' : 'INTEREST4',
    		 'text' : 'Interests,Likes,Activities444',
    		 'bg'	: '#BFCFE3',
    		 'col'	: '#fff' 
    		}
    	];


    %>
 
		 
		  
		<style type="text/css">
			*
			{
				box-sizing: border-box;
				outline: 0;
				margin: 0;
				padding: 0;
			}	
			
			
			.criteria
			{

				border: 1px solid;
				border-radius: 4px;
				height: 40px;
				
			}


			[contenteditable="true"]:empty:before
			{
				content:attr(data-placeholder);
  				color:gray;
  				display: inline-block;
  				margin-top: 7px;
			}

			 

			 @media screen and (max-width: 760px) 
			 { 
			 	

  	 		.ppl-attrib-popup-container {
			  	width: 100%;
			  	
			  }

			  .attrib-popup {
			  	width: 100%;
			  }
			 		
  	 			

  	 			
			}
            @media screen and (min-width: 761px)
            {
            	 #MAIN_CONTENT_CONTAINER 
	  			 {
	    	 	
	    	 	margin-top111: 130px;
	    	 	/* width : 67%; 
	    	 	   margin-left: auto;
	    	 	   margin-right: auto;
	    	 	
	    	 	*/
	    	 	
	    	 	min-height: 100%; 	 	
	    	    background-color: #fff;
	    	    position: relative;
	    	 }
			 
			  .website-screen-width_dt 
			  {
				width: 70%;
				margin-left: auto;  
				margin-right: auto;
			  }

			  .ppl-attrib-popup-container {
			  	width: 100%;

			  }

			   .attrib-popup {
			  	width: 100%;
			  }
			  
			  
            }

		</style>
	 
	 
		    

	  	 
	  		<div class="ppl-attrib-popup-container" style="height: 100%; position: relative;" >
	  			

	  			<div class = "attach-attributes" style="padding-bottom: 45px;  overflow-y: auto; height: 100%;  display: block; margin-bottom: 50px;">
	  				
	  			</div>

	  			<div class = "attrib-popup" style = "position: absolute; bottom: 0px;">
	  				
	  				<div class = "attributes" style=" display: none; margin-bottom: 0px;">

	  					<%
					 		for(var i = 0; i < peopleSearchCriteria.length; i++) { 
					 	  		var obj  = peopleSearchCriteria[i];		 		  
			 			%>		
	  					<div>	
	  						<div id= <%= obj.id %>  data-index = <%= obj.id %> class = "attribute-item item-on-popup " style = "padding-left: 3px; height: 40px; line-height: 40px; background-color: <%= obj.bg%>">
	  							
								  	 <span class = "attrib-text" style=""><%= obj.text%></span>
								
	  						</div>
	  						
	  					</div>

	  					<% } %>
	  						  						
	  				</div>

	  				<div class="criteria" style = "width: 100%; margin-top: 5px; position: relative; height: 42px; background-color: #fff; padding-left: 3px;">
	  					<font color="grey" style="display: inline-block; margin-top: 8px;">More criteria, attributes..</font>
	  					<div class="popup" style="display: inline-block; margin-top: 2px; margin-right: 5px; float: right; cursor: pointer;">
	  						<span style = "font-size: 30px; font-weight: bold;">+</span>
	  					</div>
	  					
	  				</div>

	  			</div>

	  		</div>       
		 
	 
	<script type="text/javascript">
                         
						$('.attribute-item').on('click', function() {
    				        $('.attributes').hide();
	                       	addCriteria($(this));

                        });

                        function addCriteria(selectedItem) {
                        	var dataValue = selectedItem.attr('data-index');
                        	var text_text =  selectedItem.children('.attrib-text').text();
                        	//alert(text_text);
                        	var element = $('<div><div class = "common_section_title_bar" data-index ="' + dataValue +  '"></div></div>');

                        	element.find('div:first-child').append('<img class = "close-button" style = "vertical-align:middle; margin-top: -2px; margin-right: 8px;" width = "24" height = "24" src="/media/images/icons/close_icon.png" onclick = "closeAttribItem($(this))"/>');
                        	element.find('div:first-child').append(text_text);
                        	element.find('div:first-child').append('<img class = "down-arrow" style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrow-Down-Lines.png" onClick = "showHideDownSibling($(this));"/>');
                        	element.append('<div style = "display: none; overflow-y: auto;"></div>');
                        	element.appendTo('.attach-attributes');

                        	/*hide on popup*/
                        	selectedItem.hide();

                        };

                 
                       function closeAttribItem(closeBtn)
                       {  
                       	    var parent =  closeBtn.parent();
                       	    parent.parent().hide();
                       		var data_index = parent.attr("data-index");

                       		$('#' + data_index).show();
					   };  


					    $(document).mouseup(function (e) 
							 {
							     var 	attributes= $(".attributes");
							     if (!$('.attributes').is(e.target) && !attributes.is(e.target) && attributes.has(e.target).length == 0) 
							     {
							       	attributes.hide();
							     }

							     $('.criteria').on('click', function(){
                        			attributes.toggle();
                        		});
							 });
                          
	</script>
 