 

		   <style type="text/css">
			
			*{
				box-sizing: border-box;
				outline: 0;
				margin: 0;
				padding: 0;
			}	
			
			
			.criteria
			{

				border: 1px solid #a6a6a6;
				height: 40px;
				
			}

			#keywords {
				border: 1px solid #a6a6a6;
				height: 40px;
				width: 100%;

			}

			.multi-list {
				width: 100%;
				display: none;
			}

			.list-item
			{
				margin-bottom: 2px;

			}

			.multi-selector-contentbox
			{
				border: 1px solid #a6a6a6;
				border-color111:#fff; 
				
				padding-top: 2px;
				padding-bottom: 2px;
				overflow-y: auto;
			}

			.multi-selector-contentbox div
			{
			
				background-color: #aaaaaa;
				margin-right: 10px;
				margin-left: 1px;
				border-radius: 3px;
				margin-top: 5px;
				display: inline-block;

			}

			[contenteditable="true"]:empty:before
			{
				content:attr(data-placeholder);
  				color:gray;
  				display: inline-block;
  				margin-top: 7px;
			}

			.age
			{
				border: 1px solid #a6a6a6;
				border-radius: 4px;
				width: 100%;
				height: 40px;
				background-color: #fff;
			}


			.gender
			{
				border: 1px solid #a6a6a6;
				 
				width:100%;
				height: 40px;
				margin-bottom: 10px;
			}
	 

			 @media screen and (max-width: 760px) 
			 { 
			 	

  	 		.ppl-attrib-container {
			  	width: 100%;
			  	
			  }

			  .ppl-details-container {
			  	width: 100%;
			  }

			  .attrib-popup {
			  	width: 100%;
			  }

			  #keyword {
			  	width: 100%;
			  }

			  .multi-list {
			  	width: 100%;
			  }

			  .list-item
				{
					height:30px;
				}

				.multi-selector-contentbox
				{
					width: 100%;
					height: auto;
				}
			 		
  	 			.item-text
				{
					display: inline-block;
					margin-top: 5px;
				}

				#age-content1
				{
					width: 54%;
					height:38px;
					border:0px;
					
				}
				#age-content2
				{
					width:85%; 
					height:38px; 
					border:0px;
					
				}

  	 			
			}
            @media screen and (min-width: 761px)
            {
            	 #MAIN_CONTENT_CONTAINER 
	  			 {
	    	 	
	    	 	margin-top111: 130px;
	    	 	/* width : 67%; 
	    	 	   margin-left: auto;
	    	 	   margin-right: auto;
	    	 	
	    	 	*/
	    	 	
	    	 	min-height: 100%; 	 	
	    	    background-color: #fff;
	    	    position: relative;
	    	 }
			 
			  .website-screen-width_dt 
			  {
				width: 70%;
				margin-left: auto;  
				margin-right: auto;
			  }

			  .ppl-attrib-container {
			  	width: 100%;

			  }

			  .ppl-details-container {
			  	width: 100%;
			  }

			   .attrib-popup {
			  	width: 100%;
			  }

			  #keyword {
			  	width: 100%;
			  }

			  .multi-selector-contentbox
				{
					width: 100%;
					margin-top111: 5px; 
					height: auto;
				}

				#age-content1
				{
					width:83%; 
					height:38px; 
					
				}
			  
				#age-content2
				{
					width:94%; 
					height:38px; 
					
				}
			  
            }

		</style>


 
	 	
	 	<div>
		 	<div  id = "SAVED_PPL_SEARCHES"  class= "toggle-bar-menu" >  
		         	<span id="accordion" class="expandIcon1" style="float: right;">	<img width="28" height="28" src="/media/images/icons/arrow-Down-lines.png"/> </span>   						
					<img  width="22" height="22" top-margin:"5px" src="http://ekpplcommon.herokuapp.com/media/images/icons/plainwhite/funnel-wht.png"/>
					<span class="barTitle">Saved Searches</span>
	        </div> 
	        
	        <div  id = "SAVED_PPL_SEARCHES_CONTAINER" style = "margin-top: 3px;">
	        	    
	        </div>
        </div>

         <div>
				<div   id = "PPL_SEARCHES" class= "toggle-bar-menu" >  
		         	<span id="accordion" class="expandIcon2" style="float: right;">	<img  width="28" height="28" src="/media/images/icons/arrow-Down-lines.png"/></span>    						
					<img  width="28" height="28" src="http://ekpplcommon.herokuapp.com/media/images/icons/search-gls-white.png"/>
					<span class="barTitle">People Finder</span>
				</div>      
				
				<div  style = "padding-left: 5px; padding-right: 5px;">
	        		   <form>
	  					<table width="100%">
	  					<tr height = "8px">
	  						
	  					</tr>
	  						<tr>
	  						<td colspan="3">
	  							<input type="text" style = "padding-left: 3px;" name="keyword" id="keywords" list="json-datalist" placeholder="Keywords:">
	  						</td>
	  					</tr>

	  					<tr height="8px">
	  						
	  					</tr>
	  					
	  					<tr>
	  						<td colspan="3">
	  							<div class="content-box">

									<div class="multi-selector-contentbox" contenteditable="false" style="height: 40px; background-color: #fff;padding-left: 3px; cursor: pointer;">
										<font color="grey" style="display: inline-block; margin-top: 8px;">Locations,Cities,Areas...</font>
									</div>
								 	<div class="multi-list">

										<div id="ITEM_JAVA" class="list-item" style="text-align:center; border:1px solid ; height: 25px;" data-item-attr="ITEM_JAVA">
											<span class="item-text">Bangalore</span>
											
										</div>
										<div id="ITEM_C" class="list-item" style="text-align:center; border:1px solid grey; height: 25px;" data-item-attr="ITEM_C">
											<span class="item-text">Kochi</span>
											
										</div>
										<div id="ITEM_C++" class="list-item" style="text-align:center; border:1px solid grey; height: 25px;" data-item-attr="ITEM_C++">
											<span class="item-text">Mumbai</span>
										</div>

									</div>
								
								</div>
	  						</td>
	  					</tr>	


	  					<tr height = "8px">
	  						
	  					</tr>
	  						<tr>
	  						<td colspan="3">
	  							<input type="text" style = "padding-left: 3px;" name="keyword" id="keywords" placeholder="Pincode or sublocation:">
	  						</td>
	  					</tr>


	  					<tr height="8px">
	  						
	  					</tr>
	  					
	  					<tr>
	  						<td width="45%">
	  							<!-- <div class="age" contentEditable = "true"> -->
	  								<!-- <label><font color="grey" style="background-color: #fff;">Age From:</font></label><input type="text" id="age-content1" name="age from"> -->
	  								<input type="text" placeholder="Age From:" style="border: 1px solid #a6a6a6; padding-left: 3px; height: 40px; width: 100%; margin-top: 5px;">
	  							<!-- </div> -->
	  						</td>

	  						<td>
	  							
	  						</td>
	  						
	  						<td width="45%">
	  							<!-- <div class="age"> --> 
	  								<!-- <label><font color="grey">To:</font></label><input type="text" id="age-content2" name="age"> -->
	  								<!-- <input type="text" placeholder="To:" style="border: 0px; margin-top: 10px;"> -->
	  								<input type="text" placeholder="To:" style="border: 1px solid #a6a6a6; padding-left: 3px; height: 40px; width: 100%; margin-top: 5px;"> 
	  							<!-- </div> -->
	  						</td>
	  					</tr>

	  					<tr height="14px;">
	  						
	  					</tr>

	  					<tr>
	  						<td colspan="3">
	  							<select class="gender">
	  								<option>Gender</option>
	  								<option>Male</option>
	  								<option>Female</option>
	  								<option>Others</option>
	  							</select>
	  						</td>
	  					</tr>
	  					
	  				
	  					</table>
	  					
	  				<div class="criteria" style = "width: 100%; margin-top: 0px; position: relative; height: 42px; background-color: #fff; padding-left: 3px;  cursor: pointer;">
	  					<font color="grey" style="display: inline-block; margin-top: 8px;">More criteria, attributes..</font>
	  					<div class="popup" style="display: inline-block; margin-top: 2px; margin-right: 5px; float: right;">
	  						<span style = "font-size: 30px; font-weight: bold;">+</span>
	  					</div>
	  					
	  				</div>
	  				</form>

	       		</div>
				
		</div>	

		

	<script>
	
	 var g_hostUrl = "http://ekpeople.herokuapp.com" ;
	 //var g_hostUrl = "http://localhost:4000" ;  
	
	var savedPeopleSearchesLoaded = false;
	
	
	
		$('.expandIcon1').on('click', function(){
		
			
			if(!savedPeopleSearchesLoaded) {
				showHideProgress();
				$.get(g_hostUrl + "/savedPeopleSearches").done(function(data){
					console.log(data);
					$('#SAVED_PPL_SEARCHES_CONTAINER').html(data);
					showHideProgress();
					savedPeopleSearchesLoaded = true;
					showHideDownSibling($(this));
				});
			}
		    else { 	
				showHideDownSibling($(this));
			}
			
		});
		
		$('.expandIcon2').on('click', function(){
			
			showHideDownSibling($(this));
			
		});
		
	
	</script>
		
	 