
<div class = "common_section_title_bar">
	Quick Search 
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style= "float:right; width:30px;
	height:30px;">
 <div class = "common_section_title_bar">
	Detailed Search
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style= "float:right; width:30px;
	height:30px;">
</div>
 
 <div class = "common_section_title_bar">
	Saved Searches
	<img src="/media/images/icons/operators/black/x-ncircled-blk.png" style= "float:right;width:30px;
	height:30px;" >
</div>
 