<div>
					<div id= MASTER_MENU_LEARNING class= "toggle-bar-menu master-menu-content-toggleBar" >  
						<span class="expandIcon" style="float: right;">	<img  width="28" height="28" src="/media/images/icons/arrow-Down-2lines.png"/></span>
						<span class="expandIcon" style="float: right;display: none;">	<img  width="28" height="28" src="/media/images/icons/arrow-up-2lines.png"/></span>    						
						<img  width="28" height="28" src="/media/images/icons/school-white.png"/>
						<span class="barTitle">Search</span>
						
					</div> 
					<div id = MASTER_MENU_LEARNING_OPTIONS class="masterMenuOptions">
							 
					</div>
				</div>	 
				 