<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
    <title>Aak-Box</title>

   
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />  
    <link href="/styles/aakBox/aakBox.css" rel="stylesheet"/>        
    

  </head>  
  <body>     
    <div id="aakBoxCategory" style="display:none;"><%= aakBoxCategory %></div>
    
  	 <% include ../partials/top_menu_bar.ejs %>     
      
   	  <div id="aakBoxContainer" class="" style=" bakground-color: green;">        
				   	 		  
				  	<div class="navDisplay" style="width: 100%;">    
				      <div class="container" style=" padding-right:3px; padding-left:3px;">   
				       <img style="float:right" width="28" height="28" src="/media/images/icons/Search-icon.png"/>
				        <p><b>Communiques<span id="categoryDisplay"></span></b></p>
				      </div>
				    </div>
					       
					<div id="page-content">  
				      <div class="container-fluid" id="message-block">                  
				      </div>  
				    </div>
		</div>
	
<% include ../partials/footer_bar.ejs %>       

     
     
    <!--  <script src="/lib/JQuery/jquery.1.9.1-min.js"></script> -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
     <script src="/lib/bootstrap/js/bootstrap.min.js"></script>    
      
     <script src="/script/aakBox/menu.js"></script>
     <script src="/script/aakBox/dynamic_content.js"></script>       
      
    <script>  
	      // alert("pppppppppppp=====  " + $('#aakBoxCategory').text());
	        viewUpdateList($('#aakBoxCategory').text());   
    </script>
  </body>
</html>