<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
      
    <title>Aak-Box</title>

   
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />  
    <link href="/styles/aakBox/aakBox.css" rel="stylesheet"/>        
    

  </head>  
  <body>     
    <div id="aakBoxCategory" style="display:none;"><%= aakBoxCategory %></div>
    
  	 <% include ../partials/top_menu_bar.ejs %>       
    
   	  <div id="aakBoxContainer" class="" style=" bakground-color: green;">          
				   	    <img style="float:right; margin-right: 3px; margin-top: 6px;" width="24" height="24" src="/media/images/icons/search-grey.png"/>    
				   	 	<!--  <button class="btn" type="button" id=""  style="float:right; background-color: #f2f2f2; padding: 2px;"><span class="glyphicon glyphicon-search searchIcon"></span></button> -->
				  	<div class="navDisplay" style="height: 35px;" >    
				      <div class="container" style=" padding-right:3px; padding-left:3px;">   
				        
				        <p><b>Aaks<span id="categoryDisplay"></span></b></p>
				      </div>
				    </div>
					       
					<div id="page-content">  
				      <div class="container-fluid" id="message-block">                      
				      </div>  
				    </div>
		</div>
	
<% include ../partials/footer_bar.ejs %>       

     
     
    <!--  <script src="/lib/JQuery/jquery.1.9.1-min.js"></script> -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
     <script src="/lib/bootstrap/js/bootstrap.min.js"></script>    
      
     <script src="/script/aakBox/menu.js"></script>
     <script src="/script/aakBox/dynamic_content.js"></script>    
     <script src="/script/common.js"></script>  
      
    <script>  
	      // alert("pppppppppppp=====  " + $('#aakBoxCategory').text());
	        viewUpdateList($('#aakBoxCategory').text());   
	        
    </script>
  </body>
</html>