<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/aakBox/aakOptionsPopUp.css">    
		<script> </script>
	</head>  
	
	<body>
		<div class="aakOptionsPopUp" id=AAK_OPTIONS_POPUP_MENU_WRAPPER_ID>      
	 
			 <div id = AAK_OPTIONS_POPUP_HEADER>
			 	Dating > Deshi
			 	<img style="float:right; margin-right: 3px; margin-top: -2px;" width="24" height="24" src="/media/images/icons/search-grey.png"/>    
			 </div>
  		  	<div  id = AAK_OPTIONS_POPUP_MENU_CONTAINER_ID> 
  		  	    <div>    
					<div style="background-color: #EEEEEE; width: 100%; margin-bottom: 3px;">
							<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/icons/filter.png"/>  
					</div>
				</div>
			 
				<div style="background-color: #EEEEEE; width: 100%;s">
					<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/icons/folder.png"/>  
				</div>
				 
			</div>
		    
		</div>  
		
		 
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>  
		<!-- <script src="/script/modal/commonModal.js"></script> -->         
		   <script src="/script/aakBox/aakOptionsPopUp.js"></script>  	   
		 
	</body>
</html>


