<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/aakBox/aakOptionsPopUp.css">    
		<script> </script>
	</head>  
	
	<body>  
		<div class="aakOptionsPopUp" id=AAK_OPTIONS_POPUP_MENU_WRAPPER_ID style="overflow: auto;">      
	 
			<!--  <div id = AAK_OPTIONS_POPUP_HEADER>
			 	Dating > Deshi
			 	<img style="float:right; margin-right: 3px; margin-top: -2px;" width="24" height="24" src="/media/images/icons/search-grey.png"/>     
			 </div>
			 -->
  		  	<div  id = AAK_OPTIONS_POPUP_MENU_CONTAINER_ID style="padding-left: 3px; padding-right: 3px;"> 
  		  	   
  		  	     
  		  	    <div id = "AAK_OPTIONS_FILTER">          
					<div id = AAK_FILTER style="background-color: #EEEEEE; width: 100%; margin-bottom: 0px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
							<img style=" " width="24" height="24" src="/media/images/icons/filter.png"/>   
							<b>Filters</b>
					</div> 
					
					<div id = "AAK_OPTIONS_FILTER_MENU" style="display1:none; width: 90%;margin-left:10%;" >  
						<select style="width: 100%;">
							<option>debdas.sinha@gmail.com</option>
							<option>amar@gmail.com</option>							
						</select>
						<select style="width: 100%;">  
							<option>Size: M</option>
							<option>Size: S</option>							
						</select>
						
						<div>Expiry, Received </div>
						
						<div>Read/Unread/Blocked/Irrelevant/Urgent</div>
						<div>Attachments/Media </div>
						<div>Appointments/Meeting </div>
						 
					</div>
				</div>  
				
				<div id = "AAK_OPTIONS_FOLDER">          
					<div id="AAK_FOLDER" style="background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
						<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/icons/folder.png"/> 
						<b>Folders</b> 
					</div>
						  
					<div id = "AAK_OPTIONS_FOLDER_MENU" style="display1:none; width: 90%;margin-left:10%;" >    
						 <div>Sent </div>
						 <div>Conversations</div>
						 <div>Drafts</div>
						 <div>Clutter</div>
						 <div>Deleted</div>  
					 
					</div>
				</div>  
				
				<div id = "AAK_OPTIONS_EXPIRED">          
					<div id="AAK_EXPIRED" style="background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
						<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/icons/expired.png"/> 
						<b>Expired</b>  
					</div>
						  
					<div id = "AAK_OPTIONS_EXIT_MENU" style="display1:none; width: 90%;margin-left:10%;" >    
						 <div>Deals, Promotions </div>
						 <div>Reminders</div>
						 <div>Alert, Notifications</div>
					</div>
				</div>  
			 
				
				 
			</div>
		    
		</div>  
		
		 
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>  
		<!-- <script src="/script/modal/commonModal.js"></script> -->         
		   <script src="/script/aakBox/aakOptionsPopUp.js"></script>  	   
		 
	</body>
</html>


