<style>


.events {
		width: 90%;
		margin-left: 5px;
		height: 50px;
		vertical-align: top;
		display: inline-block;
	}

.decision {
	float: right;
	margin-top: 25px;
	display: inline-block;
}

.accept {
	width: 60px;
	height: 20px;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
}

.decline {
	width: 60px;
	height: 20px;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
}

.accept:hover {
	background-color: #66c2ff;
}

.decline:hover {
	background-color: #66c2ff;
}


@media screen and (max-width: 726px)  {  
  
  .events {
		width: 80%;
		margin-left: 5px;
		height: 50px;
		display: inline-block;
	}

	.decision {
		margin-left: 3px;
		margin-top: 12px;
		display: inline-block;
	}

	.accept {
		width: 60px;
		height: 20px;
		text-align: center;
		border-radius: 3px;
	}

	.decline {
		width: 60px;
		height: 20px;
		text-align: center;
		border-radius: 3px;
	}
		  
}

</style>

<script>


var connection_request_json = [

	    {
	 	 	'who':'123456',
	 	 	'pic': 'http://ekgateway.herokuapp.com/media/images/profile_images/Mihika_JustDial.jpg',
	     	'name': 'Sheljo James',
	     	'node' : 'ACQ$Acquintances',
			'url' : 'http://ekprofile.herokuapp.com'		 
	    },
		{
	 	 	'who':'123457',
	 	 	'pic': 'http://ekgateway.herokuapp.com/media/images/profile_images/Capt_Ajay.jpg',
	     	'name': 'Xaviour Joseph',
	     	'node' : 'ACQ$Acquintances',
			'url' : 'http://ekprofile.herokuapp.com'		 
	    }
		

	];



		

		for(var i = 0; i < connection_request_json.length; i++) {
			var connections = connection_request_json[i];

			var id = connections.who;
			var name = connections.name;
			var pic = connections.pic;
			var url = connections.url;
			var node = connections.node.substring(connections.node.indexOf("$") + 1, connections.node.length);


            var stringHTML = '<div style = "width: 100%; height: auto; background-color: #e6e3e3;" ><div id = '+ id +' class= "" style = " margin-top: 10px;"><img width= "50" height= "50" top-margin:"5px" src= "'+ pic +'"/><a href = ' + url + '><div class = "events" style = "font-size:15px;"><span class="barTitle" style = " color: #696969; "><b>'+ name + '</b></span><span style = "color: #202020;"> wants to add you to "' + node + '".</span></a><div class = "decision"><div class = "accept"><a href = "http://ekprofile.herokuapp.com">Accept</a></div><div class = "decline"><a href = "http://ekprofile.herokuapp.com">denide</a></div></div></div></div></div>';

			var connection_rqsts = $(stringHTML);
            
			$('#user1').append(connection_rqsts);
		}




</script>		
