<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Digital - Reimagined</title>
	    
	    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />  
	    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script> 
	    <script src="/script/common.js"></script>
	    
		<style>
		
			/* common */
.work-opportunities
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}
.medium-circle
{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #54A32F;
	vertical-align: top;
}
#ITEM_LIST_BOTTOM_BAR
{
	margin-top:40px; 
	bottom:0; 
	width: 100%;
	height: 40px;4

}
.icon-text-right
{
	display:inline-block;
}

/* Second Layer */

#ITEM_DETAILS_POSITION
{
	display: inline-block; 
	margin-left:0px; 
	margin-top: 15px; 
	vertical-align:top;
}
#ITEM_DETAILS_LOCATION
{
	display:inline-block; 
	margin-left111:50px; 
	vertical-align:top; 
	margin-top: 15px;
	
}
#ITEM_DETAILS_YEAR
{
	display:inline-block; 
	
	vertical-align:top; 
	margin-top: 15px;
	
}


#ITEM_DETAILS_LINE
{
	display:inline-block; 
	vertical-align:top; 
	 
}


/* Third Layer */


#ITEM_ATTR_SKILLS
{
	display:inline-block; 
	vertical-align:top;
}
.skills-items
{
	display: inline-block;
	background-color: #525252;
	border: 1px solid;
	border-radius: 3px;
	margin-right: 5px;
}



/* Last Layer */
#ITEM_LIST_BOTTOM_BAR_APPLY
{
	display:inline-block;
}
#ITEM_LIST_BOTTOM_BAR_BOOKMARKS
{
	display:inline-block;
}
#ITEM_LIST_BOTTOM_BAR_SHARE
{
	display:inline-block;
}
#ITEM_LIST_BOTTOM_BAR_REFER
{
	display:inline-block;
}



@media screen and (max-width: 767px) 
{
	/* common */
	.work-opportunities
	{
		width: 100%;
		
	}


	/* Second Layer */
	#ITEM_DETAILS_POSITION
	{
		 
		width: 35%;
		 
		
	}
	#ITEM_DETAILS_LOCATION
	{
		width: 24%;
		vertical-align: top;
	}
	
	#ITEM_DETAILS_YEAR
	{   
		width: 23%;
		vertical-align: top;
	}



	#ITEM_DETAILS_LINE
	{  
		width: 10%;
		vertical-align: top;
	}



	/* Third Layer */
	#ITEM_ATTR_UPDATED
	{
		width:45%;
		display:inline-block; 
	}
	#ITEM_ATTR_SKILLS
	{
		width:50%;
	}
	#ITEM_ATTR_SKILLS_LEFT
	{
		display:inline-block;
		vertical-align: top;
		width: 40%;
	}
	#ITEM_ATTR_SKILLS_RIGHT
	{
		display: inline-block;
		width:40%;
	}



	/* Last Layer */
	#ITEM_LIST_BOTTOM_BAR_APPLY
	{
		margin-right: 40px;
	}
	#ITEM_LIST_BOTTOM_BAR_BOOKMARKS
	{
		margin-right: 40px;
	}
	#ITEM_LIST_BOTTOM_BAR_SHARE
	{
		margin-right: 40px;
	}
	#ITEM_LIST_BOTTOM_BAR_REFER
	{
		margin-right: 40px;
	}
}
@media screen and (min-width: 768px) 
{ 
	/* Second Layer */
	#ITEM_DETAILS_POSITION
	{
		margin-left:10px;
	}
	
	#ITEM_DETAILS_LINE {
		width: 100px;
	}
	
	#ITEM_DETAILS_LOCATION
	{
		margin-right:50px;
		text-align: center;
		
	}
	
	#ITEM_DETAILS_YEAR
	{
		margin-left:50px;
	}
	 
	 

	/* Third Layer */
	
	#ITEM_ATTR_UPDATED
	{
		display:inline-block; 
		 
		
	}

	#ITEM_ATTR_SKILLS_LEFT
	{
		width: 50px;
		display: inline-block;
	}
	#ITEM_ATTR_SKILLS_RIGHT
	{
		display: inline-block;
	}
	#ITEM_ATTR_SKILLS
	{
		margin-left:150px; 
	}


	/* Last Layer */

	#ITEM_LIST_BOTTOM_BAR_APPLY
	{
		margin-right: 40px;
	}
	#ITEM_LIST_BOTTOM_BAR_BOOKMARKS
	{
		margin-right: 40px;
	}
	#ITEM_LIST_BOTTOM_BAR_SHARE
	{
		margin-right: 40px;
	}
	#ITEM_LIST_BOTTOM_BAR_REFER
	{
		padding-right: 40px;
	}
}
		
		</style>
		
		
		
		
	</head>
	<body>

	  <% include ../partials/top_menu_bar.ejs %> 
	  <div class = "website-screen-width_dt" style = "margin-top: 0px; background-color: #fff; height: 100%; margin-top: 72px; overflow-y: auto;">	
		
		<div class="work-opportunities">
			
			<!-- Heading -->
				<div align="left" style="margin-left: 27%; margin-top:15px; height:40px;">
					<div style="display:inline-block; margin-right:5px;">
						<img src="/media/images/icons/plainblack/aws.png" width="40" height="40">
					</div>
					<div class="common-txt" style="display:inline-block;">
						<font color="#525252" size="6"><b>Job Listing</b></font>
					</div>
				</div>



				
			<!-- second Layer -->
				<div style="margin-top:20px; padding-left: 3px;">
					<div id="ITEM_DETAILS_POSITION">
						<div style="display:inline-block; vertical-align:top;">
							<img src="/media/images/icons/plainblack/tag-black.png" width="20" height="20">
						</div>
						<div class="icon-text-right">
							<font color="#8C8585"><b>Software<br>Development<br>Manager</b></font>
						</div>
					</div>

					<div id="ITEM_DETAILS_LINE" style = "text-align: center;">
						<img src="/media/images/icons/plainblack/line.png" width="5" height="50" style="margin-top:20px;" >
					</div>

					<div id="ITEM_DETAILS_LOCATION">
						<div style="display:inline-block; vertical-align:top;">
							<img src="/media/images/icons/plainblack/location_grey.png" width="20" height="20">
						</div>
						<div class="icon-text-right" style="display:inline-block;">
							<font color="#8C8585">Chennai, IT Park</font>
						</div>
					</div>
					<div id="ITEM_DETAILS_YEAR">
						<div style="display:inline-block; vertical-align:top;">
							<img src="/media/images/icons/plainblack/experience-blk.png" width="20" height="20">
						</div>
						<div class="icon-text-right">
							<font color="#8C8585">3 Yrs</font>
						</div>
					</div>
				</div>



				
			<!-- Third Layer -->
				<div style="margin-top:30px; padding-left: 3px;">
					<div id="ITEM_ATTR_UPDATED">
						<div style="display:inline-block; vertical-align:top;">
							<img src="/media/images/icons/plainblack/edit-pen-grey.png" width="20" height="20">
						</div>
						<div  class="icon-text-right" style="display:inline-block;">
							<font color="#8C8585">20+<br>Days ago</font>
						</div>
					</div>
					<div id="ITEM_ATTR_SKILLS" style = "border111: 1px solid black;">
						<div style="display:inline-block; vertical-align:top;">
							<img src="/media/images/icons/plainblack/tools_grey.png" width="20" height="20">
						</div>
						
							<div id="ITEM_ATTR_SKILLS_LEFT">
								<font color="#8C8585">Skills</font>
							</div>
							<div id="ITEM_ATTR_SKILLS_RIGHT">
								<div class="skills-items">
									<font color="#fff">Java</font>
								</div>
								<div class="skills-items">
									<font color="#fff">C</font>
								</div>
								<div class="skills-items">
									<font color="#fff">C#</font>
								</div>
								<div class="skills-items">
									<font color="#fff">ASP.net</font>
								</div>
								<div class="skills-items">
									<font color="#fff">Project Management</font>
								</div>
								<div class="skills-items">
									<font color="#fff">Angular JS</font>
								</div>
							</div>
						
					</div>
				</div>



				<!-- Fourth Layer -->
				<div style="margin-top:20px;">
					<div style="background-color:#1699C4; height:30px;">
						<font color="#fff"><span style="display:inline-block; margin-top:5px; margin-right:5px;">Description Of Item</font>
					</div>
					<div style="margin-top:15px; border:1px solid; border-color:#DCDCDC">
						1.Description About Capabilities<br>
						2.Description About Handling<br>
						3.Description About It In Whole
					</div>
				</div>





				<!-- Last Layer -->
				<div id="ITEM_LIST_BOTTOM_BAR" align="right" height="100px";>
					<div class="medium-circle" id="ITEM_LIST_BOTTOM_BAR_APPLY">
						<span style="display:inline-block; margin-top:9px; margin-right:2px;">apply
					</div>
					<div id="ITEM_LIST_BOTTOM_BAR_BOOKMARKS">
						<img src="/media/images/icons/plainblack/bookmarks.png" width="40" height="40">
					</div>
					<div id="ITEM_LIST_BOTTOM_BAR_SHARE">
						<img src="/media/images/icons/plainblack/share-fwd-blk.png" width="40" height="40">
					</div>
					<div id="ITEM_LIST_BOTTOM_BAR_REFER">
						<img src="/media/images/icons/plainblack/refer.png" width="40" height="40">
					</div>
					
				</div>

				
		</div>
		
	</div>
	
	  <% include ../partials/footer_bar.ejs %> 
	</body>
</html>