<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>My App</title>
	    
	    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />  
	    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script> 
	    <script src="/script/common.js"></script>
	  
	  
	  
	<style>
				.contagxonmy-title-bar {
				background: -webkit-linear-gradient(#696969,#3f3f3f);
				background: -o-linear-gradient(#696969,#3f3f3f);
				background: -moz-linear-gradient(#696969,#3f3f3f);
				background: linear-gradient(#696969,#3f3f3f); 
				height: 40px; 
				color: #FFF;
				
			}
			
			.big-sections-bar {  
				height: 60px; 
				line-height: 60px;
				border-radius: 3px;
			}
			
			html, body {
			 height: 100%;
			}
			
			#TEAM_MAIN
{
	margin-left: auto;
	margin-right: auto;
}
#TEAM_CONTAINER 
	{
		margin-left: auto;
		margin-right: auto;
	}
#TEAM_CONTAINER
{
	display: none;
}
#TEAM_CONTAINER_TEAM1
{
	border: 1px solid;
	margin-top: 5px;
}
#TEAM_CONTAINER_TEAM2
{
	border: 1px solid;
	margin-top: 5px;
}
.work-teams
{
	margin-left: auto;
	margin-right: auto;
}
.work-teams-block
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}
.work-teams-circle
{
	border: 1px solid;
	text-align: center;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	
}


.work-board
{
	border: 1px solid;
	width: 45%;
	text-align: center;
	margin-top: 5px;
}

 

@media screen and (max-width: 767px) 
{
	#TEAM_MAIN 
	{
		width: 100%;
	}
	#TEAM_CONTAINER 
	{
		width: 100%;
	}
	.work-teams .work-teams-block
	{

		width: 40%;
		display: inline-block;
	}

	.work-teams-circle
	{
		margin-left: 25px;
	}
	.work-teams .work-board
	{
		width: 45%;
		display: inline-block;

	}
	
}
@media screen and (min-width: 768px)
{
	 
	#TEAM_CONTAINER 
	{
		width: 80%;
	}
	.work-teams
	{
		width: 80%;

	}
	.work-teams-circle
	{
		margin-left: 80px;
	}
	.work-teams .work-teams-block
	{
		
		display: inline-block;
	}
	
	.work-teams .work-board
	{
		width: 12%;
		display: inline-block;

	}
	
	
} 
			
	
	</style>
</head>

<body> 
		
	  <% include ../partials/top_menu_bar.ejs %> 
	  <div class = "website-screen-width_dt" style = "margin-top: 0px; background-color: #fff; height: 100%;">
	 <!-- for AakComposer Context -->   
				<!--   <div  id = TEAM_MAIN class="contagxonmy-title-bar">  
				       <table  width = "100%" height = "100%">  
				       	  <tr> -->
				       	  <!--  <td tabindex="2" align = center valign = middle style = "background-color:#77933C; border-right: 1px solid #fff" class = "contagxonomy-ak-composer-title-bar-tab">    
						      <div id = CONTAX_APPLIED_AUDIENCE_BTN style = "cursor: pointer; font-size:11px; display: inline-block; font-weight: bold;">Audience</div>
						   </td >
						  -->
				<!-- 	 	   <td tabindex="3" align = center valign = middle style = "border-right: 1px solid #fff" >
					 		  <div   style = "cursor: pointer; display: inline-block; ">Needs My Attention</div>
					 	   </td>
					 	   <td tabindex="4" align = center valign = middle style = "border-right: 1px solid #fff" >
					 		  <div id="TEAM_MAIN_ALL_ACTIVITIES"  style = "cursor: pointer; display: inline-block; ">All Activities</div>
					 	   </td>  
					 	   <td tabindex="4" align = center valign = middle style = "border-right: 1px solid #fff" >
					 		  <div id="TEAM_MAIN_SPACES"  style = "cursor: pointer;  display: inline-block; ">Team Spaces</div>
					 	   </td>  
					 	    <td tabindex="5" align = center valign = middle  style = "display: hidden;">
					 		   <div  style = "cursor: pointer;  display: inline-block; ">Teams</div>  
					 	   </td>  
				 		  </tr>
			 		  	</table>
				  </div> -->
				   
				  
	
			<!-- 	<div style = "background-color:#ddebf0; height: 35px; border: 1px solid #dcdcdc; margin-top: 76px; margin-left: 3px; margin-right: 3px; line-height: 35px; text-align: center;color: #525252;margin-bottom: 15px;">
					[ <b>Opportunities, News, Employers and more...</b> ]
				</div>
			-->
				<!-- <div id = CAREER_HOME_HEADER_BAR class = " common-page-header-bar" style = "display: none; position: relative;">
					
				</div>  -->
				
				<!-- 
				 	 <div id = TEAM_HOME_MENU_BAR style = "margin-bottom: 15px;"> 
				 	 <div class = "img-with-caption-common">
						<img   width="28" height="28" src="/media/images/icons/plainblack/opportunities-blk.png" />
					    <span class = "img-caption" style = ""><b>Opportunities</b></span>  
					 </div>   
					 
					 <div class = "img-with-caption-common">
						<img   width="28" height="28" src="/media/images/icons/plainblack/preferences-blk.png" />
					    <span class = "img-caption"><b>Preferences</b></span>
					 </div> 
					 
					 <div class = "img-with-caption-common">
						<img   width="28" height="28" src="/media/images/icons/plainblack/talks-trending-blk.png" />
					    <span class = "img-caption"><b>Trending</b></span>
					 </div> 
					  
					 <div id = TEAMS_HOME_TEAMS_MNU_ICON class = "img-with-caption-common">
						<img   width="28" height="24" src="/media/images/icons/plainblack/interview-blk.png" />
					    <span class = "img-caption"><b>Interviews</b></span>
					 </div> 
					 <div id = TEAMS_HOME_TEAMS_MNU_ICON class = "img-with-caption-common">
						<img   width="28" height="24" src="/media/images/icons/plainblack/money-bag-blk.png" />
					    <span class = "img-caption"><b>Salaries</b></span>
					 </div> 
					 
					  <div class = "img-with-caption-common">
						<img   width="28" height="28" src="/media/images/icons/plainblack/org-grey.png" />
					    <span class = "img-caption"><b>Employers</b></span>
					 </div> 
					  
					 <div id = TEAMS_HOME_TEAMS_MNU_ICON class = "img-with-caption-common">
						<img   width="28" height="24" src="/media/images/icons/crowd-black.png" />
					    <span class = "img-caption"><b>Groups</b></span>
					 </div> 
					 <div id = TEAMS_HOME_TEAMS_MNU_ICON class = "img-with-caption-common">
						<img   width="28" height="24" src="/media/images/icons/plainblack/spkr-posts-grey.png" />
					    <span class = "img-caption"><b>Posts</b></span>
					 </div> 
					 
					 <div id = TEAMS_HOME_TEAMS_MNU_ICON class = "img-with-caption-common">
						<img   width="28" height="24" src="/media/images/icons/plainblack/Q-n-A-blk.png" />
					    <span class = "img-caption"><b>Q&A</b></span>
					 </div> 
					 
					  
					  <div class = "img-with-caption-common">
						<img   width="28" height="28" src="/media/images/icons/plainblack/innovate-blk.png" />
					    <span class = "img-caption"><b>Challenges</b></span>
					 </div>   
					 
				</div> -->
			  
			  Preferences Preferences Preferences .............. 
	        
	           <div style = "padding-bottom: 50px;">
	           		<img src = "/media/images/joblistings-temp.PNG"/ style = " width: 99%; height: 500px; margin-left: .5%;"><br/>
	           		<img src = "/media/images/joblistings-temp.PNG"/ style = " width: 99%; height: 500px; margin-left: .5%;"><br/>
	           		<img src = "/media/images/joblistings-temp.PNG"/ style = " width: 99%; height: 500px; margin-left: .5%;">
	           
	           </div>
	       
	        	
	      </div>
	      
	 
	   <% include ../partials/footer_bar.ejs %> 
	   
	 
	 <script>
	 
	 g_pageHeaderBarJSONData = { 
		    		                    'title' : 'Opportunities, News, Employers and more...',
		    							'features' :
				    						 [{'id'  : '',
				    						  'img' : '/media/images/icons/plainblack/opportunities-blk.png',
				    						  'txt' : 'Opportunities',
				    						  'url' : '/teamsHome'
				    
				    						 },
				    						 {'id'  : '',
					    					  'img' : '/media/images/icons/plainblack/preferences-blk.png',
					    					  'txt' : 'Preferences',
					    					   'url' : '/teamsHome'
					    
					    					 },
					    					 {'id'  : '',
						    				  'img' : '/media/images/icons/plainblack/talks-trending-blk.png',
						    				  'txt' : 'Trending',
						    				  'url' : '/teamsHome'
						    
						    				 },
						    				 
						    				 {'id'  : '',
				    						  'img' : '/media/images/icons/plainblack/interview-blk.png',
				    						  'txt' : 'Interviews',
				    						  'url' : '/teamsHome'
				    
				    						 },
				    						 {'id'  : '',
					    					  'img' : '/media/images/icons/plainblack/money-bag-blk.png',
					    					  'txt' : 'Salaries',
					    					   'url' : '/teamsHome'
					    
					    					 },
					    					 {'id'  : '',
						    				  'img' : '/media/images/icons/plainblack/org-grey.png',
						    				  'txt' : 'Employers',
						    				  'url' : '/teamsHome'
						    
						    				 },
						    				 
						    				 
						    				 {'id'  : '',
				    						  'img' : '/media/images/icons/crowd-black.png',
				    						  'txt' : 'Groups',
				    						  'url' : '/teamsHome'
				    
				    						 },
				    						 {'id'  : '',
					    					  'img' : '/media/images/icons/plainblack/spkr-posts-grey.png',
					    					  'txt' : 'Posts',
					    					   'url' : '/teamsHome'
					    
					    					 },
					    					 {'id'  : '',
						    				  'img' : '/media/images/icons/plainblack/Q-n-A-blk.png',
						    				  'txt' : 'Q&A',
						    				  'url' : '/teamsHome'
						    
						    				 },				    				
						    				 {'id'  : '',
				    						  'img' : '/media/images/icons/plainblack/innovate-blk.png',
				    						  'txt' : 'Challenges',
				    						  'url' : '/teamsHome'
				    
				    						 } 
			                            ]  
		    }
	   
		 //$(function(){
			  			 
			 initHeaderBar(); 
			 
			 
			/* $('#CAREER_HOME_HEADER_BAR .menu-drop-down-icon img').on('click', function() {
				 $('.cmn_mnu_itm_cntnr').toggle();
			 });
			 
			 
			 $('#CAREER_HOME_HEADER_BAR .img-with-caption-common').on('click', function() {
				     //alert("Data attr  ====   " + this.getAttribute("data-url-value")) ;
					linkToTeams(this.getAttribute("data-url-value"));
			 });*/
			 
			 
			 //alignMenuBarItems(); 
			 
			 
			 
			/* $('#TEAMS_HOME_TEAMS_MNU_ICON').on('click', function(){
				 $('.teams-home-containers-item').hide()
				 $('#TEAMS_HOME_TEAMS').show();
				 getTeamsDataThroughAjax();
			 });
		*/
		 //});
		 
		   
		
		 /* 
	    var teamsDataRecieved = false;
		function getTeamsDataThroughAjax() { 
		  
		   if(!teamsDataRecieved) {
			  		
					var xhr = new XMLHttpRequest();
					
					xhr.onload = function() {  
						if(xhr.status === 200) { 
							console.log("Status  == 200");
							//$('#PROFILE_ASPECT_CONTAINER').html(xhr.responseText);
							$('#TEAMS_HOME_TEAMS').append(xhr.responseText);
							teamsDataRecieved = true;
						
						}  
						else {
							console.log("Status == " + xhr.status);  
						}
					}
					
					 xhr.open('GET','/teams', true);         
					 xhr.send(null); 
			 }
		
		} */
		/////////////
		 
		 /* make it a common function */
	/*	 function alignMenuBarItems() {
			 var $menuBar = $('#TEAM_HOME_MENU_BAR');
			 var menuBarWidth = $menuBar.width();
			 var menuItemWidth = $('.img-with-caption-common').width();
			// alert("Menu right == " + menuItem.width());
			 var noOfMenuItems = $menuBar.find('.img-with-caption-common').length;
			 var avlbleSpace =  menuBarWidth - (noOfMenuItems * menuItemWidth);
			 console.log("Total width = " + menuBarWidth  + "    Total Free space == " + avlbleSpace + "  noOfMenuItems == " + noOfMenuItems);
			 var imgMarginRight =  avlbleSpace / (noOfMenuItems - 1)-4; // -5 should be removed, jst given a discrete value
			 if(imgMarginRight <= 0) {
				 imgMarginRight = 0;
			 }
			 console.log("Margin-right ===  " + imgMarginRight);
			 //alert("Total images === " + noOfMenuItemImages);  li:not(:last-child)
			 $menuBar.find('.img-with-caption-common:not(:last-child)').css('margin-right', imgMarginRight); 
			 
		 }
		*/
	 </script>
</body>
		<!-- 	<script type="text/javascript">
							 $(function()
									   	{
									      // Calling Login Form
									      $("#TEAM_MAIN_ALL_ACTIVITIES").click(function()
									      {
									         $("#TEAM_CONTAINER").show();
									         $("#WORK").hide();
									         return false;
									      })
									      $("#TEAM_MAIN_SPACES").click(function()
									      {
									         $("#WORK").show();
									         $("#TEAM_CONTAINER").hide();
									         return false;
									      })
									   }); 	
			</script>
		-->
</html>