<link rel="stylesheet" type="text/css" href="/styles/profiles/profileAspects/education.css">
	
<div class = "profile_aspect_title_bar"">
		 Education 
</div>		
		
<div style = "padding-left: 5px; padding-right: 5px;">	
	<table border = 0>
             <tr>
                  <td width= 42 valign = top align = left >
                       <div style="margin-bottom:30px; color: #696969;"> <b>1995</b></div>
                       <b>&nbsp;&nbsp;&nbsp;-</b>
                       <div style="margin-top:30px; color: #696969;"><b>1999</b></div>
                  </td>                  
                  <td align= center width = 50>
                  		<img src="/media/images/icons/tmlne-wth-pnt-olive.PNG">
                  </td>
                   
			   	  <td width = 160 align = right valign = top> 
 						<div style="background-color:#3f3f3f; color: #dcdcdc; font-size: 12px; text-align: center; padding-top: 5px; width:150px; height: 50px; border-radius: 5px;">
       						<b>REC Warangal<br/>Karnataka University</b>
       					</div>
       				<p></p>
       				<center>
	   					<div>
	          				<b>B. Tech.</b><br>
	          				Computer Science<br>
	          				IIT Bangalore
	       				</div>
 	 				</center>
				  </td>
       
	   		 		<td width=80 valign = top align = right >
	   		 			<table>
	   		 				<tr>
	   		 					<td align = center width = 80>
	   		 						<div class="position">
		               					<span style="margin-top: 20px; font-size: 13px;">76%</span>
		                 			</div>
	   		 					</td>
	   		 				</tr>
	   		 				<tr>
	   		 					<td align = center width = 80>
	   		 						<div class="percent">
										<span style="">
											<img class="img_circle" src="/media/images/icons/award-white.png" width="20px" height="20px">
										</span>
				 					</div>
	   		 					</td>
	   		 				</tr>
	   		 				<tr>
	   		 					<td align = center width = 80>
	   		 						<div class="grade">
				                		<span style="margin-top:5px; margin-right:2px">
				                    		<b>4</b></span></div>
	   		 					</td>
	   		 				</tr>
	   		 				<tr>
	   		 					<td align = center width = 80>
	   		 						<div class="skill" style = "padding-top: 4px;">
				                		<span style="margin-left:2px">
				                    		<img class="circles" src="/media/images/icons/trophy-white-5050.png" width="20px" height="20px"></span>
				                   </div>
	   		 					</td>
	   		 				</tr>
	   		 			</table>
	               		
		               		
	                 	
						
	                	
	                	
	                 </td>
                  
              
     			 </div>
             </tr>
             <tr>
             	<td colspan = 4 height = 8></td>
             </tr>
             <tr>
                  <td width= 42 valign = top align = left >
                       <div style="margin-bottom:30px; color: #696969;"> <b>1995</b></div>
                       <b>&nbsp;&nbsp;&nbsp;-</b>
                       <div style="margin-top:30px; color: #696969;"><b>1999</b></div>
                  </td>                  
                  <td align= center width = 50>
                  		<img src="/media/images/icons/tmlne-wth-pnt-olive.PNG">
                  </td>
                   
			   	  <td width = 160 align = right valign = top> 
 						<div style="background-color:#3f3f3f; color: #dcdcdc; font-size: 12px; text-align: center; padding-top: 5px; width:150px; height: 50px; border-radius: 5px;">
       						<b>REC Warangal<br/>Karnataka University</b>
       					</div>
       				<p></p>
       				<center>
	   					<div>
	          				<b>B. Tech.</b><br>
	          				Computer Science<br>
	          				IIT Bangalore
	       				</div>
 	 				</center>
				  </td>
       
	   		 		<td width=80 valign = top align = right >
	   		 			<table>
	   		 				<tr>
	   		 					<td align = center width = 80>
	   		 						<div class="position">
		               					<span style="margin-top: 20px; font-size: 13px;">76%</span>
		                 			</div>
	   		 					</td>
	   		 				</tr>
	   		 				<tr>
	   		 					<td align = center width = 80>
	   		 						<div class="percent">
										<span style="">
											<img class="img_circle" src="/media/images/icons/award-white.png" width="20px" height="20px">
										</span>
				 					</div>
	   		 					</td>
	   		 				</tr>
	   		 				<tr>
	   		 					<td align = center width = 80>
	   		 						<div class="grade">
				                		<span style="margin-top:5px; margin-right:2px">
				                    		<b>4</b></span></div>
	   		 					</td>
	   		 				</tr>
	   		 				<tr>
	   		 					<td align = center width = 80>
	   		 						<div class="skill" style = "padding-top: 4px;">
				                		<span style="margin-left:2px">
				                    		<img class="circles" src="/media/images/icons/trophy-white-5050.png" width="20px" height="20px"></span>
				                   </div>
	   		 					</td>
	   		 				</tr>
	   		 			</table>
	               		
		               		
	                 	
						
	                	
	                	
	                 </td>
                  
              
     			 </div>
             </tr>
             
         </table>
</div>