

<div style = "margin-bottom: 15px;">
		<h4> <b>Reviews<span style = "color: #77933C;">(39)</span></b></h4>
</div>

<div style = "padding-left: 5px; padding-right: 5px;">
 
		  <table width = "100%" border = 1>
		   
		  	<tr>
		  			<td width = 70 align = center valign = bottom bgcolor = #1899C4> <div style = "font-size: 24px; color: #fff; padding-top: 10px;">***</div></td>
		  			
		  			<td  valign = top> <div style = "padding-left : 5px;"> <b>Best experience possible in a terrible situation</b></div> </td>
		  			
		  			<td align = right valign = top><div style = "width: 50px; background-color: #f2f2f2; text-align: center;"><img src = "/media/images/icons/thumbs-up-blk.png" width = 25 height = 25; /></div></td>
		  		 
		  	</tr>
		  	
		  	
		  	<tr>
		  		<td valign = top> <img src = "/media/images/profile_images/Capt_Ajay.jpg" width = 70 height = 70; /> <div style = "font-size: 14px;">Ajay<br> Dec, 2015</div> </td>
		  		
		  		<td colspan = 2 valign = top> <div style = "text-align: justify; padding: 0 0px 5px 5px;"> Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
		  							She is knowledgable and finds creative strategies to approach your case.
		  						</div>
		  		</td>
		  		 
		  	</tr>
		  	
		  	<!-- 	---------------------------------------                      -->
		  	
		  	<tr><td height = 20 colspan = 3></td></tr>
		  	
			<!-- 	---------------------------------------                      -->
			 
		  	
		  	<tr>
		  			<td width = 70 align = center valign = bottom bgcolor = #1899C4> <div style = "font-size: 24px; color: #fff; padding-top: 10px;">***</div></td>
		  			
		  			<td  valign = top> <div style = "padding-left : 5px;"> <b>Best experience possible in a terrible situation</b></div> </td>
		  			
		  			<td align = right valign = top> <div style = "width: 50px; background-color: #f2f2f2;  text-align: center;"><img src = "/media/images/icons/thumbs-up-blk.png" width = 25 height = 25; /></div> </td>
		  		 
		  	</tr>
		  	
		  	
		  	<tr>
		  		<td valign = top> <img src = "/media/images/profile_images/Capt_Ajay.jpg" width = 70 height = 70; /> <div style = "font-size: 14px;">Ajay<br> Dec, 2015</div> </td>
		  		
		  		<td colspan = 2 valign = top> <div style = "text-align: justify; padding: 0 0px 5px 5px;"> Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
		  							She is knowledgable and finds creative strategies to approach your case. Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
		  							She is knowledgable and finds creative strategies to approach your case. Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
		  							She is knowledgable and finds creative strategies to approach your case. Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
		  							She is knowledgable and finds creative strategies to approach your case. Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
		  							She is knowledgable and finds creative strategies to approach your case. Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
		  							She is knowledgable and finds creative strategies to approach your case.
		  						</div>
		  		</td>
		  		 
		  	</tr>
		  	
		  	
		  </table>
  
</div>