
<div>

		<div class = "profile_aspect_title_bar" onClick = "showHideDownSibling($(this));">
				<img  style = "margin-top: -2px;" width = "22" height = "22" src="/media/images/icons/thumbs-up-ncircled-blk.png" />
			 		Reviews (39)
			    <img style = "float: right; margin-top: -4px;" width = "30" height = "30" src="/media/images/icons/arrow-Up-2lines.png" />
		</div>
		
		<div>
		 
			<table width = "100%" border = 0>	 
				<tr>
					<td width = 70 align = center valign = top height = 50> 
						<div style = "font-size: 24px; background-color: #1899C4; color: #fff; padding-top: 0px; height: 25px;">***</div>
					</td>			
					<td  valign = top align =center> 
						<div style = "height: 50px; color: #696969;">
							<b>Best experience possible in a terrible situation</b>
						</div> 
					</td>			
					<td align = right valign = top width = 50>
						<div style = "width: 50px; background-color: #CCD674; text-align: center; height: 25px; ">
						<img src = "/media/images/icons/thumbs-up-blk.png" width = 25 height = 25; />
						</div>
					</td>
				</tr>
				
				
				<tr>
					<td valign = top align=center> 
						<img src = "/media/images/profile_images/Capt_Ajay.jpg" width = 70 height = 70 /> 
						<p>&nbsp;</p>
						<div style = "font-size: 10px;">Ajay<br> Dec, 2015</div> 
					</td>
					
					<td colspan = 2 valign = top> 
						<div style = "text-align: justify; padding: 0px 0px 5px 5px;">
							Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
										She is knowledgable and finds creative strategies to approach your case.
						</div>
					</td>
					 
				</tr>
				
				<!-- 	---------------------------------------                      -->
				
				<tr><td height = 20 colspan = 3></td></tr>
				
			<!-- 	---------------------------------------                      -->
			
				
				<tr>
					<td width = 70 align = center valign = top height = 50> 
						<div style = "font-size: 24px; background-color: #1899C4; color: #fff; padding-top: 0px; height: 25px;">***</div>
					</td>			
					<td  valign = top align =center> 
						<div style = "height: 50px; color: #696969;">
							<b>Best experience possible in a terrible situation</b>
						</div> 
					</td>			
					<td align = right valign = top>
						<div style = "width: 50px; background-color: #CCD674; text-align: center; height: 25px;">
						<img src = "/media/images/icons/thumbs-up-blk.png" width = 25 height = 25; />
						</div>
					</td>
				</tr>
				
				
				<tr>
					<td valign = top align=center> 
						<img src = "/media/images/profile_images/Capt_Ajay.jpg" width = 70 height = 70/> 
						<p><br/></p>
						<div style = "font-size: 10px;">Ajay<br> Dec, 2015</div> 
					</td>
					
					<td colspan = 2 valign = top> 
						<div style = "text-align: justify; padding: 0px 0px 5px 5px;">
							Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
										She is knowledgable and finds creative strategies to approach your case.
										<p>
										Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
										She is knowledgable and finds creative strategies to approach your case.Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
										She is knowledgable and finds creative strategies to approach your case.
										</p>
										<p>
										Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
										She is knowledgable and finds creative strategies to approach your case.Working along with Mrs. Anjali was great. I was most impressed with her prompt responses and keeping me informed on our case. She
										She is knowledgable and finds creative strategies to approach your case.
										</p>
						</div>
					</td>
					 
				</tr>
				
				
			</table>
		  
		</div>
</div>