 
<link rel="stylesheet" type="text/css" href="/styles/profiles/profileAspects/skills.css">
 
 
<div>
<div class = "common_section_title_bar" onClick = "showHideDownSibling($(this));">
	 <img  style = "margin-top: -2px;" width = "20" height = "20" src="/media/images/icons/star-hollow-grey.png" />
	 	Cores Competencies, Skills 
	  <img style = "float: right; margin-top: -4px;" width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
</div>


<div style = "padding-left: 5px; padding-right: 5px;">
	
		<table width= "100%" border = 0>
			<tr>
				<td valign = middle>
					<div class ="competency100PctIndicator">
	  					<div style = 'width: 90%; text-align: center; background-color: #6CCEF5; height: 100%;'>
	  						<font color = #000 size = -1><b>4</b> off <b>10</b></font>
	  					</div>
					</div>
					<div id="barText1">
						<b>Sales</b><br>
						Cross, Up, Direct, Online<br>
						Pre-Sales Focus
					</div>
					<!--div class="skill_rating"><span style = " display: inline-block; margin-top: 15px;"><b>3</b> off <b>5</b></span></div-->
				</td>					
				<td align="right" width= 172 valign = top>
					<table>
						<tr>
							<td align = center>
								<div class="proficiency"><span style = " display: inline-block; margin-top: 5px;">B</span> </div> Beginner
							</td>
							<td width = 10></td>
							<td align = center>
								<div class="experience"><span style = " display: inline-block; margin-top: 5px;"><b>2.0</b></span></div> Years
							</td>
						</tr>
						
						<!--tr>
							
							<td align="center" height = 10 colspan = 3>
								<div class="skill_rating"><span style = " display: inline-block; margin-top: 15px;"><b>3</b> off <b>5</b></span></div>
							</td>
							
						</tr-->
						<tr>
							<td align = center>
								<div class="skill-endorsement"><span style = " display: inline-block; margin-top: 5px;"><b>15</b></span></div> References
							</td>
							<td></td>
							<td align = center>
								<div class="recommendation"><span style = " display: inline-block; margin-top: 5px;"><b>4</b></span></div> + Reviews
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan = 2 height = 15></td>
			</tr>
			<tr>
				<td valign = middle>
					<div class ="competency100PctIndicator">
	  					<div style = 'width: 80%; text-align: center; background-color: #6CCEF5; height: 100%;'>
	  						<font color = #000 size = -1><b>4</b> off <b>10</b></font>
	  					</div>
					</div>
					<div id="barText1">
						<b>Sales</b><br>
						Cross, Up, Direct, Online<br>
						Pre-Sales Focus
					</div>
					<!--div class="skill_rating"><span style = " display: inline-block; margin-top: 15px;"><b>3</b> off <b>5</b></span></div-->
				</td>					
				<td align="right" width= 172 valign = top>
					<table>
						<tr>
							<td align = center>
								<div class="proficiency"><span style = " display: inline-block; margin-top: 5px;">B</span> </div> Beginner
							</td>
							<td width = 10></td>
							<td align = center>
								<div class="experience"><span style = " display: inline-block; margin-top: 5px;"><b>2.0</b></span></div> Years
							</td>
						</tr>
						
						<!--tr>
							
							<td align="center" height = 10 colspan = 3>
								<div class="skill_rating"><span style = " display: inline-block; margin-top: 15px;"><b>3</b> off <b>5</b></span></div>
							</td>
							
						</tr-->
						<tr>
							<td align = center>
								<div class="skill-endorsement"><span style = " display: inline-block; margin-top: 5px;"><b>15</b></span></div> References
							</td>
							<td></td>
							<td align = center>
								<div class="recommendation"><span style = " display: inline-block; margin-top: 5px;"><b>4</b></span></div> + Reviews
							</td>
						</tr>
					</table>
				</td>
			</tr>
			
			
		</table>
		
</div>

  
<div>
		<div class = "common_section_title_bar" onClick = "showHideDownSibling($(this));">
			<img  style = "margin-top: -2px;" width = "16" height = "26" src="/media/images/icons/tools_grey.png" />
			 	Other Skills, Tools
			 <img style = "float: right; margin-top: -4px;" width = "30" height = "30" src="/media/images/icons/arrow-Up-2lines.png" />		
		</div>
				 
		<div style = "padding-left: 7px; padding-right: 5px;">     
		        
		        <table width= "100%" border=0 bgcolor = #fff>
			        <tr>
			        	<td rowspan = 3 valign = top width = "40%" align = left>
			        		<div style="color: #696969;"><b>MS Office</b></div>
			        	</td>
			        	<td align = left width = "60%">
			        		<table border = 0 >
			        			<tr>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating2"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating2"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating2"></div>
						        	</td>
						        	<td align= center valign = middle width = 18>
						        		<div class="tools_rating2"></div>
						        	</td>
						        </tr>
						    </table>
						</td>
			        </tr>
			        <tr>
			        	<td height = 5></td>
			        </tr>
		
			         <tr>
			        	
			        	<td align = left width = "60%">
			        		<table border = 0>
			        			<tr>
						        	<td align="center" valign = middle width = 100>
						        		<div class="skill-endorsement"><span style = " display: inline-block; margin-top: 5px;"><b>7</b></span></div> References
						        	</td>
						        	<td>&nbsp;</td>
						        	<td align="center" valign = middle width = 100>
						        		<div class="proficiency"><span style = " display: inline-block; margin-top: 5px;">B</span> </div> Beginner
						        	</td>
				        		</tr>
							</table>
						</td>
		
			        </tr>
		
			        <tr>
			        	<td colspan = 2 height = 20></td>
			        </tr>
			        
			        <tr>
			        	<td rowspan = 3 valign = top width = "40%" align = left>
			        		<div style="color: #696969;"><b>MS Office</b></div>
			        	</td>
			        	<td align = left width = "60%">
			        		<table border = 0 >
			        			<tr>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating1"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating2"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating2"></div>
						        	</td>
						        	<td align= center valign = middle width = 20>
						        		<div class="tools_rating2"></div>
						        	</td>
						        	<td align= center valign = middle width = 18>
						        		<div class="tools_rating2"></div>
						        	</td>
						        </tr>
						    </table>
						</td>
			        </tr>
			        <tr>
			        	<td height = 5></td>
			        </tr>
		
			         <tr>
			        	
			        	<td align = left width = "60%">
			        		<table border = 0>
			        			<tr>
						        	<td align="center" valign = middle width = 100>
						        		<div class="skill-endorsement"><span style = " display: inline-block; margin-top: 5px;"><b>7</b></span></div> References
						        	</td>
						        	<td>&nbsp;</td>
						        	<td align="center" valign = middle width = 100>
						        		<div class="proficiency"><span style = " display: inline-block; margin-top: 5px;">B</span> </div> Beginner
						        	</td>
				        		</tr>
							</table>
						</td>
		
			        </tr>
			        
			        
			        
			    
		        </table>
		
		 </div>
 </div>
 
 </div>