
.common-dark-grey-btn {
	background-color: #fff;
	margin-bottom: 3px;
	text-align: center;
	width: 100%;
	color: #808080;
	font-family: 'Arial Narrow';
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;	
	font-weight: bold;
	 
}

#ORG_ESTATE_SLIDING_MENU_BAR_CONTAINER {
	width: 70%;
	position: absolute;
	left: 15%;
	right: 15%;
	bottom123:50px;
	
	
}

#ORG_ESTATE_SLIDING_MENU_BAR {
	display: none;
	width: 90%;
	padding-top: 6px;  
	padding-left: 5px;
	height: 34px;
	float: left;
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);

      
}

.ORG_ESTATE_SLIDER_ITEM {
	 display: inline-block;
	 width11: 20.33%;
	 margin-right: 12px;
	 text-align: center;	
	 border1: 1px solid grey;
	 font-size: 14px;
	 padding-left: 0px;
	 padding-right: 0px;
	color: #95B3D7;
}

#ORG_ESTATE_SLIDING_MENU_ICON { 
	
	width: 10%;
	
}

  
 @media screen and (max-width: 767px) {   
  	#ORG_ESTATE_SLIDING_MENU_BAR_CONTAINER {
		width: 100%;
		background-color123: grey;  
		left: 0px;
	    right: 0px;
	}  
  }
  
  @media screen and (min-width: 992px)  { 
  	
  		#ORG_ESTATE_SLIDING_MENU_BAR {
			width: 95%;
  		}  
  		#ORG_ESTATE_SLIDING_MENU_ICON { 
  			width: 5%;
  		}
  }
  
  
