
<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
<link href="/styles/common.css" rel="stylesheet" />

<div id = COMMON_FOOTER_BAR class = "website-screen-width_dt">  

	
	
</div> <!-- COMMON_FOOTER_BAR Ends -->
  
