
<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
<link href="/styles/common.css" rel="stylesheet" />

<div id = COMMON_TOP_BAR class = "earth-gradient-bg website-screen-width_dt">  

	<div id = COMMON_TOP_BAR_MENU>
		
	
	</div>
	
	<div id = "COMMON_TOP_BAR_PUSH-ZONE">
		
	</div>
	
</div> <!-- COMMON_TOP_BAR Ends -->
  
