
<style>


	/* The Modal (background) */
.trialModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top111: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
	position: absolute;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 20px;
    border555: 1px solid #888;
    width: 68%;
    height111: 91.7%;
    
    bottom111: 40px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>

</style>


<!-- The Modal -->
<div id="TRIAL_MODAL_ID1" class="trialModal">

  		 
       
							   
								<div class=" modal-content1 aakOptionsPopUp1 popUp1" id= AAK_OPTIONS_POPUP_MENU_WRAPPER_ID1 style= "overflow: auto; border-top: 1px solid #698A25; border-right: 1px solid #698A25; border-left: 1px solid #698A25;"> <!--  style="overflow: auto;"> -->   
									
									    <div  id = AAK_OPTIONS_TITLE_BAR1 class="earth-gradient-title-bar11" style= "text-align: center; background-color: #fff; height: 43px; border: 0px solid;">  
																									
												<b>Aakbox</b> 
												 
										</div>  
								 
									 
										 
							  		  	<div  id = AAK_OPTIONS_POPUP_MENU_CONTAINER_ID1 style="padding-left: 3px; padding-right: 3px; height111: 100%; overflow: auto;"> 
							  		  	   
							  		  	     
							  		  	   
											
											 
										</div>   <!-- Container Ends -->
									    
									</div>  
							 
 
  		 

	</div>


     
  	 

<script>


                     	 
    /**
    *
    */
 	function treeMenuDepth1() {
 	
	 function displayAakOptionsTrial() {
			//alert("helooppppp");
			//Get the modal
			var modal = document.getElementById('TRIAL_MODAL_ID1');
			
			// Get the button that opens the modal
			//var btn = document.getElementById("myBtn");
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];
			
			// When the user clicks the button, open the modal 
			 
			     modal.style.display = "block";
			 
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			    modal.style.display = "none";
			}
			
			// When the user clicks anywhere outside of the modal, close it
			modal.onclick = function(event) {
			    if (event.target == modal) {
			        modal.style.display = "none";
			    }
			}
			
		}
		 
		$('.modal-content1').css('height', .7 * CENTER_REGION_HEIGHT);
		$('.modal-content1').css('bottom', FOOTER_BAR_HEIGHT);
		
		
		
		
		 $('#AAK_FILTER1').on('click', function() {
			  $('#AAK_OPTIONS_FILTER_MENU1').toggle();
		}); 
	 
		 $('#AAK_FOLDER1').on('click', function() {
			  $('#AAK_OPTIONS_FOLDER_MENU1').toggle();
		}); 
		 
		$('#AAK_EXPIRED1').on('click', function() {
			  $('#AAK_OPTIONS_EXIT_MENU1').toggle();
		}); 
		
		
		
		$('#AAK_INBOX_POPUP_ID').on('click', function() {
			displayAakOptionsTrial();
			renderItems();
		}); 
		
		
		function renderItems(){
			
			//Clear and recreate the popup menu
				var aakPopUpMenuContainer = $('#AAK_OPTIONS_POPUP_MENU_CONTAINER_ID1');
				aakPopUpMenuContainer.empty();   
				
				treeMenuDepth1Data.forEach(function(element) { 	 
					var category = element;  
					//var subCategory = category.subCategory;   			
					//var menuWrapperDiv = $('<div></div>');
					var categoryDiv = $('<div id = AAK_FILTER1 class = "toggle-bar-menu"> <img style=" " width="24" height="24" src="/media/images/icons/filter.png"/> <b>' + category.label + '</b></div>');
					
					aakPopUpMenuContainer.append(categoryDiv);	
						  
				});   
				
		 
				
		}
		

 }
	
	
	$(function() {
		 
		
		treeMenuDepth1();
		
		
			});
</script>


  
									 