
#ORG_ESTATE_BRAND_LOGO {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 40%;
	
}

#ORG-ESTATE_SEARCH_BOX {
	position: absolute;
	top: 60%;
	width: 300px;
	
	align: center;
	
	left111: 30%;
	margin-left11: auto;
	margin-right11: auto;
}

#ORG_ESTATE_MENU {
    background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);  
	
	padding-top: 6px; /* for middle-alignment */
	padding-left: 5px;
	padding-right: 5px;
	
}

.ORG_ESTATE_MENU_ITEM {
	 display: inline-block;
	 color: white;	
	 width11: 20.33%;
	 margin-right: 12px;
	 text-align: center;	
	 border1: 1px solid grey;
	 font-size: 14px;
	 padding-left: 0px;
	 padding-right: 0px;
}

.ORG_ESTATE_MENU_ITEM:hover {
	cursor: pointer;
}

#ORG_EST_MSTR_MENU_SINGLETON {
	width: 100%;
	height: 100px;
	background-color: white;  
	display: none;
	position: absolute;
	left:0;
	right:0;
	top:37px;
}

#ORG_ESTATE_SLIDING_MENU_ICON {
	  
}