
#ORG_ESTATE_BRAND_LOGO {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 40%;
	
}

#ORG-ESTATE_SEARCH_BOX {
	position: absolute;
	top: 42%;
	width: 300px;
	
	align: center;
	
	left111: 30%;
	margin-left11: auto;
	margin-right11: auto;
}

#ORG_ESTATE_MENU {
    background: -webkit-linear-gradient(#70D8E8,#03A9DF);
	background: -o-linear-gradient(#70D8E8,#03A9DF);
	background: -moz-linear-gradient(#70D8E8,#03A9DF);
	background: linear-gradient(#70D8E8,#03A9DF);  
	
	padding-top: 6px; /* for middle-alignment */
	padding-left: 5px;
	padding-right: 5px;
	
}

.ORG_ESTATE_MENU_ITEM {
	 display: inline-block;
	 color: #000;	
	 width: 27.33%;
	 margin-right: 12px;
	 text-align: center;	
	 border1: 1px solid grey;
	 font-size: 14px;
	 padding-left: 0px;
	 padding-right: 0px;
	 font-weight: bold;
}

.ORG_ESTATE_SLIDER_ITEM {
	 display: inline-block;
	 width11: 20.33%;
	 margin-right: 12px;
	 text-align: center;	
	 border1: 1px solid grey;
	 font-size: 14px;
	 padding-left: 0px;
	 padding-right: 0px;
	color: #95B3D7;
}

.ORG_ESTATE_MENU_ITEM:hover {
	cursor: pointer;
}

#ORG_EST_MSTR_MENU_SINGLETON {
	width: 100%;
	height: 100px;
	background-color: white;  
	display: none;
	position: absolute;
	left:0;
	right:0;
	top:37px;
}

#ORG_ESTATE_SLIDING_MENU_BAR_CONTAINER {
	width: 70%;
	position: fixed;
	left: 15%;
	right: 15%;
	bottom123:50px;
	
	
}

#ORG_ESTATE_SLIDING_MENU_BAR {
	display: none;
	width: 90%;
	padding-top: 6px;  
	padding-left: 5px;
	height: 34px;
	float: left;
background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);

      
}

#ORG_ESTATE_SLIDING_MENU_ICON { 
	
	width: 10%;
	
}



/*  MEDIA SCREEN (Phone styles)   */  
  @media screen and (max-width: 767px) {   
  	#ORG_ESTATE_SLIDING_MENU_BAR_CONTAINER {
		width: 100%;
		background-color123: grey;  
		left: 0px;
	    right: 0px;
	}  
  }
  
  @media screen and (min-width: 992px)  { 
  	
  		#ORG_ESTATE_SLIDING_MENU_BAR {
			width: 95%;
  		}  
  		#ORG_ESTATE_SLIDING_MENU_ICON { 
  			width: 5%;
  		}
  }