/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/
/* MEYER'S RESET ENDS */

 

 body, html {
 	margin: 0px;
 	padding: 0px;  
 }
 
 *:focus {
 	outline: 0;  
 }
 
 /*  -------  FORM ELEMENTS ----------- */
 
 .commoninput {
				border: 1px solid #95B3D7;
				height: 45px;
				border-radius:4px 4px 4px 4px;
				padding-left: 5px;
}
	
input:focus
			{
				border: 1px solid #9DA836;
			}
			div:focus
			{
				border: 1px solid #9DA836;
			}
		 
			/* check box*/
			
		.squaredFour {
		  width: 20px;
		  position: relative;
		  margin: 20px auto;
		}
		.squaredFour label {
		  width: 30px;
		  height: 30px;
		  cursor: pointer;
		  position: absolute;
		  top: 0;
		  left: 0;
		  border: 1px solid #95B3D7;
		  background-color: #fff;
		  border-radius: 5px;
		 }
		.squaredFour label:before {
		  content: '';
		  width: 13px;
		  height: 7px;
		  position: absolute;
		  top: 7px;
		  left: 6px;
		  border: 3px solid #9DA836;
		  border-top: none;
		  border-right: none;
		  background: transparent;
		  opacity: 1;
		  -webkit-transform: rotate(-45deg);
		          transform: rotate(-45deg);
		}
		
		.squaredFour input[type=checkbox] {
		  visibility: hidden;
		}
		.squaredFour input[type=checkbox]:checked + label:before {
		  opacity: 0;
		}	

/*  --------- FORM ELEMENTS ENDS ----------- --------- */
			
 
a {
	text-decoration: none;
}

a:visited {
    color: #759533;
}


.a-in-body {
	color : #008CC9;
}


/* ******************** */
	
/*	*************** */

 
 /*TOP MENU BAR and PUSH ZONE SETTINGS @ media query below */
 
.img-with-caption-common {
	text-align: center; 
	display: inline-block; 
	width: 80px;
	margin-top: 15px;
}

.img-with-caption-common .img-caption {
	display: block; 
	line-height:.5; 
	font-size: 12px; 
	margin-top: 2px;
	margin-top: 15px;
	color: #525252;
	 
}
  

 
.common-text-box-prop {
	border-radius: 0px;
}
.common-text-box-prop:focus {
	border: 2px solid #77933C;
	border-radius: 0px;
}
 
/*  ----------- COMMON : PAGE HEADER BAR ---------- */ 
.common-page-header-bar {
		background-color111111:#ddebf0;  
		background-color : #95B3D7;
		height: 35px; 
		border: 1px solid #dcdcdc; 
		margin-top: 76px; 
		margin-left: 3px; 
		margin-right: 3px; 
		line-height: 35px; 
		text-align: left;
		color1111: #525252;
		color: #000;
		margin-bottom: 15px;
		padding-left: 3px;
}
 
/* -----  SECTIONS      ------------- */

.big-sections-bar {  
		height: 80px; 
		border-radius: 3px;
		background-color: #cddb4d;
		text-align: center;
		line-height: 60px;
		color: #000;
		margin-left: 5px;
		margin-right: 5px;
}
 
 /* ---------------------- COMMON TOP MENU BAR STYLE --------------------------- */
	
 #COMMON_TOP_BAR {
 	height: 66px;
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;  
 	background-color: blue;
 }
 
 #COMMON_TOP_BAR_MENU {
 	height: 44px;
 	background-color11: orange;
 }
 
 
 /* ---------------------- COMMON TOP MENU BAR STYLE --------------------------- */
 
 #COMMON_FOOTER_BAR {
 	background-color: yellow;
 	height: 42px;
 	position: fixed;
 	bottom: 0;
 	left: 0;
 	right: 0;  
 }
 
 
 
 /*    ---------------------        */
 .earth-gradient-bg {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);
	color: #fff;
}


.earth-gradient-title-bar {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f); 
	min-height: 43px; 
	padding: 6px 5px 0px 3px; 
	color: #FFF;
}
 
.toggle-bar-menu {  
	background-color: #95B3D7;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%; 
	margin-top: 8px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	text-align11: right;
	
	margin-bottom: 5px;
	border-radius: 3px;
}  

.toggle-bar-menu:hover  {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);
	color: #fff;
}







.green-text {
	color:  #AAD147;
	
}

.section-title {
	font-size: 200px;
	font-weight: bold;	
}

.common_section_title_bar {
	 padding-left: 5px;
	 padding-top: 13px; 
	  
	 padding-right: 5px; 
	 margin-top: 25px;
	 margin-bottom: 15px;  
	/* background-color: #f2f2f2; */
	 background-color: #e6e3e3;
	 /* height: 32px; */
	 height: 48px;
	 font-size: 14px;
	 font-weight: 700;
	 
	 color: #3f3f3f;
	 
	
	 border: 1px solid #EBEBEB;
}

.profile_aspect_sub_secn {
	 padding-left: 5px;
	 padding-top: 13px; 
	  
	 padding-right: 5px; 
	 
	 margin-bottom: 10px;  
	 margin-left: 5px;
	/* background-color: #f2f2f2; */
	 background-color: #f2f2f2;
	 /* height: 32px; */
	 height: 48px;
	 font-size: 14px;
	 font-weight: 700;
	 
	 color: #696969;
	 
	
	 border: 1px solid #EBEBEB;
}

.neg-state-usr-msg {
	font-size : 16px;
	color: #b57507;
	font-weight: bold;
}

.hpy-usr-green-text {
	color: #77933C;
}




@media screen and (max-width: 726px)  {  
	
  .cmn_mnu_itm_cntnr {
  	max-width: 100%;
  }
	  
}


@media screen and (max-width: 1024px)  {  
    #PROJECT_TOP_MENU_BAR_CNTNR_ID {
  	 height: 42px;
    }
  
  #PROJECT_TOP_MENU_BAR_PUSH_ZONE_ID {
    height: 31px;
  } 
  
  .cmn_mnu_itm_cntnr {
  	max-width: 
  }
  
  .cmn_mnu_itm_cntnr {
  	max-width: 100%;
  }
	  
}

@media screen and (min-width: 1025px)  {   
  .website-screen-width_dt {
 	width: 70%;
 	margin-left: auto;  
 	margin-right: auto;
  }
  
  #PROJECT_TOP_MENU_BAR_CNTNR_ID {
  	height: 42px;
  }
  
  #PROJECT_TOP_MENU_BAR_PUSH_ZONE_ID {
    height: 29px; 
  }
  
  .cmn_mnu_itm_cntnr {
  	max-width: 100%;
  }
	
}
 .sibling-feed-menu {
	background-color: #e6e3e3;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%; 
	margin-top: 8px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 5px;
	border-radius: 3px;
}