img {
	
	vertical-align: middle;
}

.common-popup-window { /* NOT USED */
	padding-left: 2px;
	padding-right: 2px;
}  




.white-text {
	color: #fff;  
}

.green-toggle-bar{
	background-color: #91B535;
}

.expandIcon {
	font-size: 18px;   
}


.alignElementCenter{
	position: absolute; 
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}

