 body, html {
 	margin: 0px;
 	padding: 0px;  
 }
 
 
 
 
 /* ---------------------- COMMON TOP MENU BAR STYLE --------------------------- */
	
 #COMMON_TOP_BAR {
 	height: 66px;
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;  
 	background-color: blue;
 }
 
 #COMMON_TOP_BAR_MENU {
 	height: 44px;
 	background-color11: orange;
 }
 
 
 /* ---------------------- COMMON TOP MENU BAR STYLE --------------------------- */
 
 #COMMON_FOOTER_BAR {
 	background-color: yellow;
 	height: 42px;
 	position: fixed;
 	bottom: 0;
 	left: 0;
 	right: 0;  
 }
 
 
 
 /*    ---------------------        */
 .earth-gradient-bg {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);
	color: #fff;
}


.earth-gradient-title-bar {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f); 
	height: 43px; 
	padding: 6px 5px 0px 3px; 
	color: #FFF;
}
 
.toggle-bar-menu {  
	background-color: #95B3D7;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%; 
	margin-top: 8px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	text-align11: right;
	
	margin-bottom: 5px;
	border-radius: 3px;
}  

.toggle-bar-menu:hover  {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);
	color: #fff;
}


.green-text {
	color:  #AAD147;
	
}

.section-title {
	font-size: 10px;
	font-weight: bold;	
}



@media screen and (min-width: 1025px)  {  
  .website-screen-width_dt {
 	width: 70%;
 	margin-left: auto;  
 	margin-right: auto;
 }
	
	
}
 