
.common-popup-window { /* NOT USED */
	padding-left: 2px;
	padding-right: 2px;
}  




.white-text {
	color: #fff;  
}

.green-toggle-bar{
	background-color: #91B535;
}

.expandIcon {
	font-size: 18px;   
}

