.peopleSearch_section_bar {
	 padding-left: 5px;
	 padding-top: 13px; 
	  
	 padding-right: 5px; 
	 margin-top: 2px;
	 margin-bottom: 2px;  
 
	 dddbackground-color: #e6e3e3;
	 background-color: #95B3D7;
	 
	 height: 48px;
	 font-size: 16px;
	 font-weight: 700;
	 
	 color: #fff;
	 
	
	 border55555: 1px solid #EBEBEB;
}

.people-search-form-bg {
	background-color: #565656;  
	padding-left555555: 2px; 
	padding: 2px;
	border-radius: 4px;
}

.people-search-form-bg table {
			border-collapse: collapse;
			 border-spacing111: 0px;
}  

.ppl-search-frmFildLabel {
	color: #fff;
	font-weight: bold;
}