<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/aakComposer.css">
		<script>
		  
			function cui_msgType() {
				var msgTypeSelElmnt = document.getElementById("MSG_COMPOSER_STANDALONE_MSG_TYPE");						
				if(msgTypeSelElmnt.options[msgTypeSelElmnt.selectedIndex].value == "M") {
					$("#MSG_COMPOSER_STANDALONE_EMO_ICON_ID").css('display','none');
					$("#MSG_COMPOSER_STANDALONE_RTF_ICON").css('display','block');	
					$("#MSG_COMPOSER_STANDALONE_PRVW_ICON_ID").css('display','block');
					$("#MSG_COMPOSER_STANDALONE_SND_ICON_ID").css('display','none');
					$("#MSG_COMPOSER_STANDALONE_SUBJ_ID").css('display','block');
					
					//$('.composerToolbar').css('height',$('#MSG_COMPOSER_TEXTAREA').outerHeight() + $('#MSG_COMPOSER_STANDALONE_SUBJ_ID').outerHeight());
					$('.composerToolbar').css('height',$('#MSG_COMPOSER_MAIN_CONTENT').outerHeight());  
					//$('.composerToolbar').css('height',$('.composerWrapper').height()- $('.composerWrapper headerRow').height());
					
					/*document.getElementById("MSG_COMPOSER_STANDALONE_SUBJ_ID").value = "";
					document.getElementById("MSG_COMPOSER_STANDALONE_TO_ID").value = "979 797 9797";*/
					
					
					
					//var initialMainContentHeight =  $('#MSG_COMPOSER_MAIN_CONTENT').outerHeight(); //issue:- displays 0
					//alert(initialMainContentHeight);
					
					
				} else {
					$("#MSG_COMPOSER_STANDALONE_RTF_ICON").css('display','none');	
					$("#MSG_COMPOSER_STANDALONE_EMO_ICON_ID").css('display','block');
					$("#MSG_COMPOSER_STANDALONE_PRVW_ICON_ID").css('display','none');
					$("#MSG_COMPOSER_STANDALONE_SND_ICON_ID").css('display','block');  
					$("#MSG_COMPOSER_STANDALONE_SUBJ_ID").css('display','none');
					
					//$('.composerToolbar').css('height',$('.composerWrapper').height()- $('.composerWrapper headerRow').height());
					//$('.composerToolbar').css('height',$('#MSG_COMPOSER_TEXTAREA').outerHeight() + $('#MSG_COMPOSER_STANDALONE_SUBJ_ID').outerHeight());
					$('.composerToolbar').css('height',$('#MSG_COMPOSER_MAIN_CONTENT').outerHeight());  
					
					
				}							
			}
		</script>		
	</head>	
	<body>		
		  <div class="container composerWrapper">		 
			  	<div class="row" id="headerRow">
			  		<div class="col-xs-11">
			  		
			  			<div id="selectGroup" style="display: inline-block;padding-top: 0px;">	
						  	<!-- 	<select style="height:27px; width:65px;" class="greenborder">
								  <option value="volvo">41041/Deep</option>
								  <option value="saab">Deepika/979</option>
								  <option value="volvo">Roxy/041</option>
								  <option value="saab">Roxy/979</option>
								  
								</select>
								
								<select style="height:27px; width:80px;" class="greenborder">
								  <option value="volvo">To: Ajooba Man</option>
								  <option value="saab">To: Inner Circle</option>					  
								  <option value="saab">To: Bangalore Startup Group</option>
								  <option value="volvo">CC: 8888888888</option>
								</select>
								
								<select style="height:27px; width:80px;" class="greenborder">
								  <option value="volvo">Sub: Reminder of Bill Pay!</option>
								  <option value="saab">Sub: FYI</option>
								  <option value="volvo">Sub: Blah Blah</option>
								  <option value="saab">Sub: Urgent! Call at the earliest!</option>
								  
								</select> -->
								
								<select id= MSG_COMPOSER_STANDALONE_MSG_TYPE style="height:27px;" class="greenborder" onChange = "javascript: cui_msgType();">  
								  
								  
								  <option value="S" selected>Message ('S')</option>
								  <option value="M">Message ('M')</option>
								  
								  
								</select>
								
								<!-- select>
								  <option value="volvo">Good News!</option>
								  <option value="volvo">Call back</option>
								  <option value="volvo">Important</option>
								  <option value="volvo">Intimation</option>
								  <option value="volvo">Invitation</option>
								  <option value="volvo">FYI</option>    
								  <option value="saab">Greetings</option>
								  <option value="mercedes">Reminder</option>
								  <option value="mercedes">Touch base</option>  
								  <option value="audi">Urgent</option>
								</select -->
						</div>
			  			<!-- <img class="pull-right" src="/media/images/icons/send_message.png" width="28" height="28"> -->
			  			
			  			
			  		</div> <!-- col-xs-11 ends -->
			  			
			  		<div class="col-xs-1">
			  			<img id = MSG_COMPOSER_STANDALONE_RTF_ICON  class="pull-right img-responsive" style="display:none;" src="/media/images/icons/rtf-temp.PNG" height="24" width="24">
			  			<img id = MSG_COMPOSER_STANDALONE_EMO_ICON_ID class="pull-right img-responsive"  style="display:block; margin-right: -4px;;" src="/media/images/icons/emo1.png" height="30" width="30">
			  		  
			  		</div>
			  </div>  <!-- row headerRow ends -->  
			 	
			  <!-- row for composer body --> 
			  <div class="row" >
			  		<div class="col-xs-1 composerToolbar composerToolbarLeft"> <!--  set height to col-xs-10 below --> 
			  		<!-- 	<img id = MSG_COMPOSER_STANDALONE_PLUS_123 style="display:block; position: absolute; top:0px;" class="pull-left img-responsive" src="/media/images/icons/plus-5-xxl.png" height="28" width="28">			  			
			  			<img id = MSG_COMPOSER_STANDALONE_SND_ICON_ID_123 class="pull-left img-responsive" style="display:block;position: absolute; bottom:0px;" src="/media/images/icons/short_links.png"  width="28" height="28">	
			  			<img id = MSG_COMPOSER_STANDALONE_PRVW_ICON_ID_123 class="pull-left img-responsive" style="display:none; position: absolute; bottom:0px;" src="/media/images/icons/preview3.png"  width="28" height="26">
			  		-->	
			  		</div>
			  		<div class="col-xs-10" id=MSG_COMPOSER_MAIN_CONTENT> 
			  			<div class="row">
			  				<div class="col-xs-12" >
			  					<input class="greenborder" type='text' id=MSG_COMPOSER_STANDALONE_SUBJ_ID name="subject" style="display:none; width:100%; margin-top:4px; margin-bottom:4px;">
			  					<textarea id=MSG_COMPOSER_TEXTAREA class="greenborder" style="width:100%; height:88px; margin-top: 2px; margin-bottom:0px;"></textarea>
			  				</div>
			  			</div>
			  		</div>
			  		<div class="col-xs-1 composerToolbar composerToolbarRight" style="position: relative; text-align: center;">
			  			<img id = MSG_COMPOSER_STANDALONE_PLUS style="display:block; position: absolute; top:0px;" class="pull-left" src="/media/images/icons/plus-5-xxl.png" height="28" width="28">			  			
			  			<img id = MSG_COMPOSER_STANDALONE_SND_ICON_ID class="pull-left img-responsive" style="display:block;position: absolute; bottom:1px;" src="/media/images/icons/post-out.png"  width="30" height="28">	
			  			<img id = MSG_COMPOSER_STANDALONE_PRVW_ICON_ID class="pull-left img-responsive" style="display:none; position: absolute; bottom:0px;" src="/media/images/icons/preview3.png"  width="28" height="26">	
			  		</div>
			  		<!-- <div class="clearfix visible-xs-block"></div> -->
			  </div>
			
		  </div>  <!-- wrapper ends--> 	    
		  		  
		<script src="/script/modal/aakComposer.js"></script>
		<script>  
			 $(function(){
				 //alert('helo');
				
				 
				var initialViewPortHeight = $(window).height();
				var initialComposerWrapperHeight = $('.composerWrapper').height();
				//var initialTextAreaHeight = $('#MSG_COMPOSER_TEXTAREA').height();
				var initialTextAreaHeight = $('#MSG_COMPOSER_TEXTAREA').outerHeight();
				var initialSubjIdHeight = $('#MSG_COMPOSER_STANDALONE_SUBJ_ID').outerHeight();
				  //  var initialMainContentHeight =  $('#MSG_COMPOSER_MAIN_CONTENT').outerHeight(); //issue:- displays 0
				//alert(initialMainContentHeight);
				
			//	$('.composerToolbar').css('height',initialComposerWrapperHeight- $('.composerWrapper headerRow').height());
				$('.composerToolbar').css('height',initialTextAreaHeight);
				
				$(window).resize(function(){
					
					  
					var composerWrapper = $('.composerWrapper');  
					var newViewPortHeight =  $(window).height();
					var footerBarHeight = $('#footerBarId').height(); 
					var topMenuContainerHeight = $('.top-menu-container').outerHeight();
					
					if(newViewPortHeight < initialViewPortHeight){     
								
						//calculate new height of composerWrapper
						var composerNewHeight = newViewPortHeight - (footerBarHeight + topMenuContainerHeight);
						// alert("nEW Height 2 == " + $(window).height()); 
						//alert("composer new height == " + composerNewHeight);
						composerWrapper.css('height',composerNewHeight);    
						$('#MSG_COMPOSER_TEXTAREA').css('height', initialTextAreaHeight + (composerNewHeight-initialComposerWrapperHeight) );  
					}	
					else{
						composerWrapper.css('height',initialComposerWrapperHeight);    
						$('#MSG_COMPOSER_TEXTAREA').css('height',initialTextAreaHeight);       
					}
					//$('.composerToolbar').css('height', $('#MSG_COMPOSER_MAIN_CONTENT').height());
				});
				
				//alert("Body height == " + $('#MSG_COMPOSER_MAIN_CONTENT').height());
				//alert("Toolbar height == " + $('.composerToolbar').height());  
				//Set height of composer's side toolbars to mainContent's height
				
				
				  
			}); 
		</script>
	</body>
</html>