<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/aakComposer.css">		
	</head>	
	<body>		
		  <div class="container composerWrapper">		 
			  	<div class="row" id="headerRow">
			  		<div class="col-xs-12">
			  			<div id="selectGroup" style="display: inline-block;padding-top: 0px;">	
						  		<select style="height:27px;">
								  <option value="volvo">From: Deb (41041)</option>
								  <option value="saab">From: Deb (37979)</option>
								  <option value="volvo">From: Mentu (41041)</option>
								  <option value="saab">From: Mentu (37979)</option>
								  
								</select>
								&nbsp;&nbsp;
								<select style="height:27px;">  
								  
								  <option value="volvo">Size: Medium</option>
								  <option value="volvo">Size: Short</option>
								  <option value="volvo">Size: Long</option>
								  
								</select>
								
								<!-- select>
								  <option value="volvo">Good News!</option>
								  <option value="volvo">Call back</option>
								  <option value="volvo">Important</option>
								  <option value="volvo">Intimation</option>
								  <option value="volvo">Invitation</option>
								  <option value="volvo">FYI</option>
								  <option value="saab">Greetings</option>
								  <option value="mercedes">Reminder</option>
								  <option value="mercedes">Touch base</option>
								  <option value="audi">Urgent</option>
								</select -->
							</div>
			  			<img class="pull-right" src="/media/images/icons/send_message.png" width="28" height="28">
			  		</div>
			  	</div>
			  	
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<input type='text' name="to" style="width:100%;" value="To: Gossip-Gang; STARTUP-GROUP; 989898998">
			  		</div>
			  	</div>
			  	
			  	
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<input type='text' name="subject" style="width:100%;" value="Subject: Got blessed with a baby girl this morning!">
			  		</div>
			  	</div>
			   
			   <div class="row">
			  		<div class="col-xs-11" style="padding-right:1px;">
			  			<textarea style="width:100%; height:88px;"></textarea>
			  		</div>
			  		<div class="col-xs-1" style="height:88px; position: relative; padding-left: 0px;">
			  			<img class="pull-left" style="margin-top:-3px;" src="/media/images/icons/rtf-temp.PNG" height="28" width="28">
			  			<!-- <img style="display:block; margin-top:4px;" class="pull-left" src="/media/images/icons/emo.png" height="28" width="28"> -->
			  			<img style="display:block; margin-top:36px;" class="pull-left" src="/media/images/icons/plus-5-xxl.png" height="28" width="28"> 
			  		</div>
			  	</div> 
			
		  </div>  <!-- wrapper ends--> 	
		  		  
		<script src="/script/modal/aakComposer.js"></script>
	</body>
</html>