<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/aakComposer.css">
		<script> 
		function cui_msgType() {
			var msgTypeSelElmnt = document.getElementById("MSG_COMPOSER_STANDALONE_MSG_TYPE");						
			if(msgTypeSelElmnt.options[msgTypeSelElmnt.selectedIndex].value == "M") {
				$("#MSG_COMPOSER_STANDALONE_EMO_ICON_ID").css('display','none');
				$("#MSG_COMPOSER_STANDALONE_RTF_ICON").css('display','block');	
				$("#MSG_COMPOSER_STANDALONE_PRVW_ICON_ID").css('display','block');
				$("#MSG_COMPOSER_STANDALONE_SND_ICON_ID").css('display','none');
				$("#MSG_COMPOSER_STANDALONE_SUBJ_ID").css('display','block');
							
				
				/*document.getElementById("MSG_COMPOSER_STANDALONE_SUBJ_ID").value = "";
				document.getElementById("MSG_COMPOSER_STANDALONE_TO_ID").value = "979 797 9797";*/
			 	
				//Change css setting for the whole wrapper and its components;
				$('.composerWrapper').css('height','180px');
				$('#MSG_COMPOSER_BODY').css('height','140px');
				$('#MSG_COMPOSER_TEXTAREA').css('height','80%'); //text box height set to 20% on html code
				
				
			} else {
				$("#MSG_COMPOSER_STANDALONE_RTF_ICON").css('display','none');	
				$("#MSG_COMPOSER_STANDALONE_EMO_ICON_ID").css('display','block');
				$("#MSG_COMPOSER_STANDALONE_PRVW_ICON_ID").css('display','none');
				$("#MSG_COMPOSER_STANDALONE_SND_ICON_ID").css('display','block');   
				$("#MSG_COMPOSER_STANDALONE_SUBJ_ID").css('display','none');
				
				//$('.composerToolbar').css('height',$('.composerWrapper').height()- $('.composerWrapper headerRow').height());
				//$('.composerToolbar').css('height',$('#MSG_COMPOSER_TEXTAREA').outerHeight() + $('#MSG_COMPOSER_STANDALONE_SUBJ_ID').outerHeight());
				//$('.composerToolbar').css('height',$('#MSG_COMPOSER_MAIN_CONTENT').outerHeight());  
				
			////	$('#MSG_COMPOSER_BODY').css('height', $('#MSG_COMPOSER_CONTENT_AREA').height()); //
			
				$('.composerWrapper').css('height','120px');
				$('#MSG_COMPOSER_BODY').css('height','80px');
				$('#MSG_COMPOSER_TEXTAREA').css('height','100%');  
				
			}							
		}
			  
		</script>		
	</head>	
	<body>		  
		 
		  <div class="composerWrapper" style="height: 120px;">      
		  		<div id="MSG_COMPOSER_LEFT_BAR" style="width: 40px; padding-top: 0px; background-color: #404040; height:100%; float:left; position:relative;">
		  			<img  id = MSG_COMPOSER_MSG_TYPE   style="display:block; position1:absolute; lef1t:0; right1:0;margin-left:auto;margin-right:auto;" src="/media/images/icons/messages-icon.png" height="28" width="28">	
		  			<img id = MSG_COMPOSER_CATEGORY style="display:block;margin-left:auto;margin-right:auto;margin-top:12px;" class="" src="/media/images/icons/icon-question.png" height="28" width="28"> 	  
		  			<img  id = MSG_COMPOSER_RTF style="display:block;margin-left:auto;margin-right:auto;margin-top:18px;" src="/media/images/icons/font-21.png" height="25" width="25">	    
		  		
		  		</div>      
		  
		  		<div id="MSG_COMPOSER_RIGHT_BAR" style="width: 40px; background-color: #404040; height:100%;float:right; position:relative; padding-top:0px;">  
		  			<img  id = MSG_COMPOSER_TO style="display:block;margin-left:auto;margin-right:auto;" src="/media/images/icons/white-portals.png" height="28" width="28">
		  			<img  id = MSG_COMPOSER_ADD_STUFF style="display:block;margin-left:auto;margin-right:auto; margin-top:16px;" src="/media/images/icons/wht-plus.png" height="28" width="28">	
		  			<img  id =  MSG_COMPOSER_STANDALONE_SND_ICON style="display:block;margin-left:auto;margin-right:auto;margin-top:13px;" src="/media/images/icons/send_icon.png" height="28" width="28"> 	    
		  		</div>
		  		
		  		<div id=MSG_COMPOSER_TOP_BAR style="height:44px; max-width: 100%; background-color:#404040; margin-left:40px; margin-right: 40px; padding-top:3px;">
		  		
		  			<textarea id = MSG_COMPOSER_TO_TEXTAREA style="width:100%; height:38px; border: 0px;">To: "Inner-Circle; Gossip-Gang; Professional-Network; Family; deb@aak.com; 97401 41041; Ramesh Singhania"</textarea> 
		  			<!--  <input type="text" name="MSG_COMPOSER_TO_TEXT"  value="To: InnerCircle;GossipGang;9740141014" style="width: 100%; height: 38px;"> -->
		  		</div> 
		  		<div style=" max-width: 100%; height: 74px; margin-left:40px; margin-right: 40px;">   
		  			<textarea id=MSG_COMPOSER_TEXTAREA style="width:100%; height:100%; border: 0px;"></textarea> 
		  		</div>
		  </div>
		 
		 
		 
		  
		    
		 
		 
		  
		 
		   
		<!-- 
		 <div class="composerWrapper" style="height: 120px;">    
		 
		 	<div id="MSG_COMPOSER_LEFT_BAR" style="width: 10%; background-color: #404040; height:100%; float:left; position:relative;">
		 				<img id = MSG_COMPOSER_STANDALONE_PLUS_1231 style="display:block; position: absolute; top:1px;margin-left:auto;margin-right:auto;left:0;right:0;" class="pull-left img-responsive" src="/media/images/icons/plus-5-xxl.png" height="28" width="28">			  			
			  			<img id = MSG_COMPOSER_STANDALONE_SND_ICON_ID_1231 class="pull-left img-responsive" style="display:block;position: absolute; bottom:1px;margin-left:auto;margin-right:auto;left:0;right:0;" src="/media/images/icons/short_links.png"  width="28" height="28">
		 	</div>
		 	
		 	<div id="MSG_COMPOSER_RIGHT_BAR" style="width: 10%; background-color: #404040; height:100%;float:right; position:relative;">
		 				<img id = MSG_COMPOSER_STANDALONE_PLUS1 style="display:block; position: absolute; top:1px;margin-left:auto;margin-right:auto;left:0;right:0;" class="pull-left" src="/media/images/icons/plus-5-xxl.png" height="28" width="28">			  			
			  			<img id = MSG_COMPOSER_STANDALONE_SND_ICON_ID1 class="pull-left img-responsive" style="display:block;position: absolute; bottom:1px;margin-left:auto;margin-right:auto;left:0;right:0;" src="/media/images/icons/post-out.png"  width="30" height="28">	
			  			<img id = MSG_COMPOSER_STANDALONE_PRVW_ICON_ID12 class="pull-left img-responsive" style="display:none; position: absolute; bottom:1px;margin-left:auto;margin-right:auto;left:0;right:0;" src="/media/images/icons/preview3.png"  width="28" height="26">	
		 	</div>
		 	
		 	<div id=MSG_COMPOSER_TOP_BAR style="height:40px; width: 80%; background-color:#404040;padding-top:6px;">   		 		 
		 		 <img   class="pull-right1" style="" src="/media/images/icons/Messages.png" height="24" width="24">
			  	 <img  class="pull-right"  style="" src="/media/images/icons/icon-white-portals-500px.png" height="30" width="30">
			</div> 
		 	
		 	<div id="MSG_COMPOSER_CONTENT_AREA" style="width: 80%;height:100%;float:left;padding:0px;">
		 				 
			  			<textarea id=MSG_COMPOSER_TEXTAREA class="" style="width:100%; height:100%;"></textarea>
		 			
		 	</div>
		 </div>
		
		
		-->
		
		
		
		
		
		
		
		
		
		
		
		
		
		  
		  	    
		  		   
		<script src="/script/modal/aakComposer.js"></script>
			
		<script>  
		 	
			//$('#MSG_COMPOSER_BODY').css('height', $('#MSG_COMPOSER_CONTENT_AREA').height());
				
		</script>
	</body>
</html>