<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/aakComposer.css">		
	</head>	
	<body>		
		  <div class="container composerWrapper">		 
			  	<div class="row" id="headerRow">
			  		<div class="col-xs-12">
			  			<img class="pull-right" src="/media/images/icons/send_message.png" width="28" height="28">
			  		</div>
			  	</div>
			  	
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<input type='text' name="to" style="width:100%;">
			  		</div>
			  	</div>
			  	
			  	
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<input type='text' name="subject" style="width:100%;">
			  		</div>
			  	</div>
			   
			   <div class="row">
			  		<div class="col-xs-11">
			  			<textarea style="width:100%; height:129px;"></textarea>
			  		</div>
			  		<div class="col-xs-1" style="height:129px; position: relative;">
			  			<img class="pull-left" src="/media/images/icons/rtf-temp.PNG" height="28" width="28">
			  			<img style="display:block; margin-top:73px;" class="pull-left" src="/media/images/icons/rtf-temp.PNG" height="28" width="28"> 
			  		</div>
			  	</div>
		  </div>  <!-- wrapper ends--> 	
		  		  
		<script src="/script/modal/aakComposer.js"></script>
	</body>
</html>