<!doctype>
<html>
	<head>		 
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<link rel="stylesheet" href="/styles/modal/aakComposer.css">
		<script> 
		function cui_msgType() {
			var msgTypeSelElmnt = document.getElementById("MSG_COMPOSER_STANDALONE_MSG_TYPE");						
			if(msgTypeSelElmnt.options[msgTypeSelElmnt.selectedIndex].value == "M") {
				$("#MSG_COMPOSER_STANDALONE_EMO_ICON_ID").css('display','none');
				$("#MSG_COMPOSER_STANDALONE_RTF_ICON").css('display','block');	
				$("#MSG_COMPOSER_STANDALONE_PRVW_ICON_ID").css('display','block');
				$("#MSG_COMPOSER_STANDALONE_SND_ICON_ID").css('display','none');
				$("#MSG_COMPOSER_STANDALONE_SUBJ_ID").css('display','block');
							
				
				/*document.getElementById("MSG_COMPOSER_STANDALONE_SUBJ_ID").value = "";
				document.getElementById("MSG_COMPOSER_STANDALONE_TO_ID").value = "979 797 9797";*/
			 	
				//Change css setting for the whole wrapper and its components;
				$('.composerWrapper').css('height','180px');
				$('#MSG_COMPOSER_BODY').css('height','140px');
				$('#MSG_COMPOSER_TEXTAREA').css('height','80%'); //text box height set to 20% on html code
				
				
			} else {
				$("#MSG_COMPOSER_STANDALONE_RTF_ICON").css('display','none');	
				$("#MSG_COMPOSER_STANDALONE_EMO_ICON_ID").css('display','block');  
				$("#MSG_COMPOSER_STANDALONE_PRVW_ICON_ID").css('display','none');
				$("#MSG_COMPOSER_STANDALONE_SND_ICON_ID").css('display','block');   
				$("#MSG_COMPOSER_STANDALONE_SUBJ_ID").css('display','none');
				
				//$('.composerToolbar').css('height',$('.composerWrapper').height()- $('.composerWrapper headerRow').height());
				//$('.composerToolbar').css('height',$('#MSG_COMPOSER_TEXTAREA').outerHeight() + $('#MSG_COMPOSER_STANDALONE_SUBJ_ID').outerHeight());
				//$('.composerToolbar').css('height',$('#MSG_COMPOSER_MAIN_CONTENT').outerHeight());  
				
			////	$('#MSG_COMPOSER_BODY').css('height', $('#MSG_COMPOSER_CONTENT_AREA').height()); //
			
				$('.composerWrapper').css('height','120px');
				$('#MSG_COMPOSER_BODY').css('height','80px');
				$('#MSG_COMPOSER_TEXTAREA').css('height','100%');  
				
			}							
		}  
			  
		</script>		
	</head>	
	
	
	<body  id="AAK_BOX_CONTENT">		  
		 
		  <div class="composerWrapper popUp" tabindex="0" style="height: 157px;  border-top: 2px solid #525252;   border-left: 1px solid #525252; border-right: 1px solid #525252;   border-bottom: 0px solid #6E6969;">
		  
		  		
		      
		  		<div id = "MSG_COMPOSER_TOP_BAR" style="width: 100%; background-color: #6E6969; height: 40px;  padding-top: 8px; position: relative;">
		  				<div id = "AAK_PLUS_CLOSE_BTN" style = "margin-left: 0px; height: 30px; width: 30px; line-height: 30px; position: absolute; bottom: 43px; background-color: #525252; text-align: center; border-radius: 2px; border: 1px solid #525252;">
	  			 			 <span style = "font-size: 18px; color: #fff;  ">x</span>
	  			 	    </div> 
	  			 	
		  			 
		  				 <select  id = AAK_PLUS_CAT style = "margin-left: 40px; width: 85px; margin-right: 5px; height: 22px;">
		  				  <option value="">Select Option</option>
						  <option value="IM">Aak Message</option>
						  <option value="SM">Small</option>
						  <option value="MM">Medium</option>
						  <option value="LM">Large</option>
						  <option value="P">P</option>
						  <option value="E">E</option>
						      
						</select>
						
						<select id = AAK_PLUS_SUB_CAT style = " display: none; margin-left: 0px; width: 85px;  height: 22px;">
						   
						</select> 
		  			 
		  			
	  			 	<img  id = MSG_COMPOSER_MAX_MIN style="float: right; display:block;  margin-right: 10px;" src="/media/images/aakPlus/full-screen-zoom-wht.png" height="22" width="22"> 
	  			 <!-- 	<img id= "MSG_POP_OUT_WINDOW"  style="float: right; display:block;   margin-right: 20px;" src="/media/images/aakPlus/new-win-pop-out-wht.png" height="18" width="18"> -->
	  			 	 
	  			 
		  		</div><!-- 
		  		
		  		  
		  --> <div id="MSG_COMPOSER_LEFT_BAR" style="width: 40px; padding-top: 0px; background-color: #6E6969; height:calc(100% - 40px); float:left; position:relative;">
		  			<img  id = MSG_COMPOSER_TO style="display:block;margin-left:auto;margin-right:auto;" src="/media/images/icons/add-audience.png" height="28" width="28">
		  			<!-- <img  id = MSG_COMPOSER_MSG_TYPE   style="display:block; position1:absolute; lef1t:0; right1:0;margin-left:auto; margin-right:auto;" src="/media/images/icons/messages-icon.png" height="28" width="28"> -->	
		  			<!-- <img id = MSG_COMPOSER_CATEGORY style="display:block;margin-left:auto;margin-right:auto; margin-top:12px;" class="" src="/media/images/icons/icon-question.png" height="28" width="28"> --> 	  
		  			<!-- <img  id = MSG_COMPOSER_RTF style="display:block;margin-left:auto;margin-right:auto;margin-top:18px;" src="/media/images/icons/font-21.png" height="25" width="25"> -->
		  			 <img  id = MSG_COMPOSER_DSGN_N_PRVW_DISPLAY_ICON style="display:block; position: absolute; bottom: 5px; left: 0; right: 0;  margin-left:auto; margin-right:auto;" src="/media/images/icons/plainwhite/eye-wht-150.png" height="28" width="28">  
		  			  
		  		</div>      
		  
		  		<div id="MSG_COMPOSER_RIGHT_BAR" style="width: 40px; background-color: #6E6969; height:calc(100% - 40px); float:right; position:relative; padding-top:0px;">  
		  			<!-- <img  id = MSG_COMPOSER_TO style="display:block;margin-left:auto;margin-right:auto;" src="/media/images/icons/white-portals.png" height="28" width="28"> -->
		  			 
		  		<!-- 	<img  id = MSG_COMPOSER_ADD_STUFF style="display:block;margin-left:auto;margin-right:auto; margin-top:16px;" src="/media/images/icons/wht-plus.png" height="28" width="28"> -->
		  			  <img  id = MSG_COMPOSER_ADD_STUFF style="display:block;margin-left:auto;margin-right:auto; margin-top:35px;" src="/media/images/icons/operators-white/plus-white.png" height="18" width="18">
		  		<!-- 	<img  id = new_plus style="display:block;margin-left:auto;margin-right:auto; margin-top:35px;" src="/media/images/icons/operators-white/plus-white.png" height="18" width="18"> -->
		  			
		  			<img  id =  MSG_COMPOSER_STANDALONE_SND_ICON style="display: none; position: absolute; bottom : 5px; left: 0; right: 0;  margin-left:auto; margin-right:auto; " src="/media/images/icons/send_icon.png" height="28" width="28"> 	    
		  		</div>
		  		
		  	<!-- 	<div id=MSG_COMPOSER_TOP_BAR style="height:44px; max-width: 100%; background-color:#404040; margin-left:40px; margin-right: 40px; padding-top:3px;">
		  		 
		  			<textarea id = MSG_COMPOSER_TO_TEXTAREA style="width:100%; height:38px; border: 0px;">To: "Inner-Circle; Gossip-Gang; Professional-Network; Family; deb@aak.com; 97401 41041; Ramesh Singhania"</textarea> 
		  	 		
		  		  <input type="text" name="MSG_COMPOSER_TO_TEXT"  value="To: InnerCircle;GossipGang;9740141014" style="width: 100%; height: 38px;"> 
		  		</div> 
		  -->  
	 			 <div id= TEXT_AREA style=" max-width: 100%; height: 120px; margin-left:40px; margin-right: 40px; "> 
	 			       <div id = UNI_COMPOSER_IM  style = "display: block;" class = "uni-composer-msg-category"> <!-- NOT much thought over :) -->
 		  					<div id = MSG_COMPOSER_TO_TEXTAREA contenteditable="true" style="width:100%; height:36px; border: 0px; margin-top: 3px; overflow: auto; background-color: #fff; ">Audience: </div>  
 							<div id = MSG_COMPOSER_MESSAGE_TEXTAREA contenteditable="true" style="width:100%; height:70px; border: 0px; margin-top: 0px; overflow: auto; background-color: #fff;">Content: </div>  
 					   </div>   
	 		
		  		</div>
		  
		  		  
		  		<div id= MSG_COMPOSER_BOTTOM_BAR style="display: none; width: 100%; height: 40px; position: absolute; bottom: 0; left:0; right: 0; margin-left: auto; margin-right: auto; background-color: #6E6969;">
		  					&nbsp;  
		  		</div>    
		  		
		  	<div id="ATTACH_OPTIONS" class="attach-icons" style="display:none; position: absolute; top:0px; right: 40px; background-color: #d9d9d9; height: 70%; ">
		  			

		  			<table width="100%" height="100%" border="0" >
		  				<tr>
		  					<td align="center"><img src="/media/images/aakPlus/mobile_web_icon.png" width="25" height="25"></td>
		  					<td align="center"><img src="/media/images/aakPlus/yes-blk-8080.png" width="35" height="35"></td>
		  					<td align="center"><img src="/media/images/aakPlus/barcode-blk-7070.png " width="35" height="35"></td>
		  					<td align="center"><img src="/media/images/aakPlus/link-blk-7070.png" width="25" height="25"></td>

		  				</tr>
		  				<tr>
		  					<td valign = middle align="center"><img src="/media/images/aakPlus/attach-blk-7070.png" width="30" height="30"></td>
		  					<td valign = middle align="center"><img src="/media/images/aakPlus/tckt-blk-7070.png" width="30" height="30"></td>
		  					<td valign = middle align="center"><img id="EMOTIONS" src="/media/images/icons/hapy.png" width="35px" height="35px">

		  					</td>
		  				</tr>
		  			</table>  

		  		</div>

		  		
		  		
		  		 
		  		<!--    Emotions      -->

		  		
		  			<div id="SMILEY_EMOTIONS" style="display:none; position: absolute; top: -151px; right:0px; background-color:#dcdcdc; height:70%;">
		  					
		  					 <div   style="position:absolute; width: 100%; background-color: black; height: 40px; ">   <!-- new -->
		  						
		  							<div style="margin-top:10px; ">	

		  								<img style="margin-left:3px;" id="EMOTION1" src="/media/images/emojis/smily.png" width="20" height="20">
		  								<img style="margin-left:5px;" id="EMOTION2" src="/media/images/emojis/dsk.png" width="20px" height="20px">
		  								<img style="margin-left:5px;" id="EMOTION3" src="/media/images/emojis/idea.png" width="20px" height="20px">
		  								<img style="margin-left:5px;" id="EMOTION4" src="/media/images/emojis/msc.png" width="20px" height="20px">
		  								<img style="margin-left:5px;" id="EMOTION1" src="/media/images/emojis/shuffle.png" width="20px" height="20px">
		  								<img style="margin-left:5px;" id="EMOTION3" src="/media/images/emojis/flag.png" width="20px" height="20px">
		  								<img style="margin-left:5px;" id="EMOTION3" src="/media/images/emojis/smli1.png" width="20px" height="20px">
		  								
		  							</div>	

		  							
		  					</div>

		  					 <div id="EMOTION_1" class="emotion-div-class" style=" position: absolute;  height:100%; top: 40px; background-color: #404040;  ">
		  						
		  							<div class = "emotion-icons-container" >
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								<img class = "imo_icon_img"  src="/media/images/emojis/sad.png" width="25px" height="25px">
		  								
		  							</div>

		  						
		  			        </div>


		  					


		  			        <div id="EMOTION_2" class="emotion-div-class" style="display: none; position:absolute;  height:100%; top:40px; background-color: #404040">

		  							<div class = "emotion-icons-container" >
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
										<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/hlw.ico" width="30px" height="30px">

		  							</div>
		  			        </div>


		  			          <div id="EMOTION_3" class="emotion-div-class" style="display: none; position:absolute;  height:100%; top:40px; background-color: #404040">
		  			        
		  							<div class = "emotion-icons-container" >
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  									<img class = "imo_icon_img"  src="/media/images/emojis/bad.png" width="25px" height="25px">
		  							</div>
		  			        </div>


		  			          <div id="EMOTION_4" class="emotion-div-class" style="display: none; position:absolute;  height:100%; top:40px; background-color: #404040">
		  			        
		  							<div class = "emotion-icons-container" >
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
										<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  								<img class = "imo_icon_img"  src="/media/org_dark_grey.png" width="30px" height="30px">
		  							</div>
		  			        </div>

		  			</div>
		  		
		  		
		  		
		  		<div id = MSG_COMPOSER_DSGN_N_PRVW_TOOL style = "display: none; position: fixed; width: 30%; left: 0; right:0; margin-left: auto; margin-right:auto; bottom: 100px; height: 200px; background-color: orange">
		  			
		  		</div>	
		  		
		  </div>    
		
		<!--                   HEADER         -->     
	 	<div id ='AAK_NEW_COMPOSER_WINDOW_BTN' style = " z-index: 1059; height: 30px; width: 30px; line-height: 30px; text-align: center; border: 1px solid #525252; border-radius: 2px; background-color: #54A32F; position: fixed; top: 0; bottom: 0;display:none;">  
			  <span style = " width: 28; height: 28; font-size: 20px; font-weight: bold; color: #fff;">+</span>   
		</div>  
	 
		
		<script>
			$('#MSG_COMPOSER_DSGN_N_PRVW_DISPLAY_ICON').on('click', function() {
			 	$('#MSG_COMPOSER_DSGN_N_PRVW_TOOL').toggle();
				 $('#MSG_COMPOSER_DSGN_N_PRVW_TOOL').html($('#MSG_COMPOSER_MESSAGE_TEXTAREA').html());
				
				 console.log($('#MSG_COMPOSER_DSGN_N_PRVW_TOOL').html());
				 
			});
			
			 
				$('#MSG_POP_OUT_WINDOW').on('click', function() {
					 
					var thisIsAnObject = {foo:'bar'};
					var newWindow = window.open("", "ppppppp",  "width=200,height=100,left=120px,location=0,menubar=no,titlebar=no,fullscreen=no,toolbar=1,resizable=no,status=1");
					newWindow.document.body.innerHTML = $('.composerWrapper').html();
			});
		</script>
		
		  
		  	      
		  		   
		<script src="/script/modal/aakComposer.js"></script>
		
		  <div  id = COMMON_BLUR_SCREEN style = "display: none; z-index: 1000; background-color: rgba(0,0,0,.1); width:100%; height: 100%; position: fixed; top:0; left: 0; right:0; margin-left:auto; margin-right: auto;"></div>  
			
	</body>
</html>