<!doctype>
<html>
	<head>		 
	
		<link rel="stylesheet" href="/styles/modal/aakComposer.css">		
	</head>	
	<body>		
		  <div class="container composerWrapper" style="margin-top: 20px;">		 
			  	  <div class="row" id="headerRow">			  		
			  	  </div> 
			  	
			  	  <div class="row" id="mainBody"> 
			    	
			      </div><!-- row mainBody ends --> 
			   
			   
			   
			   <!-- Footer Section -->
			    <div class="row" id="footer">
			   		<div class="col-xs-5">
			   			<img class="pull-left img-responsive" src="/media/images/icons/emoticons-cool-icon.png" height ="28" width="28">
			   			<img class="center-block img-responsive" src="/media/images/icons/Attachment.png" height ="28" width="28">
			   		</div> <!-- col ends -->	
			   			
			   		<div class="col-xs-2">
			   			<img class="pull-right img-responsive" src="/media/images/icons/short_links.png" height ="28" width="28">
			   		</div> <!-- col ends -->
			   				
			   		<div class="col-xs-5">
			   			<img class="pull-right img-responsive" src="/media/images/icons/aLyps.png" height ="28" width="28">
			   			<img class="pull-right img-responsive" src="/media/images/icons/add.png" height ="28" width="28">
			   			
			   		</div> 		<!-- col ends -->
			     </div> <!-- footer row ends -->
		  </div>  <!-- wrapper ends--> 			  
		<script src="/script/modal/aakComposer.js"></script>
	</body>
</html>