<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/aakInboxPopUp.css">    
		<script> </script>
	</head>  
	
	<body>
		<div class="aakInboxPopUp popUp" id=AAK_POPUP_MENU_WRAPPER_ID>      
		<br><br>	 
			 
  		  	<div  id = AAK_POPUP_MENU_CONTAINER_ID>         
					 
			</div>
		    
		</div>  
		
		 
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>  
		<!-- <script src="/script/modal/commonModal.js"></script> -->         
		   <script src="/script/modal/aakInboxPopUp.js"></script>  	   
		 
	</body>
</html>


