

							 
							 		<link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" /> 
									<!-- <link rel="stylesheet" href="/styles/aakBox/aakOptionsPopUp.css"> -->  
									<!--  <link rel="stylesheet" href="/styles/common.css">  -->



<style>


	/* The Modal (background) */
.trialModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top111: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
	position: absolute;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 20px;
    border555: 1px solid #888;
    width: 68%;
    height111: 91.7%;
    
    bottom111: 40px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>

</style>


<!-- The Modal -->
<div id="TRIAL_MODAL_ID" class="trialModal">

  		 
       
							   
								<div class=" modal-content1 aakOptionsPopUp1 popUp1" id= AAK_OPTIONS_POPUP_MENU_WRAPPER_ID1 style= "overflow: auto; border-top: 1px solid #698A25; border-right: 1px solid #698A25; border-left: 1px solid #698A25;"> <!--  style="overflow: auto;"> -->   
									
									    <div  id = AAK_OPTIONS_TITLE_BAR1 class="earth-gradient-title-bar11" style= "text-align: center; background-color: #fff; height: 43px; border: 0px solid;">  
																									
												<b>Aakbox</b> 
												 
										</div>  
								 
										 
							  		  	<div  id = AAK_OPTIONS_POPUP_MENU_CONTAINER_ID1 style="padding-left: 3px; padding-right: 3px; height111: 100%; overflow: auto;"> 
							  		  	   
							  		  	     
							  		  	    <div id = "AAK_OPTIONS_FILTER1" >            
												<div id = AAK_FILTER1 class = "toggle-bar-menu"> <!--  style="background-color1: #EEEEEE; width1: 100%; margin-bottom1: 0px; padding-top1:5px; padding-bottom1: 5px; padding-left1: 3px;"> -->
														<img style=" " width="24" height="24" src="/media/images/icons/filter.png"/>   
														<b>Filters</b>
												</div> 
												
												<div id = "AAK_OPTIONS_FILTER_MENU1" style="display:none; width: 90%;margin-left:10%;" >  
													<select style="width: 100%;">
														<option>debdas.sinha@gmail.com</option>
														<option>amar@gmail.com</option>							
													</select>
													<select style="width: 100%;">  
														<option>Size: M</option>
														<option>Size: S</option>							
													</select>
													
													<div>Expiry, Received </div>
													
													<div>Read/Unread/Blocked/Irrelevant/Urgent</div>  
													<div>Attachments/Media </div>
													<div>Appointments/Meeting </div>
													 
												</div>
											</div>  
											
											<div id = "AAK_OPTIONS_FOLDER1">          
												<div id="AAK_FOLDER1" class = "toggle-bar-menu"> <!--  style="background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;"> -->
													<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/icons/folder.png"/> 
													<b>Folders</b> 
												</div>
													  
												<div id = "AAK_OPTIONS_FOLDER_MENU1" style="display:none; width: 90%;margin-left:10%;" >    
													 <div>Sent </div>
													 <div>Conversations</div>
													 <div>Drafts</div>
													 <div>Clutter</div>
													 <div>Deleted</div>  
												 
												</div>
											</div>  
											
											<div id = "AAK_OPTIONS_EXPIRED1">          
												<div id="AAK_EXPIRED1" class = "toggle-bar-menu"> <!--  style="background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;"> -->
													<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/icons/expired.png"/> 
													<b>Expired</b>  
												</div>
													  
												<div id = "AAK_OPTIONS_EXIT_MENU1" style="display:none; width: 90%;margin-left:10%;" >    
													 <div>Deals, Promotions </div>
													 <div>Reminders</div>
													 <div>Alert, Notifications</div>
												</div>
											</div>  
										 
											
											 
										</div>   
									    
									</div>  
							 
 
  		 

	</div>


<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>  
<!-- <script src="/script/modal/commonModal.js"></script> -->         
<script src="/script/aakBox/aakOptionsPopUp.js"></script>  	 

<script>
	$(function() {
		
		$('#AKK_OPTIONS_TRIAL_ICON').on('click', displayAakOptionsTrial);
		
		
		
		function displayAakOptionsTrial() {
			//alert("helooppppp");
			//Get the modal
			var modal = document.getElementById('TRIAL_MODAL_ID');
			
			// Get the button that opens the modal
			//var btn = document.getElementById("myBtn");
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];
			
			// When the user clicks the button, open the modal 
			 
			     modal.style.display = "block";
			 
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			    modal.style.display = "none";
			}
			
			// When the user clicks anywhere outside of the modal, close it
			modal.onclick = function(event) {
			    if (event.target == modal) {
			        modal.style.display = "none";
			    }
			}
			
		}
		 
		$('.modal-content1').css('height', .7 * CENTER_REGION_HEIGHT);
		$('.modal-content1').css('bottom', FOOTER_BAR_HEIGHT);
		
		
		
		
		 $('#AAK_FILTER1').on('click', function() {
			  $('#AAK_OPTIONS_FILTER_MENU1').toggle();
		}); 
	 
		 $('#AAK_FOLDER1').on('click', function() {
			  $('#AAK_OPTIONS_FOLDER_MENU1').toggle();
		}); 
		 
		$('#AAK_EXPIRED1').on('click', function() {
			  $('#AAK_OPTIONS_EXIT_MENU1').toggle();
		}); 
		
		
		
	});
</script>


  
									 