<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/inboxPopUp.css">    
		<script> </script>
	</head>  
	
	<body>
		<div class="inboxPopUp" id=POPUP_MENU_WRAPPER_ID>  
			 
  		  	<div  id = POPUP_MENU_CONTAINER_ID>   
					
			</div>
			  
			 
		</div>  
		
		
		  
		
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
		<!-- <script src="/script/modal/commonModal.js"></script> -->         
		<script src="/script/modal/inboxPopUp.js"></script>  	  
		  
	</body>
</html>


