
	<link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/styles/modal/masterMenu.css">
	
	
	<div id= MASTER_MENU style= "overflow: auto; width111: 70%;">
		
			<div id = MASTER_MENU_TITLE_BAR>
				 <div class="" style="height: 43px; padding: 6px 5px 0px 3px; color: #FFF;">  
						
					<!--  <div style="margin-top: 4px; font-size: 14px; font-weight: bold; display: inline-block;"> 
					 	<img style=" margin-right1212: 5px;" width="30" height="30" src="/media/images/icons/white-portals.png" />   
					 	
					 </div>  
					 
					 <div style= "float: right; display: inline-block; margin-top: 7px; ">
					 	<span><img id= MASTER_MENU_MIN_ICON style=" margin-right1212: 5px;" width="25" height="24" src="/media/images/icons/minimize-win-white.png" /></span>
					 </div> 
					-->
					 <table id="MASTER_MENU_TABLE" width = 100% border = 0 style="margin-left: auto; margin-right: auto;">  
			      				<tr>      				
				      				<td width="16.66666667" valign = middle align = left>        					
				      					<img id="" width="30" height="30" src="/media/images/icons/icon-question.png" /> 				      						 			
				      				</td>
				      				 
				      				<td width="16.66666667" valign = middle align = left>  <!-- style="border: 2px dotted #fff;" -->     
				      					 
				      					 	<img  id="" class="" width="30" height="30" src="/media/images/icons/profile_white.png"/>   
				      					 				      						
				      				</td>
				      				
				      				<td width="16.66666667" valign = middle align = left>      					
				      						
				      					<!-- 	<img  style="" width="30" height="30" src="/media/images/icons/search-gls-white.png" /> --> 
				      					<img  id="" class="" width="30" height="30" src="/media/images/icons/settings-white.png"/>   
				      						      					
				      				</td>
				      				
				      				<td width="16.66666667%" valign = middle align = left>      					
				      						
				      					<!-- 	<img id=AAK_INBOX_POPUP_ID style="" width="28" height="28" src="/media/images/icons/aakbox.png"/> -->
				      						      					
				      				</td>
				      				
				      				<td width="16.66666667%" valign = middle align = left>      					
				      						
				      					<!-- 	 <img id="plus" width="28" height="28" src="/media/images/icons/wht-plus.png" /> -->
				      						    					
				      				</td>
				      				
				      				<td width="16.66666667%" valign = middle align = right>      					
				      						  
				      						 <img id= MASTER_MENU_MIN_ICON style=" margin-right1212: 5px;" width="20" height="20" src="/media/images/icons/x-mark-white.png" /> 				      						   					
				      				</td>
				      			 
			      			</tr>
			      			
      				 </table>
					 
			 	 </div>
			 	   
			</div> <!-- MASTER_MENU_TOP_BAR Ends -->
			
			
		<!-- >	<div id= MASTER_MENU_BANNER style= "position: relative; height: 25%;">
				<img width="100%" height="100%" src="/media/images/background_images/wood_bars_green.jpg" /> 
				<img id= MASTER_MENU_PROFILE_PIC style= "position: absolute; right: 5px; top: calc(50% - 37.5px); border-radius: 50%; "  width="75" height="75" src="/media/images/profile_images/amar.jpg" />
				<img style= "position: absolute; right: 0px; top: calc(50% - 35px);" width="24" height="28" src="/media/images/icons/edit_pen_white.png" /> 
				
				<div style="position: absolute; left: 3px; bottom: 10px; font-weight: bold; font-size: 20px; color: white;">
					<img style= "position: absolute; left: 10px; top: -8px;" width="22" height="28" src="/media/images/icons/edit_pen_white.png" />
					
					<div style= "height: 24px; width: 32px; background-color: #000;"></div>
				 	Worrying is misuse of imagination...
				 </div>
			</div>
		-->
				
			<div id = MASTER_MENU_CONTENT class="commonScreenSetting">  
				<br/>
				 <b>Tell us what you want..</b>   <br>
				 
				<div>
					<div id= MASTER_MENU_CAREER class= "toggleBar" >  
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Learning, Studies, Education
						<span class="expandIcon" style="float: right;">+</span>
					</div> 
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox"   name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
							Would you like to go for higher education? Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
							Would you like to go for higher education? Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
							Would you like to go for higher education? Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							 
					</div>
				</div>	 
				 
				 <div>
					<div  id= MASTER_MENU_OCCUPATION class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Job, Profession, Career, Business
						 <span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_OCCUPATION_OPTIONS class="masterMenuOptions">
							Do you suffer from some disease" &nbsp; <input type="checkbox" name="SS" value=""><br>
							Would you like to get health care advices &nbsp; <input type="checkbox" name="SS" value=""><br>
					</div>
				</div>
				
				 <div>
					<div  id= MASTER_MENU_OCCUPATION class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Money, Finances
						 <span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_OCCUPATION_OPTIONS class="masterMenuOptions">
							Do you suffer from some disease" &nbsp; <input type="checkbox" name="SS" value=""><br>
							Would you like to get health care advices &nbsp; <input type="checkbox" name="SS" value=""><br>
					</div>
				</div>
					
				<div>
					<div id= MASTER_MENU class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Money, Finances 
						<span class="expandIcon" style="float: right;">+</span>      
						  
					</div>  
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
				</div>
				
				<div>	
					<div  id= PEOPLE_FINDER_LIFESTYLE class= "toggleBar"">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Family, Relationships  
						<span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
					
				</div>
				
				<div>	
					<div  id= PEOPLE_FINDER_HEALTH  class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Legal 
						<span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
					
				</div>	
				
				<div>
					<div id= PEOPLE_FINDER_SOCIAL class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Health  
						<span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
					
				</div>
				
				<div>
					<div id= PEOPLE_FINDER_SOCIAL class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Wellness, Welfare  
						<span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
					
				</div>
				
				<div>
					<div id= PEOPLE_FINDER_SOCIAL class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Community, Friends  
						<span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
					
				</div>
				
				<div>
					<div id= PEOPLE_FINDER_SOCIAL class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Spiritual, Karma  
						<span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
					
				</div>
				
				<div>
					<div id= PEOPLE_FINDER_SOCIAL class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Hobbies, Activities, Leisure  
						<span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
					
				</div>
				
				<div>
					<div id= PEOPLE_FINDER_SOCIAL class= "toggleBar">
						<img style="" width="28" height="28" src="/media/images/icons/aakbox.png"/>
						Travel  
						<span class="expandIcon" style="float: right;">+</span>   
					</div>
					
					<div id = MASTER_MENU_CAREER_OPTIONS class="masterMenuOptions">
							Would you like to go for higher education?&nbsp;<input type="checkbox" name="higherEducation" value=""><br>
							Would you like to join a part-time project?&nbsp;<input type="checkbox" name="partTimeProject" value=""><br>
					</div>
					
				</div>
				
			</div>
 	
	
	</div>
	
	
	
	
	
	
	
	
	<script src="/script/modal/masterMenu.js"></script>      