
	<link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/styles/modal/masterMenu.css">
	
	
	<div id= MASTER_MENU>
		
			<div id = MASTER_MENU_TITLE_BAR>
				 <div class="" style="height: 43px; padding: 6px 5px 0px 3px; color: #FFF;">  
						
					<!--  <div style="margin-top: 4px; font-size: 14px; font-weight: bold; display: inline-block;"> 
					 	<img style=" margin-right1212: 5px;" width="30" height="30" src="/media/images/icons/white-portals.png" />   
					 	
					 </div>  
					 
					 <div style= "float: right; display: inline-block; margin-top: 7px; ">
					 	<span><img id= MASTER_MENU_MIN_ICON style=" margin-right1212: 5px;" width="25" height="24" src="/media/images/icons/minimize-win-white.png" /></span>
					 </div> 
					-->
					 <table width = 100% border = 0>  
			      				<tr>      				
				      				<td width="16.66666667" valign = middle align = left>      					
				      					<img id="" width="28" height="28" src="/media/images/icons/profile_white.png" /> 				      						 			
				      				</td>
				      				 
				      				<td width="16.66666667" valign = middle align = center>  <!-- style="border: 2px dotted #fff;" -->     
				      					<div id="d360_111">
				      					 	<img  id="" class="" width="30" height="30" src="/media/images/icons/settings-white.png"/>   
				      					</div>					      						
				      				</td>
				      				
				      				<td width="16.66666667" valign = middle align = center>      					
				      						
				      					<!-- 	<img  style="" width="30" height="30" src="/media/images/icons/search-gls-white.png" /> --> 
				      						      					
				      				</td>
				      				
				      				<td width="16.66666667%" valign = middle align = center>      					
				      						
				      					<!-- 	<img id=AAK_INBOX_POPUP_ID style="" width="28" height="28" src="/media/images/icons/aakbox.png"/> -->
				      						      					
				      				</td>
				      				
				      				<td width="16.66666667%" valign = middle align = center>      					
				      						
				      					<!-- 	 <img id="plus" width="28" height="28" src="/media/images/icons/wht-plus.png" /> -->
				      						    					
				      				</td>
				      				
				      				<td width="16.66666667%" valign = middle align = right>      					
				      						  
				      						 <img id= MASTER_MENU_MIN_ICON style=" margin-right1212: 5px;" width="20" height="20" src="/media/images/icons/x-mark-white.png" /> 				      						   					
				      				</td>
				      			 
			      			</tr>
			      			
      				 </table>
					 
			 	 </div>
			 	   
			</div> <!-- MASTER_MENU_TOP_BAR Ends -->
			
			
			<div id= MASTER_MENU_BANNER style= "position: relative; height: 25%;">
				<img width="100%" height="100%" src="/media/images/background_images/wood_bars_green.jpg" /> 
				<img id= MASTER_MENU_PROFILE_PIC style= "position: absolute; right: 5px; top: calc(50% - 37.5px); border-radius: 50%; "  width="75" height="75" src="/media/images/profile_images/amar.jpg" />
				<img style= "position: absolute; right: 0px; top: calc(50% - 35px);" width="24" height="28" src="/media/images/icons/edit_pen_white.png" /> 
				
				<div style="position: absolute; left: 3px; bottom: 10px; font-weight: bold; font-size: 20px; color: white;">
					<img style= "position: absolute; left: 10px; top: -8px;" width="22" height="28" src="/media/images/icons/edit_pen_white.png" />
					
					<div style= "height: 24px; width: 32px; background-color: #000;"></div>
				 	Worrying is misuse of imagination...
				 </div>
			</div>
				
			<div>
			
			</div>
 	
	
	</div>
	
	
	
	
	
	
	
	
	<script src="/script/modal/masterMenu.js"></script>      