<link href="/styles/modal/mPopUp_old.css" rel="stylesheet" />

<!-- Modal -->
<div id="myModal" class="modal" role="dialog">
  <div class="modal-dialog">
	
    <!-- Modal content-->
    <div class="modal-content">
      <img id="upArrow" width="30" height="30" style="margin-top:10px; margin-bottom:10px;" src="/media/images/icons/up-grey.png" />
      
      <div class="modal-body">
         
      </div>  
      
      <img id="downArrow" width="30" height="30" style="margin-top:8px; margin-bottom:10px;" src="/media/images/icons/down-grey.png" />
             
    </div>

  </div>  
</div>