<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/notificationPopUp.css">  
		<script> </script>
	</head>
	
	<body>  
		<div class="notificationPopUpMenu popUp" id=NOTIFICATION_POPUP_MENU_WRAPPER_ID>    
			<div style="text-align:center; border1: 1px solid #404040; margin-bottom: 10px; margin-right: 1%;">
				 <!-- <img id="upArrow" width="25" height="25" style="margin-top1:10px; margin-bottom1:10px; margin-right:9px;" src="/media/images/icons/arrow-up.png" /> -->
				 <img id="upArrow" width="30" height="30" style="margin-top1:10px; margin-bottom1:10px; margin-right:0px;" src="/media/images/icons/up-grey.png" />
				 
			</div>
  		  	<div  id = NOTIFICATION_POPUP_MENU_CONTAINER_ID>      
					 
			</div>
			  
			<div style="text-align:center;  border1: 1px solid #404040; margin-bottom: 3px; margin-top:7px; margin-right: 1%;">
				<!--  <img id="downArrow"  width="25" height="25" style="margin-top1:8px; margin-bottom1:10px;margin-right: 6px;" src="/media/images/icons/arrow-down.png" /> -->
				<img id="downArrow"  width="30" height="30" style="margin-top1:8px; margin-bottom1:10px;margin-right: 0px;" src="/media/images/icons/down-grey.png" /> 
			</div>
		</div>
		
		
		  
		
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>  
		<!-- <script src="/script/modal/commonModal.js"></script> -->         
		<script src="/script/modal/notificationPopUp.js"></script>    	
		  
	</body>
</html>


