
	<link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/styles/modal/peopleFinder.css">
	<link rel="stylesheet" href="/styles/common.css"> 
	
	<div id = PEOPLE_FINDER class="commonScreenSetting">  
	 
		<!-- 	<div id = MASTER_MENU_TITLE_BAR> --> 
				
			 	   
		<!-- 	</div> --> <!-- MASTER_MENU_TOP_BAR Ends -->
			
		 
		 <div class="commonScreenSetting555">
		 	
		 			 <div  id = PEOPLE_MENU_TITLE_BAR  class="earth-gradient-title-bar">  
										
					 <table id="PEOPLE_TOPBAR_TABLE" width = 100% border = 0 style="margin-left1: auto; margin-right1: auto;">  
			      				<tr>      				
				      				<td width="33.333333%" valign = middle align = left>        					
				      					<img id= STATS_FROM_PEOPLE width="32" height="27" src="/media/images/icons/cell-tower-white.png" />				      						 			
				      				</td>
				      				 
				      				<td width="33.333333%" valign = middle align = center>  <!-- style="border: 2px dotted #fff;" -->           
				      					 
				      					 	<div id = FIND_PEOPLE_BUTTON style="display: inline-block; cursor: pointer; border-radius: 4px; width: 200px; padding-top: 4px; height: 100%; text-align: center; color: #fff; background-color: #91B535;  font-size: 14px; font-weight: bold;">Find People</div>  
				      					 				      						
				      				</td>
				      				
				      				<td width="33.333333%" valign = middle align = right>        					
				      						
				      					<img id = PEOPLE_FINDER_MIN_ICON style="vertical-align: text-top;" width="30" height="30" src="/media/images/icons/white-portals.png" />  
				      						      					
				      				</td>
				      	 	 
				      			 
			      			</tr>
			      			
      				 </table>
					 
			 	 </div>
			 	 
			 	 
			 	 
			 	 <div id = PEOPLE_NOTIFICATION style= "display: block;">
			 	 	
			 	 
			 	 </div>
		 	
		 		
		 		<div id = FIND_PEOPLE style = "display: none;">	  	 	
					 <div id= PEOPLE_FINDER_SRCH_BOX style="padding:0px 7px 0px 7px ;margin: 8px 0px 0px 0px;">    
					       <!--  <div class="input-group"> -->    
						            	<input type="text" style="height: 43px; border: 3px solid #91B535;" class="form-control searchBox" placeholder="keywords" />
						            <!-- 	<span class="input-group-btn">
											<button class="btn" type="button" id="searchBtnId"><span class="glyphicon glyphicon-search searchIcon"></span></button>
										</span>
								   -->  
						 <!--   </div> --> <!-- input-group ends -->     
						
					</div>  
				 
					<div id= PEOPLE_FINDER_CONTENT style="height:80%; overflow: auto; padding: 0px 7px 15px 7px;">  
				 	<!-- 	<input type="text" style="height: 38px; border111: 1px solid #91B535;" class="form-control searchBox" placeholder="why are you looking for" /> -->  
						
						<div>
							<div class= "toggle-bar-menu" style="width: 100%; width: 100%; margin-top: 8px; padding-top:10px; padding-bottom: 10px; padding-left: 3px; ">
								<img style="" width="28" height="28" src="/media/images/icons/location-search-white.png"/>
								&nbsp;Demographic details 
								
							</div>  
						 
						</div>
					 
				</div>  <!-- PEOPLE_FINDER_CONTENT     -->
				 
				<div id= PEOPLE_FINDER_BOTTOM_BAR style="position: fixed; bottom: 0px; padding: 0px 7px 4px 7px; height: 40px; text-align: center;  background-color1: blue; margin-top: 5px;">  
				 	<div class="grey-gradiant-btn" style="display: inline-block; padding-top: 10px; width:30% ; height: 100%; text-align: center; color: #8C8888; font-size: 14px;">Reset</div>  
				 	<div style="display: inline-block; padding-top: 10px; width: 68%; height: 100%; text-align: center; color: #fff; background-color: #91B535;  font-size: 14px; font-weight: bold;">Find</div>
				</div>
				
			 </div>
			
	  	</div>
	</div>	
	 
	<script src="/script/modal/peopleFinder.js"></script>                      
	 
	
	
 