
	<link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/styles/modal/peopleFinder.css">
	
	<div id = PEOPLE_FINDER>
		 
		 <div style="font-size: 14px; font-weight: bold;"> <b>People Finder</b></div>
		 <div id= PEOPLE_FINDER_SRCH_BOX style="margin: 5px 0px 5px 0px;">
		        <div class="input-group">    
			            	<input type="text" class="form-control searchBox" placeholder="Keywords" />
			            	<span class="input-group-btn">
								<button class="btn" type="button" id="searchBtnId"><span class="glyphicon glyphicon-search searchIcon"></span></button>
							</span>
			    </div><!-- input-group ends -->      
		</div>
		 
		<div id= PEOPLE_FINDER_CONTENT style="height:80%; overflow: auto; box-shadow: 0px 0px 5px #888888;">
			<!--  	<div style="width: 100%; text-align: center; ">Location</div>
			 	<input style="display: inline-block; width: 45%; text-align: center; " type="text"  placeholder="First Name" />
			 	<input style="display: inline-block;  width: 45%; text-align: center;  " type="text"  placeholder="Last Name" />
			 	
			 	<input style="display: inline-block;  width: 45%; text-align: center;  " type="text"  placeholder="Age Group" />
				<select>
				  <option value="volvo">Gender</option>
				  <option value="saab">Male</option>
				  <option value="mercedes">Female</option>
				</select>
				<input style="display: inline-block;  width: 45%; text-align: center; " type="text"  placeholder="Religion" />
				<input style="display: inline-block;  width: 45%; text-align: center;  " type="text"  placeholder="Ethnicity" />
			 	
			 	<div class="	common-dark-grey-btn111" style="text-align: center; background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">Education(+)</div>
			 	<div class="	common-dark-grey-btn111" style="text-align: center;  background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">Professional(+)</div>
			 	<div class="	common-dark-grey-btn111" style="text-align: center;  background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">Shop, Business, Company, Organization</div>
		  	--> 
		</div>  
		 
		<div id= PEOPLE_FINDER_SRCH_BUTTON style="position: fixed; bottom: 10px; text-align: center;  background-color: green; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">  
		 	<div style="width: 100%; text-align: center;">Search</div>  
		</div>
		
	</div>	
	 
	<script src="/script/modal/peopleFinder.js"></script>  
	 
	
	
 