
	<link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/styles/modal/peopleFinder.css">
	<link rel="stylesheet" href="/styles/common.css"> 
	
	<div id = PEOPLE_FINDER class="commonScreenSetting"  ">  
	 
		<!-- 	<div id = MASTER_MENU_TITLE_BAR> --> 
				
			 	   
		<!-- 	</div> --> <!-- MASTER_MENU_TOP_BAR Ends -->
			
		 
		 <div>
		 	
		 			 <div  id = PEOPLE_MENU_TITLE_BAR  class="earth-gradient-title-bar">  
										
					 <table id="PEOPLE_TOPBAR_TABLE" width = 100% border = 0 style="margin-left1: auto; margin-right1: auto;">  
			      				<tr>      				
				      				<td width="33.333333%" valign = top align = left>        					
				      					<img id= STATS_FROM_PEOPLE width="32" height="27" src="/media/images/icons/cell-tower-white.png" />				      						 			
				      				</td>
				      				 
				      				<td width="33.333333%" valign = middle align = center>  <!-- style="border: 2px dotted #fff;" -->           
				      					 
				      					 	<div id = FIND_PEOPLE_BUTTON style="display: inline-block; cursor: pointer; border-radius: 4px;  height: 100%; text-align: center; ">
				      					 		<img  width="30" height="30" src="/media/images/icons/people-search-white.png" /> 
				      					 	</div>
				      					 	
				      					 	<img  id = FIND_PEOPLE_REFRESH_ICON style= "display: none; margin-right: 10px; cursor: pointer;" width="20" height="20" src="/media/images/icons/refresh-white.png" />	 
				      					 	<div id = PEOPLE_FIND_SUBMIT style="display: none; padding-left:4px; padding-right: 4px; cursor: pointer; border-radius: 4px; padding-top: 4px; padding-left:4px; padding-right: 4px; height: 100%; text-align: center; color: #fff; background-color: #91B535;  font-size: 14px; font-weight: bold;">
				      					 		Find >>
				      					 	</div>
				      					 	
				      					 				      						
				      				</td>
				      				
				      				<td width="33.333333%" valign = middle align = right>        					
				      						
				      					<img id = PEOPLE_FINDER_MIN_ICON style="vertical-align: text-top;" width="30" height="30" src="/media/images/icons/white-portals.png" />  
				      						      					
				      				</td>
				      	 	 
				      			 
			      			</tr>
			      			
      				 </table>
					 
			 	 </div>
			 	 
			 	 
			 	 
			 	 <div id = PEOPLE_NOTIFICATION style= "display: block;">
			 	 	
			 	 
			 	 </div>
		 	
		 		
		 		<div id = FIND_PEOPLE style = "display: none; overflow: scroll; height: 400px;">	  	 	
					 <div id= PEOPLE_FINDER_SRCH_BOX style="padding:0px 7px 0px 7px ;margin: 8px 0px 0px 0px;">    
					       <!--  <div class="input-group"> -->    
						            	<input type="text" style="height: 43px; border: 2px solid #91B535; border-radius: 3px;" class="form-control searchBox" placeholder="keywords" />
						            <!-- 	<span class="input-group-btn">
											<button class="btn" type="button" id="searchBtnId"><span class="glyphicon glyphicon-search searchIcon"></span></button>
										</span>
								   -->  
						 <!--   </div> --> <!-- input-group ends -->     
						
					</div>  
				 
					<div id= PEOPLE_FINDER_CONTENT style="height1:80%; overflow1: auto; padding: 0px 7px 15px 7px;">  
				 	<!-- 	<input type="text" style="height: 38px; border111: 1px solid #91B535;" class="form-control searchBox" placeholder="why are you looking for" /> -->  
						
						<div>
							<div id = PEOPLE_FINDER_DEMOGRAPHY class= "toggle-bar-menu" style="background: linear-gradient(#696969,#3f3f3f); color: #91B535 ; width: 100%; width: 100%; margin-top: 8px; padding-top:10px; padding-bottom: 10px; padding-left: 3px; ">
								<img style="" width="32" height="28" src="/media/images/icons/demographic-white.png"/>
								&nbsp;Demographic 
								
							</div> 
							<div id = PEOPLE_FINDER_DEMOGRAPHY_OPTIONS style = " width: 95%; margin-left: 5%; ">
								 
								<table  id = PEOPLE_FINDER_DEMOGRAPHY_FORM width="100%" style = "background-color55555: orange;">
									
									<tr>
										<td>Location: 
											<tr>
										 		 <td><input style="width: 98%;" type="text" placeholder = "City"></td> <td><input style="width: 100%;" type="text" placeholder = "Pincode"></td>
									   		 </tr>
										
										</td>
										
										
									</tr>
									
									
									<tr>
										<td width="70%">
											 <p>Age:</p>
											 <input type = "text" placeholder="Age"/>
											 <select>
											  <option value="volvo">18-24</option>
											  <option value="saab">24-30</option>
											  <option value="saab">31-35</option>
											  <option value="saab">35-45</option>
											  <option value="saab">45-50</option>
											  <option value="saab">50-60</option>
											  <option value="saab">60+</option>
											   
											</select>  
										</td>
										
										<td width = "30%">
											<p>Gender: </p>
											<select>
											  <option value="volvo">Male</option>
											  <option value="saab">Female</option>
											   
											</select>  
										</td>	
										
									</tr>		
									 
									
									
									<!-- 									<tr>
										<td width = "50%">Age:
											<tr style="">
										  		<td><input style="width: 98%;" type="text" placeholder = "Age"></td> <td><input style="width: 100%;" type="text" placeholder = "Age Group"></td>
									  		  </tr>
										
										
										 </td> 
										
										<td width = "50%">kkkkkk
										</td>
										
										
									</tr>
									-->
								 
							    </table>
							</div>
							 
							
							
						 
						</div>
					 
				</div>  <!-- PEOPLE_FINDER_CONTENT     -->
				
			 </div>
			
	  	</div>
	</div>	
	 
	<script src="/script/modal/peopleFinder.js"></script>                      
	 
	
	
 