<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/popUpMenu.css">
		<script> </script>
	</head>
	
	<body>
		<div class="popUpMenu">  
			<div style="text-align:center; border: 1px solid #404040; margin-bottom: 7px; margin-right: 1%;">
				 <img id="upArrow" width="25" height="25" style="margin-top1:10px; margin-bottom1:10px; margin-right:9px;" src="/media/images/icons/arrow-up.png" />
			</div>
  		  	<div  id = POPUP_MENU_CONTAINER_ID>
					
			</div>
			
			<div style="text-align:center;  border: 1px solid #404040; margin-bottom: 3px; margin-top:4px; margin-right: 1%;">
				 <img id="downArrow"  width="25" height="25" style="margin-top1:8px; margin-bottom1:10px;margin-right: 6px;" src="/media/images/icons/arrow-down.png" />
			</div>
		</div>
		
		
		
		
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
		<script src="/script/modal/popUpMenu.js"></script>	
	</body>
</html>


