<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/popUpMenu.css">
		<script> </script>
	</head>
	
	<body>
		<div class="popUpMenu">  
			<div style="text-align:center;">
				<img id="upArrow" width="30" height="30" style="margin-top:10px; margin-bottom:10px; margin-right:9px;" src="/media/images/icons/up-grey.png" />
			</div>
  		  	<div  id = POPUP_MENU_CONTAINER_ID>
					
			</div>
			
			<div style="text-align:center;">
				<img id="downArrow" width="30" height="30" style="margin-top:8px; margin-bottom:10px;margin-right: 6px;" src="/media/images/icons/down-grey.png" />
			</div>
		</div>
		
		
		
		
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
		<script src="/script/modal/popUpMenu.js"></script>	
	</body>
</html>


