<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/popUpMenu.css">
		<script> </script>
	</head>
	
	<body>
		<div class="popUpMenu">  
			
  		  	<div  id = POPUP_MENU_CONTAINER_ID>
					
			</div>
			
		</div>
		
		
		
		
		
		<script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
		<script src="/script/modal/popUpMenu.js"></script>	
	</body>
</html>


