 <html>
<head>
    <style type="text/css">
		 
    </style>

</head>
<link rel="stylesheet" href="/styles/modal/quickTool.css">
    <body>   

        <!-- <div id="QUK_TOOL_TOP_BAR" align="center"> -->
        <div id="QUK_TOOL_TOP_BAR">
            
        </div>
        

        <div id="QUK_TOOL_LEFT_BAR">
            
        </div>

        <div id="QUK_TOOL_RIGHT_BAR">
           
        </div>
         
        <div id="QUK_TOOL_BOTTOM_BAR">
        
           <div id = QUK_TOOL_BOTTOM_BAR_ARROW_CONTAINER  style = " display: inline-block; width: 124px; margin-top: 17px;">
	            <img src="/media/images/icons/plainwhite/left-arr-ncircled-wht.png" id="left_Arrow" alt="left arrow" height="30px" width="30px" style="margin-right: 30px; ">
	            <img src="/media/images/icons/plainwhite/right-arr-ncircled-wht.png" id="right_Arrow" alt="right arrow" height="30px" width="30px" style="margin-left: 30px;">
           </div> 
           
        </div>
         

         
         
          <script src="/script/modal/quickTool.js"></script>  
    
         <script type="text/javascript">
         /*  var images = ['image/e.jpg','image/f1-2012.png', 'image/sdogs.png', 'image/play.png', 'image/view.png','image/essentials.png','image/drivers.png','image/delete.png','image/install.png','image/gtrailers.png','image/walls.png','image/mtrailers.png','image/lecture.png','image/1.jpg','image/2.jpg','image/4.jpg','image/5.jpg','image/1.jpg','image/c.jpg','image/d.jpg']; */
         
      
</script>

    </body>
</html>
