<!doctype>
<html>
	<head>		 
		<link rel="stylesheet" href="/styles/modal/quickTool.css">
		 	
	</head>	
	
	<body>	
	<!--  width of left and right bar should be set equal to height of top bar -->
		  
			<div id=QUK_TOOL_TOP_BAR style='height:10%; background-color: #404040;'></div>
			
			
		 	<div id=QUK_TOOL_LEFT_BAR style='height:100%;background-color: #404040;float:left;'></div>
			<div id=QUK_TOOL_RIGHT_BAR style='height:100%; background-color: #404040; float:right;'></div>
		 
			<div id="QUK_TOOL_BOTTOM_BAR_ICONS_DIV" style="display:inline-block; width:40%; margin-top:15px;">  
					<img   src="/media/images/icons/left-round-xxl.png" style="float:left;" height="28" width="28">
					<img   src="/media/images/icons/right-round-xxl.png" style="float:right;" height="28" width="28"> 
			</div>      
 
 <!-- 
 		 <div class="quk_tool">  
			<div id=QUK_TOOL_TOP_BAR style='height:10%; background-color: #404040;'></div>
			
			
			<div id=QUK_TOOL_LEFTBAR_RIGHTBAR_CONTAINER style="position1:relative; height: 80%; background-color: transparent;">
				 <div id=QUK_TOOL_LEFT_BAR style='height:100%;background-color: #404040;float:left;'></div>
				 <div id=QUK_TOOL_RIGHT_BAR style='height:100%; background-color: #404040; float:right;'></div>
			</div>
			
			<div id=QUK_TOOL_BOTTOM_BAR_ID style='height:10%; background-color: #404040; text-align:center;'>
				<div id="QUK_TOOL_BOTTOM_BAR_ICONS_DIV" style="display:inline-block; width:40%; margin-top:15px;">  
					<img   src="/media/images/icons/left-round-xxl.png" style="float:left;" height="28" width="28">
					<img   src="/media/images/icons/right-round-xxl.png" style="float:right;" height="28" width="28"> 
				</div>      
			</div>  
		</div>
 
  -->
	
		<script src="/script/modal/quickTool.js"></script>  
	
	</body>
	 
	
</html>