 <html>
<head>
    <style type="text/css">
		 
    </style>

</head>
<link rel="stylesheet" href="styles/modal/quickTool.css">
    <body>   

        <div id="QUK_TOOL_TOP_BAR" align="center">
            
        </div>
        

        <div id="QUK_TOOL_LEFT_BAR">
            
        </div>

        <div id="QUK_TOOL_RIGHT_BAR">
           
        </div>

        <div id="QUK_TOOL_BOTTOM_BAR">
        
            <img src="image/arrowLeft.png" id="left_Arrow" alt="left arrow" height="50px" width="30px" style="margin-right: 30px; margin-top: 10px;">
            <img src="image/arrowRight.png" id="right_Arrow" alt="right arrow" height="50px" width="30px" style="margin-left: 30px; margin-top: 10px;">
            
        </div>
         

         
         
          <script src="/script/modal/quickTool.js"></script>  
    
         <script type="text/javascript">
         /*  var images = ['image/e.jpg','image/f1-2012.png', 'image/sdogs.png', 'image/play.png', 'image/view.png','image/essentials.png','image/drivers.png','image/delete.png','image/install.png','image/gtrailers.png','image/walls.png','image/mtrailers.png','image/lecture.png','image/1.jpg','image/2.jpg','image/4.jpg','image/5.jpg','image/1.jpg','image/c.jpg','image/d.jpg']; */
         
      
</script>

    </body>
</html>
