
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />  
    <title>Cafe Coffe Day</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />   
    <link href="/styles/orgEstate/orgEstate.css" rel="stylesheet" />
</head>
<body>
  
 


 
<% include ../modal/popUpMenu.ejs %>                         
					  
         
    <% include ../partials/top_menu_bar.ejs %>            

	<div id="profileDescription" class="centerLayoutContainer" style="height: 100%; padding: 0px; background-color: white;"> 
		<div id = ORG-ESTATE-BANNER style = "padding-top: 0px;" > 
			<img class="img-responsive" src="/media/images/business/banners/bigbasket-banner.jpg"  style="height:100%; width:100%;">           
		</div> 
		
		<div id= ORG_ESTATE_MENU style="width: 100%; height: 34px;  position: relative; ">
			<div class="ORG_ESTATE_MENU_ITEM" style="color: fff;"><b>About</b> 
				<img style= "margin-top: -2px" width="20" height="20" src="/media/images/icons/down-arrow.png"/>
			</div>
			<div class="ORG_ESTATE_MENU_ITEM">Products/Services</div>
			<div class="ORG_ESTATE_MENU_ITEM">Offers</div> 
			<!-- <div class="ORG_ESTATE_MENU_ITEM">Reviews</div> -->  
			
			<!-- MSTR MENU -->
			 <div id = ORG_EST_MSTR_MENU_SINGLETON style="overflow: auto; > 
				<div  id = ORG_EST_MSTR_MENU_CONTAINER style="padding-left: 3px; padding-right: 3px;">  		  	     
	  		  	    <div id = "ORG_EST_MSTR_MENU_FILTER">          
						<div id = AAK_FILTER style="background-color: #EEEEEE; width: 100%; margin-bottom: 0px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
								<img style=" " width="24" height="24" src="/media/images/icons/filter.png"/>   
								<b>Filters</b>
						</div> 
						
						<div id = "ORG_EST_MSTR_MENU_FILTER_MENU" style="display1:none; width: 90%;margin-left:10%;" >  
							<select style="width: 100%;">
								<option>debdas.sinha@gmail.com</option>
								<option>amar@gmail.com</option>							
							</select>
							<select style="width: 100%;">  
								<option>Size: M</option>
								<option>Size: S</option>							
							</select>
							
							<div>Expiry, Received </div>
							
							<div>Read/Unread/Blocked/Irrelevant/Urgent</div>
							<div>Attachments/Media </div>
							<div>Appointments/Meeting </div>
							 
						</div>
					</div>  
				
					<div id = "ORG_EST_MSTR_MENU_FOLDER">          
						<div id="AAK_FOLDER" style="background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
							<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/icons/folder.png"/> 
							<b>Folders</b> 
						</div>
							  
						<div id = "ORG_EST_MSTR_MENU_FOLDER_MENU" style="display1:none; width: 90%;margin-left:10%;" >    
							 <div>Sent </div>
							 <div>Conversations</div>
							 <div>Drafts</div>
							 <div>Clutter</div>
							 <div>Deleted</div>  
						 
						</div>
					</div>  
				
					<div id = "ORG_EST_MSTR_MENU_EXPIRED">          
						<div id="AAK_EXPIRED" style="background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
							<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/icons/expired.png"/> 
							<b>Expired</b>  
						</div>
							  
						<div id = "ORG_EST_MSTR_MENU_EXIT_MENU" style="display1:none; width: 90%;margin-left:10%;" >    
							 <div>Deals, Promotions </div>
							 <div>Reminders</div>
							 <div>Alert, Notifications</div>  
						</div>
					</div>  
			 
				
				 
				</div>
			</div> 
		</div>   
		
		<div style="padding: 7px 2px 2px 7px;">
			<p>
				At bigbasket.com we believe in being smart, quick and efficient, making your life as leisurely as possible. 
			</p>
			<p align=justified>
				We understand that in this fast-paced world, time is always of the essence and hence want to 
				make your grocery shopping easy and convenient so that no time is wasted in this process.
			</p>
			<p align=justified> 
				So, no more hassle of going down to the grocery store and long queues for billing etc. 
				You can browse through our varied range of products at bigbasket.com, order them 
				and get them to be delivered at your own convenient time slot.
			</p>
			<p align=justified>
				We specially hand pick each and every product for you, putting it through a safety 
				packaging process and finding your home, no matter how bad the wind is or how cold 
				the weather is. Our ''No questions asked refund' and ''10% off for a delayed 
				delivery'' policy makes us a customer friendly online food and grocery store. 
			</P>  
			<p>
				Just follow three simple steps and get your order delivered - simply Browse, Add to cart & Choose delivery slot!
				
			</p>
		</div>
			
		<!--  <%	include ./orgEstateMasterMenu/orgEstateMasterMenuSingleton.ejs	%> -->  
		
		
			
	</div>    
	
	
	
	
	<%	include ../partials/footer_bar.ejs	%>
  

  










      
    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>    
    <script src="/script/common.js"></script>  
    <script src="/script/orgEstate/orgEstate.js"></script>
    
    <script>
        	$(function(){
        		var d360 = true;
        		showHideD360Icon(d360);
         	});
    </script>
</body>
</html>



