
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />  
    <title>Online Grocery Shopping</title>  
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/profiles/grey-top-darkgrey-push-green-buttom.css" rel="stylesheet" />   
    <link href="/styles/orgEstate/orgEstate.css" rel="stylesheet" />
</head>
<body>
  
 


 
<% include ../modal/popUpMenu.ejs %>                           
					    
         
    <% include ../partials/top_menu_bar.ejs %>            

	<div id="profileDescription" class="centerLayoutContainer" style="height: 100%; padding: 0px; padding-bottom: 20px; background-color: white;"> 
		<div id = ORG-ESTATE-BANNER style = "padding-top: 0px; position: relative;" > 
			<img class="img-responsive" src="/media/images/business/banners/bigbasket-banner.jpg"  style="height:100%; width:100%;">   
			
			<center>
				<div id= ORG-ESTATE_SEARCH_BOX class="input-group" >      
				       <input style="border: 1px solid green;" type="text" class="form-control searchBox" placeholder="Search for more than 18,000 products..." />
				           <span class="input-group-btn">
								<button class="btn" type="button" id="searchBtnId" style="background-color: green;"><span class="glyphicon glyphicon-search searchIcon"></span></button>
							</span>
				 </div><!-- input-group ends -->
			 </center>  
			<!-- <img id= ORG_ESTATE_BRAND_LOGO   class="img-responsive" src="/media/images/business/logos/bigbasket.png"> -->       
		</div>    
		
		<div id= ORG_ESTATE_MENU style="width: 100%; height: 34px;  position: relative; ">
			<div class="ORG_ESTATE_MENU_ITEM" style="color: fff; width1: 30%;"><b>Shop</b>   
				<!-- <img style= "margin-top: -2px" width="18" height="18" src="/media/images/icons/down-arrow.png"/> -->
			</div>
			<div class="ORG_ESTATE_MENU_ITEM"  style= "width1: 30%;">Offers
				 
			</div>
			<div class="ORG_ESTATE_MENU_ITEM" style= "width1: 40%;">About
				 
			</div>
			 
			<!-- <div class="ORG_ESTATE_MENU_ITEM">Reviews</div> -->    
			
			<!-- MSTR MENU contents--> 
			 <div id = ORG_EST_MSTR_MENU_SINGLETON style="overflow: auto;" > 
				<div  id = ORG_EST_MSTR_MENU_CONTAINER style="padding-left: 3px; padding-right: 3px;">  		  	     
	  		  	    <div id = "ORG_EST_MSTR_MENU_FILTER">            
						<div id = ORG_EST_MSTR_FILTER style="background-color: #EEEEEE; width: 100%; margin-bottom: 0px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
								<img style=" " width="30" height="24" src="/media/images/business/logos/cat.png"/>   
								<b>Shop By Category</b>  
						</div> 
						   
						<div id = "ORG_EST_MSTR_MENU_FILTER_MENU" style="display1:none; width: 90%;margin-left:10%;" >  
							<div>Fruits and Vegetables</div>
							<div>Grocery and Staples</div>
							<div>Bread Diary and Eggs</div>
							<div>Beverages</div>
							<div>Branded Foods</div>							 
						</div>
						
					</div>  
				
					<div id = "ORG_EST_MSTR_MENU_FOLDER">          
						<div id="ORG_EST_MSTR_FOLDER" style="background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
							<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="24" height="24" src="/media/images/business/logos/shop-2.png"/> 
							<b>&nbsp;&nbsp;Shops</b>   
						</div>
							  
						<div id = "ORG_EST_MSTR_MENU_FOLDER_MENU" style="display1:none; width: 90%;margin-left:10%;" >    
							 <div>Breakfast Store </div>
							 <div>Party Time</div>
							 <div>Summer Store</div>
							 <div>BB Exclusives</div>						
						</div>
					</div>  
				
					<div id = "ORG_EST_MSTR_MENU_EXPIRED">            
						<div id="ORG_EST_MSTR_EXPIRED" style="background-color: #EEEEEE; width: 100%; margin-top: 5px; padding-top:5px; padding-bottom: 5px; padding-left: 3px;">
							<img style="float1:right; margin-right1: 3px; margin-top1: -2px;" width="18" height="18" src="/media/images/business/logos/list.png"/> 
							<b>&nbsp;&nbsp;Shop by List</b>  
						</div>
							  
						<div id = "ORG_EST_MSTR_MENU_EXIT_MENU" style="display1:none; width: 90%;margin-left:10%;" >    
							 <div>Create new scratch list </div>
							 <div>bigbasket Lists</div>
							 <div>View All</div>  
						</div>
					</div>  
					
					 
			 
				
				 
				</div>
			</div> 
		</div>   
		
		<div style="padding: 7px 2px 2px 7px;">
			<p>
				At bigbasket.com we believe in being smart, quick and efficient, making your life as leisurely as possible. 
			</p>
			<p align=justified>
				We understand that in this fast-paced world, time is always of the essence and hence want to 
				make your grocery shopping easy and convenient so that no time is wasted in this process.
			</p>
			<p align=justified> 
				So, no more hassle of going down to the grocery store and long queues for billing etc. 
				You can browse through our varied range of products at bigbasket.com, order them 
				and get them to be delivered at your own convenient time slot.
			</p>
			<p align=justified>
				We specially hand pick each and every product for you, putting it through a safety 
				packaging process and finding your home, no matter how bad the wind is or how cold 
				the weather is. Our ''No questions asked refund' and ''10% off for a delayed 
				delivery'' policy makes us a customer friendly online food and grocery store. 
			</P>  
			<p>
				Just follow three simple steps and get your order delivered - simply Browse, Add to cart & Choose delivery slot!
				
			</p>
		</div>
			
		<!--  <%	include ./orgEstateMasterMenu/orgEstateMasterMenuSingleton.ejs	%> -->  
		
		
		
		<!-- ORG_ESTATE_SLIDING_MENU_BAR-->
	 
		<div id= ORG_ESTATE_SLIDING_MENU_BAR_CONTAINER>    
			<div id= ORG_ESTATE_SLIDING_MENU_BAR>  				 
				 <div class="ORG_ESTATE_SLIDER_ITEM" style="color: fff; width1: 30%;"><b>FAQ</b> 
				</div>
				<div class="ORG_ESTATE_SLIDER_ITEM"  style= "width1: 30%;">Customers Speak	  			
				</div>  
				<div class="ORG_ESTATE_SLIDER_ITEM" style= "width1: 40%;">Contact Us					 
				</div>
			     
			</div>      
			
			<div id = ORG_ESTATE_SLIDING_MENU_ICON_CONTAINER style= "">
				<img id= ORG_ESTATE_SLIDING_MENU_ICON  class="leftArrow" style= "float: right;"  height="34px" src="/media/images/icons/arrow-left-xxl.png"/>
			</div>  
		</div>    
	 
			
	</div>    
	
	
	  
	
	<%	include ../partials/footer_bar.ejs	%>    
  
 




      
    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>    
    <script src="/script/common.js"></script>  
    <script src="/script/orgEstate/orgEstate.js"></script>
    
    <script>
        	$(function(){
        		var d360 = true;
        		showHideD360Icon(d360);
         	});
    </script>
</body>
</html>



