a:hover{
	text-decoration: none;	
}

.menubar-footer{	  
	background: -webkit-linear-gradient(#344C15,#698A25 ); 
	background: -o-linear-gradient(#344C15,#698A25 ); 
	background: -moz-linear-gradient(#344C15,#698A25 ); 
	background: linear-gradient(#344C15,#698A25 ); 
}
 
.menubar-footer span.glyphicon{ /* Not Used */
	font-size:32px;
	}
	
.menubar-footer .col-xs-2 img{
	margin: 4px 0px 4px 0px;
	vertical-align: center;
}

.menubar-footer .col-xs-5 img{
	margin: 6px 8px 6px 5px; 
	vertical-align: center;
}
.top-menubar{
	 
	/*background: linear-gradient(#696969,#3f3f3f);*/
     
   /* margin-bottom: 22px;*/  
}
.top-menubar .menubar-btn{ 
	
}

.menubar-btn{color:#fff;}
.profile-header{background:#215968;color:#fff;font-size:20px;} 
/* .btn-profile-edit{position:absolute;bottom:-7px;right:0;margin-right:15px;cursor: pointer;} */
.btn-profile-edit {position:absolute;bottom:-7px;right:0;margin-right:15px;cursor: pointer;}    

.btn-profile-edit:hover .popUpMenu {
		display:block;
		 right:0;
}


#imgPreview{
	cursor:pointer;  
}

.profile-content{margin-bottom:50px}
.text-white{color:#fff}
.brand-earth{color:#595959}  
.blue-on-top-of-earth-color {
	color: #95B3D7;
}

.top-push-zone{
	background-color: #262626;
	/* background: linear-gradient(#3f3f3f, #595959); */
	/*background: rgba(63, 63, 63, .3);*/ 
	height: 25px;
}

.arrow-link{
	font-size: 16px;
	cursor: pointer;
}

.profile { 
	margin-top: 68px;
}


.img-preview {
	padding-bottom: 6px;	
}
 

/* for people_with_pic */
.profilePic .pic {
	width: 140px;
	height:140px;
	
}	
  .btn-profile-options {
	position: absolute;
	margin: 0px;
	top:59%;
	right: 18px;
}

.profileCaption {
	width: 140px;
}

/* people_with_pic ends */

#divReimaginers{
	margin-top: 71px;
	margin-bottom: 37px;
}

/*	for thumbnails	*/
.col1{
	margin-bottom: 30px;
	
}

div{
	margin:0px;
	padding:0px;
}

.searchBox {
	border-radius: 0px;
	height: 30px;
}
.searchBox:focus {
	border: 2px solid #77933C;
	border-radius: 0px;
}


.searchBox:focus {
	border: 2px solid #77933C;
	border-radius: 0px;
}
/* Displays search button on focus only */
#searchBtnId{
	background-color: #3f3f3f;
	color: #D7D7D7;
}


.top-menu-container {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left:14px;
	padding-right: 14px; 
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);  
}

.searchCol {
	height: 30px;
}


#searchBtnId{
	height:30px;
	padding: 8px;
}

.searchIcon{
	font-size: 15px;
}


.title-bar {
	
		padding-top: 14px;
		padding-left: 5px;
}

#profileDescription{
	margin-bottom: 36px;  
}

.footer-container #left-block {
	padding-left: 0px;
}
.footer-container #right-block{
	padding-right: 0px;
}

#d360{
	visibility: hidden;  
}

.pushContainer{
		line-height: 25px;
}

.top-push-zone .pushContainer #leftBlock {	 
	display: inline-block;
	line-height: 100%;
}

/*pushZoneActionMessage added programatically in mPopUp_old.js */
.top-push-zone  .pushZoneActionMessage{
	text-align: center;
	 
}


/* -------- MEDIA SCREEN -------- */
@media screen and (min-width: 993px) { 
	
	.profile-header1{
		width: 70%;
  		margin-left: auto;
  		margin-right: auto;
	}
		
  	#profileDescription {
  		width: 70%;
  		margin-left: auto;
  		margin-right: auto;
  		background-color: #fff;
  		padding: 10px;
  		margin-top: 0px;
  		
  	}
  	
  	.top-menu-container {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left:14px;
	padding-right: 14px; 
	background: linear-gradient(#696969,#3f3f3f);
}
  	
  	.top-menu-content{
  		width: 70%;
  		margin-left:auto;
  		margin-right: auto;
  	}
  	.top-menu-content #micro-pic{  
  		margin-left:8px;
  		
  	}
  	.top-menu-content #settingsImage{  
  		margin-right: 8px;  
  	}
  	
  	.profile-header12345 #imgProfilePhoto {
  		margin-right: 177px;
  	}
  	
  	.profile-header-content { 
  		width: 70%;
  		margin-right: auto;
  		margin-left: auto;
  	}
  	
  	.title-bar {
  		width: 70%;
		margin-left: auto;
		margin-right: auto; 
		
		background-color: #ffffff;  		
  	}
  
  	
  	/* people_with_pic */
  	.img-preview{
  		width: 70%;
  		margin-left:auto;
  		margin-right: auto;
  		background-color: #ffffff;
  	}
  	
  	.title-bar {
		
  	}
  	
  	.footer-container {
  		width: 69%;
  		margin-left: auto;
  		margin-right: auto;
  	}
  	
  	.pushContainer{
		width: 65%;
		margin-left: auto;
		margin-right: auto;
	}
  	
  	body{
  		background-color: #f2f2f2;
  	}
  }
  
  /* Mobile specific style   */  
  @media screen and (max-width: 767px) { 
  	.pushContainer{
  		margin-left: 7.5%;
  		margin-right: 7.5%;
  	}
  	.top-push-zone{
		height: 27px;
}
  }