* {
	
	box-sizing: border-box;
}

a:hover {
	text-decoration: none;	
}

.menubar-footer {	  
	background: -webkit-linear-gradient(#344C15,#698A25 ); 
	background: -o-linear-gradient(#344C15,#698A25 ); 
	background: -moz-linear-gradient(#344C15,#698A25 );   
	background: linear-gradient(#344C15,#698A25 ); 
}
 
.menubar-footer span.glyphicon { /* Not Used */  
	font-size:32px;  
	} 
	

.menubar-footer .col-xs-5 img { 
	margin: 6px 5px 6px 5px; 
	vertical-align: center;    
} 
.top-menubar { 
	 
	/*background: linear-gradient(#696969,#3f3f3f);*/
     
   /* margin-bottom: 22px;*/  
}
.top-menubar .menubar-btn { 
	
}

.menubar-btn {color:#fff;}
.profile-header{background:#215968;color:#fff;font-size:20px;} 
/* .btn-profile-edit{position:absolute;bottom:-7px;right:0;margin-right:15px;cursor: pointer;} */
.btn-profile-edit {position:absolute;bottom:-7px;right:-3px;margin-right:15px;cursor: pointer;}    

.btn-profile-edit:hover .popUpMenu {
		display:block;
		 right:0;
}


#imgPreview {
	cursor:pointer;  
}


.profile-content {margin-bottom:50px}

.text-white {color:#fff}

.brand-earth {color:#595959}  

.blue-on-top-of-earth-color {
	color: #95B3D7;
}

.top-push-zone{
	background-color: #262626;
	/* background: linear-gradient(#3f3f3f, #595959); */
	/*background: rgba(63, 63, 63, .3);*/ 
	height: 29px;
}

.arrow-link{
	font-size: 16px;
	cursor: pointer;
}



.img-preview {
	padding-bottom: 6px;	
}
 

/* for people_with_pic */
.profilePic .pic {
	width: 140px;
	height:140px;
	
}	
  .btn-profile-options {
	position: absolute;
	margin: 0px;
	top:59%;
	right: 18px;
}

.profileCaption {
	width: 140px;
}

/* people_with_pic ends */

#divReimaginers{
	margin-top: 71px;
	margin-bottom: 37px;
}

/*	for thumbnails	*/
.col1{
	margin-bottom: 30px;
	
}

div {
	margin:0px;
	padding:0px;
}

 
.searchBox:focus {
	border: 2px solid #77933C;
	border-radius: 0px;
}
 
/* Displays search button on focus only */
#searchBtnId {
	background-color: #3f3f3f;
	color: #D7D7D7;
}


.top-menu-container {
 
	 
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);  
}

.searchCol {
	height: 30px;
}


#searchBtnId {
	height:30px;
	padding: 8px;
}

.searchIcon {
	font-size: 15px;
}


.title-bar {
	
		padding-top: 14px;
		padding-left: 5px;
}

#profileDescription {
	margin-bottom: 36px;  
}

.footer-container #left-block {
	padding-left: 0px;
}
.footer-container #right-block {
	padding-right: 0px;
}

#d360 {
	visibility: hidden;  
}

.pushContainer {
		line-height: 29px;
}

.top-push-zone . #leftBlock {	 
	display: inline-block;
	line-height: 100%;
}

/*pushZoneActionMessage added programatically in mPopUp_old.js */
.top-push-zone  .pushZoneActionMessage{
	text-align: center;
	 
}

 #imgProfilePhoto {
  	  	 	margin-right: -3px;
  }


.grey-title-bar {
	width: 100%;
	background-color: #F2F2F2; 
}

.common-dark-grey-btn {
	background-color: #fff;
	margin-bottom: 3px;
	text-align: center;
	width: 100%;
	color: #808080;
	font-family: 'Arial Narrow';
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;	
	font-weight: bold;
	 
}

 .commonScreenSetting {
  		width: 70%;
  		margin-left: auto;
  		margin-right: auto;
  		background-color: #fff;
  		margin-top: 0px;
  		
  	}


  /*  MEDIA SCREEN (Mobile style)   */  
  @media screen and (max-width: 767px) { 
  
  .top-menu-content {
   		padding-left: 3px;
   		padding-right: 3px;
   	}
   	
   	.pushContainer {
   	
   	}
   	
   	.footer-container {
  		padding-left: 0px;
  		padding-right: 3px;
  	}
  	
  .profile-header{
		 height: 30%;
	}
	 
  	.top-push-zone {
		height: 28px; 
	}
	.profile {  
	 margin-top: 68px;
	}
	.commonScreenSetting {
		width: 100%;
	}
	
	#MASTER_MENU_ICON55555 {
		margin-left: 2px;
	}
	
	.pushContainer {
		padding-left: 3px;
		padding-right: 3px;
	}
	
	 
	
  }
  
 .footer-container div {
 	display: inline-block;
 }
  
  /* MEDIA SCREEN (tab and Ipad) */  
   @media screen and (min-width: 768px) and (max-width: 1024px) { 
   
  
  	.top-push-zone {
		height: 28px; 
	}
	.profile {  
	margin-top: 68px;
	}
	
	.commonScreenSetting {
		width: 100%;
	}
	
	
  }

/* -------- MEDIA SCREEN (Desktop style)  -------- */
@media screen and (min-width: 1025px)  {  
	
	.profile {
		width: 67%;
	 
	}
	 
	 
	.top-menubar { 
		/*width: 67.6%; */
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.menubar-footer {
		/* width: 67.6%; */
		width: 100%; 
		margin-left: auto;
		margin-right: auto;
	} 
	 
	.profile-header11111111111{
		 height: 200px;
	}
	
	#profileDescription {
		width: 100%;
  		margin-left: auto;
  		margin-right: auto;
  		background-color: #fff;
  		padding: 10px;
  		margin-top: 0px;
  		left: 0;
  		right: 0;
		
	}
		
  	#profileDescription11111111199999 {
  		width: 70%;
  		margin-left: auto;
  		margin-right: auto;
  		background-color: #fff;
  		padding: 10px;
  		margin-top: 0px;
  		
  	}
  	
  	.top-menu-container {
	 
	background: linear-gradient(#696969,#3f3f3f);  
}
  	 
 /* 	.top-menu-content { 
  		width: 70%;
  		margin-left:auto;
  		margin-right: auto;
  	}
 */
 
 
  	.top-menu-content #MASTER_MENU_ICON {  
  		margin-left:0px;
  		
  	}
  	.top-menu-content #PEOPLE_FINDER_ICON {  
  		margin-right: 0px;  
  	}
  	
  	.profile-header12345 #imgProfilePhoto {
  		margin-right: 177px;   
  	}    
  	  
  	.profile-header-content { 
  		width: 70%;
  		margin-right: auto;
  		margin-left: auto;  
  	}
  	
  	.title-bar {
  		width: 70%;
		margin-left: auto;
		margin-right: auto; 
		
		background-color: #ffffff;  		
  	}
  
  	
  	/* people_with_pic */
  	.img-preview{
  		width: 70%;
  		margin-left:auto;
  		margin-right: auto;
  		background-color: #ffffff;
  	}
  	
  	.title-bar {
		
  	}
  	
  	
  
  	body{
  		background-color: #F6F8FA;
  	}
  }
  
  #no-of-notification {
  	 right:15px;
  }
  

 
 /* Large Desktops   
  @media screen and (min-width: 1300px) { 
  	#profileDescription {
  		width: 70%;
  		margin-left: auto;
  		margin-right: auto;
  		background-color: #fff;
  		padding: 10px;
  		margin-top: 0px;
  		
  	}
  	  	 #offersIcon { 
  	  	 	margin-left: -15px;
  	  	 }
  	  	 
  	  	 #notificationIcon {
  	  	 	margin-right: -15px;
  	  	 }
  	  	 
  	  	 #no-of-notification {
  	  	 	right: 0px;
  	  	 }
	}*/ 