a:hover{
	text-decoration: none;	
}

.menubar-footer{	  
	background: linear-gradient(#344C15,#698A25 ); 
}
 
.menubar-footer span.glyphicon{ /* Not Used */
	font-size:32px;
	}
	
.menubar-footer .col-xs-2 img{
	margin: 4px 0px 4px 0px;
	vertical-align: center;
}

.menubar-footer .col-xs-5 img{
	margin: 6px 5px 6px 5px;
	vertical-align: center;
}
.top-menubar{
	 
	/*background: linear-gradient(#696969,#3f3f3f);*/
     
   /* margin-bottom: 22px;*/  
}
.top-menubar .menubar-btn{ 
	
}

.menubar-btn{color:#fff;}
.profile-header{background:#215968;color:#fff;font-size:20px;} 
.btn-profile-edit{position:absolute;bottom:-7px;right:0;margin-right:15px;cursor:pointer}
#imgPreview{
	cursor:pointer;
}

.profile-content{margin-bottom:50px}
.text-white{color:#fff}
.brand-earth{color:#595959}  
.blue-on-top-of-earth-color {
	color: #95B3D7;
}

.top-push-zone{
	background-color: #262626;
	/* background: linear-gradient(#3f3f3f, #595959); */
	/*background: rgba(63, 63, 63, .3);*/ 
	height: 25px;
}

.arrow-link{
	font-size: 16px;
	cursor: pointer;
}

.profile { 
	margin-top: 68px;
}

.thumbnail {
	margin: 0px;
	padding: 0px;	
	border: 1px solid #77933c;
}

.img-preview .thumbnail img {
  		width: 140px;
  		height: 140px;
  	}
 .img-preview .thumbnail .caption {
 	width: 140px;
  		height: 140px;
 }
  	

#divReimaginers{
	margin-top: 71px;
}

/*	for thumbnails	*/
.col1{
	margin: 0px;
	padding: 6px;
}

div{
	margin:0px;
	padding:0px;
}

.searchBox {
	border-radius: 0px;
	height: 30px;
}
.searchBox:focus {
	border: 2px solid #77933C;
	border-radius: 0px;
}


.searchBox:focus {
	border: 2px solid #77933C;
	border-radius: 0px;
}
/* Displays search button on focus only */
.input-group-btn{
	visibility: hidden;	
}

.searchBox:focus + .input-group-btn {
		visibility: visible;
}

.profile_111 {
	margin-left: 10%;
	margin-right: 10%;
	
}

.top-menu-container {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left:14px;
	padding-right: 14px; 
	background: linear-gradient(#696969,#3f3f3f);
}

.searchCol {
	height: 30px;
}


#searchBtnId{
	height:30px;
	padding: 8px;
}

.searchIcon{
	font-size: 15px;
}

.title-bar111{
		margin-bottom: 10px;
		padding-top: 10px;
		padding-bottom:10px;
		padding-left: 10px;	
}

.title-bar111 p {
  		margin-bottom: 0px; 
}


/* -------- MEDIA SCREEN -------- */
@media screen and (min-width: 993px) {
	
	.profile-header1{
		width: 70%;
  		margin-left: auto;
  		margin-right: auto;
	}
		
  	#profileDescription {
  		width: 70%;
  		margin-left: auto;
  		margin-right: auto;
  		background-color: #fff;
  		padding: 10px;
  		margin-top: 0px;
  		margin-bottom: 58px;  
  		 
  		
  	}
  	
  	.top-menu-container {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left:14px;
	padding-right: 14px; 
	background: linear-gradient(#696969,#3f3f3f);
}
  	
  	.top-menu-content{
  		width: 70%;
  		margin-left:auto;
  		margin-right: auto;
  	}
  	.top-menu-content #micro-pic{
  		margin-left:8px;
  		
  	}
  	.top-menu-content #settingsImage{  
  		margin-right: 8px;  
  	}
  	
  	.profile-header #imgProfilePhoto {
  		margin-right: 177px;
  	}
  	
  	.profile-header #imgProfileEdit {
  		margin-right: 190px;
  	}
  	
  	.title-bar {
  		width: 71%;
		margin-left: auto;
		margin-right: auto; 
		
		background-color: #ffffff; 		
  	}
  
  	
  	/* people_with_pic */
  	.img-preview{
  		width: 71%;
  		margin-left:auto;
  		margin-right: auto;
  		background-color: #ffffff;
  	}
  	
  	.title-bar {
			
  	}
  	
  	body{
  		background-color: #f2f2f2;
  	}
  }