
.menubar-footer{	  
	background: linear-gradient(#344C15,#698A25 ); 
}
 
.menubar-footer span.glyphicon{ /* Not Used */
	font-size:32px;
	}
	
.menubar-footer .col-xs-2 img{
	margin: 4px 0px 4px 0px;
	vertical-align: center;
}

.menubar-footer .col-xs-5 img{
	margin: 6px 5px 6px 5px;
	vertical-align: center;
}
.top-menubar{
	background-color: #3f3f3f;
	background-image: linear-gradient(#696969,#3f3f3f);
    background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    margin-bottom: 22px;  
}
.top-menubar span.glyphicon{
	font-size:32px;
	
}

.menubar-btn{color:#fff;}
.profile-header{background:#215968;color:#fff;font-size:20px;} 
.btn-profile-edit{position:absolute;bottom:-7px;right:0;margin-right:15px;cursor:pointer}
#imgPreview{
	cursor:pointer;
}

.profile-content{margin-bottom:50px}
.text-white{color:#fff}
.brand-earth{color:#595959}  
.blue-on-top-of-earth-color {
	color: #95B3D7;
}

.top-push-zone{
	background: linear-gradient(#3f3f3f, #595959); 
	margin-top:35px;
	
}

.arrow-link{
	font-size: 16px;
	cursor: pointer;
}

.profile { 
	margin-top: 56px;
}


.thumbnail img {
  		width: 140px;
  		height: 140px;
  	}
  	
.thumbnail {
	margin: 0px;
	padding: 0px;	
	border: 1px solid #77933c;
}

/*	for thumbnails	*/
.col1{
	margin: 0px;
	padding: 6px;
}

div{
	margin:0px;
	padding:0px;
}




