* 
{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

body,html
{
	width: 100%;
	height: 100%;
}
 

.normal-text-black {
	font-size: 16px;
	 
}

#PEOPLE_CONTENT_CONTAINER
{
	height: 100%;
  	padding-left: 5px;
  	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
}
 


#PEOPLE_TOP_ACTIONBAR 
{
    
	background-color: #ebebeb;
	padding-top: 5px;
	 
	 
	 
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	margin-bottom: 10px;
	 
}
 

#PEOPLE_LIST_VIEW
{
	 
	height: 90%;
    width: 100%;
    
    position5555: absolute;
    margin-top77777: 60PX;
    overflow-y: auto;
    overflow-x: hidden;
   
} 



#TITLEBAR
{
	width: 100%;
	height: 30px;
	background-color: grey;
	
}

#PEOPLE_FACES1
{
	background-color: white;
	width: 100%;
	margin-top: 20px;
	 
}

#PEOPLE_FACES2
{
	background-color: white;
	width: 100%;
	margin-top: 0px;
 
}

#PEOPLE_FACES3
{
	background-color: white;
	width: 100%;
	margin-top: 0px;
	 
}

#PEOPLE_FACES4
{
	background-color: white;
	width: 100%;
	margin-top: 0px;
	 
}
#PAGE_TEXT1
{
	margin-left: 10px;
	display: inline-block;
 
	
}
#PAGE_TEXT2
{
	margin-left: 10px;
  
}
#PAGE_TEXT3
{
	margin-left: 10px;
	 
	display: inline-block;
	 
	
}
#PAGE_TEXT4
{
	margin-left: 10px;
	 
	display: inline-block;
	
	
}

 
#PEOPLE_LIST_VIEW_BIGGER_ROWS
{
	 
	height: 90%;
    width: 100%;
    
    position55555555: absolute;
    margin-to7777p: 60PX;
    
    margin-left: 5px;
    display: none;
    
}

#TITLEBAR
{
	width: 100%;
	height: 30px;
	background-color: grey;
 
}
#PEOPLE_FACES5
{
	background-color: white;
	width: 100%;
	margin-top: 20px;
	 
}
#PEOPLE_FACES6
{
	background-color: white;
	width: 100%;
	margin-top: 0px;
	 
}
#PEOPLE_FACES7
{
	background-color: white;
	width: 100%;
	margin-top: 0px;
	 
}
#PEOPLE_FACES8
{
	background-color: white;
	width: 100%;
	margin-top: 0px;
	 
}

#PAGE_TEXT5
{
	margin-left: 20px;
	margin-bottom: 50px; 
	display: inline-block;
	font-size: 18px;
	
}
#PAGE_TEXT6
{
	margin-left: 20px;
	margin-bottom: 50px; 
	display: inline-block;
	font-size: 18px;
	word-wrap: break-word;
}
#PAGE_TEXT7
{
	margin-left: 20px;
	margin-bottom: 50px; 
	display: inline-block;
	font-size: 18px;
	
}
#PAGE_TEXT8
{
	margin-left: 20px;
	margin-bottom: 50px; 
	display: inline-block;
	font-size: 18px;
	
}






#PEOPLE_GRID_VIEW
{
	height: 90%;
    width: 100%;
     
    position3434: absolute;
    margin-top9999: 60PX;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
   
}
#TITLEBAR
{
	width: 100%;
	height: 30px;
	background-color: grey;
	 
}
#PEOPLE_GRID_VIEW_ROW1
{
	
    width: 100%;
    
}
.PEOPLE_FACES9_COLUMN1
{
    margin-top: 15px;
	width: 50%; 
	
	display: inline-block;
    	
}
.PEOPLE_FACES10_COLUMN2
{
	width: 50%;
	
	display: inline-block;
	margin-top: 15px;
	
}
#PEOPLE_GRID_VIEW_ROW2
{
	
    width: 100%;
    
}
.PEOPLE_FACES11_COLUMN3
{
	width: 50%;
	margin-top: 0px;
	display: inline-block;
	
	
}
.PEOPLE_FACES12_COLUMN4
{
	width: 50%;
	margin-top: 0px;
	display: inline-block;
		
}
#PAGE_TEXT9
{
	
	margin-left: 20px;
	margin-bottom: 125px; 
	display: inline-block;
	font-size: 14px;
	
}
#PAGE_TEXT10
{
	
	margin-left: 20px;
	margin-bottom: 135px; 
	display: inline-block;
	font-size: 14px;
	
}
#PAGE_TEXT11
{
	margin-left: 20px;
	margin-bottom: 125px; 
	display: inline-block;
	font-size: 14px;
	
}
#PAGE_TEXT12
{
	margin-left: 20px;
	margin-bottom: 125px; 
	display: inline-block;
	font-size: 14px;
	
}



#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE
{
	width: 100%;
	height: 100%;
	position: relative;
    display: none;
    padding-top: 40px;
    
}

#PEOPLE_FACES13
{
	width: 100%;
	height: 100%;
	
}

#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE_TEXTBOX
{
	z-index: 1;
	background-color: grey;
	opacity: 0.7;
	width: 100%;
    height:250px;
    position: absolute;
    bottom: 0;
    margin-bottom: 200px;
}

#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE_ICON
{
	width: 100%;
	height: 100%;
	bottom: 0px;
	background-color: red;
	

}


@media screen and (max-width: 991px) 
{
	#PEOPLE_CONTENT_CONTAINER
		{
			width: 100%;
			padding-right1113333: 5px;
		}

		#PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER 
		{
		    	width: 40%;
		    	float: right;
		}


		#PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER #list-view
		{
		        padding-left: 5px;
		}

		#PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER #ppl-list-view-bigger-rows
		{
		    	margin-left: 10px;
		}

		#PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER #grid-view
		{
		    	margin-right: 10px;
		}

		#PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER #single_column_one_row_mobile
		{
		     	padding-left: 5px;
		}


		#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE_TEXTBOX
		{
			
			width: 100%;
			margin-bottom: 200px;
		    
		}

		#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE_ICON
		{
			width: 100%;
				height: 25%;
			
		}
		#PEOPLE_CONTENT_CONTAINER #PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE
		{
			width:100%;
			height: 100%;
		}

		#PEOPLE_RECORD_XTRA_CNT {
			display: none;
		}
		

}



@media screen and (min-width: 992px)
{

	#PEOPLE_TOP_ACTIONBAR
	{
			width: 100%;
			
	}

	#PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER 
	{
    		width: 135px;
    		float: right;

    }
	
	#PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER td 
    {
    	width: 10px;
    }

    #PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER #single_column_one_row_mobile
    {
     	display: none;
    }

    #PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER #grid-view
    {
    	margin-right: 0px;
    }

    #PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER #list-view
    {
        padding-right: 0px;
    }

	#PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER #ppl-list-view-bigger-rows
    {
    	margin-left:0px;
    }
    
    #PEOPLE_RECORD_XTRA_CNT {
    	display: inline-block;
    }

}

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}


.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { background:#FFFFFF none repeat scroll 0 0; border:1px solid #4614F1; color:#C5C0B0; display:none;
                  left:auto; padding:5px 0px; position:absolute; top:2px; width:auto; list-style:none;}
.dropdown span.value { display:none;}

.dropdown dd ul li a { padding:inherit; display:block;}
.dropdown dd ul li a:hover { background-color:#f2f2f2;}