/* .menubar{background:#e1e1e1;} */ /*Commented By-- Amar Chhetri*/
.menubar-footer{	 /*Added By-- Amar Chhetri*/
	/* background:#7f7f7f; */
	background: linear-gradient(#3f3f3f, #595959); 
}
.menubar span.glyphicon{font-size:32px;}
.top-menubar{
	/*background:#77933c; */
	background: linear-gradient(#8e963e,#818a34 ); 

}
.top-menubar span.glyphicon{font-size:32px;}
.menubar-btn{color:#558ED5;}
.profile-header{background:#77933C;color:#fff;font-size:20px;border-radius:3px;} 
.btn-profile-edit{position:absolute;bottom:0;right:0;margin-right:20px;cursor:pointer}
#imgPreview{cursor:pointer}
.profile-content{margin-bottom:50px}
.text-white{color:#fff}
.brand-earth{color:#595959}  















