


.icon-text
{
	margin-top: 10px;
	color: #696969;
	font-size: 10px;
}

#SOCIAL_FUN_PROFILE_ACTION_BAR  {

	height: 40px;
	color: #95B3D7;
	padding-top: 3px;	
	
	position: relative;
	 
}



/*salvins*/


.person-likes
{
	 
	height: 100%;
	border: 0px solid;
	margin-right: auto;
	margin-left: auto;
}
.subsection-title
{
	width: 100%;
	font-size: 18px;
	font-family: sans-serif;
}
.icon-text
{
	margin-top: 10px;
	color: #696969;
	font-size: 10px;
}
.background-image
{
background-image: url(images/tag-200x36.png);
background-repeat: no-repeat;
background-size: 100% 100%;
width: 100%;
height: 125px;
}


/* --------------- MOBILE SECTION  ----------            */
@media screen and (max-width: 991px) 
{     
	   .social_profile_pic {
	   		width: 120px;
	   		height: 120px;
	   		
	   }
	   .social-fun-profile-name {
	   		width: 120px;
	   }
		
		
		.social_profile_pic_container {
			bottom: -50px;
			 
		}
		
	   .social_profile_big_icon {
	   		width: 30px;
	   		height: 30px;
	   }
	   
	   .social_profile_tag_icon {
	   		margin-top111: -30px;
	   }
	   
	  
		
	 
		.class-subsection
		{
			width: 100%;
		
		}
		.person-likes
		{
			width111111:100%;
			height: 
		}
		
		
		.icon_position1
		{
			margin-left:40px;
		}
		.icon_position2
		{
			margin-left:20px;
		}
		.icon_position3
		{
			margin-left:20px;
		}
		.icon_position4
		{
			margin-left:40px;
		}
		
		

}


@media screen and (min-width: 992px)
{
	
	.social_profile_pic_container {
		bottom: -40px;
		 
	}
	
	 .social_profile_tag_icon {
	   		margin-top111: -60px;
	   }
	
	.social-fun-profile-name {
	   		width: 190px;
	   }
.person-likes
{
	 
	height: 100%;
}


.icon_position1
{
	margin-left:100px;
}
.icon_position2
{
	margin-left:120px;
}
.icon_position3
{
	margin-left:120px;
}
.icon_position4
{
	margin-left:100px;
}



}

/*salvins*/