body {
	overflow: auto;	
	
}

div {
	padding: 0px;
	margin: 0px; 
	
}

#PROFILE_HEADER {
	background-color: #4A4A38;
	padding-top: 0px;
	color: #dcdcdc;
}

#PROFILE_ACTION_BAR {
	background-color: #363629;
	height: 32px;
	color: #95B3D7;
	padding-top: 5px;	
	 
}

#PROFILE_TITLE {
	margin-top: 3px;
	padding-left: 5px;
	height: 50px;
	padding-top: 6px;
}

#PROFILE_ASPECT_SUMMARY {
	 
	padding-top: 0px;
	padding-left: 5px;
	margin-top: 5px;
	
	border1: 1px solid;
}
 

#PROFILE_HEADER_TXT {
	font-size: 14px;
	color: #000;
	float: left;
}

.section {
	height: 40px;	
	margin-top: 5px;
	border: 1px solid #91B535;
	
}

 @media screen and (max-width: 760px) { 
  	#PROFILE_HEADER {
		height: 45%;		
  	}
  
}

 @media screen and (min-width: 761px) { 
  	#PROFILE_HEADER {
		height: 35%;
  	}
  
}
