/* adjust body when menu is open */
body {
	font-family: Arial, sans-serif;
}

body.slide-active {
    overflow-x: hidden
}

/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}

#page-content.slide-active {
    padding-top: 0
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}

/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange;
}

.navbar-header {
    position: relative;
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative;
}

@media (max-width:767px) { 
	#slide-nav .container {
	    margin: 0;
	    padding: 0!important;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 60%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 71%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}

	#slide-nav #slidemenu .navbar-nav li {
		padding: 24px 0;
		background-color: #2C3E50;
	}

	#slide-nav #slidemenu .navbar-nav li a {
		background-color: #2C3E50;
		color: #FFFFFF;
	}

	#slide-nav #slidemenu .navbar-nav li a:hover {
		color:#18BC9C;
	}

	#slide-nav #slidemenu .navbar-nav .dropdown-menu li {
		padding: 0;
	}

	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 60%;
	    white-space: normal;
	   
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background-color: #2C3E50;
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#slide-nav #navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
	    width: 40%;
	    left: -40%;
	}
	#slide-nav.navbar-default #navbar-height-col {
	    background-color: #2C3E50;
	    z-index: 1;
	    border: 0;
	}

	.navbar-default {
	 	background-color: #2C3E50;
		border-color: #FFFFFF;
		color: #FFFFFF;
	}

	.page-header { 
		border-bottom:none;
		padding: 0;
		margin: 0 auto; 
	}

	.message {
		margin: 0 auto;
		margin-top: 5px;
		padding: 0;
	}

	.img-responsive {
		min-width: 60%;
	}

	.col-xs-2 {
		/*margin-right: 5px;*/
		padding: 0;
		margin: 0 auto;
	}

	.label {
		float: right;
		padding-left: 0;
		margin-left: 0;
	}

	.navDisplay {
		margin: 0 auto;
		padding: 0;
		background-color: #EEEEEE; 
		color: #000000;
		margin-bottom: 20px;
	}

	.navDisplay p {
		margin: 0;
		padding: 5px 0;
		font-size: 14px;
	}

	.page-content {
		width: 100%;
		padding: 0;
		margin: 0;
	}

}
@media (min-width:768px) { 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}

	.navbar-default {
	 	background-color: #2C3E50;
		border-color: #FFFFFF;
		color: #FFFFFF;
	}

	.navbar-default .navbar-nav > li > a {
		color: #FFFFFF;
	}

	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: #18BC9C;
		background-color: transparent;
	}

	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		background-color: #1A242F;
		color:#FFFFFF;
	}

	.navbar-header .navbar-toggle:hover,
	.navbar-header .navbar-toggle:active,
	.navbar-header .navbar-toggle.active,
	.navbar-header .navbar-toggle:focus {
		background-color: #1A242F;
	}

	.page-header { 
		border-bottom:none;
		padding: 5px 0 0 0;
		margin: 0 auto; 
	}

	.message {
		margin: 0 auto;
		margin-top: 10px;
		padding: 0;
	}

	.col-sm-9 {
		padding-left: 0;
	}
	.img-responsive {
		max-width: 60%;
	}

	.navDisplay {
		margin: 0 auto;
		padding: 0;
		background-color: #EEEEEE; 
		color: #000000;
		margin-bottom: 20px;
	}

	.navDisplay p {
		margin: 0;
		padding: 5px 0;
		font-size: 14px;
	}

	.label {
		float: right;
		padding-left: 0;
		margin-left: 0;
	}

	.page-content {
		width: 100%;
		padding: 0;
		margin: 0;
	}

}

