 
.aakOptionsPopUp {
	display:none;
	position: fixed; /*absolute*/
    background-color: #ffffff;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding : 0px;
    z-index:9999;
    left: 16%;
    width: 68%;
      
    
    height: 77%;
    
}

 


.visible {
	display: block;
	
}

#AAK_OPTIONS_POPUP_HEADER{
	width: 100%;
	height: 30px;
	background-color: #95B3D7;
	padding-top: 5px;
	padding-bottom: 5px;
}

#AAK_OPTIONS_POPUP_MENU_CONTAINER_ID {
	margin-top: 20px;
}

#AAK_OPTIONS_FILTER_MENU div, #AAK_OPTIONS_FOLDER_MENU div, #AAK_OPTIONS_FILTER_MENU select, #AAK_OPTIONS_FOLDER_MENU select {
	border: 1px solid #EEEEEE;
	margin-bottom:3px;
	padding:3px;
}


/* ------- Mobile Device Section*/
@media screen and (max-width: 993px) {
	 .aakOptionsPopUp {
	 	left: 0px;
	 	width: 100%;  
	 	
	 }	
}  



