/* ------- Common Section --------- */


/* ------- Top Wrapper Section ------- */
.composerWrapper{
				width: 80%;  
				margin-left:auto;
				margin-right:auto;
				display: none;
				position: fixed;  
				left: 0; 
				right: 0;	 
				z-index: 1051;			 
				background-color: #f2f2f2;
			    border123: 1px solid #696969;
			  			
}

.visible {
	display: block;
}

 

/* ------- Header Section ------- */			
 
 



/* ------- Main Body Section ------- */
 

/* Sidebar Section */
  
	  
/* ------- Footer Section ------- */


/* ------- Mobile Device Section*/
@media screen and (max-width: 993px) {
	 .composerWrapper {
	 	width: 100%;	 	 
	 	left: 0px;
	 	right: 0px;
	 	
	 }	
}


/* ------- Larger Device Section*/
@media screen and (min-width: 994px) {
	  #MSG_COMPOSER_STANDALONE_RTF_ICON12345 {
	  	margin-right: 16px;
	  	display:none;
	  	border: 2px solid green;
	  }
}