/* deleted "visible" class.
  can delete  div { box-sizing: border-box;}

 */

 
div {
	 box-sizing: border-box;
}

/* ------- Top Wrapper Section ------- */
.composerWrapper {
	width: 80%;  
	margin-left:auto;
	margin-right:auto;
	display: none;
	position: fixed;  
	left: 0; 
	right: 0;	 
	z-index: 1059;			 
	background-color: #f2f2f2;
}

.uni-composer-msg-category111 {
	display: none;
}

#close {
    float:right;
    display:inline-block;
   
} 

[contenteditable] {
  border: 1px solid #000;
  margin: 0.4em 0;
  line-height: 1.4em;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.emotion-icons-container img {
margin-top: 5px;

}

.emotion-div-class {
	overflow-y:auto;
}

@media screen and (max-width: 767px) {
	 .composerWrapper {
	 	width: 100%;	 	
	 	left: 0px;
	 	right: 0px; 
	 } 
	 
	 #SMILEY_EMOTIONS {
	 	width: 100%;
	 	position: absolute;
	 }
	
	 #ATTACH_OPTIONS {
	 	width: 50%;
	 	position: absolute;
	 }
	 
	 #AAK_NEW_COMPOSER_WINDOW_BTN {
	 	left: 0;
	 }
} 

 
@media screen and (min-width: 768px) {
	
	.composerWrapper {
	 	width: 80%;	 
	 	left: 10%;
	 	right: 10%;
	 	
	 }
	 
	 #SMILEY_EMOTIONS {
	  	width: 28.6%; 
	  	position: absolute;
	  }				 
	  
	  #ATTACH_OPTIONS {
	 	width: 25%;
	 	position: absolute;
	 }
	 
	 #AAK_NEW_COMPOSER_WINDOW_BTN {
	 	left: 10%;
	 }
}
 

	