/* ------- Common Section --------- */


/* ------- Top Wrapper Section ------- */
.composerWrapper{
				display: none;
				position: fixed;
				z-index: 1;
				left: 0px;
				right: 0px;
				bottom:40px;
				background-color: #F2F2F2;
				/*height: 70%;
				width: 50%; */
}
.visible {
	display: block;
}



/* ------- Header Section ------- */			
#headerRow{
				background: linear-gradient(#344C15,#698A25);				 
				height: 40px;  
}
			   
.composerWrapper  .row [class^="col"] {
 	padding-left: 4px;
 	padding-right: 4px;
 	margin-top: 4px;
}
	




/* ------- Main Body Section ------- */



/* ------- Footer Section ------- */


/* ------- Mobile Device Section*/
@media screen and (max-width: 993px) {
	 .composerWrapper {
	 	width: 94%;
	 	 
	 	left: 0px;
	 	right: 0px;
	 	
	 }
	
}