/* ------- Common Section --------- */


/* ------- Top Wrapper Section ------- */
.composerWrapper{
				display: none;
				position: fixed;
				z-index: 1;
				left: 0px;
				right: 0px;				 
				background-color: #F2F2F2;
				 border: 1px solid #696969;
				 
				width: 50%; 
}
.visible {
	display: block;
}



/* ------- Header Section ------- */			
#headerRow{
				/*background: linear-gradient(#344C15,#698A25);*/
				background: linear-gradient(#696969,#3f3f3f);				 
				height: 40px;  
}
			   
.composerWrapper  .row [class^="col"] {
 	padding-left: 6px;
 	padding-right: 6px;
 	margin-top: 6px;
}
	




/* ------- Main Body Section ------- */



/* ------- Footer Section ------- */


/* ------- Mobile Device Section*/
@media screen and (max-width: 993px) {
	 .composerWrapper {
	 	width: 94%;
	 	 
	 	left: 0px;
	 	right: 0px;
	 	
	 }
	
}