#MASTER_MENU {
	display: none;
	position: fixed;
	top: 0px;
	left:0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%; 
	background-color: white;
	z-index: 99999;

	padding: 0px 0px 10px 0px;
	
	border-left111: 3px solid #558ED5;
	border-right11: 3px solid #558ED5;
	border: 1px solid #558ED5;
	
}

#MASTER_MENU_TITLE_BAR {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f);
}

.toggleBar {
	background-color: #95B3D7;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	width: 100%; 
	margin-top: 8px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.expandIcon {
	font-size: 18px;  
	 
}

.masterMenuOptions { 
	display: none;
	margin-left: 20px;
	text-align: right;
	line-height: 3;
	margin-top: 5px;
}

#MASTER_MENU_CONTENT {
	padding-left: 3px;
	padding-right: 3px;	
}


  /* MEDIA SCREEN (tab and Ipad) */  
   @media screen and (min-width: 768px) { 
	table {
		width: 70%;
	}
	
  }
