
.mPopUpWrapper {
	margin-top: 0px; 
	margin-bottom: 0px;	 
	position: fixed;  
	width: 67%;
	/* left:13%; */
	/*left : 50%;   
	margin-left: -35%;*/
	margin-left: auto;
	margin-right: auto;   
	left:0;
	right:0;
	display:none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.mPopUpContent {
	background-color: #F2F2F2;
	text-align: center;
	border-radius: 0px; 
}
  
.mPopUpBody {
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding-left: 2%;
	padding-right: 2%; 
} 

.mPopUpBody div {
	background-color: #404040  ;
	margin-bottom: 3px;
	text-align: center;
	width: 100%;
	color: #95b3d7;
	font-family: 'Arial Narrow';
	font-weight: 400;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;	
}

#upArrow, #downArrow {
	cursor: pointer;
}

.modal-backdrop {background: none;}

@media screen and (max-width: 767px) { 
	  
  }

