#myModal123 {
	margin-top: 167px;
	overflow: hidden;
	
}

.modal-dialog{
	margin-top: 0px;
	margin-bottom: 0px;	
	position: fixed;
	width: 70%;
	left:13%;
	
	 
	 
}

.modal-content {
	background-color: #262626;
	text-align: center;
	border-radius: 0px;
	
}

.modal-body{
	padding-top: 0px;
	padding-bottom: 0px;
} 
.modal-body div {
	background-color: #558ED5  ;
	margin-bottom: 3px;
	text-align: center;
	width: 100%;
	color: #ffffff;
	font-family: 'Arial Narrow';
	
	padding-top: 2px;
	padding-bottom: 2px;
	
}

.modal-backdrop {background: none;}

@media screen and (max-width: 767px) { 
  	#myModal123 {
		margin-top: 216px;
		overflow: hidden;
	
}
  }

