#PEOPLE_FINDER {
	display111: none;
	position: fixed;
	top: 0px;
	left:0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width11: 100%;
	height: 100%; 
	background-color: white;
	z-index: 99999;

	padding: 0px 0px 10px 0px;
	
	border-left111: 3px solid #558ED5;
	border-right11: 3px solid #558ED5;
	border: 3px solid #558ED5;
	
}

#PEOPLE_FINDER_CONTENT1 {
	overflow-y: scroll;
	height: 80%;
	width: 80%;
	background-color: orange;
}

 
	
#PEOPLE_FINDER_SRCH_BUTTON111111 {
	background: -webkit-linear-gradient(#344C15,#698A25 ); 
	background: -o-linear-gradient(#344C15,#698A25 ); 
	background: -moz-linear-gradient(#344C15,#698A25 );   
	background: linear-gradient(#344C15,#698A25 ); 
}

.expandIcon {
	font-size: 18px;  
	 
}

.peopleFinderOptionsCloseBtn {
	float: right;
	margin-right: 3px;
	cursor: pointer;
}

.toggleBar555 {
	background-color: #95B3D7;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	width: 100%; 
	margin-top: 8px;
	color: #fff;
	font-weight: bold;
}


.toggleBar:hover555 {
	background-color: #91B535;
}

.grey-gradiant-btn {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f); 
}

 

#PEOPLE_FINDER_DEMOGRAPHY_FORM tr {
	margin-top5555: 55px;	
}

#PEOPLE_FINDER_DEMOGRAPHY_FORM input {
	height: 30px;
	min-width: 80px;
}



#PEOPLE_FINDER_DEMOGRAPHY_FORM select {
	height: 30px;
	max-width: 80px;
}
 
 #PEOPLE_FINDER_DEMOGRAPHY_FORM td {
 	padding: 5px;
 }
 
 

 /* MEDIA SCREEN (tab and Ipad) */  
   @media screen and (min-width: 768px) { 
	#PEOPLE_TOPBAR_TABLE {
		width111: 70%;
	}
	 
  }