#PEOPLE_FINDER {
	display: none;
	position: fixed;
	top: 0px;
	left:0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%; 
	background-color: white;
	z-index: 99999;

	padding: 0px 0px 10px 0px;
	
	border-left111: 3px solid #558ED5;
	border-right11: 3px solid #558ED5;
	border: 3px solid #558ED5;
	
}

#PEOPLE_FINDER_CONTENT1 {
	overflow-y: scroll;
	height: 80%;
	width: 80%;
	background-color: orange;
}

 
	
#PEOPLE_FINDER_SRCH_BUTTON111111 {
	background: -webkit-linear-gradient(#344C15,#698A25 ); 
	background: -o-linear-gradient(#344C15,#698A25 ); 
	background: -moz-linear-gradient(#344C15,#698A25 );   
	background: linear-gradient(#344C15,#698A25 ); 
}

.expandIcon {
	font-size: 18px;  
	 
}

.toggleBar {
	background-color: #95B3D7;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	width: 100%; 
	margin-top: 8px;
	color: #fff;
	font-weight: bold;
}


.toggleBar:hover {
	background-color: #91B535;
}

.grey-gradiant-btn {
	background: -webkit-linear-gradient(#696969,#3f3f3f);
	background: -o-linear-gradient(#696969,#3f3f3f);
	background: -moz-linear-gradient(#696969,#3f3f3f);
	background: linear-gradient(#696969,#3f3f3f); 
}